Repository adobe/spectrum-design-data: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(demo): register demo project in workspace + run verify from repo root
  .moon/workspace.yml
  tools/demo/moon.yml
Due: prettier --write

chore(demo): add verify-demo.sh preflight script + moon task (#1028)
  .moon/workspace.yml
  tools/demo/README.md
  tools/demo/moon.yml
  tools/demo/verify-demo.sh
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

refactor(tui): lift draw fns from main.rs into lib.rs (GH #1015)
  sdk/tui/src/lib.rs
  sdk/tui/src/main.rs
  sdk/tui/src/view.rs
Due: none

refactor(tui): lift draw fns from main.rs into lib.rs (#1015) (#1029)
  sdk/tui/src/lib.rs
  sdk/tui/src/main.rs
  sdk/tui/src/view.rs
Due: none

test(tui): shared tests/common/mod.rs harness (GH #1016)
  sdk/tui/tests/autocomplete.rs
  sdk/tui/tests/common/mod.rs
  sdk/tui/tests/describe.rs
  sdk/tui/tests/find.rs
  sdk/tui/tests/m5.rs
  sdk/tui/tests/naming.rs
  sdk/tui/tests/palette.rs
  sdk/tui/tests/query.rs
  sdk/tui/tests/resolve.rs
  sdk/tui/tests/validate.rs
  sdk/tui/tests/wizard.rs
  sdk/tui/tests/wizard_persistence.rs
  sdk/tui/tests/write.rs
Due: none

test(tui): shared tests/common/mod.rs harness (#1016) (#1030)
  sdk/tui/tests/autocomplete.rs
  sdk/tui/tests/common/mod.rs
  sdk/tui/tests/describe.rs
  sdk/tui/tests/find.rs
  sdk/tui/tests/m5.rs
  sdk/tui/tests/naming.rs
  sdk/tui/tests/palette.rs
  sdk/tui/tests/query.rs
  sdk/tui/tests/resolve.rs
  sdk/tui/tests/validate.rs
  sdk/tui/tests/wizard.rs
  sdk/tui/tests/wizard_persistence.rs
  sdk/tui/tests/write.rs
Due: none

test(tui): first render snapshot tests — Buffer-cell assertions (GH #1017)
  sdk/tui/tests/render.rs
Due: none

test(tui): first render snapshot tests — Buffer-cell assertions (#1017) (#1031)
  sdk/tui/tests/render.rs
Due: none

feat(tui): define Message enum and Model type (GH #1019)
  sdk/tui/src/lib.rs
  sdk/tui/src/message.rs
  sdk/tui/src/model.rs
Due: none

feat(tui): define Message enum and Model type (#1019) (#1032)
  sdk/tui/src/lib.rs
  sdk/tui/src/message.rs
  sdk/tui/src/model.rs
Due: none

feat(tui): pure update fn + Task<Message> (GH #1020)
  sdk/tui/src/app.rs
  sdk/tui/src/lib.rs
  sdk/tui/src/task.rs
  sdk/tui/src/update.rs
  sdk/tui/tests/autocomplete.rs
  sdk/tui/tests/common/mod.rs
  sdk/tui/tests/find.rs
  sdk/tui/tests/m5.rs
  sdk/tui/tests/naming.rs
  sdk/tui/tests/palette.rs
  sdk/tui/tests/query.rs
  sdk/tui/tests/resolve.rs
  sdk/tui/tests/wizard.rs
Due: none

feat(tui): pure update fn + Task<Message> (#1020) (#1033)
  sdk/tui/src/app.rs
  sdk/tui/src/lib.rs
  sdk/tui/src/task.rs
  sdk/tui/src/update.rs
  sdk/tui/tests/autocomplete.rs
  sdk/tui/tests/common/mod.rs
  sdk/tui/tests/find.rs
  sdk/tui/tests/m5.rs
  sdk/tui/tests/naming.rs
  sdk/tui/tests/palette.rs
  sdk/tui/tests/query.rs
  sdk/tui/tests/resolve.rs
  sdk/tui/tests/wizard.rs
Due: none

feat(tui): runtime adapter — crossterm event loop driving update (GH #1021)
  sdk/tui/src/app.rs
  sdk/tui/src/lib.rs
  sdk/tui/src/main.rs
  sdk/tui/src/model.rs
  sdk/tui/src/runtime.rs
  sdk/tui/src/view.rs
  sdk/tui/tests/common/mod.rs
  sdk/tui/tests/render.rs
  sdk/tui/tests/runtime.rs
Due: none

feat(tui): runtime adapter — crossterm event loop driving update (#1021) (#1034)
  sdk/tui/src/app.rs
  sdk/tui/src/lib.rs
  sdk/tui/src/main.rs
  sdk/tui/src/model.rs
  sdk/tui/src/runtime.rs
  sdk/tui/src/view.rs
  sdk/tui/tests/common/mod.rs
  sdk/tui/tests/render.rs
  sdk/tui/tests/runtime.rs
Due: none

refactor(tui): migrate clipboard side effects to Task::Cmd (GH #1023)
  sdk/tui/src/clipboard.rs
  sdk/tui/src/lib.rs
  sdk/tui/src/message.rs
  sdk/tui/src/runtime.rs
  sdk/tui/src/update.rs
  sdk/tui/tests/describe.rs
  sdk/tui/tests/naming.rs
  sdk/tui/tests/query.rs
  sdk/tui/tests/resolve.rs
  sdk/tui/tests/validate.rs
  sdk/tui/tests/wizard_persistence.rs
  sdk/tui/tests/write.rs
Due: none

refactor(tui): migrate clipboard side effects to Task::Cmd (#1023) (#1035)
  sdk/tui/src/clipboard.rs
  sdk/tui/src/lib.rs
  sdk/tui/src/message.rs
  sdk/tui/src/runtime.rs
  sdk/tui/src/update.rs
  sdk/tui/tests/describe.rs
  sdk/tui/tests/naming.rs
  sdk/tui/tests/query.rs
  sdk/tui/tests/resolve.rs
  sdk/tui/tests/validate.rs
  sdk/tui/tests/wizard_persistence.rs
  sdk/tui/tests/write.rs
Due: none

feat(tui): msg-stream record/replay debugging (GH #1025)
  sdk/tui/Cargo.toml
  sdk/tui/REPLAY.md
  sdk/tui/src/lib.rs
  sdk/tui/src/main.rs
  sdk/tui/src/message.rs
  sdk/tui/src/runtime.rs
  sdk/tui/tests/replay.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(tui): msg-stream record/replay debugging (#1025) (#1036)
  sdk/tui/Cargo.toml
  sdk/tui/REPLAY.md
  sdk/tui/src/lib.rs
  sdk/tui/src/main.rs
  sdk/tui/src/message.rs
  sdk/tui/src/runtime.rs
  sdk/tui/tests/replay.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(tui): make impossible states unrepresentable (GH #1024)
  sdk/tui/src/lib.rs
  sdk/tui/src/mode.rs
  sdk/tui/src/model.rs
  sdk/tui/src/runtime.rs
  sdk/tui/src/update.rs
  sdk/tui/src/view.rs
  sdk/tui/tests/autocomplete.rs
  sdk/tui/tests/find.rs
  sdk/tui/tests/m5.rs
  sdk/tui/tests/naming.rs
  sdk/tui/tests/palette.rs
  sdk/tui/tests/query.rs
  sdk/tui/tests/runtime.rs
  sdk/tui/tests/wizard.rs
  sdk/tui/tests/wizard_persistence.rs
  sdk/tui/tests/write.rs
Due: none

feat(tui): make impossible states unrepresentable (#1024) (#1037)
  sdk/tui/src/lib.rs
  sdk/tui/src/mode.rs
  sdk/tui/src/model.rs
  sdk/tui/src/runtime.rs
  sdk/tui/src/update.rs
  sdk/tui/src/view.rs
  sdk/tui/tests/autocomplete.rs
  sdk/tui/tests/find.rs
  sdk/tui/tests/m5.rs
  sdk/tui/tests/naming.rs
  sdk/tui/tests/palette.rs
  sdk/tui/tests/query.rs
  sdk/tui/tests/runtime.rs
  sdk/tui/tests/wizard.rs
  sdk/tui/tests/wizard_persistence.rs
  sdk/tui/tests/write.rs
Due: none

feat(tui): architectural budget test + update.rs split (GH #1018)
  sdk/tui/src/lib.rs
  sdk/tui/src/update.rs
  sdk/tui/src/update_command.rs
  sdk/tui/tests/budget.rs
Due: none

docs(tui): architecture.md + demo.md replay section (GH #1026)
  sdk/tui/ARCHITECTURE.md
  sdk/tui/DEMO.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

docs(tui): ARCHITECTURE.md + DEMO.md replay section (#1026) (#1039)
  sdk/tui/ARCHITECTURE.md
  sdk/tui/DEMO.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

test(tui): budget test + file splits enforcing 800-LOC cap (#1018)
  .changeset/tui-budget-test-file-splits.md
  sdk/Cargo.lock
  sdk/tui/src/app.rs
  sdk/tui/src/app_palette.rs
  sdk/tui/src/app_views.rs
  sdk/tui/src/lib.rs
  sdk/tui/src/update.rs
  sdk/tui/src/update_command.rs
  sdk/tui/src/view.rs
  sdk/tui/src/view_find.rs
  sdk/tui/tests/budget.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

test(tui): budget test + file splits enforcing 800-LOC cap (#1018) (#1040)
  .changeset/tui-budget-test-file-splits.md
  sdk/Cargo.lock
  sdk/tui/src/app.rs
  sdk/tui/src/app_palette.rs
  sdk/tui/src/app_views.rs
  sdk/tui/src/lib.rs
  sdk/tui/src/update.rs
  sdk/tui/src/update_command.rs
  sdk/tui/src/view.rs
  sdk/tui/src/view_find.rs
  sdk/tui/tests/budget.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

chore: remove invalid changeset for Rust-only tui crate
  .changeset/tui-budget-test-file-splits.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

test(tui): address PR #1041 review — history dedup + glob render scan
  sdk/tui/tests/budget.rs
  sdk/tui/tests/m5.rs
Due: none

chore: remove invalid changeset for Rust-only tui crate
  .changeset/wizard-chassis-extraction.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(sdk/tui): TUI v2 — Elm-style TEA architecture (RFC #973 / epic #1014) (#1041)
  .changeset/wizard-chassis-extraction.md
  sdk/Cargo.lock
  sdk/tui/ARCHITECTURE.md
  sdk/tui/Cargo.toml
  sdk/tui/DEMO.md
  sdk/tui/REPLAY.md
  sdk/tui/src/app.rs
  sdk/tui/src/app_palette.rs
  sdk/tui/src/app_views.rs
  sdk/tui/src/clipboard.rs
  sdk/tui/src/lib.rs
  sdk/tui/src/main.rs
  sdk/tui/src/message.rs
  sdk/tui/src/mode.rs
  sdk/tui/src/model.rs
  sdk/tui/src/runtime.rs
  sdk/tui/src/task.rs
  sdk/tui/src/update.rs
  sdk/tui/src/update_command.rs
  sdk/tui/src/view.rs
  sdk/tui/src/view_find.rs
  sdk/tui/tests/autocomplete.rs
  sdk/tui/tests/budget.rs
  sdk/tui/tests/common/mod.rs
  sdk/tui/tests/describe.rs
  sdk/tui/tests/find.rs
  sdk/tui/tests/m5.rs
  sdk/tui/tests/naming.rs
  sdk/tui/tests/palette.rs
  sdk/tui/tests/query.rs
  sdk/tui/tests/render.rs
  sdk/tui/tests/replay.rs
  sdk/tui/tests/resolve.rs
  sdk/tui/tests/runtime.rs
  sdk/tui/tests/validate.rs
  sdk/tui/tests/wizard.rs
  sdk/tui/tests/wizard_persistence.rs
  sdk/tui/tests/write.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

refactor(tui): convert execute_task to iterative work queue (closes #1042)
  sdk/tui/src/runtime.rs
Due: none

feat(sdk): unify CLI and TUI into a single design-data binary
  sdk/Cargo.lock
  sdk/cli/Cargo.toml
  sdk/cli/src/main.rs
  sdk/cli/tests/cli_tui.rs
  sdk/moon.yml
  sdk/tui/Cargo.toml
  sdk/tui/src/app_launch.rs
  sdk/tui/src/lib.rs
Due: prettier --write

docs(sdk): update design-data-tui references after binary merge
  README.md
  sdk/tui/ARCHITECTURE.md
  sdk/tui/DEMO.md
  sdk/tui/README.md
  sdk/tui/REPLAY.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(sdk/tui): clarify stable app-data dir and missing TTY test rationale
  sdk/cli/tests/cli_tui.rs
  sdk/tui/src/app.rs
  sdk/tui/src/wizard_draft.rs
Due: none

feat(sdk/core): central DataSource resolver — replace hardcoded default_*_path() helpers
  sdk/Cargo.lock
  sdk/cli/src/main.rs
  sdk/core/Cargo.toml
  sdk/core/src/data_source/mod.rs
  sdk/core/src/lib.rs
  sdk/tui/src/app_launch.rs
Due: none

fix(sdk/core): address code review feedback on DataSource resolver
  sdk/cli/src/main.rs
  sdk/core/src/data_source/mod.rs
Due: none

feat(sdk/core): central DataSource resolver — replace hardcoded default_*_path() helpers (#1055)
  sdk/Cargo.lock
  sdk/cli/src/main.rs
  sdk/core/Cargo.toml
  sdk/core/src/data_source/mod.rs
  sdk/core/src/lib.rs
  sdk/tui/src/app_launch.rs
Due: none

feat(sdk/core): embed Spectrum snapshot in binary — offline zero-config data
  sdk/Cargo.lock
  sdk/cli/src/main.rs
  sdk/cli/tests/cli_validate.rs
  sdk/core/Cargo.toml
  sdk/core/src/data_source/embedded.rs
  sdk/core/src/data_source/mod.rs
  sdk/moon.yml
Due: prettier --write

fix(sdk/core): address code review on embedded snapshot
  sdk/core/src/data_source/embedded.rs
  sdk/core/src/data_source/mod.rs
Due: none

fix(sdk/core): use ancestor-walk in is_in_repo to prevent spurious embedded-tier activation
  sdk/core/src/data_source/mod.rs
Due: none

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,yml,yaml}
  remark --use remark-frontmatter --use remark-gfm --use remark-github --output: any of: **/*.md
  pnpm changeset-lint check-file: any of: .changeset/*.md
