Repository adobe/spectrum-design-data: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(sdk/tui): wizard modal — 4 screens + diff preview (M3 of RFC #973) (#987)
  .changeset/tui-m3.md
  sdk/Cargo.lock
  sdk/tui/Cargo.toml
  sdk/tui/src/app.rs
  sdk/tui/src/lib.rs
  sdk/tui/src/main.rs
  sdk/tui/src/wizard.rs
  sdk/tui/tests/wizard.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(sdk/tui): address M3 review — Screen 3 ownership, live diff, warning span, label cleanup
  sdk/Cargo.lock
  sdk/tui/Cargo.toml
  sdk/tui/src/app.rs
  sdk/tui/src/main.rs
  sdk/tui/src/wizard.rs
  sdk/tui/tests/wizard.rs
Due: none

feat(sdk/tui): wizard write_token integration (M4 of RFC #973) (#989)
  .changeset/tui-m4.md
  sdk/Cargo.lock
  sdk/tui/Cargo.toml
  sdk/tui/src/app.rs
  sdk/tui/src/main.rs
  sdk/tui/src/wizard.rs
  sdk/tui/tests/wizard.rs
  sdk/tui/tests/write.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(sdk/tui): address M4 wizard code review (PR #990)
  sdk/tui/src/main.rs
  sdk/tui/src/wizard.rs
  sdk/tui/tests/wizard.rs
Due: none

feat(sdk/tui): wizard write_token integration (M4 of RFC #973) (#990)
  .changeset/tui-m4.md
  sdk/Cargo.lock
  sdk/tui/Cargo.toml
  sdk/tui/src/app.rs
  sdk/tui/src/main.rs
  sdk/tui/src/wizard.rs
  sdk/tui/tests/wizard.rs
  sdk/tui/tests/write.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(sdk/tui): m5 polish — mouse, help overlay, history, theming (closes #991)
  .changeset/tui-m5.md
  sdk/Cargo.lock
  sdk/tui/Cargo.toml
  sdk/tui/src/app.rs
  sdk/tui/src/help.rs
  sdk/tui/src/lib.rs
  sdk/tui/src/main.rs
  sdk/tui/src/theme.rs
  sdk/tui/tests/m5.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(sdk/tui): address m5 code review — env race, history cursor, layout comment, nits
  sdk/tui/src/app.rs
  sdk/tui/src/main.rs
  sdk/tui/src/theme.rs
  sdk/tui/tests/m5.rs
Due: none

feat(sdk/tui): m5 polish — mouse, help overlay, history, theming (#992)
  .changeset/tui-m5.md
  sdk/Cargo.lock
  sdk/tui/Cargo.toml
  sdk/tui/src/app.rs
  sdk/tui/src/help.rs
  sdk/tui/src/lib.rs
  sdk/tui/src/main.rs
  sdk/tui/src/theme.rs
  sdk/tui/tests/m5.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(sdk/tui): persist wizard draft across restarts (Q3 of RFC #973)
  .changeset/tui-wizard-persistence.md
  sdk/Cargo.lock
  sdk/core/src/graph.rs
  sdk/tui/Cargo.toml
  sdk/tui/src/app.rs
  sdk/tui/src/lib.rs
  sdk/tui/src/main.rs
  sdk/tui/src/wizard.rs
  sdk/tui/src/wizard_draft.rs
  sdk/tui/tests/wizard_persistence.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

test(sdk/tui): document DRAFT_ENV_LOCK process-scope limitation
  sdk/tui/tests/wizard_persistence.rs
Due: none

fix(sdk/tui): address nits from wizard persistence review
  sdk/tui/src/wizard_draft.rs
  sdk/tui/tests/wizard_persistence.rs
Due: none

feat(sdk/tui): persist wizard draft across restarts (Q3 of RFC #973) (#994)
  .changeset/tui-wizard-persistence.md
  sdk/Cargo.lock
  sdk/core/src/graph.rs
  sdk/tui/Cargo.toml
  sdk/tui/src/app.rs
  sdk/tui/src/lib.rs
  sdk/tui/src/main.rs
  sdk/tui/src/wizard.rs
  sdk/tui/src/wizard_draft.rs
  sdk/tui/tests/wizard_persistence.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(sdk,mcp): add MCP authoring-session tools (RFC #973 Q4)
  .changeset/authoring-session-mcp.md
  sdk/Cargo.lock
  sdk/cli/Cargo.toml
  sdk/cli/src/authoring.rs
  sdk/cli/src/main.rs
  sdk/core/Cargo.toml
  sdk/core/src/authoring/draft.rs
  sdk/core/src/authoring/mod.rs
  sdk/core/src/authoring/session.rs
  sdk/core/src/lib.rs
  sdk/tui/src/main.rs
  sdk/tui/src/wizard.rs
  sdk/tui/src/wizard_draft.rs
  tools/design-data-agent-mcp/src/index.js
  tools/design-data-agent-mcp/src/tools/authoring.js
  tools/design-data-agent-mcp/test/authoring.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(sdk,mcp): address code review for authoring-session tools
  sdk/core/src/authoring/draft.rs
  sdk/core/src/authoring/session.rs
  sdk/core/src/schema.rs
  tools/design-data-agent-mcp/src/index.js
  tools/design-data-agent-mcp/src/tools/authoring.js
  tools/design-data-agent-mcp/test/index.test.js
Due: prettier --write

feat(sdk,tui): calibrate suggest threshold + wire reuse-first banner (RFC #973 Q1)
  .changeset/alias-threshold-calibration.md
  sdk/core/src/authoring/session.rs
  sdk/core/tests/suggest_calibration.rs
  sdk/tui/src/main.rs
  sdk/tui/src/wizard.rs
  sdk/tui/src/wizard_draft.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(changeset): remove invalid design-data-core package from changeset frontmatter
  .changeset/line-height-multiplier-names.md
  .changeset/margin-multiplier-names.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(sdk): address code review on RFC #973 Q1 threshold calibration
  sdk/core/src/authoring/session.rs
  sdk/core/tests/suggest_calibration.rs
Due: none

chore(changeset): delete remaining Rust-only TUI changesets
  .changeset/tui-m2.md
  .changeset/tui-m3.md
  .changeset/tui-m4.md
  .changeset/tui-m5.md
  .changeset/tui-query.md
  .changeset/tui-scaffold.md
  .changeset/tui-wizard-persistence.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (#998)
  .changeset/alias-threshold-calibration.md
  .changeset/authoring-session-mcp.md
  .changeset/line-height-multiplier-names.md
  .changeset/margin-multiplier-names.md
  packages/design-system-registry/CHANGELOG.md
  packages/design-system-registry/package.json
  packages/token-names/CHANGELOG.md
  packages/token-names/package.json
  tools/design-data-agent-mcp/CHANGELOG.md
  tools/design-data-agent-mcp/package.json
  tools/markdown-generator/CHANGELOG.md
  tools/markdown-generator/package.json
  tools/token-corpus-migrate/CHANGELOG.md
  tools/token-corpus-migrate/package.json
  tools/token-naming-audit/CHANGELOG.md
  tools/token-naming-audit/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(sdk/tui): standalone naming wizard (RFC #973 Q2 Track A)
  sdk/tui/src/app.rs
  sdk/tui/src/lib.rs
  sdk/tui/src/main.rs
  sdk/tui/src/naming.rs
  sdk/tui/src/wizard.rs
  sdk/tui/tests/naming.rs
Due: none

fix(sdk/tui): address naming wizard review feedback
  sdk/tui/src/main.rs
  sdk/tui/src/naming.rs
Due: none

feat(sdk/tui): standalone naming wizard (RFC #973 Q2 Track A) (#999)
  sdk/tui/src/app.rs
  sdk/tui/src/lib.rs
  sdk/tui/src/main.rs
  sdk/tui/src/naming.rs
  sdk/tui/src/wizard.rs
  sdk/tui/tests/naming.rs
Due: none

feat(sdk/tui): standalone query wizard via :find (RFC #973 Q2 Track B)
  sdk/core/src/registry.rs
  sdk/tui/src/app.rs
  sdk/tui/src/find.rs
  sdk/tui/src/lib.rs
  sdk/tui/src/main.rs
  sdk/tui/tests/find.rs
Due: none

fix(sdk/tui): address find wizard review feedback
  sdk/tui/src/app.rs
  sdk/tui/src/find.rs
  sdk/tui/src/main.rs
  sdk/tui/src/naming.rs
  sdk/tui/tests/find.rs
  sdk/tui/tests/naming.rs
Due: none

fix(sdk/tui): address find wizard #1001 review feedback
  README.md
  sdk/moon.yml
  sdk/tui/DEMO.md
  sdk/tui/README.md
  sdk/tui/src/app.rs
  sdk/tui/src/find.rs
  sdk/tui/src/main.rs
  sdk/tui/tests/find.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(sdk/tui): standalone query wizard via :find (RFC #973 Q2 Track B) (#1001)
  README.md
  sdk/core/src/registry.rs
  sdk/moon.yml
  sdk/tui/DEMO.md
  sdk/tui/README.md
  sdk/tui/src/app.rs
  sdk/tui/src/find.rs
  sdk/tui/src/lib.rs
  sdk/tui/src/main.rs
  sdk/tui/src/naming.rs
  sdk/tui/tests/find.rs
  sdk/tui/tests/naming.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

refactor(sdk/tui): extract wizard_common module and Modal chassis methods (RFC #973 D3)
  .changeset/wizard-chassis-extraction.md
  sdk/tui/src/app.rs
  sdk/tui/src/find.rs
  sdk/tui/src/naming.rs
  sdk/tui/src/wizard.rs
  sdk/tui/src/wizard_common/caps.rs
  sdk/tui/src/wizard_common/classification.rs
  sdk/tui/src/wizard_common/mod.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(sdk/tui): address PR #1002 review feedback
  sdk/tui/src/app.rs
Due: none

refactor(sdk/tui): wizard_common module + Modal chassis methods (RFC #973 D3) (#1002)
  .changeset/wizard-chassis-extraction.md
  sdk/tui/src/app.rs
  sdk/tui/src/find.rs
  sdk/tui/src/naming.rs
  sdk/tui/src/wizard.rs
  sdk/tui/src/wizard_common/caps.rs
  sdk/tui/src/wizard_common/classification.rs
  sdk/tui/src/wizard_common/mod.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

docs(rfc): mark #973 implemented — all milestones shipped
  docs/rfc-coordination.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

docs(rfc): trim #973 status cell and improve spec link label
  docs/rfc-coordination.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

docs(rfc): mark #973 implemented — all milestones shipped (#1003)
  docs/rfc-coordination.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(site): add heading anchor IDs to published spec pages
  .changeset/fix-spec-heading-anchors.md
  docs/site/eleventy.config.js
  docs/site/package.json
  pnpm-lock.yaml
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(site): add heading anchor IDs to published spec pages (#1004)
  .changeset/fix-spec-heading-anchors.md
  docs/site/eleventy.config.js
  docs/site/package.json
  pnpm-lock.yaml
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

docs(rfc-coordination): update RFC status rows to match current repo state
  docs/rfc-coordination.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

docs(demo): refresh demo materials post-review
  docs/scenarios.md
  tools/demo/README.md
  tools/demo/demo-commands.sh
  tools/demo/scenarios.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

docs(spec): update agent-surface.md status to match shipped implementation
  packages/design-data-spec/spec/agent-surface.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

docs(spec): fix write_token MCP citation in agent-surface.md
  packages/design-data-spec/spec/agent-surface.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

chore(demo): add verify-demo.sh preflight script + moon task
  tools/demo/README.md
  tools/demo/moon.yml
  tools/demo/verify-demo.sh
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,yml,yaml}
  remark --use remark-frontmatter --use remark-gfm --use remark-github --output: any of: **/*.md
  pnpm changeset-lint check-file: any of: .changeset/*.md
