Repository adobe/spectrum-design-data: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,yml,yaml}": ["prettier --write"],
  "**/*.md": [
    "remark --use remark-frontmatter --use remark-gfm --use remark-github --output"
  ],
  "!**/.changeset/*.md": [],
  "!**/pnpm-lock.yaml": [],
  "!**/package-lock.json": [],
  "!**/yarn.lock": [],
  ".changeset/*.md": [
    "pnpm changeset-lint check-file"
  ]
}

fix(guideline): address review items — purpose-first ordering, manifest cleanup, DX improvements
  packages/design-data/guidelines/app-frame-content-area.json
  packages/design-data/guidelines/app-frame-creating-bluelines.json
  packages/design-data/guidelines/app-frame-header.json
  packages/design-data/guidelines/app-frame-overview.json
  packages/design-data/guidelines/app-frame-side-navigation.json
  packages/design-data/guidelines/background-layers.json
  packages/design-data/guidelines/colors.json
  packages/design-data/guidelines/containers.json
  packages/design-data/guidelines/developer-overview.json
  packages/design-data/guidelines/faqs.json
  packages/design-data/guidelines/grays.json
  packages/design-data/guidelines/illustrations.json
  packages/design-data/guidelines/introduction.json
  packages/design-data/guidelines/manifest.json
  packages/design-data/guidelines/object-styles.json
  packages/design-data/guidelines/typography-fundamentals.json
  packages/design-data/guidelines/using-icons.json
  tools/s2-docs-to-document-blocks/src/blocks-builder.js
  tools/s2-docs-to-document-blocks/src/cli.js
  tools/s2-docs-to-document-blocks/src/guideline-builder.js
  tools/s2-docs-to-document-blocks/test/blocks-builder.test.js
  tools/s2-docs-to-document-blocks/test/guideline-builder.test.js
Due: prettier --write

docs: fix stale READMEs and RFC coordination doc
  README.md
  docs/rfc-coordination.md
  packages/design-data-spec/docs/rfc-coordination.md
  packages/design-system-registry/README.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

docs: fix stale READMEs and RFC coordination doc (#1156)
  README.md
  docs/rfc-coordination.md
  packages/design-data-spec/docs/rfc-coordination.md
  packages/design-system-registry/README.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(tui): obsidian-style palette, arrow nav, find wizard polish
  sdk/tui/src/app_launch.rs
  sdk/tui/src/app_views.rs
  sdk/tui/src/command.rs
  sdk/tui/src/find.rs
  sdk/tui/src/fuzzy.rs
  sdk/tui/src/help.rs
  sdk/tui/src/lib.rs
  sdk/tui/src/logo.rs
  sdk/tui/src/mode.rs
  sdk/tui/src/model.rs
  sdk/tui/src/update.rs
  sdk/tui/src/update_command.rs
  sdk/tui/src/view.rs
  sdk/tui/src/view_find.rs
  sdk/tui/tests/autocomplete.rs
  sdk/tui/tests/common/mod.rs
  sdk/tui/tests/find.rs
  sdk/tui/tests/fuzzy.rs
  sdk/tui/tests/layout.rs
  sdk/tui/tests/m5.rs
  sdk/tui/tests/naming.rs
  sdk/tui/tests/palette.rs
  sdk/tui/tests/query.rs
  sdk/tui/tests/render.rs
  sdk/tui/tests/replay.rs
  sdk/tui/tests/runtime.rs
  sdk/tui/tests/snapshots/snapshots__home_view_80x24.snap
  sdk/tui/tests/snapshots/snapshots__palette_open_80x24.snap
  sdk/tui/tests/snapshots/snapshots__wizard_screen1_80x24.snap
Due: none

fix(tui): address code review issues from PR #1157
  packages/design-data/guidelines/manifest.json
  sdk/tui/src/fuzzy.rs
  sdk/tui/src/view.rs
  sdk/tui/tests/palette.rs
  tools/s2-docs-to-document-blocks/src/cli.js
Due: prettier --write

fix(tui): address code review follow-ups from PR #1157
  packages/design-data/guidelines/background-layers.json
  packages/design-data/guidelines/colors.json
  packages/design-data/guidelines/containers.json
  packages/design-data/guidelines/grays.json
  packages/design-data/guidelines/object-styles.json
  packages/design-data/guidelines/typography-fundamentals.json
  sdk/tui/src/fuzzy.rs
  sdk/tui/src/update.rs
  sdk/tui/tests/autocomplete.rs
  sdk/tui/tests/palette.rs
  tools/s2-docs-to-document-blocks/src/blocks-builder.js
Due: prettier --write

fix(sdk): bump EMBEDDED_DATA_VERSION to 0.6.0
  sdk/core/src/data_source/embedded.rs
Due: none

fix(tui): remove double-dispatch guard, scope COMMANDS to test builds
  sdk/tui/src/logo.rs
  sdk/tui/src/runtime.rs
Due: none

fix(tui): show readable token names in wizard suggestion list
  .changeset/wizard-suggestion-display-names.md
  sdk/core/src/suggest.rs
  sdk/tui/src/view.rs
  sdk/tui/tests/snapshots/snapshots__wizard_screen1_80x24.snap
  sdk/tui/tests/wizard.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(tui): cap source column width and strip .tokens.json suffix
  sdk/tui/src/view.rs
  sdk/tui/tests/snapshots/snapshots__wizard_screen1_80x24.snap
Due: none

fix(tui): use exact source column width to prevent name truncation
  sdk/tui/src/view.rs
  sdk/tui/tests/snapshots/snapshots__wizard_screen1_80x24.snap
Due: none

fix(tui): esc goes back one screen in wizard instead of cancelling
  .changeset/wizard-esc-back-navigation.md
  sdk/tui/src/wizard.rs
  sdk/tui/tests/wizard.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(tui): add truncation ellipsis to result view table cells
  .changeset/tui-truncation-ellipsis.md
  sdk/tui/src/app_views.rs
  sdk/tui/src/view.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(tui): parse embedded json in validate messages into key=value form
  .changeset/tui-validate-json-token-refs.md
  sdk/tui/src/update_command.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (#1159)
  .changeset/guideline-data-generation.md
  .changeset/guideline-entity-spec.md
  .changeset/guideline-mcp-tools.md
  .changeset/s2-docs-document-blocks.md
  .changeset/wizard-suggestion-display-names.md
  packages/component-schemas/CHANGELOG.md
  packages/component-schemas/package.json
  packages/design-data-spec/CHANGELOG.md
  packages/design-data-spec/package.json
  packages/design-data/CHANGELOG.md
  packages/design-data/package.json
  packages/design-system-registry/CHANGELOG.md
  packages/design-system-registry/package.json
  sdk/tui/CHANGELOG.md
  sdk/tui/Cargo.toml
  sdk/tui/package.json
  tools/component-options-editor/CHANGELOG.md
  tools/component-options-editor/package.json
  tools/design-data-agent-mcp/CHANGELOG.md
  tools/design-data-agent-mcp/package.json
  tools/design-data-mcp/CHANGELOG.md
  tools/design-data-mcp/package.json
  tools/markdown-generator/CHANGELOG.md
  tools/markdown-generator/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
  tools/token-corpus-migrate/CHANGELOG.md
  tools/token-corpus-migrate/package.json
  tools/token-naming-audit/CHANGELOG.md
  tools/token-naming-audit/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

test(tui): add missing wizard Esc coverage and tighten go_back invariant
  sdk/tui/src/wizard.rs
  sdk/tui/tests/wizard.rs
Due: none

refactor(tui): move go_back before public helpers section and assert intent field preserved
  sdk/tui/src/wizard.rs
  sdk/tui/tests/wizard.rs
Due: none

fix(sdk): bump EMBEDDED_DATA_VERSION to 0.7.0 to match design-data package.json
  sdk/core/src/data_source/embedded.rs
Due: none

refactor(sdk): derive EMBEDDED_DATA_VERSION from package.json at compile time via build.rs
  sdk/core/build.rs
  sdk/core/src/data_source/embedded.rs
Due: none

chore(sdk): update Cargo.lock after build.rs addition
  sdk/Cargo.lock
Due: none

test(tui): update snapshots for v0.2.1 version bump
  sdk/tui/tests/snapshots/snapshots__home_view_80x24.snap.new
  sdk/tui/tests/snapshots/snapshots__palette_open_80x24.snap
  sdk/tui/tests/snapshots/snapshots__palette_open_80x24.snap.new
  sdk/tui/tests/snapshots/snapshots__wizard_screen1_80x24.snap.new
Due: none

chore(tui): remove stale .snap.new review artifacts
  sdk/tui/tests/snapshots/snapshots__home_view_80x24.snap.new
  sdk/tui/tests/snapshots/snapshots__palette_open_80x24.snap.new
  sdk/tui/tests/snapshots/snapshots__wizard_screen1_80x24.snap.new
Due: none

chore: gitignore insta .snap.new review artifacts
  .gitignore
Due: none

fix(tui): esc goes back one screen in wizard instead of cancelling (#1160)
  .changeset/wizard-esc-back-navigation.md
  .gitignore
  sdk/Cargo.lock
  sdk/core/build.rs
  sdk/core/src/data_source/embedded.rs
  sdk/tui/src/wizard.rs
  sdk/tui/tests/snapshots/snapshots__home_view_80x24.snap
  sdk/tui/tests/snapshots/snapshots__palette_open_80x24.snap
  sdk/tui/tests/snapshots/snapshots__wizard_screen1_80x24.snap
  sdk/tui/tests/wizard.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

refactor(tui): reorganize source by TEA role into subdirectories
  sdk/tui/src/app.rs
  sdk/tui/src/command.rs
  sdk/tui/src/lib.rs
  sdk/tui/src/logo.rs
  sdk/tui/src/message.rs
  sdk/tui/src/model.rs
  sdk/tui/src/model/mode.rs
  sdk/tui/src/model/views.rs
  sdk/tui/src/runtime.rs
  sdk/tui/src/update.rs
  sdk/tui/src/update/command.rs
  sdk/tui/src/update/ctx.rs
  sdk/tui/src/view.rs
  sdk/tui/src/view/find.rs
  sdk/tui/src/view/home.rs
  sdk/tui/src/view/naming.rs
  sdk/tui/src/view/results.rs
  sdk/tui/src/view/shared.rs
  sdk/tui/src/view/wizard.rs
  sdk/tui/src/wizard.rs
  sdk/tui/src/wizard/draft.rs
  sdk/tui/src/wizard_common.rs
  sdk/tui/tests/budget.rs
Due: none

fix(tui): add unicode-width dependency for truncate_cell wide-char support
  .changeset/tui-truncation-ellipsis.md
  sdk/Cargo.lock
  sdk/tui/Cargo.toml
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(tui): add truncation ellipsis to result view table cells (#1161)
  .changeset/tui-truncation-ellipsis.md
  sdk/Cargo.lock
  sdk/tui/Cargo.toml
  sdk/tui/src/app.rs
  sdk/tui/src/command.rs
  sdk/tui/src/lib.rs
  sdk/tui/src/logo.rs
  sdk/tui/src/message.rs
  sdk/tui/src/model.rs
  sdk/tui/src/model/mode.rs
  sdk/tui/src/model/views.rs
  sdk/tui/src/runtime.rs
  sdk/tui/src/update.rs
  sdk/tui/src/update/command.rs
  sdk/tui/src/update/ctx.rs
  sdk/tui/src/view.rs
  sdk/tui/src/view/find.rs
  sdk/tui/src/view/home.rs
  sdk/tui/src/view/naming.rs
  sdk/tui/src/view/results.rs
  sdk/tui/src/view/shared.rs
  sdk/tui/src/view/wizard.rs
  sdk/tui/src/wizard.rs
  sdk/tui/src/wizard/draft.rs
  sdk/tui/src/wizard_common.rs
  sdk/tui/tests/budget.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

test(tui): add edge case test and fix spurious blank lines
  sdk/tui/src/model/views.rs
  sdk/tui/src/update/command.rs
  sdk/tui/src/view.rs
Due: none

test(tui): strengthen compact_json_refs tests and fix changeset path
  .changeset/tui-validate-json-token-refs.md
  sdk/tui/src/update/command.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(tui): parse embedded json in validate messages into key=value form (#1162)
  .changeset/tui-validate-json-token-refs.md
  sdk/tui/src/update/command.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(tui): add footer hints, g/G jump, and empty-state copy to result views
  .changeset/tui-result-view-polish.md
  sdk/tui/src/app.rs
  sdk/tui/src/update.rs
  sdk/tui/src/view.rs
  sdk/tui/src/view/results.rs
  sdk/tui/tests/query.rs
  sdk/tui/tests/render.rs
  sdk/tui/tests/snapshots/snapshots__query_view_80x24.snap
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(tui): add g/G to describe hint, extract hint constants, expand test coverage
  sdk/tui/src/view/results.rs
  sdk/tui/tests/describe.rs
  sdk/tui/tests/render.rs
  sdk/tui/tests/resolve.rs
Due: none

feat(tui): group validate findings by rule with expand/collapse
  .changeset/tui-validate-group-expand.md
  sdk/tui/src/model/views.rs
  sdk/tui/src/runtime.rs
  sdk/tui/src/update.rs
  sdk/tui/src/view/results.rs
  sdk/tui/tests/render.rs
  sdk/tui/tests/validate.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

chore(sdk): enforce cargo fmt on commit and in CI
  .github/ci-targets.json
  .github/workflows/ci.yml
  .lintstagedrc.js
  .moon/toolchain.yml
  sdk/moon.yml
Due: prettier --write

refactor(tui): split over-budget modules under 800-LOC cap
  sdk/tui/src/model/views.rs
  sdk/tui/src/model/views/tests.rs
  sdk/tui/src/update.rs
  sdk/tui/src/update/mouse.rs
  sdk/tui/src/wizard.rs
  sdk/tui/src/wizard/build.rs
Due: none

fix(sdk): use cargo fmt --all in lint-staged instead of rustfmt directly
  .lintstagedrc.js
Due: prettier --write

fix(sdk): apply cargo fmt to suggest_calibration.rs
  sdk/core/tests/suggest_calibration.rs
Due: none
