Repository adobe/spectrum-design-data: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(sdk,design-data): fix schema probe and skip validate in CI
  packages/design-data/moon.yml
  sdk/core/src/data_source/mod.rs
Due: prettier --write

fix(sdk,design-data): fix SPEC-010 stale replaced_by UUIDs and re-enable validate in CI
  .changeset/fix-spec010-replaced-by.md
  packages/design-data-spec/conformance/invalid/SPEC-018/dataset.json
  packages/design-data/moon.yml
  packages/design-data/scripts/fix-replaced-by.mjs
  packages/design-data/tokens/color-aliases.tokens.json
  packages/design-data/tokens/layout-component.tokens.json
  packages/design-data/tokens/layout.tokens.json
  sdk/core/src/validate/rules/spec018.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

docs(sdk,demo): fix stale design-data-spec paths after data consolidation
  sdk/README.md
  sdk/core/src/data_source/embedded.rs
  tools/demo/demo-commands.sh
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(changeset): correct semver bumps and stale demo paths from PR review
  .changeset/design-data-consolidation.md
  .changeset/fix-spec010-replaced-by.md
  tools/demo/presentation/public/casts/A-find.cast
  tools/demo/presentation/public/casts/D-agent.cast
  tools/demo/videos/cli-quickstart.demo.mjs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

chore(design-data): delete one-time fix-replaced-by migration script
  .changeset/fix-spec010-replaced-by.md
  packages/design-data/scripts/fix-replaced-by.mjs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(token-corpus-migrate): migrate registry JSON subpath imports to spectrum-design-data
  tools/token-corpus-migrate/README.md
  tools/token-corpus-migrate/package.json
  tools/token-corpus-migrate/src/transform.js
  tools/token-naming-audit/src/report.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(tools): migrate last shim consumers to spectrum-design-data; enrich SPEC-018 fixture
  packages/design-data-spec/conformance/invalid/SPEC-018/dataset.json
  tools/markdown-generator/package.json
  tools/markdown-generator/src/registry.js
  tools/token-naming-audit/package.json
  tools/token-naming-audit/src/scan-property-values.js
Due: prettier --write

chore: update pnpm lockfile after dep migrations
  pnpm-lock.yaml
Due: prettier --write

fix(design-data): restore registry validation; document SPEC-018 skip condition
  packages/design-data-spec/rules/rules.yaml
  packages/design-data/moon.yml
  packages/design-data/package.json
  packages/design-data/scripts/validate-registry.js
  pnpm-lock.yaml
Due: prettier --write

fix(workspace): add sdk/tui to pnpm workspace packages
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

fix(workspace): add sdk/tui to pnpm workspace packages (#1117)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

feat(spec): define dataset-directory layout and add SPEC-044 structural pre-check
  .changeset/dataset-layout-spec-044.md
  packages/design-data-spec/conformance/invalid/SPEC-044/empty-optional-dir/components/.gitkeep
  packages/design-data-spec/conformance/invalid/SPEC-044/empty-optional-dir/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-044/empty-optional-dir/tokens/base.tokens.json
  packages/design-data-spec/conformance/invalid/SPEC-044/missing-tokens/expected-errors.json
  packages/design-data-spec/conformance/valid/SPEC-044/components/button.json
  packages/design-data-spec/conformance/valid/SPEC-044/expected-errors.json
  packages/design-data-spec/conformance/valid/SPEC-044/tokens/base.tokens.json
  packages/design-data-spec/package.json
  packages/design-data-spec/rules/rules.yaml
  packages/design-data-spec/schemas/dataset.schema.json
  packages/design-data-spec/schemas/mode-set.schema.json
  packages/design-data-spec/scripts/check-layout.mjs
  packages/design-data-spec/spec/dataset-layout.md
  packages/design-data-spec/spec/index.md
  packages/design-data/moon.yml
  sdk/Cargo.lock
  sdk/cli/src/main.rs
  sdk/core/src/data_source/embedded.rs
  sdk/core/src/data_source/mod.rs
  sdk/core/src/lib.rs
  sdk/core/src/schema.rs
  sdk/core/src/validate/dataset_structure.rs
  sdk/core/src/validate/mod.rs
  sdk/core/src/validate/rules/mod.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(spec): address PR #1118 review feedback
  packages/design-data-spec/conformance/valid/SPEC-044/components/button.json
  packages/design-data-spec/schemas/dataset.schema.json
  packages/design-data-spec/scripts/check-layout.mjs
  packages/design-data/moon.yml
  sdk/cli/src/main.rs
Due: prettier --write

fix(design-data): keep regenerate-from-legacy escape hatch out of CI
  packages/design-data/moon.yml
Due: prettier --write

Version Packages (#1119)
  .changeset/dataset-layout-spec-044.md
  packages/design-data-spec/CHANGELOG.md
  packages/design-data-spec/package.json
  sdk/cli/CHANGELOG.md
  sdk/cli/Cargo.toml
  sdk/cli/package.json
  sdk/npm/darwin-arm64/CHANGELOG.md
  sdk/npm/darwin-arm64/package.json
  sdk/npm/darwin-x64/CHANGELOG.md
  sdk/npm/darwin-x64/package.json
  sdk/npm/linux-x64/CHANGELOG.md
  sdk/npm/linux-x64/package.json
  sdk/npm/win32-x64/CHANGELOG.md
  sdk/npm/win32-x64/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data-agent-mcp): anchor relative DESIGN_DATA paths to a known root
  .changeset/fix-mcp-relative-path-anchoring.md
  tools/design-data-agent-mcp/README.md
  tools/design-data-agent-mcp/src/cli.js
  tools/design-data-agent-mcp/src/config.js
  tools/design-data-agent-mcp/test/config.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

test(sdk): improve TEA pure-function testability across four workstreams
  .changeset/sdk-testing-improvements.md
  sdk/Cargo.lock
  sdk/core/Cargo.toml
  sdk/core/src/cascade.rs
  sdk/core/src/discovery.rs
  sdk/core/tests/prop_naming.rs
  sdk/tui/Cargo.toml
  sdk/tui/src/lib.rs
  sdk/tui/src/runtime.rs
  sdk/tui/src/task.rs
  sdk/tui/src/update.rs
  sdk/tui/src/update_command.rs
  sdk/tui/src/update_ctx.rs
  sdk/tui/tests/common/mod.rs
  sdk/tui/tests/describe.rs
  sdk/tui/tests/manifest.rs
  sdk/tui/tests/snapshots.rs
  sdk/tui/tests/snapshots/snapshots__home_view_80x24.snap
  sdk/tui/tests/snapshots/snapshots__palette_open_80x24.snap
  sdk/tui/tests/snapshots/snapshots__query_view_80x24.snap
  sdk/tui/tests/snapshots/snapshots__wizard_screen1_80x24.snap
  sdk/tui/tests/subscription.rs
  sdk/tui/tests/task_intent.rs
  sdk/tui/tests/validate.rs
  sdk/tui/tests/write.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data-agent-mcp): resolve design data via the workspace package
  .changeset/fix-mcp-relative-path-anchoring.md
  .moon/workspace.yml
  pnpm-lock.yaml
  tools/design-data-agent-mcp/README.md
  tools/design-data-agent-mcp/moon.yml
  tools/design-data-agent-mcp/package.json
  tools/design-data-agent-mcp/src/config.js
  tools/design-data-agent-mcp/test/config.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(sdk): address PR review findings
  .changeset/sdk-testing-improvements.md
  sdk/tui/tests/snapshots.rs
  sdk/tui/tests/task_intent.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

revert: drop workspace-package resolution for design data
  .changeset/fix-mcp-relative-path-anchoring.md
  .moon/workspace.yml
  pnpm-lock.yaml
  tools/design-data-agent-mcp/README.md
  tools/design-data-agent-mcp/moon.yml
  tools/design-data-agent-mcp/package.json
  tools/design-data-agent-mcp/src/config.js
  tools/design-data-agent-mcp/test/config.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(sdk): reconstruct renamed from array-form replaced_by + legacy-verify drift guard
  .changeset/fix-renamed-from-array-replaced-by.md
  packages/tokens/moon.yml
  sdk/Cargo.lock
  sdk/cli/src/main.rs
  sdk/core/src/legacy.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(tokens): remove parent-traversal input from verifyLegacyOutput task
  packages/tokens/moon.yml
Due: prettier --write

test(sdk): add edge-case tests for array replaced_by; document partial-resolution behavior
  sdk/core/src/legacy.rs
Due: none

fix(sdk): reconstruct renamed from array-form replaced_by + legacy-verify drift guard (#1123)
  .changeset/fix-renamed-from-array-replaced-by.md
  packages/tokens/moon.yml
  sdk/Cargo.lock
  sdk/cli/src/main.rs
  sdk/core/src/legacy.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

test(design-data-agent-mcp): assert default dataPath anchors to dataRoot
  tools/design-data-agent-mcp/test/config.test.js
Due: prettier --write

fix(lint-staged): exclude lockfiles from prettier formatting
  .lintstagedrc.js
Due: prettier --write

feat(design-data-agent-mcp): resolve design data via the workspace package
  .changeset/fix-mcp-relative-path-anchoring.md
  .moon/workspace.yml
  pnpm-lock.yaml
  tools/design-data-agent-mcp/README.md
  tools/design-data-agent-mcp/moon.yml
  tools/design-data-agent-mcp/package.json
  tools/design-data-agent-mcp/src/config.js
  tools/design-data-agent-mcp/test/config.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

docs(design-data-agent-mcp): explain dataPath vs components/fields fallback
  tools/design-data-agent-mcp/src/config.js
Due: prettier --write

fix(design-data-agent-mcp): resolve design data via the workspace package (#1120)
  .changeset/fix-mcp-relative-path-anchoring.md
  .lintstagedrc.js
  .moon/workspace.yml
  pnpm-lock.yaml
  tools/design-data-agent-mcp/README.md
  tools/design-data-agent-mcp/moon.yml
  tools/design-data-agent-mcp/package.json
  tools/design-data-agent-mcp/src/cli.js
  tools/design-data-agent-mcp/src/config.js
  tools/design-data-agent-mcp/test/config.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(sdk): address follow-up review findings on #1121
  sdk/Cargo.lock
  sdk/tui/Cargo.toml
  sdk/tui/tests/subscription.rs
Due: none

test(sdk): improve TEA pure-function testability across four workstreams (#1121)
  .changeset/sdk-testing-improvements.md
  sdk/Cargo.lock
  sdk/core/Cargo.toml
  sdk/core/src/cascade.rs
  sdk/core/src/discovery.rs
  sdk/core/tests/prop_naming.rs
  sdk/tui/Cargo.toml
  sdk/tui/src/lib.rs
  sdk/tui/src/runtime.rs
  sdk/tui/src/task.rs
  sdk/tui/src/update.rs
  sdk/tui/src/update_command.rs
  sdk/tui/src/update_ctx.rs
  sdk/tui/tests/common/mod.rs
  sdk/tui/tests/describe.rs
  sdk/tui/tests/manifest.rs
  sdk/tui/tests/snapshots.rs
  sdk/tui/tests/snapshots/snapshots__home_view_80x24.snap
  sdk/tui/tests/snapshots/snapshots__palette_open_80x24.snap
  sdk/tui/tests/snapshots/snapshots__query_view_80x24.snap
  sdk/tui/tests/snapshots/snapshots__wizard_screen1_80x24.snap
  sdk/tui/tests/subscription.rs
  sdk/tui/tests/task_intent.rs
  sdk/tui/tests/validate.rs
  sdk/tui/tests/write.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(tokens): add SPEC-043 domain fields to typography token name objects
  .changeset/typography-name-object-spec043.md
  packages/design-data-spec/spec/taxonomy.md
  packages/design-data/registry/scale-values.json
  packages/design-data/tokens/typography.tokens.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

chore(tokens): regenerate legacy-output to sync with current SDK
  packages/tokens/src/color-aliases.json
  packages/tokens/src/color-component.json
  packages/tokens/src/color-palette.json
  packages/tokens/src/icons.json
  packages/tokens/src/layout-component.json
  packages/tokens/src/layout.json
  packages/tokens/src/semantic-color-palette.json
  packages/tokens/src/typography.json
Due: prettier --write

test(tui): close COMMANDS <-> dispatch loop with Command enum
  .changeset/tui-command-enum-sync.md
  sdk/tui/src/app_views.rs
  sdk/tui/src/command.rs
  sdk/tui/src/help.rs
  sdk/tui/src/lib.rs
  sdk/tui/src/logo.rs
  sdk/tui/src/update.rs
  sdk/tui/src/update_command.rs
  sdk/tui/tests/snapshots/snapshots__home_view_80x24.snap
  sdk/tui/tests/snapshots/snapshots__palette_open_80x24.snap
  sdk/tui/tests/snapshots/snapshots__wizard_screen1_80x24.snap
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,yml,yaml}
  remark --use remark-frontmatter --use remark-gfm --use remark-github --output: any of: **/*.md
  pnpm changeset-lint check-file: any of: .changeset/*.md
