Repository adobe/spectrum-design-data: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,yml,yaml}": ["prettier --write"],
  "**/*.md": [
    "remark --use remark-frontmatter --use remark-gfm --use remark-github --output"
  ],
  "!**/.changeset/*.md": [],
  "!**/pnpm-lock.yaml": [],
  "!**/package-lock.json": [],
  "!**/yarn.lock": [],
  ".changeset/*.md": [
    "pnpm changeset-lint check-file"
  ]
}

feat(design-data): register color/layout/qualifier vocab (dsi.2.5) (#1236)
  .changeset/dsi25-color-layout-qualifier-vocab.md
  docs/proposals/006-vocabulary-gaps.md
  packages/design-data-spec/schemas/token.schema.json
  packages/design-data/fields/qualifier.json
  packages/design-data/registry/anatomy-terms.json
  packages/design-data/registry/color-roles.json
  packages/design-data/registry/components.json
  packages/design-data/registry/positions.json
  packages/design-data/registry/property-terms.json
  packages/design-data/registry/qualifiers.json
  packages/design-data/registry/shapes.json
  packages/design-data/registry/sizes.json
  packages/design-data/registry/structures.json
  packages/design-data/tokens/color-aliases.tokens.json
  packages/design-data/tokens/color-component.tokens.json
  packages/design-data/tokens/layout-component.tokens.json
  packages/design-data/tokens/layout.tokens.json
  packages/design-data/tokens/semantic-color-palette.tokens.json
  packages/design-data/tokens/typography.tokens.json
  packages/tokens/src/layout.json
  sdk/core/src/registry_data.rs
  tools/token-mapping-analyzer/src/decomposer.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(design-data): reinstate script field, decompose all font-size tokens
  .changeset/wix-typography-script-and-font-size.md
  docs/proposals/001-typography-taxonomy.md
  packages/design-data/fields/alignment.json
  packages/design-data/fields/color-scheme.json
  packages/design-data/fields/colorFamily.json
  packages/design-data/fields/colorRole.json
  packages/design-data/fields/contrast.json
  packages/design-data/fields/density.json
  packages/design-data/fields/easing.json
  packages/design-data/fields/emphasis.json
  packages/design-data/fields/family.json
  packages/design-data/fields/from.json
  packages/design-data/fields/motionRole.json
  packages/design-data/fields/orientation.json
  packages/design-data/fields/position.json
  packages/design-data/fields/property.json
  packages/design-data/fields/qualifier.json
  packages/design-data/fields/scale.json
  packages/design-data/fields/script.json
  packages/design-data/fields/shape.json
  packages/design-data/fields/size.json
  packages/design-data/fields/state.json
  packages/design-data/fields/style.json
  packages/design-data/fields/to.json
  packages/design-data/fields/weight.json
  packages/design-data/registry/scripts.json
  packages/design-data/registry/typography-families.json
  packages/design-data/tokens/typography.tokens.json
  packages/tokens/src/typography.json
  sdk/core/src/naming.rs
  sdk/core/src/registry_data.rs
  sdk/core/src/validate/rules/spec043.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): use legacy escape hatch for 12 tokens to keep publish diff-free
  .changeset/wix-typography-script-and-font-size.md
  packages/design-data/tokens/typography.tokens.json
  packages/tokens/src/typography.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): decompose 12 fused typography size/weight tokens (closes spectrum-design-data-1lf)
  .changeset/spectrum-design-data-1lf-decompose-fused-typography.md
  packages/design-data/tokens/typography.tokens.json
  packages/tokens/src/typography.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): decompose heading sans-serif/serif font-weight fused tokens
  .changeset/spectrum-design-data-1lf-decompose-fused-typography.md
  packages/design-data/tokens/typography.tokens.json
  packages/tokens/src/typography.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

gitblobstore: checkandput manifest
  28ef4l4ombusgd782jp3sarub96jbim4.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  1trquek4kf5ov7tprqtps1oai7i1qr2n
  manifest
Due: none

fix(design-data): compound-property matching for line-height/component-size tokens (dsi.2.6)
  .changeset/dsi26-line-height-component-compound-properties.md
  packages/design-data/registry/property-terms.json
  sdk/core/src/registry_data.rs
  tools/token-mapping-analyzer/src/decomposer.js
  tools/token-mapping-analyzer/test/decomposer.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(token-mapping-analyzer): update stale family/cjk test assertions to script
  tools/token-mapping-analyzer/test/apply.test.js
  tools/token-mapping-analyzer/test/decomposer.test.js
Due: prettier --write

fix(design-data): compound-property matching for line-height/component-size tokens (#1239)
  .changeset/dsi26-line-height-component-compound-properties.md
  packages/design-data/registry/property-terms.json
  sdk/core/src/registry_data.rs
  tools/token-mapping-analyzer/src/decomposer.js
  tools/token-mapping-analyzer/test/apply.test.js
  tools/token-mapping-analyzer/test/decomposer.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(design-data): resolve number-field stepper qualifier taxonomy call (dsi.2.1)
  .changeset/dsi21-stepper-qualifier-default-width.md
  packages/design-data/registry/property-terms.json
  packages/design-data/registry/qualifiers.json
  packages/design-data/tokens/layout-component.tokens.json
  sdk/core/src/registry_data.rs
  tools/token-mapping-analyzer/src/decomposer.js
  tools/token-mapping-analyzer/test/decomposer.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

gitblobstore: checkandput manifest
  e86gchotbc4fdu9c17nviokmop4i01qp.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  gu80sjpru8euv029u7jfj9ac2ap1cc3f
  manifest
Due: none

feat(design-data): decompose corner-radius shape/role special values (dsi.2.3)
  .changeset/dsi23-corner-radius-role-shape.md
  packages/design-data-spec/schemas/token.schema.json
  packages/design-data-spec/spec/taxonomy.md
  packages/design-data-spec/spec/token-format.md
  packages/design-data/fields/role.json
  packages/design-data/registry/roles.json
  packages/design-data/registry/shapes.json
  packages/design-data/tokens/layout.tokens.json
  sdk/core/src/registry_data.rs
  tools/token-mapping-analyzer/src/decomposer.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

docs(sdk): add missing alignment/qualifier/role to legacy-key order diagram
  sdk/core/src/naming.rs
Due: none

gitblobstore: checkandput manifest
  c6j915n58smcmea1vq7ibbe9nghpta2t.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  2ccd4k3gpcptkjjgr0fjq1bfeulj3g93
  manifest
Due: none

fix(design-data): promote weight/style to Phase D typography decomposition
  .changeset/dsi27-weight-style-phase-d.md
  docs/proposals/006-vocabulary-gaps.md
  packages/design-data/fields/style.json
  packages/design-data/fields/weight.json
  packages/design-data/tokens/typography.tokens.json
  packages/token-names/names/typography.json
  sdk/core/src/naming.rs
  sdk/core/src/registry_data.rs
  tools/token-mapping-analyzer/src/decomposer.js
  tools/token-mapping-analyzer/test/decomposer.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): tighten decomposer typography-property check to exact match
  tools/token-mapping-analyzer/src/decomposer.js
Due: prettier --write

fix(design-data): register width-multiplier vocab + quiet variant (dsi.2.2)
  .changeset/dsi22-width-multiplier-vocab.md
  packages/design-data/registry/property-terms.json
  packages/design-data/registry/variants.json
  packages/design-data/tokens/layout-component.tokens.json
  packages/tokens/schemas/token-types/multiplier.json
  sdk/core/src/registry_data.rs
  tools/token-mapping-analyzer/src/decomposer.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(tui): update snapshot version strings to v0.5.0
  sdk/Cargo.lock
  sdk/tui/tests/snapshots/snapshots__palette_open_80x24.snap
  sdk/tui/tests/snapshots/snapshots__wizard_screen1_80x24.snap
Due: none

fix(design-data): register width-multiplier vocab + quiet variant (dsi.2.2) (#1243)
  .changeset/dsi22-width-multiplier-vocab.md
  packages/design-data/registry/property-terms.json
  packages/design-data/registry/variants.json
  packages/design-data/tokens/layout-component.tokens.json
  packages/tokens/schemas/token-types/multiplier.json
  sdk/Cargo.lock
  sdk/core/src/registry_data.rs
  sdk/tui/tests/snapshots/snapshots__palette_open_80x24.snap
  sdk/tui/tests/snapshots/snapshots__wizard_screen1_80x24.snap
  tools/token-mapping-analyzer/src/decomposer.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): add tab->tab-item anatomy alias, decompose tab-gap-horizontal tokens (dsi.2.4)
  .changeset/iqn-tab-item-alias.md
  packages/design-data/registry/anatomy-terms.json
  packages/design-data/tokens/layout.tokens.json
  packages/tokens/naming-exceptions.json
  packages/tokens/snapshots/validation-snapshot.json
  packages/tokens/src/layout.json
  sdk/Cargo.lock
  sdk/core/src/registry_data.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): decompose fused accent-* surface color properties to colorRole
  .changeset/accent-colorrole-decompose.md
  packages/design-data/registry/property-terms.json
  packages/design-data/tokens/color-aliases.tokens.json
  sdk/core/src/registry_data.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (#1245)
  .changeset/dsi22-width-multiplier-vocab.md
  .changeset/iqn-tab-item-alias.md
  packages/component-schemas/CHANGELOG.md
  packages/component-schemas/package.json
  packages/design-data/CHANGELOG.md
  packages/design-data/package.json
  packages/design-system-registry/CHANGELOG.md
  packages/design-system-registry/package.json
  tools/component-options-editor/CHANGELOG.md
  tools/component-options-editor/package.json
  tools/design-data-agent-mcp/CHANGELOG.md
  tools/design-data-agent-mcp/package.json
  tools/design-data-agent-mcp/skills/design-data/SKILL.md
  tools/design-data-mcp/CHANGELOG.md
  tools/design-data-mcp/package.json
  tools/design-data-skill/skills/design-data/SKILL.md
  tools/markdown-generator/CHANGELOG.md
  tools/markdown-generator/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
  tools/token-corpus-migrate/CHANGELOG.md
  tools/token-corpus-migrate/package.json
  tools/token-naming-audit/CHANGELOG.md
  tools/token-naming-audit/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): decompose fused accent-* surface color properties to colorRole (#1246)
  .changeset/accent-colorrole-decompose.md
  packages/design-data/registry/property-terms.json
  packages/design-data/tokens/color-aliases.tokens.json
  sdk/core/src/registry_data.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (#1247)
  .changeset/accent-colorrole-decompose.md
  packages/component-schemas/CHANGELOG.md
  packages/component-schemas/package.json
  packages/design-data/CHANGELOG.md
  packages/design-data/package.json
  packages/design-system-registry/CHANGELOG.md
  packages/design-system-registry/package.json
  tools/component-options-editor/CHANGELOG.md
  tools/component-options-editor/package.json
  tools/design-data-agent-mcp/CHANGELOG.md
  tools/design-data-agent-mcp/package.json
  tools/design-data-agent-mcp/skills/design-data/SKILL.md
  tools/design-data-mcp/CHANGELOG.md
  tools/design-data-mcp/package.json
  tools/design-data-skill/skills/design-data/SKILL.md
  tools/markdown-generator/CHANGELOG.md
  tools/markdown-generator/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
  tools/token-corpus-migrate/CHANGELOG.md
  tools/token-corpus-migrate/package.json
  tools/token-naming-audit/CHANGELOG.md
  tools/token-naming-audit/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

chore: updated CLAUDE.md for initiatives in Jira
  CLAUDE.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

gitblobstore: checkandput manifest
  jmhjg4allv9rkq0sm0v0suuadnchdcod.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  do4i1cir2idsrl23r6cvannvmujdnq3b
  manifest
Due: none

fix(token-mapping-analyzer): score property-less clean-roundtrip tokens HIGH confidence
  tools/token-mapping-analyzer/src/decomposer.js
  tools/token-mapping-analyzer/test/decomposer.test.js
Due: prettier --write

test(token-mapping-analyzer): fix stale fixture broken by content-color registration
  tools/token-mapping-analyzer/test/decomposer.test.js
Due: prettier --write

fix(design-data): decompose fused colorFamily from property in color-aliases (dsi.5)
  .changeset/colorfamily-aliases-decompose.md
  packages/design-data/tokens/color-aliases.tokens.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): decompose fused ramp/scale-index compounds (dsi.6)
  .changeset/dsi6-decompose-scaleindex-colorrole.md
  packages/design-data/tokens/layout-component.tokens.json
  packages/design-data/tokens/layout.tokens.json
  packages/design-data/tokens/semantic-color-palette.tokens.json
  sdk/core/src/naming.rs
  tools/token-mapping-analyzer/src/apply.js
  tools/token-mapping-analyzer/src/decomposer.js
  tools/token-mapping-analyzer/test/decomposer.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): address review findings on dsi.6 scaleIndex/colorRole work
  sdk/core/src/naming.rs
  tools/token-mapping-analyzer/src/decomposer.js
  tools/token-mapping-analyzer/test/decomposer.test.js
Due: prettier --write

gitblobstore: checkandput manifest
  1hcog019fkb9bf2egbg5a91nb7tp50t3.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  bso0q72bsfabsk2rbd2pn8ftkn864v3b
  manifest
Due: none

fix(design-data): pin legacyKey on density-before-size residual (dsi.7)
  .changeset/dsi7-legacykey-pin-density-before-size.md
  packages/design-data/tokens/layout-component.tokens.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): unify corner-radius property term, decompose medium residual (dsi.10)
  .changeset/dsi10-corner-radius-registry-gap.md
  packages/design-data/registry/property-terms.json
  packages/design-data/tokens/layout-component.tokens.json
  packages/design-data/tokens/layout.tokens.json
  sdk/core/src/registry_data.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): unify corner-radius property term, decompose medium residual (dsi.10) (#1254)
  .changeset/dsi10-corner-radius-registry-gap.md
  packages/design-data/registry/property-terms.json
  packages/design-data/tokens/layout-component.tokens.json
  packages/design-data/tokens/layout.tokens.json
  sdk/core/src/registry_data.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file
