Repository adobe/spectrum-design-data: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,yml,yaml}": ["prettier --write"],
  "**/*.md": [
    "remark --use remark-frontmatter --use remark-gfm --use remark-github --output"
  ],
  "!**/.changeset/*.md": [],
  "!**/pnpm-lock.yaml": [],
  "!**/package-lock.json": [],
  "!**/yarn.lock": [],
  ".changeset/*.md": [
    "pnpm changeset-lint check-file"
  ]
}

fix(sdk): use workspace-root / prefix in moon inputs glob
  sdk/moon.yml
Due: prettier --write

fix(sdk): replace codegen dep with codegen-check to catch snapshot drift
  sdk/moon.yml
  sdk/scripts/generate-registry-data.js
Due: prettier --write

fix(registry): fix crate packaging and split sizes registry (#812)
  .changeset/fix-registry-packaging-sizes.md
  packages/design-system-registry/registry/scale-values.json
  packages/design-system-registry/registry/sizes.json
  packages/design-system-registry/test/registry.test.js
  sdk/core/src/registry.rs
  sdk/core/src/registry_data.rs
  sdk/moon.yml
  sdk/scripts/generate-registry-data.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (#811)
  .changeset/fix-registry-packaging-sizes.md
  .changeset/taxonomy-registry-split.md
  packages/design-data-spec/CHANGELOG.md
  packages/design-data-spec/package.json
  packages/design-system-registry/CHANGELOG.md
  packages/design-system-registry/package.json
  tools/markdown-generator/CHANGELOG.md
  tools/markdown-generator/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(tools): add token-name-builder prototype
  pnpm-lock.yaml
  tools/token-name-builder/ava.config.js
  tools/token-name-builder/index.html
  tools/token-name-builder/moon.yml
  tools/token-name-builder/package.json
  tools/token-name-builder/src/main.ts
  tools/token-name-builder/src/name-object.ts
  tools/token-name-builder/src/registry-data.ts
  tools/token-name-builder/src/serializer.ts
  tools/token-name-builder/src/styles/main.css
  tools/token-name-builder/src/token-name-builder.ts
  tools/token-name-builder/src/validator.ts
  tools/token-name-builder/test/serializer.test.js
  tools/token-name-builder/test/validator.test.js
  tools/token-name-builder/tsconfig.json
  tools/token-name-builder/vite.config.ts
Due: prettier --write

feat(tools): add component awareness, URL hash state, and a11y to token-name-builder
  docs/site/scripts/generate-tools-page.js
  docs/site/src/tools.md
  tools/token-name-builder/src/component-awareness.ts
  tools/token-name-builder/src/name-object.ts
  tools/token-name-builder/src/token-name-builder.ts
  tools/token-name-builder/tsconfig.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(registry): add component-anatomy registry extracted from S2 docs
  packages/design-system-registry/index.js
  packages/design-system-registry/registry/component-anatomy.json
  packages/design-system-registry/scripts/extract-component-anatomy.js
  packages/design-system-registry/test/component-anatomy.test.js
  tools/token-name-builder/src/component-awareness.ts
  tools/token-name-builder/src/registry-data.ts
Due: prettier --write

feat(registry): add curation layer for component-anatomy registry
  packages/design-system-registry/registry/component-anatomy-curation.json
  packages/design-system-registry/registry/component-anatomy.json
  packages/design-system-registry/scripts/extract-component-anatomy.js
  packages/design-system-registry/test/component-anatomy.test.js
Due: prettier --write

fix(tools): validator accepts component-anatomy parts, normalize action-group numbering
  packages/design-system-registry/registry/component-anatomy-curation.json
  packages/design-system-registry/registry/component-anatomy.json
  packages/design-system-registry/test/component-anatomy.test.js
  tools/token-name-builder/src/validator.ts
  tools/token-name-builder/test/validator.test.js
Due: prettier --write

feat(spec): add configurable name-object field catalog (Phase 1)
  docs/proposals/007-configurable-name-object.md
  packages/design-data-spec/fields/anatomy.json
  packages/design-data-spec/fields/color-scheme.json
  packages/design-data-spec/fields/component.json
  packages/design-data-spec/fields/contrast.json
  packages/design-data-spec/fields/density.json
  packages/design-data-spec/fields/object.json
  packages/design-data-spec/fields/orientation.json
  packages/design-data-spec/fields/position.json
  packages/design-data-spec/fields/property.json
  packages/design-data-spec/fields/scale.json
  packages/design-data-spec/fields/shape.json
  packages/design-data-spec/fields/size.json
  packages/design-data-spec/fields/state.json
  packages/design-data-spec/fields/structure.json
  packages/design-data-spec/fields/substructure.json
  packages/design-data-spec/fields/variant.json
  packages/design-data-spec/package.json
  packages/design-data-spec/schemas/field.schema.json
  packages/design-data-spec/schemas/manifest.schema.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(tools): drive token-mapping-analyzer from field catalog (Phase 2)
  packages/design-data-spec/fields/object.json
  packages/design-data-spec/fields/property.json
  packages/design-system-registry/registry/states.json
  tools/token-mapping-analyzer/ava.config.js
  tools/token-mapping-analyzer/moon.yml
  tools/token-mapping-analyzer/package.json
  tools/token-mapping-analyzer/src/decomposer.js
  tools/token-mapping-analyzer/src/field-catalog.js
  tools/token-mapping-analyzer/src/generate-exceptions.js
  tools/token-mapping-analyzer/src/generate-renames.js
  tools/token-mapping-analyzer/src/index.js
  tools/token-mapping-analyzer/src/registry-index.js
  tools/token-mapping-analyzer/src/report.js
  tools/token-mapping-analyzer/test/decomposer.test.js
Due: prettier --write

feat(sdk): drive SPEC-009 and registry lookup from field catalog (Phase 3)
  sdk/core/src/registry.rs
  sdk/core/src/registry_data.rs
  sdk/core/src/validate/rules/spec009.rs
  sdk/scripts/generate-registry-data.js
Due: prettier --write

docs(spec): reframe spec prose around field catalog mechanism (Phase 4)
  packages/design-data-spec/spec/manifest.md
  packages/design-data-spec/spec/taxonomy.md
  packages/design-data-spec/spec/token-format.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(spec): restore conceptOrder enum validation and embed all registry fields
  packages/design-data-spec/schemas/manifest.schema.json
  sdk/scripts/generate-registry-data.js
Due: prettier --write

fix(tools): compare conceptOrder subtree in codegen --check mode
  sdk/scripts/generate-registry-data.js
Due: prettier --write

chore: update pnpm-lock.yaml for token-mapping-analyzer
  pnpm-lock.yaml
Due: prettier --write

feat(spec): configurable name-object field catalog (#816)
  docs/proposals/007-configurable-name-object.md
  packages/design-data-spec/fields/anatomy.json
  packages/design-data-spec/fields/color-scheme.json
  packages/design-data-spec/fields/component.json
  packages/design-data-spec/fields/contrast.json
  packages/design-data-spec/fields/density.json
  packages/design-data-spec/fields/object.json
  packages/design-data-spec/fields/orientation.json
  packages/design-data-spec/fields/position.json
  packages/design-data-spec/fields/property.json
  packages/design-data-spec/fields/scale.json
  packages/design-data-spec/fields/shape.json
  packages/design-data-spec/fields/size.json
  packages/design-data-spec/fields/state.json
  packages/design-data-spec/fields/structure.json
  packages/design-data-spec/fields/substructure.json
  packages/design-data-spec/fields/variant.json
  packages/design-data-spec/package.json
  packages/design-data-spec/schemas/field.schema.json
  packages/design-data-spec/schemas/manifest.schema.json
  packages/design-data-spec/spec/manifest.md
  packages/design-data-spec/spec/taxonomy.md
  packages/design-data-spec/spec/token-format.md
  packages/design-system-registry/registry/states.json
  pnpm-lock.yaml
  sdk/core/src/registry.rs
  sdk/core/src/registry_data.rs
  sdk/core/src/validate/rules/spec009.rs
  sdk/scripts/generate-registry-data.js
  tools/token-mapping-analyzer/ava.config.js
  tools/token-mapping-analyzer/moon.yml
  tools/token-mapping-analyzer/package.json
  tools/token-mapping-analyzer/src/decomposer.js
  tools/token-mapping-analyzer/src/field-catalog.js
  tools/token-mapping-analyzer/src/generate-exceptions.js
  tools/token-mapping-analyzer/src/generate-renames.js
  tools/token-mapping-analyzer/src/index.js
  tools/token-mapping-analyzer/src/registry-index.js
  tools/token-mapping-analyzer/src/report.js
  tools/token-mapping-analyzer/test/decomposer.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(tools): add token-mapping-analyzer for 13-field taxonomy gap analysis
  tools/token-mapping-analyzer/.gitignore
  tools/token-mapping-analyzer/src/decomposer.js
  tools/token-mapping-analyzer/src/registry-index.js
Due: prettier --write

feat(registry): expand vocabulary for taxonomy gap analysis
  packages/design-system-registry/registry/anatomy-terms.json
  packages/design-system-registry/registry/sizes.json
  packages/design-system-registry/registry/variants.json
Due: prettier --write

docs: add spec proposals and naming exceptions for taxonomy gaps
  docs/proposals/001-typography-taxonomy.md
  docs/proposals/002-component-property-axes.md
  docs/proposals/003-numeric-scale-index.md
  docs/proposals/004-drop-shadow-classification.md
  docs/proposals/005-compound-states.md
  docs/proposals/006-vocabulary-gaps.md
  packages/tokens/naming-exceptions.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(tokens): rename 176 tokens to spec-order naming
  packages/tokens/src/color-aliases.json
  packages/tokens/src/color-component.json
  packages/tokens/src/icons.json
  packages/tokens/src/layout-component.json
  packages/tokens/src/layout.json
  packages/tokens/src/semantic-color-palette.json
  packages/tokens/src/typography.json
Due: prettier --write

fix(tokens): regenerate duplicate UUIDs on renamed tokens
  packages/tokens/snapshots/validation-snapshot.json
  packages/tokens/src/color-aliases.json
  packages/tokens/src/color-component.json
  packages/tokens/src/icons.json
  packages/tokens/src/layout-component.json
  packages/tokens/src/layout.json
  packages/tokens/src/semantic-color-palette.json
  packages/tokens/src/typography.json
Due: prettier --write

refactor(tools): use configurable field catalog in token-mapping-analyzer
  tools/token-mapping-analyzer/src/decomposer.js
  tools/token-mapping-analyzer/src/registry-index.js
Due: prettier --write

fix(tokens): update component props test for spec-order naming
  packages/tokens/test/checkComponentProps.js
Due: prettier --write

feat(spec): implement proposal 003 — numeric scale index field
  docs/proposals/003-numeric-scale-index.md
  packages/design-data-spec/fields/scaleIndex.json
  packages/design-data-spec/schemas/field.schema.json
  packages/tokens/naming-exceptions.json
  sdk/core/src/registry_data.rs
  tools/token-mapping-analyzer/src/decomposer.js
  tools/token-mapping-analyzer/src/registry-index.js
  tools/token-mapping-analyzer/test/decomposer.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

docs(spec): add proposal 008 — ordinal rank field
  docs/proposals/008-ordinal-rank-field.md
  packages/tokens/naming-exceptions.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(spec): implement proposal 010 — composite token support
  docs/proposals/010-composite-token-support.md
  packages/design-data-spec/conformance/invalid/SPEC-016/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-016/tokens.tokens.json
  packages/design-data-spec/conformance/valid/composite-drop-shadow.json
  packages/design-data-spec/conformance/valid/composite-typography-scale.json
  packages/design-data-spec/conformance/valid/composite-typography.json
  packages/design-data-spec/rules/rules.yaml
  packages/design-data-spec/schemas/token.schema.json
  packages/design-data-spec/schemas/value-types/drop-shadow.schema.json
  packages/design-data-spec/schemas/value-types/typography-scale.schema.json
  packages/design-data-spec/schemas/value-types/typography.schema.json
  packages/design-data-spec/spec/token-format.md
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

chore(changeset): add changeset for proposal 010 — minor bump @adobe/design-data-spec
  .changeset/proposal-010-composite-token-support.md
  .gitignore
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(tokens): implement proposal 009 — typography-scale composite token
  docs/proposals/009-typography-scale-composite.md
  packages/tokens/schemas/token-types/typography-scale.json
  packages/tokens/src/typography.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(registry): expand anatomy terms and semantic variants
  packages/design-system-registry/registry/anatomy-terms.json
  packages/design-system-registry/registry/variants.json
  sdk/core/src/registry_data.rs
Due: prettier --write

feat(sdk): handle typography-scale in legacy↔cascade migration
  sdk/core/src/legacy.rs
  sdk/core/src/migrate.rs
  tools/token-mapping-analyzer/src/decomposer.js
Due: prettier --write

feat(sdk): handle typography-scale in legacy↔cascade migration
  .changeset/proposal-009-typography-scale-composite.md
  .changeset/registry-anatomy-variants-expansion.md
  sdk/core/src/migrate.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(tokens): typography-scale composite token + registry expansion (Proposal 009) (#819)
  .changeset/proposal-009-typography-scale-composite.md
  .changeset/registry-anatomy-variants-expansion.md
  docs/proposals/009-typography-scale-composite.md
  packages/design-system-registry/registry/anatomy-terms.json
  packages/design-system-registry/registry/variants.json
  packages/tokens/schemas/token-types/typography-scale.json
  packages/tokens/src/typography.json
  sdk/core/src/legacy.rs
  sdk/core/src/migrate.rs
  sdk/core/src/registry_data.rs
  tools/token-mapping-analyzer/src/decomposer.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(spec): implement proposal 012 — string-name escape hatch (SPEC-017)
  docs/proposals/012-string-name-escape-hatch.md
  packages/design-data-spec/conformance/invalid/SPEC-017/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-017/tokens.tokens.json
  packages/design-data-spec/conformance/valid/string-name-escape-hatch.json
  packages/design-data-spec/rules/rules.yaml
  packages/design-data-spec/schemas/token.schema.json
  packages/design-data-spec/spec/token-format.md
  sdk/core/src/validate/rules/mod.rs
  sdk/core/src/validate/rules/spec017.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

chore(changeset): add changeset for proposal 012 — minor bump @adobe/design-data-spec
  .changeset/proposal-012-string-name-escape-hatch.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(spec): string-name escape hatch for tokens (Proposal 012) (#820)
  .changeset/proposal-012-string-name-escape-hatch.md
  docs/proposals/012-string-name-escape-hatch.md
  packages/design-data-spec/conformance/invalid/SPEC-017/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-017/tokens.tokens.json
  packages/design-data-spec/conformance/valid/string-name-escape-hatch.json
  packages/design-data-spec/rules/rules.yaml
  packages/design-data-spec/schemas/token.schema.json
  packages/design-data-spec/spec/token-format.md
  sdk/core/src/validate/rules/mod.rs
  sdk/core/src/validate/rules/spec017.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(s2-docs-mcp): add agent skill plugin, CLI bin, and bundled docs
  .changeset/add-s2-docs-agent-skill.md
  .claude-plugin/marketplace.json
  .moon/workspace.yml
  docs/site/src/pages/ai.md
  tools/s2-docs-mcp/.claude-plugin/plugin.json
  tools/s2-docs-mcp/.gitignore
  tools/s2-docs-mcp/bin/s2-docs.js
  tools/s2-docs-mcp/moon.yml
  tools/s2-docs-mcp/package.json
  tools/s2-docs-mcp/skills/s2-docs/SKILL.md
  tools/s2-docs-mcp/skills/s2-docs/scripts/lookup.js
  tools/s2-docs-mcp/src/data/docs.js
  tools/s2-docs-mcp/tasks/bundleDocs.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

chore: ignore graphify-out, .ferrograph, and token-mapping-analyzer output
  .gitignore
Due: none

feat(s2-docs-mcp): add agent skill plugin, CLI bin, and bundled docs (#821)
  .changeset/add-s2-docs-agent-skill.md
  .claude-plugin/marketplace.json
  .gitignore
  .moon/workspace.yml
  docs/site/src/pages/ai.md
  tools/s2-docs-mcp/.claude-plugin/plugin.json
  tools/s2-docs-mcp/.gitignore
  tools/s2-docs-mcp/bin/s2-docs.js
  tools/s2-docs-mcp/moon.yml
  tools/s2-docs-mcp/package.json
  tools/s2-docs-mcp/skills/s2-docs/SKILL.md
  tools/s2-docs-mcp/skills/s2-docs/scripts/lookup.js
  tools/s2-docs-mcp/src/batch-scraper.js
  tools/s2-docs-mcp/src/data/docs.js
  tools/s2-docs-mcp/tasks/bundleDocs.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file
