Repository adobe/spectrum-design-data: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(registry): add design system registry package
  .changeset/add-design-system-registry.md
  packages/design-system-registry/CHANGELOG.md
  packages/design-system-registry/README.md
  packages/design-system-registry/ava.config.js
  packages/design-system-registry/index.js
  packages/design-system-registry/moon.yml
  packages/design-system-registry/package.json
  packages/design-system-registry/registry/anatomy-terms.json
  packages/design-system-registry/registry/categories.json
  packages/design-system-registry/registry/components.json
  packages/design-system-registry/registry/platforms.json
  packages/design-system-registry/registry/scale-values.json
  packages/design-system-registry/registry/sizes.json
  packages/design-system-registry/registry/states.json
  packages/design-system-registry/registry/variants.json
  packages/design-system-registry/schemas/registry-value.json
  packages/design-system-registry/scripts/validate-registry.js
  packages/design-system-registry/test/registry.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

chore: update pnpm-lock.yaml for new packages
  pnpm-lock.yaml
Due: prettier --write

chore: shorten glossary changeset to meet linter requirements
  .changeset/add-spectrum-glossary.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(glossary): mark export task as local-only
  docs/spectrum-glossary/moon.yml
Due: prettier --write

Version Packages (#666)
  .changeset/add-component-options-editor.md
  .changeset/add-design-system-registry.md
  .changeset/add-spectrum-glossary.md
  docs/spectrum-glossary/CHANGELOG.md
  docs/spectrum-glossary/package.json
  packages/design-system-registry/CHANGELOG.md
  packages/design-system-registry/package.json
  tools/component-options-editor/CHANGELOG.md
  tools/component-options-editor/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(workflows): correct deploy-docs push trigger branch name
  .github/workflows/deploy-docs.yml
Due: prettier --write

fix(workflows): correct deploy-docs push trigger branch name
  .github/workflows/deploy-docs.yml
  docs/spectrum-glossary/.eleventy.js
  docs/spectrum-glossary/moon.yml
  docs/spectrum-glossary/src/_data/basePath.js
  docs/spectrum-glossary/src/_includes/components/footer.njk
  docs/spectrum-glossary/src/_includes/components/header.njk
  docs/spectrum-glossary/src/_includes/components/related-terms.njk
  docs/spectrum-glossary/src/_includes/components/term-card.njk
  docs/spectrum-glossary/src/_includes/layouts/base.njk
  docs/spectrum-glossary/src/assets/js/search.js
  docs/spectrum-glossary/src/categories/categories.njk
  docs/spectrum-glossary/src/index.njk
  docs/spectrum-glossary/src/terms/terms.njk
Due: prettier --write

feat(tokens): add renamed property for tracking token replacements
  .changeset/tokens-renamed-property.md
  .changeset/tooling-renamed-property.md
  docs/site/public/schemas/token-types/token.json
  llms.txt
  packages/tokens/README.md
  packages/tokens/schemas/token-types/token.json
  packages/tokens/src/color-aliases.json
  packages/tokens/src/color-component.json
  packages/tokens/src/layout-component.json
  packages/tokens/src/layout.json
  tools/diff-generator/README.md
  tools/spectrum-design-data-mcp/src/tools/tokens.js
  tools/token-csv-generator/src/index.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(changeset): wrap long lines in tooling changeset
  .changeset/tooling-renamed-property.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(tokens): add renamed property for tracking token replacements (#669)
  .changeset/tokens-renamed-property.md
  .changeset/tooling-renamed-property.md
  docs/site/public/schemas/token-types/token.json
  llms.txt
  packages/tokens/README.md
  packages/tokens/schemas/token-types/token.json
  packages/tokens/src/color-aliases.json
  packages/tokens/src/color-component.json
  packages/tokens/src/layout-component.json
  packages/tokens/src/layout.json
  tools/diff-generator/README.md
  tools/spectrum-design-data-mcp/src/tools/tokens.js
  tools/token-csv-generator/src/index.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (#670)
  .changeset/tokens-renamed-property.md
  .changeset/tooling-renamed-property.md
  docs/s2-tokens-viewer/CHANGELOG.md
  docs/s2-tokens-viewer/package.json
  packages/tokens/CHANGELOG.md
  packages/tokens/package.json
  tools/diff-generator/CHANGELOG.md
  tools/diff-generator/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
  tools/token-changeset-generator/CHANGELOG.md
  tools/token-changeset-generator/package.json
  tools/token-csv-generator/CHANGELOG.md
  tools/token-csv-generator/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(ci): migrate to npm trusted publishing with OIDC
  .github/workflows/release.yml
Due: prettier --write

feat(ci): migrate to npm trusted publishing with OIDC (#671)
  .github/workflows/release.yml
Due: prettier --write

fix(ci): configure changesets to skip npm auth for OIDC
  .github/workflows/release.yml
Due: prettier --write

fix(ci): configure changesets to skip npm auth for OIDC (#672)
  .github/workflows/release.yml
Due: prettier --write

fix(ci): create npmrc before changesets to enable OIDC
  .github/workflows/release.yml
Due: prettier --write

fix(ci): create npmrc before changesets to enable OIDC (#673)
  .github/workflows/release.yml
Due: prettier --write

fix(ci): remove invalid skipNpmAuth parameter
  .github/workflows/release.yml
Due: prettier --write

fix(ci): remove invalid skipNpmAuth parameter (#674)
  .github/workflows/release.yml
Due: prettier --write

fix(ci): remove auth token from npmrc to enable OIDC
  .github/workflows/release.yml
Due: prettier --write

fix(ci): remove auth token from npmrc to enable OIDC (#675)
  .github/workflows/release.yml
Due: prettier --write

fix(ci): configure npm 11.6.2 in prototools for OIDC support
  .prototools
Due: none

fix(ci): configure npm 11.6.2 in prototools for OIDC support (#676)
  .prototools
Due: none

fix(ci): use custom publishing to enable npm OIDC
  .github/workflows/release.yml
Due: prettier --write

fix(ci): use custom publishing to enable npm OIDC (#677)
  .github/workflows/release.yml
Due: prettier --write

feat(ci): integrate OIDC-enabled changesets-action fork
  .github/workflows/release.yml
Due: prettier --write

feat(ci): integrate OIDC-enabled changesets-action fork (#678)
  .github/workflows/release.yml
Due: prettier --write

fix(ci): use @main instead of @feat/oidc branch reference
  .github/workflows/release.yml
Due: prettier --write

fix(ci): use @main branch reference for changesets-action fork
  .github/workflows/release.yml
Due: prettier --write

chore(ci): use v1.6.1 release tag instead of main branch
  .github/workflows/release.yml
Due: prettier --write

fix(ci): use @main branch reference for changesets-action fork (#679)
  .github/workflows/release.yml
Due: prettier --write

fix(toolchain): upgrade Node.js to 20.17.0 for npm 11.6.2 compatibility
  .moon/toolchain.yml
Due: prettier --write

fix(toolchain): upgrade Node.js to 20.17.0 for npm 11.6.2 compatibility
  .moon/toolchain.yml
  package.json
Due: prettier --write

fix(glossary): add dist as input to export task
  docs/spectrum-glossary/moon.yml
Due: prettier --write

fix(glossary): don't cache dist as output to prevent cleanup
  docs/spectrum-glossary/moon.yml
Due: prettier --write

fix(glossary): mark export task as local to exclude from CI
  docs/spectrum-glossary/moon.yml
Due: prettier --write

fix(toolchain): upgrade Node.js to 20.17.0 for npm 11.6.2 compatibility (#680)
  .moon/toolchain.yml
  docs/spectrum-glossary/moon.yml
  package.json
Due: prettier --write

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,yml,yaml}
  remark --use remark-frontmatter --use remark-gfm --use remark-github --output: any of: **/*.md
  pnpm changeset-lint check-file: any of: .changeset/*.md
