Repository adobe/spectrum-design-data: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

gitblobstore: checkandput manifest
  14ksl1jhrk34eqlar15en2m0d6krpmsj
  manifest
Due: none

fix(sdk): derive figma diff's mode-set tie-break from declared schema
  .changeset/figma-diff-mode-set-schema-tiebreak.md
  sdk/cli/src/main.rs
  sdk/core/src/cache/mod.rs
  sdk/core/src/graph.rs
  sdk/plugins/figma/src/import/diff.rs
  sdk/plugins/figma/src/import/resolve.rs
  sdk/plugins/figma/src/import/tests.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(sdk): derive figma diff's mode-set tie-break from declared schema (#1489)
  .changeset/figma-diff-mode-set-schema-tiebreak.md
  sdk/cli/src/main.rs
  sdk/core/src/cache/mod.rs
  sdk/core/src/graph.rs
  sdk/plugins/figma/src/import/diff.rs
  sdk/plugins/figma/src/import/resolve.rs
  sdk/plugins/figma/src/import/tests.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

gitblobstore: checkandput manifest
  897qhujostans11pg1ftno5vgjssr57s.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  3tlc411brbbin6nh919a5st1m1tsa5d3
  manifest
Due: none

docs(spec): clarify external standard boundaries
  packages/design-data-spec/spec/authoring-workflow.md
  packages/design-data-spec/spec/component-format.md
  packages/design-data-spec/spec/index.md
  packages/design-data-spec/spec/taxonomy.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

gitblobstore: checkandput manifest
  iapp34g3j6odt7uiincclqc4gdg1r8gi.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  fbpmgpj5uitf0aiuf7n63hfcaid4l2nd
  manifest
Due: none

docs(spec): clarify external standard boundaries (#1491)
  packages/design-data-spec/spec/authoring-workflow.md
  packages/design-data-spec/spec/component-format.md
  packages/design-data-spec/spec/index.md
  packages/design-data-spec/spec/taxonomy.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(design-data-agent-mcp): add guideline discovery
  .changeset/list-guidelines-agent-mcp.md
  tools/design-data-agent-mcp/README.md
  tools/design-data-agent-mcp/src/tools/read.js
  tools/design-data-agent-mcp/test/index.test.js
  tools/design-data-agent-mcp/test/read.test.js
  tools/design-data-mcp/src/tools/design-data.js
  tools/design-data/src/guideline.js
  tools/design-data/test/guideline.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

gitblobstore: checkandput manifest
  4klndot9m3bjq7i4podq81p00rps8miv.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  ec2uek22rgsq3vfcm353i23luga5an9v
  manifest
Due: none

feat(design-data-agent-mcp): add guideline discovery (#1492)
  .changeset/list-guidelines-agent-mcp.md
  tools/design-data-agent-mcp/README.md
  tools/design-data-agent-mcp/src/tools/read.js
  tools/design-data-agent-mcp/test/index.test.js
  tools/design-data-agent-mcp/test/read.test.js
  tools/design-data-mcp/src/tools/design-data.js
  tools/design-data/src/guideline.js
  tools/design-data/test/guideline.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data-agent-mcp): honor cascade component and guideline reads
  .changeset/cascade-aware-component-guideline-reads.md
  tools/design-data-agent-mcp/src/tools/read.js
  tools/design-data-agent-mcp/test/read-cascade.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

gitblobstore: checkandput manifest
  49sqosevnepesanf3jftcd112ehjkjba.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  6h1rac2ipbtci2hfak85tbg60ra7m9op
  manifest
Due: none

fix(design-data-agent-mcp): materialize cascade catalogs
  tools/design-data-agent-mcp/README.md
  tools/design-data-agent-mcp/src/cascade-bootstrap.js
  tools/design-data-agent-mcp/src/tools/read.js
  tools/design-data-agent-mcp/test/cascade-bootstrap.test.js
  tools/design-data-agent-mcp/test/read-cascade.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(design-data-agent-mcp): honor cascade component and guideline reads (#1493)
  .changeset/cascade-aware-component-guideline-reads.md
  tools/design-data-agent-mcp/README.md
  tools/design-data-agent-mcp/src/cascade-bootstrap.js
  tools/design-data-agent-mcp/src/tools/read.js
  tools/design-data-agent-mcp/test/cascade-bootstrap.test.js
  tools/design-data-agent-mcp/test/read-cascade.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (#1490)
  .changeset/cascade-aware-component-guideline-reads.md
  .changeset/figma-diff-mode-set-schema-tiebreak.md
  .changeset/list-guidelines-agent-mcp.md
  packages/component-schemas/CHANGELOG.md
  packages/component-schemas/package.json
  packages/design-data/CHANGELOG.md
  packages/design-data/package.json
  packages/design-system-registry/CHANGELOG.md
  packages/design-system-registry/package.json
  tools/component-options-editor/CHANGELOG.md
  tools/component-options-editor/package.json
  tools/design-data-agent-mcp/CHANGELOG.md
  tools/design-data-agent-mcp/package.json
  tools/design-data-agent-mcp/skills/design-data/SKILL.md
  tools/design-data-mcp/CHANGELOG.md
  tools/design-data-mcp/package.json
  tools/design-data-skill/skills/design-data/SKILL.md
  tools/design-data/CHANGELOG.md
  tools/design-data/package.json
  tools/markdown-generator/CHANGELOG.md
  tools/markdown-generator/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
  tools/token-corpus-migrate/CHANGELOG.md
  tools/token-corpus-migrate/package.json
  tools/token-naming-audit/CHANGELOG.md
  tools/token-naming-audit/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

gitblobstore: checkandput manifest
  manifest
  r18munhlk2rpv8ts99uvt3asfmpghi9b.darc
Due: none

gitblobstore: checkandput manifest
  manifest
  rpg9qcnuthd1r73v1gj47e7e79o9crf7
Due: none

gitblobstore: checkandput manifest
  manifest
  vn9kimagbdtkufhq3pnt89rinuuf4jul.darc
Due: none

gitblobstore: checkandput manifest
  manifest
  qdrrh2ilg1t03r5od1mf9trs96rbn042
Due: none

gitblobstore: checkandput manifest
  g7vnr6ghl3sk51ng0fcurj9rk683tahh.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  manifest
  uupkqtpn9rrdg2bhfhmdi5o7gb0a3tka
Due: none

feat(hub-fetcher): preserve image context
  tools/spectrum-hub-fetcher/src/cli.js
  tools/spectrum-hub-fetcher/src/sections.js
  tools/spectrum-hub-fetcher/test/hub-fetcher.test.js
Due: prettier --write

fix(hub-fetcher): write report on query index failure
  tools/spectrum-hub-fetcher/src/cli.js
  tools/spectrum-hub-fetcher/test/hub-fetcher.test.js
Due: prettier --write

Improve Hub fetcher failure and image context handling (#1494)
  tools/spectrum-hub-fetcher/src/cli.js
  tools/spectrum-hub-fetcher/src/sections.js
  tools/spectrum-hub-fetcher/test/hub-fetcher.test.js
Due: prettier --write

fix(hub-fetcher): resolve component image sources
  tools/spectrum-hub-fetcher/src/component-fetch.js
  tools/spectrum-hub-fetcher/src/component-sync-cli.js
  tools/spectrum-hub-fetcher/src/component-sync.js
  tools/spectrum-hub-fetcher/test/component-fetch.test.js
Due: prettier --write

gitblobstore: checkandput manifest
  5jkudml27nnfvnn1q6gfb5v92pbi0gnv.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  6voeeneufcosgr58amvf91n1ptkibjd3
  manifest
Due: none

fix(ci): let hub fetch guard report failures
  .github/workflows/hub-guideline-sync.yml
Due: prettier --write

gitblobstore: checkandput manifest
  16g41366p66ea6ijcq0491v8jv7g7181.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  joe1rk4nvck6ddeup48heu8jd9mlmu58
  manifest
Due: none

Fix component image source resolution (#1495)
  tools/spectrum-hub-fetcher/src/component-fetch.js
  tools/spectrum-hub-fetcher/src/component-sync-cli.js
  tools/spectrum-hub-fetcher/src/component-sync.js
  tools/spectrum-hub-fetcher/test/component-fetch.test.js
Due: prettier --write

Let Hub guideline guard report fetch failures (#1496)
  .github/workflows/hub-guideline-sync.yml
Due: prettier --write

gitblobstore: checkandput manifest
  manifest
  q890q9o9vqf0rp2giumvg8902mbad6io.darc
Due: none

gitblobstore: checkandput manifest
  bms7bgk3k7a9ri0682c3fnu6tpm7aili
  manifest
Due: none

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,yml,yaml}
  remark --use remark-frontmatter --use remark-gfm --use remark-github --output: any of: **/*.md
  pnpm changeset-lint check-file: any of: .changeset/*.md
