Repository adobe/spectrum-design-data: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,yml,yaml}": ["prettier --write"],
  "**/*.md": [
    "remark --use remark-frontmatter --use remark-gfm --use remark-github --output"
  ],
  "!**/.changeset/*.md": [],
  "!**/pnpm-lock.yaml": [],
  "!**/package-lock.json": [],
  "!**/yarn.lock": [],
  ".changeset/*.md": [
    "pnpm changeset-lint check-file"
  ]
}

feat(design-data): resolve figma-only variables through alias targets
  .changeset/figma-diff-layout-alias-resolution.md
  sdk/core/src/figma/import.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): thread renames and use default mode in alias-target fallback
  sdk/core/src/figma/import.rs
Due: none

feat(design-data): resolve figma-only variables through alias targets (#1409)
  .changeset/figma-diff-layout-alias-resolution.md
  sdk/core/src/figma/import.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(design-data): resolve inline-value CTRs for .Platform scale component tokens
  .changeset/figma-diff-inline-ctr-resolution.md
  sdk/core/src/graph.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): align CTR scale-sets to Figma's own mode, close relationship reindex gap
  .changeset/figma-diff-inline-ctr-resolution.md
  sdk/core/src/figma/import.rs
  sdk/core/src/graph.rs
  sdk/core/src/validate/mod.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(design-data): resolve inline-value CTRs for .Platform scale component tokens (#1411)
  .changeset/figma-diff-inline-ctr-resolution.md
  sdk/core/src/figma/import.rs
  sdk/core/src/graph.rs
  sdk/core/src/validate/mod.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

chore(design-data): document CTR records' absence from token indexes
  sdk/core/src/graph.rs
Due: none

chore(design-data): document CTR records' absence from token indexes (#1412)
  sdk/core/src/graph.rs
Due: none

fix(design-data): resolve CTR $refs pointing at sibling CTR uuids
  .changeset/figma-diff-ctr-sibling-ref-resolution.md
  sdk/core/src/graph.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

test(design-data): cover cyclic CTR $ref depth-cap termination
  sdk/core/src/graph.rs
Due: none

fix(design-data): resolve CTR $refs pointing at sibling CTR uuids (#1413)
  .changeset/figma-diff-ctr-sibling-ref-resolution.md
  sdk/core/src/graph.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (#1405)
  .changeset/figma-diff-ctr-sibling-ref-resolution.md
  .changeset/figma-diff-inline-ctr-resolution.md
  .changeset/figma-diff-layout-alias-resolution.md
  .changeset/figma-diff-s2-color-theme-coverage.md
  .changeset/figma-diff-typography-coverage.md
  .changeset/figma-diff-typography-grouping-coverage.md
  .changeset/figma-pair-jaccard-disambiguation.md
  packages/component-schemas/CHANGELOG.md
  packages/component-schemas/package.json
  packages/design-data/CHANGELOG.md
  packages/design-data/package.json
  packages/design-system-registry/CHANGELOG.md
  packages/design-system-registry/package.json
  tools/component-options-editor/CHANGELOG.md
  tools/component-options-editor/package.json
  tools/design-data-agent-mcp/CHANGELOG.md
  tools/design-data-agent-mcp/package.json
  tools/design-data-agent-mcp/skills/design-data/SKILL.md
  tools/design-data-mcp/CHANGELOG.md
  tools/design-data-mcp/package.json
  tools/design-data-skill/skills/design-data/SKILL.md
  tools/markdown-generator/CHANGELOG.md
  tools/markdown-generator/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
  tools/token-corpus-migrate/CHANGELOG.md
  tools/token-corpus-migrate/package.json
  tools/token-naming-audit/CHANGELOG.md
  tools/token-naming-audit/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

docs(design-data): refresh Figma sync status in RFC #625 coordination table
  docs/rfc-coordination.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

docs(design-data): link RFC #1415 export-parity analysis in RFC #625 coordination table
  docs/rfc-coordination.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

docs(design-data): fix bead type label for 11k.10 in RFC #625 coordination table
  docs/rfc-coordination.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(design-data): compare .Color theme's real multi-mode variables in figma diff
  .changeset/figma-diff-multimode-comparison.md
  sdk/README.md
  sdk/cli/src/main.rs
  sdk/core/src/figma/import.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

docs(design-data): refresh Figma sync status in RFC #625 coordination table (#1414)
  docs/rfc-coordination.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(design-data): resolve VARIABLE_ALIAS targets through the same-named mode
  .changeset/figma-diff-multimode-comparison.md
  sdk/core/src/figma/import.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): resolve set members' own $ref chain mode-aware in figma diff
  .changeset/figma-diff-multimode-comparison.md
  sdk/core/src/figma/import.rs
  sdk/core/src/graph.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): resolve mode-scoped CTR siblings in figma diff
  .changeset/figma-diff-multimode-comparison.md
  sdk/core/src/figma/import.rs
  sdk/core/src/graph.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): correct stack-item-selected-background-color-down palette step
  .changeset/stack-item-selected-down-gray-step.md
  packages/design-data/relationships/stack-item.json
  packages/tokens/src/stack-item.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Revert "fix(design-data): correct stack-item-selected-background-color-down palette step"
  .changeset/stack-item-selected-down-gray-step.md
  packages/design-data/relationships/stack-item.json
  packages/tokens/src/stack-item.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): stop CTR sibling lookup from tie-breaking on a non-matching mode
  .changeset/figma-diff-multimode-comparison.md
  sdk/core/src/figma/import.rs
  sdk/core/src/graph.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): widen figma-diff float tolerance past hand-authored roundtrip noise
  sdk/core/src/figma/import.rs
Due: none

fix(sdk): stop comparing composite drop-shadow tokens against flat Figma colors
  .changeset/figma-diff-multimode-comparison.md
  sdk/core/src/figma/import.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): make cache-hydrated legacy-key resolution deterministic
  .changeset/figma-diff-multimode-comparison.md
  sdk/core/src/figma/import.rs
  sdk/core/src/graph.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): resolve CTR context-aware siblings and camelCase setUuid gap
  .changeset/figma-diff-multimode-comparison.md
  sdk/core/src/figma/import.rs
  sdk/core/src/graph.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): support real multi-mode comparison for .Color theme in figma diff (#1416)
  .changeset/figma-diff-multimode-comparison.md
  sdk/README.md
  sdk/cli/src/main.rs
  sdk/core/src/figma/import.rs
  sdk/core/src/graph.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix: make replacedBy resolution see relationship-only CTR uuids
  packages/design-data-spec/scripts/seed-token-bindings.mjs
  packages/design-data/scripts/migrate-to-relationships.mjs
  packages/design-data/scripts/repoint-deprecated-refs.mjs
  tools/token-mapping-analyzer/src/registry-index.js
  tools/token-mapping-analyzer/test/registry-index.test.js
Due: prettier --write

Version Packages (#1417)
  .changeset/figma-diff-multimode-comparison.md
  .changeset/repoint-deprecated-ctr-refs.md
  packages/component-schemas/CHANGELOG.md
  packages/component-schemas/package.json
  packages/design-data-spec/CHANGELOG.md
  packages/design-data-spec/package.json
  packages/design-data/CHANGELOG.md
  packages/design-data/package.json
  packages/design-system-registry/CHANGELOG.md
  packages/design-system-registry/package.json
  tools/component-options-editor/CHANGELOG.md
  tools/component-options-editor/package.json
  tools/design-data-agent-mcp/CHANGELOG.md
  tools/design-data-agent-mcp/package.json
  tools/design-data-agent-mcp/skills/design-data/SKILL.md
  tools/design-data-mcp/CHANGELOG.md
  tools/design-data-mcp/package.json
  tools/design-data-skill/skills/design-data/SKILL.md
  tools/markdown-generator/CHANGELOG.md
  tools/markdown-generator/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
  tools/token-corpus-migrate/CHANGELOG.md
  tools/token-corpus-migrate/package.json
  tools/token-naming-audit/CHANGELOG.md
  tools/token-naming-audit/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(design-data-mcp,design-data-agent-mcp): warn at runtime on stale embedded dataset
  .changeset/design-data-mcp-freshness-check.md
  tools/design-data-agent-mcp/README.md
  tools/design-data-agent-mcp/src/dataset-freshness.js
  tools/design-data-agent-mcp/src/tools/read.js
  tools/design-data-agent-mcp/test/dataset-freshness.test.js
  tools/design-data-mcp/README.md
  tools/design-data-mcp/src/dataset-freshness.js
  tools/design-data-mcp/src/tools/design-data.js
  tools/design-data-mcp/test/dataset-freshness.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data-mcp,design-data-agent-mcp): retry freshness check after failure, keep tests hermetic
  tools/design-data-agent-mcp/src/dataset-freshness.js
  tools/design-data-agent-mcp/test/dataset-freshness.test.js
  tools/design-data-agent-mcp/test/read-cascade.test.js
  tools/design-data-agent-mcp/test/read.test.js
  tools/design-data-mcp/src/dataset-freshness.js
  tools/design-data-mcp/test/bundle-smoke.test.js
  tools/design-data-mcp/test/dataset-freshness.test.js
  tools/design-data-mcp/test/design-data.test.js
Due: prettier --write

feat(design-data-mcp,design-data-agent-mcp): warn at runtime on stale embedded dataset (#1418)
  .changeset/design-data-mcp-freshness-check.md
  tools/design-data-agent-mcp/README.md
  tools/design-data-agent-mcp/src/dataset-freshness.js
  tools/design-data-agent-mcp/src/tools/read.js
  tools/design-data-agent-mcp/test/dataset-freshness.test.js
  tools/design-data-agent-mcp/test/read-cascade.test.js
  tools/design-data-agent-mcp/test/read.test.js
  tools/design-data-mcp/README.md
  tools/design-data-mcp/src/dataset-freshness.js
  tools/design-data-mcp/src/tools/design-data.js
  tools/design-data-mcp/test/bundle-smoke.test.js
  tools/design-data-mcp/test/dataset-freshness.test.js
  tools/design-data-mcp/test/design-data.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (#1419)
  .changeset/design-data-mcp-freshness-check.md
  tools/design-data-agent-mcp/CHANGELOG.md
  tools/design-data-agent-mcp/package.json
  tools/design-data-agent-mcp/skills/design-data/SKILL.md
  tools/design-data-mcp/CHANGELOG.md
  tools/design-data-mcp/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

docs(design-data-spec): add proposal 013, multi-modal token model spike samples
  docs/proposals/013-multimodal-model-spike-samples.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(design-data-spec): manifest extensions/ directory layout (spec+schema)
  packages/design-data-spec/schemas/manifest.schema.json
  packages/design-data-spec/spec/manifest-schema-override-spike.md
  packages/design-data-spec/spec/manifest.md
  packages/design-data-spec/spec/product-context.md
  packages/design-data-spec/spec/taxonomy.md
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(design-data-spec): address PR #1420 review findings
  .changeset/manifest-extensions-directory.md
  packages/design-data-spec/schemas/manifest.schema.json
  packages/design-data-spec/spec/product-context.md
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(design-data-spec): manifest extensions/ directory layout (spec+schema) (#1420)
  .changeset/manifest-extensions-directory.md
  packages/design-data-spec/schemas/manifest.schema.json
  packages/design-data-spec/spec/manifest-schema-override-spike.md
  packages/design-data-spec/spec/manifest.md
  packages/design-data-spec/spec/taxonomy.md
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file
