Repository adobe/spectrum-design-data: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(sdk): track unparseable values in summary; revert dp stripping
  sdk/cli/src/main.rs
  sdk/core/src/figma/mapping.rs
  sdk/core/src/legacy.rs
Due: none

fix(sdk): remove redundant else-if branch in schema_to_figma_type
  sdk/core/src/figma/mapping.rs
Due: none

fix(sdk): prefer light/desktop mode when resolving set-backed aliases
  sdk/core/src/figma/mapping.rs
Due: none

test(sdk): explicit regression test for alias → set-token mode selection
  sdk/core/src/figma/mapping.rs
Due: none

chore(sdk): suppress unused binding warning in alias test
  sdk/core/src/figma/mapping.rs
Due: none

feat(sdk): Figma Variables export — figma read + export commands (#795)
  sdk/Cargo.lock
  sdk/cli/Cargo.toml
  sdk/cli/src/main.rs
  sdk/core/Cargo.toml
  sdk/core/src/figma/api.rs
  sdk/core/src/figma/color.rs
  sdk/core/src/figma/mapping.rs
  sdk/core/src/figma/mod.rs
  sdk/core/src/figma/types.rs
  sdk/core/src/legacy.rs
  sdk/core/src/lib.rs
Due: none

docs(site): publish Design Data Specification to docs site
  docs/site/.gitignore
  docs/site/eleventy.config.js
  docs/site/moon.yml
  docs/site/scripts/copy-spec.js
  docs/site/src/data/navigation.js
  docs/site/src/includes/layout/header.liquid
  docs/site/src/spec/spec.json
Due: prettier --write

fix(site): handle fragment links and stale spec files in copy-spec
  docs/site/scripts/copy-spec.js
  docs/site/src/spec/spec.json
Due: prettier --write

fix(site): run copy-spec.js from pnpm build/start scripts
  docs/site/package.json
Due: prettier --write

fix(site): fix spec link routing, heading code size, and post-table spacing
  .gitignore
  docs/site/scripts/copy-spec.js
  docs/site/src/assets/css/base/index.css
Due: prettier --write

chore: add AGENTS.md with beads workflow and shell guidelines
  AGENTS.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

docs(site): publish Design Data Specification to docs site (#805)
  .gitignore
  AGENTS.md
  docs/site/.gitignore
  docs/site/eleventy.config.js
  docs/site/moon.yml
  docs/site/package.json
  docs/site/scripts/copy-spec.js
  docs/site/src/assets/css/base/index.css
  docs/site/src/data/navigation.js
  docs/site/src/includes/layout/header.liquid
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(site): inherit font-size for links inside headings
  docs/site/src/assets/css/base/index.css
Due: none

feat(spec): add taxonomy document and restructure name object fields
  docs/rfcs/taxonomy-rfc-draft.md
  packages/design-data-spec/spec/index.md
  packages/design-data-spec/spec/taxonomy.md
  packages/design-data-spec/spec/token-format.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

chore: gitignore nested .claude/ dirs and generated spec/ directory
  .gitignore
  docs/site/.gitignore
Due: none

fix(spec): fix serialization ambiguity and add formatting contract to manifest
  packages/design-data-spec/spec/manifest.md
  packages/design-data-spec/spec/taxonomy.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(spec): add extensions.formatting schema to manifest.schema.json
  packages/design-data-spec/schemas/manifest.schema.json
Due: prettier --write

fix(spec): constrain conceptOrder items to valid semantic field names
  packages/design-data-spec/schemas/manifest.schema.json
Due: prettier --write

feat(spec): add taxonomy document and restructure name object (#807)
  .gitignore
  docs/rfcs/taxonomy-rfc-draft.md
  docs/site/.gitignore
  packages/design-data-spec/schemas/manifest.schema.json
  packages/design-data-spec/spec/index.md
  packages/design-data-spec/spec/manifest.md
  packages/design-data-spec/spec/taxonomy.md
  packages/design-data-spec/spec/token-format.md
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

Version Packages (#801)
  .changeset/add-set-token-outer-uuids.md
  docs/s2-tokens-viewer/CHANGELOG.md
  docs/s2-tokens-viewer/package.json
  packages/tokens/CHANGELOG.md
  packages/tokens/package.json
  tools/markdown-generator/CHANGELOG.md
  tools/markdown-generator/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
  tools/token-csv-generator/CHANGELOG.md
  tools/token-csv-generator/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

[create-pull-request] automated change
  packages/tokens/src/color-aliases.json
  packages/tokens/src/layout-component.json
  packages/tokens/src/layout.json
Due: prettier --write

fix(diff-generator): handle array-valued token properties in checkProperties
  tools/diff-generator/src/lib/updated-token-detection.js
Due: prettier --write

chore: add changeset for chore: updated icon variable ids in $themes file
  .changeset/20260402-ea9eb540.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(optimized-diff): use canonical sorted-key stringify to ignore property reordering
  tools/optimized-diff/src/engine.js
  tools/optimized-diff/test/engine.test.js
Due: prettier --write

chore: regenerate changeset after optimized-diff property-reordering fix
  .changeset/20260402-93d6e2ae.md
  .changeset/20260402-ea9eb540.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(diff-generator): restore two-space blank lines in markdown.hbs for GitHub rendering
  tools/diff-generator/src/templates/markdown.hbs
Due: none

fix(diff-generator): use triple braces in markdown template to prevent HTML-escaping of values
  tools/diff-generator/src/templates/markdown.hbs
Due: none

feat: updated icon variable ids in $themes file (#808)
  .changeset/20260402-93d6e2ae.md
  packages/tokens/src/color-aliases.json
  packages/tokens/src/layout-component.json
  packages/tokens/src/layout.json
  tools/diff-generator/src/lib/updated-token-detection.js
  tools/diff-generator/src/templates/markdown.hbs
  tools/optimized-diff/src/engine.js
  tools/optimized-diff/test/engine.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (#809)
  .changeset/20260402-93d6e2ae.md
  docs/s2-tokens-viewer/CHANGELOG.md
  docs/s2-tokens-viewer/package.json
  packages/tokens/CHANGELOG.md
  packages/tokens/package.json
  tools/markdown-generator/CHANGELOG.md
  tools/markdown-generator/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
  tools/token-csv-generator/CHANGELOG.md
  tools/token-csv-generator/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(registry): split anatomy-terms and add taxonomy registries
  packages/design-system-registry/index.js
  packages/design-system-registry/package.json
  packages/design-system-registry/registry/anatomy-terms.json
  packages/design-system-registry/registry/densities.json
  packages/design-system-registry/registry/orientations.json
  packages/design-system-registry/registry/positions.json
  packages/design-system-registry/registry/shapes.json
  packages/design-system-registry/registry/structures.json
  packages/design-system-registry/registry/substructures.json
  packages/design-system-registry/registry/token-objects.json
  packages/design-system-registry/test/registry.test.js
Due: prettier --write

feat(spec): add all taxonomy semantic fields to token name object schema
  packages/design-data-spec/schemas/token.schema.json
Due: prettier --write

feat(sdk): implement SPEC-009 registry-based name field validation
  sdk/core/src/figma/mapping.rs
  sdk/core/src/lib.rs
  sdk/core/src/registry.rs
  sdk/core/src/validate/rule.rs
  sdk/core/src/validate/rules/mod.rs
  sdk/core/src/validate/rules/spec009.rs
Due: none

chore(registry): address pr review observations
  .changeset/taxonomy-registry-split.md
  packages/design-system-registry/registry/shapes.json
  sdk/core/src/registry.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(changeset): wrap lines to 100 chars for changeset-lint
  .changeset/taxonomy-registry-split.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat: taxonomy registry split, schema update, and SPEC-009 validation (#810)
  .changeset/taxonomy-registry-split.md
  packages/design-data-spec/schemas/token.schema.json
  packages/design-system-registry/index.js
  packages/design-system-registry/package.json
  packages/design-system-registry/registry/anatomy-terms.json
  packages/design-system-registry/registry/densities.json
  packages/design-system-registry/registry/orientations.json
  packages/design-system-registry/registry/positions.json
  packages/design-system-registry/registry/shapes.json
  packages/design-system-registry/registry/structures.json
  packages/design-system-registry/registry/substructures.json
  packages/design-system-registry/registry/token-objects.json
  packages/design-system-registry/test/registry.test.js
  sdk/core/src/figma/mapping.rs
  sdk/core/src/lib.rs
  sdk/core/src/registry.rs
  sdk/core/src/validate/rule.rs
  sdk/core/src/validate/rules/mod.rs
  sdk/core/src/validate/rules/spec009.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(registry): fix crate packaging and split sizes registry
  .changeset/fix-registry-packaging-sizes.md
  packages/design-system-registry/registry/scale-values.json
  packages/design-system-registry/registry/sizes.json
  packages/design-system-registry/test/registry.test.js
  sdk/core/Cargo.toml
  sdk/core/build.rs
  sdk/core/src/registry.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(sdk): make design-data-core buildable standalone from .crate
  sdk/core/build.rs
  sdk/core/src/registry.rs
  sdk/core/src/registry_data.rs
Due: none

fix(sdk): remove build.rs, use checked-in registry_data.rs
  sdk/core/Cargo.toml
  sdk/core/build.rs
  sdk/core/src/registry.rs
  sdk/core/src/registry_data.rs
  sdk/moon.yml
  sdk/scripts/generate-registry-data.js
Due: prettier --write

docs(sdk): fix stale registry.rs doc comment referencing build.rs
  sdk/core/src/registry.rs
Due: none

fix(sdk): remove fileGroup with parent traversal for moon compat
  sdk/moon.yml
Due: prettier --write

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,yml,yaml}
  remark --use remark-frontmatter --use remark-gfm --use remark-github --output: any of: **/*.md
  pnpm changeset-lint check-file: any of: .changeset/*.md
