Repository adobe/spectrum-design-data: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,yml,yaml}": ["prettier --write"],
  "**/*.md": [
    "remark --use remark-frontmatter --use remark-gfm --use remark-github --output"
  ],
  "!**/.changeset/*.md": [],
  "!**/pnpm-lock.yaml": [],
  "!**/package-lock.json": [],
  "!**/yarn.lock": [],
  ".changeset/*.md": [
    "pnpm changeset-lint check-file"
  ]
}

feat(site): integrate Adobe Clean Spectrum VF font
  docs/site/src/assets/css/base/reset.css
  docs/site/src/layouts/base.liquid
Due: none

feat(site): enhance UI to match React Spectrum design system
  docs/site/eleventy.config.js
  docs/site/public/adobe_logo.svg
  docs/site/public/favicon.svg
  docs/site/src/assets/css/base/index.css
  docs/site/src/assets/css/base/vars.css
  docs/site/src/includes/layout/header.liquid
  docs/site/src/layouts/base.liquid
Due: prettier --write

feat(site): integrate Adobe Clean Spectrum VF font (#704)
  docs/site/eleventy.config.js
  docs/site/public/adobe_logo.svg
  docs/site/public/favicon.svg
  docs/site/src/assets/css/base/index.css
  docs/site/src/assets/css/base/reset.css
  docs/site/src/assets/css/base/vars.css
  docs/site/src/includes/layout/header.liquid
  docs/site/src/layouts/base.liquid
Due: prettier --write

feat(tokens): add getTokensByFile export
  .changeset/add-get-tokens-by-file.md
  packages/tokens/index.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(mcp): fix data loader, add value query, optimize context efficiency
  .changeset/mcp-token-value-query.md
  tools/spectrum-design-data-mcp/README.md
  tools/spectrum-design-data-mcp/src/data/tokens.js
  tools/spectrum-design-data-mcp/src/index.js
  tools/spectrum-design-data-mcp/src/tools/schemas.js
  tools/spectrum-design-data-mcp/src/tools/tokens.js
  tools/spectrum-design-data-mcp/test/tools/schemas.test.js
  tools/spectrum-design-data-mcp/test/tools/tokens.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(tokens): use path.basename for cross-platform filename in getTokensByFile
  packages/tokens/index.js
Due: prettier --write

fix(changeset): shorten descriptions for changeset-lint line length
  .changeset/add-get-tokens-by-file.md
  .changeset/mcp-token-value-query.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(mcp): fix data loader, add value query, optimize context efficiency (#706)
  .changeset/add-get-tokens-by-file.md
  .changeset/mcp-token-value-query.md
  packages/tokens/index.js
  tools/spectrum-design-data-mcp/README.md
  tools/spectrum-design-data-mcp/src/data/tokens.js
  tools/spectrum-design-data-mcp/src/index.js
  tools/spectrum-design-data-mcp/src/tools/schemas.js
  tools/spectrum-design-data-mcp/src/tools/tokens.js
  tools/spectrum-design-data-mcp/test/tools/schemas.test.js
  tools/spectrum-design-data-mcp/test/tools/tokens.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(markdown-generator): resolve nested sets and arrays in token output
  tools/markdown-generator/src/token-resolver.js
  tools/markdown-generator/src/tokens.js
  tools/markdown-generator/test/token-resolver.test.js
  tools/markdown-generator/test/tokens.test.js
Due: prettier --write

Version Packages (#707)
  .changeset/add-get-tokens-by-file.md
  .changeset/mcp-token-value-query.md
  docs/s2-tokens-viewer/CHANGELOG.md
  docs/s2-tokens-viewer/package.json
  packages/tokens/CHANGELOG.md
  packages/tokens/package.json
  tools/markdown-generator/CHANGELOG.md
  tools/markdown-generator/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
  tools/token-csv-generator/CHANGELOG.md
  tools/token-csv-generator/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(tokens): use dynamic import for prettier in writeJson
  packages/tokens/index.js
Due: prettier --write

chore: add changeset for spectrum-tokens prettier fix
  .changeset/fix-prettier-dynamic-import.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(tokens): use dynamic import for prettier in writeJson (#709)
  .changeset/fix-prettier-dynamic-import.md
  packages/tokens/index.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (#710)
  .changeset/fix-prettier-dynamic-import.md
  docs/s2-tokens-viewer/CHANGELOG.md
  docs/s2-tokens-viewer/package.json
  packages/tokens/CHANGELOG.md
  packages/tokens/package.json
  tools/markdown-generator/CHANGELOG.md
  tools/markdown-generator/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
  tools/token-csv-generator/CHANGELOG.md
  tools/token-csv-generator/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(mcp): add agent skills for component building and token discovery
  .changeset/agent-skills-feature.md
  llms.txt
  tools/spectrum-design-data-mcp/README.md
  tools/spectrum-design-data-mcp/agent-skills/README.md
  tools/spectrum-design-data-mcp/agent-skills/component-builder.md
  tools/spectrum-design-data-mcp/agent-skills/token-finder.md
  tools/spectrum-design-data-mcp/src/index.js
  tools/spectrum-design-data-mcp/src/tools/workflows.js
  tools/spectrum-design-data-mcp/test/tools/workflows.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

docs(mcp): add SKILL.md for agent skills documentation
  tools/spectrum-design-data-mcp/agent-skills/SKILL.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(changeset): fix line length in changeset description
  .changeset/agent-skills-feature.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(mcp): update SKILL.md to follow Agent Skills specification format
  tools/spectrum-design-data-mcp/agent-skills/SKILL.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(spectrum-design-data-mcp): refactor code quality, add agent skills tests, wire moon ci
  tools/spectrum-design-data-mcp/README.md
  tools/spectrum-design-data-mcp/build-spectrum-components/README.md
  tools/spectrum-design-data-mcp/build-spectrum-components/SKILL.md
  tools/spectrum-design-data-mcp/build-spectrum-components/component-builder.md
  tools/spectrum-design-data-mcp/build-spectrum-components/token-finder.md
  tools/spectrum-design-data-mcp/moon.yml
  tools/spectrum-design-data-mcp/src/config/intent-mappings.js
  tools/spectrum-design-data-mcp/src/constants.js
  tools/spectrum-design-data-mcp/src/tools/schemas.js
  tools/spectrum-design-data-mcp/src/tools/tokens.js
  tools/spectrum-design-data-mcp/src/tools/workflows.js
  tools/spectrum-design-data-mcp/src/utils/component-helpers.js
  tools/spectrum-design-data-mcp/src/utils/token-helpers.js
  tools/spectrum-design-data-mcp/src/utils/validation.js
  tools/spectrum-design-data-mcp/test/skills/agent-skills-integration.test.js
  tools/spectrum-design-data-mcp/test/tools/workflows.test.js
  tools/spectrum-design-data-mcp/test/utils/component-helpers.test.js
  tools/spectrum-design-data-mcp/test/utils/token-helpers.test.js
  tools/spectrum-design-data-mcp/test/utils/validation.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

test(mcp): add code coverage with c8
  pnpm-lock.yaml
  tools/spectrum-design-data-mcp/package.json
Due: prettier --write

feat(mcp): add implementation mapping tools and refactor workflows
  .github/workflows/publish-packages.yml
  .github/workflows/release-snapshot.yml
  .github/workflows/release.yml
  package.json
  tools/spectrum-design-data-mcp/README.md
  tools/spectrum-design-data-mcp/data/react-spectrum-token-map.json
  tools/spectrum-design-data-mcp/src/data/react-spectrum-map.js
  tools/spectrum-design-data-mcp/src/index.js
  tools/spectrum-design-data-mcp/src/tools/implementation-map.js
  tools/spectrum-design-data-mcp/test/tools/implementation-map.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

docs(mcp): agent-skills folder rename, docs, and error messages
  .changeset/agent-skills-enhancements.md
  tools/spectrum-design-data-mcp/README.md
  tools/spectrum-design-data-mcp/agent-skills/README.md
  tools/spectrum-design-data-mcp/agent-skills/SKILL.md
  tools/spectrum-design-data-mcp/agent-skills/component-builder.md
  tools/spectrum-design-data-mcp/agent-skills/guides/state-management.md
  tools/spectrum-design-data-mcp/agent-skills/token-finder.md
  tools/spectrum-design-data-mcp/src/tools/schemas.js
  tools/spectrum-design-data-mcp/src/tools/tokens.js
  tools/spectrum-design-data-mcp/src/tools/workflows.js
  tools/spectrum-design-data-mcp/src/utils/validation.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(mcp): correct copyright year from 2026 to 2024
  tools/spectrum-design-data-mcp/src/config/intent-mappings.js
  tools/spectrum-design-data-mcp/src/constants.js
  tools/spectrum-design-data-mcp/src/utils/component-helpers.js
  tools/spectrum-design-data-mcp/src/utils/token-helpers.js
  tools/spectrum-design-data-mcp/src/utils/validation.js
  tools/spectrum-design-data-mcp/test/utils/component-helpers.test.js
  tools/spectrum-design-data-mcp/test/utils/token-helpers.test.js
  tools/spectrum-design-data-mcp/test/utils/validation.test.js
Due: prettier --write

fix(mcp): update test assertions for new tool counts after rebase
  tools/spectrum-design-data-mcp/test/tools/schemas.test.js
  tools/spectrum-design-data-mcp/test/tools/tokens.test.js
Due: prettier --write

feat(markdown-generator): add inline color swatches to token resolved values
  docs/markdown/tokens/color-aliases.md
  docs/markdown/tokens/color-component.md
  docs/markdown/tokens/color-palette.md
  docs/markdown/tokens/icons.md
  docs/markdown/tokens/layout-component.md
  docs/markdown/tokens/layout.md
  docs/markdown/tokens/semantic-color-palette.md
  docs/markdown/tokens/typography.md
  docs/site/src/assets/css/global/global.css
  tools/markdown-generator/src/tokens.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(markdown-generator): add Type column and publish schemas at $id URLs
  .cursor/mcp.json
  docs/markdown/tokens/color-aliases.md
  docs/markdown/tokens/color-component.md
  docs/markdown/tokens/color-palette.md
  docs/markdown/tokens/icons.md
  docs/markdown/tokens/layout-component.md
  docs/markdown/tokens/layout.md
  docs/markdown/tokens/semantic-color-palette.md
  docs/markdown/tokens/typography.md
  docs/site/eleventy.config.js
  tools/markdown-generator/src/tokens.js
  tools/markdown-generator/test/tokens.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(markdown-generator): add inline color swatches to token resolved values (#712)
  .cursor/mcp.json
  docs/markdown/tokens/color-aliases.md
  docs/markdown/tokens/color-component.md
  docs/markdown/tokens/color-palette.md
  docs/markdown/tokens/icons.md
  docs/markdown/tokens/layout-component.md
  docs/markdown/tokens/layout.md
  docs/markdown/tokens/semantic-color-palette.md
  docs/markdown/tokens/typography.md
  docs/site/eleventy.config.js
  docs/site/src/assets/css/global/global.css
  tools/markdown-generator/src/tokens.js
  tools/markdown-generator/test/tokens.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(markdown-generator): strip path before /schemas/ so HtmlBasePlugin does not double prefix
  docs/markdown/tokens/color-aliases.md
  docs/markdown/tokens/color-component.md
  docs/markdown/tokens/color-palette.md
  docs/markdown/tokens/icons.md
  docs/markdown/tokens/layout-component.md
  docs/markdown/tokens/layout.md
  docs/markdown/tokens/semantic-color-palette.md
  docs/markdown/tokens/typography.md
  tools/markdown-generator/src/tokens.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(markdown-generator): strip path before /schemas/ so schema links do not 404 (#713)
  docs/markdown/tokens/color-aliases.md
  docs/markdown/tokens/color-component.md
  docs/markdown/tokens/color-palette.md
  docs/markdown/tokens/icons.md
  docs/markdown/tokens/layout-component.md
  docs/markdown/tokens/layout.md
  docs/markdown/tokens/semantic-color-palette.md
  docs/markdown/tokens/typography.md
  tools/markdown-generator/src/tokens.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

chore: remove stale glossary status doc (captured in RFC #661)
  GLOSSARY_IMPLEMENTATION_STATUS.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(spec): scaffold design-data-spec package (#721)
  .moon/workspace.yml
  packages/design-data-spec/README.md
  packages/design-data-spec/conformance/README.md
  packages/design-data-spec/conformance/invalid/SPEC-001/.gitkeep
  packages/design-data-spec/conformance/invalid/SPEC-002/.gitkeep
  packages/design-data-spec/conformance/valid/.gitkeep
  packages/design-data-spec/moon.yml
  packages/design-data-spec/package.json
  packages/design-data-spec/rules/rules.yaml
  packages/design-data-spec/schemas/dimension.schema.json
  packages/design-data-spec/schemas/manifest.schema.json
  packages/design-data-spec/schemas/token.schema.json
  packages/design-data-spec/schemas/value-types/.gitkeep
  packages/design-data-spec/scripts/check-layout.mjs
  packages/design-data-spec/spec/cascade.md
  packages/design-data-spec/spec/dimensions.md
  packages/design-data-spec/spec/index.md
  packages/design-data-spec/spec/manifest.md
  packages/design-data-spec/spec/token-format.md
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(sdk): scaffold Rust workspace for design-data (#722)
  .gitignore
  .moon/toolchain.yml
  .moon/workspace.yml
  sdk/Cargo.lock
  sdk/Cargo.toml
  sdk/cli/Cargo.toml
  sdk/cli/src/main.rs
  sdk/core/Cargo.toml
  sdk/core/src/lib.rs
  sdk/core/src/validate/mod.rs
  sdk/moon.yml
  sdk/rust-toolchain.toml
Due: prettier --write

fix(ci): add clippy to moon rust toolchain for sdk:lint
  .moon/toolchain.yml
Due: prettier --write

feat: scaffold design-data-spec package and Rust sdk workspace (#737)
  .gitignore
  .moon/toolchain.yml
  .moon/workspace.yml
  packages/design-data-spec/README.md
  packages/design-data-spec/conformance/README.md
  packages/design-data-spec/conformance/invalid/SPEC-001/.gitkeep
  packages/design-data-spec/conformance/invalid/SPEC-002/.gitkeep
  packages/design-data-spec/conformance/valid/.gitkeep
  packages/design-data-spec/moon.yml
  packages/design-data-spec/package.json
  packages/design-data-spec/rules/rules.yaml
  packages/design-data-spec/schemas/dimension.schema.json
  packages/design-data-spec/schemas/manifest.schema.json
  packages/design-data-spec/schemas/token.schema.json
  packages/design-data-spec/schemas/value-types/.gitkeep
  packages/design-data-spec/scripts/check-layout.mjs
  packages/design-data-spec/spec/cascade.md
  packages/design-data-spec/spec/dimensions.md
  packages/design-data-spec/spec/index.md
  packages/design-data-spec/spec/manifest.md
  packages/design-data-spec/spec/token-format.md
  sdk/Cargo.lock
  sdk/Cargo.toml
  sdk/cli/Cargo.toml
  sdk/cli/src/main.rs
  sdk/core/Cargo.toml
  sdk/core/src/lib.rs
  sdk/core/src/validate/mod.rs
  sdk/moon.yml
  sdk/rust-toolchain.toml
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(design-data-spec): add draft spec, schemas, rules, and conformance
  .changeset/design-data-spec-phase0.md
  .lintstagedrc.js
  packages/design-data-spec/README.md
  packages/design-data-spec/conformance/README.md
  packages/design-data-spec/conformance/invalid/SPEC-001/.gitkeep
  packages/design-data-spec/conformance/invalid/SPEC-001/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-001/fixture.json
  packages/design-data-spec/conformance/invalid/SPEC-002/.gitkeep
  packages/design-data-spec/conformance/invalid/SPEC-002/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-002/token-bad-alias.json
  packages/design-data-spec/conformance/invalid/SPEC-002/token-color.json
  packages/design-data-spec/conformance/invalid/SPEC-003/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-003/token-a.json
  packages/design-data-spec/conformance/invalid/SPEC-003/token-b.json
  packages/design-data-spec/conformance/invalid/SPEC-004/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-004/token-one.json
  packages/design-data-spec/conformance/invalid/SPEC-004/token-two.json
  packages/design-data-spec/conformance/invalid/SPEC-005/dimension.json
  packages/design-data-spec/conformance/invalid/SPEC-005/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-006/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-006/token-high.json
  packages/design-data-spec/conformance/invalid/SPEC-006/token-low.json
  packages/design-data-spec/conformance/valid/.gitkeep
  packages/design-data-spec/conformance/valid/baseline-token.json
  packages/design-data-spec/package.json
  packages/design-data-spec/rules/rules.yaml
  packages/design-data-spec/schemas/dimension.schema.json
  packages/design-data-spec/schemas/manifest.schema.json
  packages/design-data-spec/schemas/token.schema.json
  packages/design-data-spec/schemas/value-types/.gitkeep
  packages/design-data-spec/schemas/value-types/color.schema.json
  packages/design-data-spec/scripts/check-layout.mjs
  packages/design-data-spec/spec/cascade.md
  packages/design-data-spec/spec/dimensions.md
  packages/design-data-spec/spec/index.md
  packages/design-data-spec/spec/manifest.md
  packages/design-data-spec/spec/token-format.md
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(design-data-spec): add draft spec, schemas, rules, and conformance (#738)
  .changeset/design-data-spec-phase0.md
  .lintstagedrc.js
  packages/design-data-spec/README.md
  packages/design-data-spec/conformance/README.md
  packages/design-data-spec/conformance/invalid/SPEC-001/.gitkeep
  packages/design-data-spec/conformance/invalid/SPEC-001/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-001/fixture.json
  packages/design-data-spec/conformance/invalid/SPEC-002/.gitkeep
  packages/design-data-spec/conformance/invalid/SPEC-002/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-002/token-bad-alias.json
  packages/design-data-spec/conformance/invalid/SPEC-002/token-color.json
  packages/design-data-spec/conformance/invalid/SPEC-003/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-003/token-a.json
  packages/design-data-spec/conformance/invalid/SPEC-003/token-b.json
  packages/design-data-spec/conformance/invalid/SPEC-004/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-004/token-one.json
  packages/design-data-spec/conformance/invalid/SPEC-004/token-two.json
  packages/design-data-spec/conformance/invalid/SPEC-005/dimension.json
  packages/design-data-spec/conformance/invalid/SPEC-005/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-006/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-006/token-high.json
  packages/design-data-spec/conformance/invalid/SPEC-006/token-low.json
  packages/design-data-spec/conformance/valid/.gitkeep
  packages/design-data-spec/conformance/valid/baseline-token.json
  packages/design-data-spec/package.json
  packages/design-data-spec/rules/rules.yaml
  packages/design-data-spec/schemas/dimension.schema.json
  packages/design-data-spec/schemas/manifest.schema.json
  packages/design-data-spec/schemas/token.schema.json
  packages/design-data-spec/schemas/value-types/.gitkeep
  packages/design-data-spec/schemas/value-types/color.schema.json
  packages/design-data-spec/scripts/check-layout.mjs
  packages/design-data-spec/spec/cascade.md
  packages/design-data-spec/spec/dimensions.md
  packages/design-data-spec/spec/index.md
  packages/design-data-spec/spec/manifest.md
  packages/design-data-spec/spec/token-format.md
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(design-data): add Phase 1 validation infrastructure
  .changeset/phase1-design-data-validate.md
  .cursor/rules
  packages/tokens/README.md
  packages/tokens/moon.yml
  packages/tokens/package.json
  packages/tokens/schemas/token-file.json
  packages/tokens/schemas/token-types/multiplier.json
  packages/tokens/snapshots/validation-snapshot.json
  packages/tokens/test/tokenSchemaValidator.test.js
  sdk/Cargo.lock
  sdk/cli/Cargo.toml
  sdk/cli/src/format.rs
  sdk/cli/src/main.rs
  sdk/cli/tests/cli_validate.rs
  sdk/core/Cargo.toml
  sdk/core/src/compat.rs
  sdk/core/src/discovery.rs
  sdk/core/src/graph.rs
  sdk/core/src/lib.rs
  sdk/core/src/report.rs
  sdk/core/src/schema.rs
  sdk/core/src/validate/mod.rs
  sdk/core/src/validate/relational.rs
  sdk/core/src/validate/rule.rs
  sdk/core/src/validate/rules/mod.rs
  sdk/core/src/validate/rules/spec001.rs
  sdk/core/src/validate/rules/spec002.rs
  sdk/core/src/validate/rules/spec003.rs
  sdk/core/src/validate/rules/spec004.rs
  sdk/core/src/validate/rules/spec005.rs
  sdk/core/src/validate/rules/spec006.rs
  sdk/core/src/validate/structural.rs
  sdk/moon.yml
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(design-data): Phase 1 validation infrastructure (#740)
  .changeset/phase1-design-data-validate.md
  .cursor/rules
  packages/tokens/README.md
  packages/tokens/moon.yml
  packages/tokens/package.json
  packages/tokens/schemas/token-file.json
  packages/tokens/schemas/token-types/multiplier.json
  packages/tokens/snapshots/validation-snapshot.json
  packages/tokens/test/tokenSchemaValidator.test.js
  sdk/Cargo.lock
  sdk/cli/Cargo.toml
  sdk/cli/src/format.rs
  sdk/cli/src/main.rs
  sdk/cli/tests/cli_validate.rs
  sdk/core/Cargo.toml
  sdk/core/src/compat.rs
  sdk/core/src/discovery.rs
  sdk/core/src/graph.rs
  sdk/core/src/lib.rs
  sdk/core/src/report.rs
  sdk/core/src/schema.rs
  sdk/core/src/validate/mod.rs
  sdk/core/src/validate/relational.rs
  sdk/core/src/validate/rule.rs
  sdk/core/src/validate/rules/mod.rs
  sdk/core/src/validate/rules/spec001.rs
  sdk/core/src/validate/rules/spec002.rs
  sdk/core/src/validate/rules/spec003.rs
  sdk/core/src/validate/rules/spec004.rs
  sdk/core/src/validate/rules/spec005.rs
  sdk/core/src/validate/rules/spec006.rs
  sdk/core/src/validate/structural.rs
  sdk/moon.yml
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file
