Repository adobe/spectrum-design-data: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,yml,yaml}": ["prettier --write"],
  "**/*.md": [
    "remark --use remark-frontmatter --use remark-gfm --use remark-github --output"
  ],
  "!**/.changeset/*.md": [],
  "!**/pnpm-lock.yaml": [],
  "!**/package-lock.json": [],
  "!**/yarn.lock": [],
  ".changeset/*.md": [
    "pnpm changeset-lint check-file"
  ]
}

feat(spec): lift manifest query notation from deferred to normative (RFC #715)
  .changeset/spec-039-manifest-query-normative.md
  docs/rfc-coordination.md
  packages/design-data-spec/conformance/invalid/SPEC-039-syntax-error/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-039-syntax-error/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-039-syntax-error/manifest.json
  packages/design-data-spec/conformance/invalid/SPEC-039-unknown-key/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-039-unknown-key/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-039-unknown-key/manifest.json
  packages/design-data-spec/conformance/valid/SPEC-039/dataset.json
  packages/design-data-spec/conformance/valid/SPEC-039/expected-errors.json
  packages/design-data-spec/conformance/valid/SPEC-039/manifest.json
  packages/design-data-spec/rules/rules.yaml
  packages/design-data-spec/spec/manifest.md
  sdk/core/src/lib.rs
  sdk/core/src/validate/mod.rs
  sdk/core/src/validate/relational.rs
  sdk/core/src/validate/rule.rs
  sdk/core/src/validate/rules/mod.rs
  sdk/core/src/validate/rules/spec015.rs
  sdk/core/src/validate/rules/spec016.rs
  sdk/core/src/validate/rules/spec018.rs
  sdk/core/src/validate/rules/spec019.rs
  sdk/core/src/validate/rules/spec020.rs
  sdk/core/src/validate/rules/spec021.rs
  sdk/core/src/validate/rules/spec022.rs
  sdk/core/src/validate/rules/spec023.rs
  sdk/core/src/validate/rules/spec024.rs
  sdk/core/src/validate/rules/spec026.rs
  sdk/core/src/validate/rules/spec027.rs
  sdk/core/src/validate/rules/spec028.rs
  sdk/core/src/validate/rules/spec029.rs
  sdk/core/src/validate/rules/spec030.rs
  sdk/core/src/validate/rules/spec031.rs
  sdk/core/src/validate/rules/spec032.rs
  sdk/core/src/validate/rules/spec036.rs
  sdk/core/src/validate/rules/spec037.rs
  sdk/core/src/validate/rules/spec038.rs
  sdk/core/src/validate/rules/spec039.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(spec): address code review on SPEC-039
  packages/design-data-spec/conformance/invalid/SPEC-039-syntax-error/expected-errors.json
  sdk/core/src/lib.rs
  sdk/core/src/validate/mod.rs
  sdk/core/src/validate/relational.rs
  sdk/core/src/validate/rules/spec039.rs
Due: prettier --write

fix(spec): use load_manifest helper in valid-fixtures loop
  sdk/core/src/lib.rs
Due: none

feat(spec): lift manifest query notation from deferred to normative (RFC #715) (#936)
  .changeset/spec-039-manifest-query-normative.md
  docs/rfc-coordination.md
  packages/design-data-spec/conformance/invalid/SPEC-039-syntax-error/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-039-syntax-error/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-039-syntax-error/manifest.json
  packages/design-data-spec/conformance/invalid/SPEC-039-unknown-key/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-039-unknown-key/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-039-unknown-key/manifest.json
  packages/design-data-spec/conformance/valid/SPEC-039/dataset.json
  packages/design-data-spec/conformance/valid/SPEC-039/expected-errors.json
  packages/design-data-spec/conformance/valid/SPEC-039/manifest.json
  packages/design-data-spec/rules/rules.yaml
  packages/design-data-spec/spec/manifest.md
  sdk/core/src/lib.rs
  sdk/core/src/validate/mod.rs
  sdk/core/src/validate/relational.rs
  sdk/core/src/validate/rule.rs
  sdk/core/src/validate/rules/mod.rs
  sdk/core/src/validate/rules/spec015.rs
  sdk/core/src/validate/rules/spec016.rs
  sdk/core/src/validate/rules/spec018.rs
  sdk/core/src/validate/rules/spec019.rs
  sdk/core/src/validate/rules/spec020.rs
  sdk/core/src/validate/rules/spec021.rs
  sdk/core/src/validate/rules/spec022.rs
  sdk/core/src/validate/rules/spec023.rs
  sdk/core/src/validate/rules/spec024.rs
  sdk/core/src/validate/rules/spec026.rs
  sdk/core/src/validate/rules/spec027.rs
  sdk/core/src/validate/rules/spec028.rs
  sdk/core/src/validate/rules/spec029.rs
  sdk/core/src/validate/rules/spec030.rs
  sdk/core/src/validate/rules/spec031.rs
  sdk/core/src/validate/rules/spec032.rs
  sdk/core/src/validate/rules/spec036.rs
  sdk/core/src/validate/rules/spec037.rs
  sdk/core/src/validate/rules/spec038.rs
  sdk/core/src/validate/rules/spec039.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(spec): cross-validate non-variant options.* name-object fields (SPEC-040)
  .changeset/spec-040-component-option-field-valid.md
  docs/rfc-coordination.md
  packages/design-data-spec/conformance/invalid/SPEC-040/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-040/expected-errors.json
  packages/design-data-spec/conformance/valid/SPEC-040/dataset.json
  packages/design-data-spec/conformance/valid/SPEC-040/expected-errors.json
  packages/design-data-spec/rules/rules.yaml
  packages/design-data-spec/spec/component-format.md
  sdk/core/src/validate/rules/mod.rs
  sdk/core/src/validate/rules/spec040.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(ci): use GITHUB_TOKEN for run-report-action on fork PRs
  .github/workflows/ci.yml
Due: prettier --write

ci: declare workflow-level `contents: read` on 5 workflows (#909)
  .github/workflows/changeset-lint.yml
  .github/workflows/ci.yml
  .github/workflows/tdiff-spectrum-foundations.yml
  .github/workflows/tdiff-spectrum1.yml
  .github/workflows/tdiff-spectrum2.yml
Due: prettier --write

fix(changeset): wrap long lines in spec-040 changeset body
  .changeset/spec-040-component-option-field-valid.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(spec040): skip empty values[], annotate RESERVED, document SPEC-037 layering
  sdk/core/src/validate/rules/spec040.rs
Due: none

feat(spec): property field migration path + property-terms registry (#941)
  .changeset/feat-spec-941-property-migration.md
  docs/rfc-coordination.md
  packages/design-data-spec/fields/property.json
  packages/design-data-spec/spec/taxonomy.md
  packages/design-data-spec/spec/token-format.md
  packages/design-system-registry/index.js
  packages/design-system-registry/registry/property-terms.json
  packages/design-system-registry/test/registry.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

chore(changeset): wrap lines to satisfy 100-char lint rule
  .changeset/feat-spec-941-property-migration.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

chore(sdk): regenerate registry_data.rs for property-terms registry
  sdk/core/src/registry_data.rs
Due: none

fix(spec): address PR review on property field migration
  packages/design-data-spec/spec/taxonomy.md
  packages/design-data-spec/spec/token-format.md
  packages/design-system-registry/registry/property-terms.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(sdk): update registry and spec009 tests for property-terms registry
  sdk/core/src/registry.rs
  sdk/core/src/registry_data.rs
  sdk/core/src/validate/rules/spec009.rs
Due: none

Version Packages (#951)
  .changeset/feat-spec-941-property-migration.md
  .changeset/spec-040-component-option-field-valid.md
  packages/component-schemas/CHANGELOG.md
  packages/component-schemas/package.json
  packages/design-data-spec/CHANGELOG.md
  packages/design-data-spec/package.json
  packages/design-system-registry/CHANGELOG.md
  packages/design-system-registry/package.json
  tools/component-options-editor/CHANGELOG.md
  tools/component-options-editor/package.json
  tools/markdown-generator/CHANGELOG.md
  tools/markdown-generator/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(tooling): add token-naming-audit CLI for migration debt reporting (#954)
  .changeset/feat-token-naming-audit-tool.md
  .moon/workspace.yml
  pnpm-lock.yaml
  tools/token-naming-audit/README.md
  tools/token-naming-audit/ava.config.js
  tools/token-naming-audit/moon.yml
  tools/token-naming-audit/package.json
  tools/token-naming-audit/src/cli.js
  tools/token-naming-audit/src/index.js
  tools/token-naming-audit/src/report.js
  tools/token-naming-audit/src/scan-property-values.js
  tools/token-naming-audit/src/scan-string-names.js
  tools/token-naming-audit/test/cli.test.js
  tools/token-naming-audit/test/fixtures/naming-exceptions.json
  tools/token-naming-audit/test/fixtures/packages/tokens/naming-exceptions.json
  tools/token-naming-audit/test/fixtures/property-values.tokens.json
  tools/token-naming-audit/test/fixtures/string-names.tokens.json
  tools/token-naming-audit/test/report.test.js
  tools/token-naming-audit/test/scan-property-values.test.js
  tools/token-naming-audit/test/scan-string-names.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(token-naming-audit): address code review feedback
  tools/token-naming-audit/src/cli.js
  tools/token-naming-audit/src/report.js
  tools/token-naming-audit/src/scan-property-values.js
  tools/token-naming-audit/src/scan-string-names.js
  tools/token-naming-audit/test/fixtures/naming-exceptions.json
  tools/token-naming-audit/test/scan-string-names.test.js
Due: prettier --write

fix(token-naming-audit): use plain text README heading to avoid remark-github link rewrite
  tools/token-naming-audit/README.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

Version Packages (#957)
  .changeset/feat-token-naming-audit-tool.md
  tools/token-naming-audit/CHANGELOG.md
  tools/token-naming-audit/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(token-naming-audit): use plain text README heading to avoid remark-github link rewrite
  tools/token-naming-audit/README.md
  tools/token-naming-audit/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(spec): platform mode-set restrictions + SPEC-041 coverage rule (#943)
  docs/rfc-coordination.md
  packages/design-data-spec/rules/rules.yaml
  packages/design-data-spec/schemas/manifest.schema.json
  packages/design-data-spec/spec/cascade.md
  packages/design-data-spec/spec/manifest.md
  packages/design-data-spec/spec/mode-sets.md
  sdk/core/src/cascade.rs
  sdk/core/src/validate/rules/mod.rs
  sdk/core/src/validate/rules/spec041.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(spec): address SPEC-041 review issues
  .changeset/mode-set-restrictions.md
  packages/design-data-spec/rules/rules.yaml
  sdk/core/src/validate/rules/spec041.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(spec): address minor SPEC-041 review notes
  .changeset/mode-set-restrictions.md
  sdk/core/src/validate/rules/spec041.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(changeset): wrap long line in mode-set-restrictions changeset
  .changeset/mode-set-restrictions.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat: added group, banner, and table to design system registry temrs for structure
  packages/design-system-registry/registry/structures.json
Due: prettier --write

feat(spec): color, typography, and motion token taxonomies (#942)
  .changeset/future-taxonomies.md
  docs/rfc-coordination.md
  packages/design-data-spec/conformance/invalid/SPEC-042/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-042/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-043/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-043/expected-errors.json
  packages/design-data-spec/fields/colorFamily.json
  packages/design-data-spec/fields/easing.json
  packages/design-data-spec/fields/family.json
  packages/design-data-spec/fields/motionRole.json
  packages/design-data-spec/fields/scaleIndex.json
  packages/design-data-spec/fields/style.json
  packages/design-data-spec/fields/weight.json
  packages/design-data-spec/rules/rules.yaml
  packages/design-data-spec/schemas/manifest.schema.json
  packages/design-data-spec/spec/taxonomy.md
  packages/design-data-spec/spec/token-format.md
  packages/design-system-registry/registry/color-families.json
  packages/design-system-registry/registry/easing-curves.json
  packages/design-system-registry/registry/motion-roles.json
  packages/design-system-registry/registry/typography-families.json
  packages/design-system-registry/registry/typography-styles.json
  packages/design-system-registry/registry/typography-weights.json
  sdk/core/src/registry_data.rs
  sdk/core/src/validate/rules/mod.rs
  sdk/core/src/validate/rules/spec042.rs
  sdk/core/src/validate/rules/spec043.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(spec043): add easing.json to motion domain; extract shared schema mapping
  sdk/core/src/validate/rules/mod.rs
  sdk/core/src/validate/rules/spec042.rs
  sdk/core/src/validate/rules/spec043.rs
Due: none

chore(changeset): trim future-taxonomies to pass lint line-length check
  .changeset/future-taxonomies.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (#962)
  .changeset/future-taxonomies.md
  packages/component-schemas/CHANGELOG.md
  packages/component-schemas/package.json
  packages/design-data-spec/CHANGELOG.md
  packages/design-data-spec/package.json
  tools/component-options-editor/CHANGELOG.md
  tools/component-options-editor/package.json
  tools/markdown-generator/CHANGELOG.md
  tools/markdown-generator/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(tokens): pilot name-object migration for color palette and font-weight tokens
  .changeset/tokens-name-pilot.md
  packages/design-system-registry/package.json
  packages/tokens/src/color-palette.json
  packages/tokens/src/typography.json
  pnpm-lock.yaml
  tools/token-corpus-migrate/ava.config.js
  tools/token-corpus-migrate/moon.yml
  tools/token-corpus-migrate/package.json
  tools/token-corpus-migrate/src/cli.js
  tools/token-corpus-migrate/src/index.js
  tools/token-corpus-migrate/src/overrides.json
  tools/token-corpus-migrate/src/transform.js
  tools/token-corpus-migrate/test/transform.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(token-corpus-migrate): address code review issues
  .changeset/tokens-name-pilot.md
  sdk/core/src/validate/rules/spec043.rs
  tools/token-corpus-migrate/README.md
  tools/token-corpus-migrate/src/cli.js
  tools/token-corpus-migrate/src/transform.js
  tools/token-corpus-migrate/test/transform.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(tokens): pilot name-object migration for color palette and font-weight tokens (#963)
  .changeset/tokens-name-pilot.md
  packages/design-system-registry/package.json
  packages/tokens/src/color-palette.json
  packages/tokens/src/typography.json
  pnpm-lock.yaml
  sdk/core/src/validate/rules/spec043.rs
  tools/token-corpus-migrate/README.md
  tools/token-corpus-migrate/ava.config.js
  tools/token-corpus-migrate/moon.yml
  tools/token-corpus-migrate/package.json
  tools/token-corpus-migrate/src/cli.js
  tools/token-corpus-migrate/src/index.js
  tools/token-corpus-migrate/src/overrides.json
  tools/token-corpus-migrate/src/transform.js
  tools/token-corpus-migrate/test/transform.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (#964)
  .changeset/tokens-name-pilot.md
  docs/s2-tokens-viewer/CHANGELOG.md
  docs/s2-tokens-viewer/package.json
  packages/design-system-registry/CHANGELOG.md
  packages/design-system-registry/package.json
  packages/tokens/CHANGELOG.md
  packages/tokens/package.json
  tools/markdown-generator/CHANGELOG.md
  tools/markdown-generator/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
  tools/token-corpus-migrate/CHANGELOG.md
  tools/token-corpus-migrate/package.json
  tools/token-mapping-analyzer/CHANGELOG.md
  tools/token-mapping-analyzer/package.json
  tools/token-naming-audit/CHANGELOG.md
  tools/token-naming-audit/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(tokens): name-object migration for typography canonicals and font-size scale
  .changeset/typography-canonicals-pilot.md
  packages/design-system-registry/registry/property-terms.json
  packages/design-system-registry/registry/typography-styles.json
  packages/tokens/src/typography.json
  sdk/core/src/registry_data.rs
  tools/token-corpus-migrate/README.md
  tools/token-corpus-migrate/src/transform.js
  tools/token-corpus-migrate/test/transform.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix: stale registry description and unused test constant
  packages/design-system-registry/registry/typography-styles.json
  tools/token-corpus-migrate/test/transform.test.js
Due: prettier --write

chore: regenerate registry_data.rs after typography-styles description update
  sdk/core/src/registry_data.rs
Due: none

feat(tokens): name-object migration for typography canonicals and font-size scale (#965)
  .changeset/typography-canonicals-pilot.md
  packages/design-system-registry/registry/property-terms.json
  packages/design-system-registry/registry/typography-styles.json
  packages/tokens/src/typography.json
  sdk/core/src/registry_data.rs
  tools/token-corpus-migrate/README.md
  tools/token-corpus-migrate/src/transform.js
  tools/token-corpus-migrate/test/transform.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(tokens): name-object migration for family-scoped icon-color tokens
  .changeset/icons-color-set-migration.md
  packages/design-system-registry/registry/property-terms.json
  packages/tokens/src/icons.json
  sdk/core/src/registry_data.rs
  tools/token-corpus-migrate/README.md
  tools/token-corpus-migrate/src/cli.js
  tools/token-corpus-migrate/src/transform.js
  tools/token-corpus-migrate/test/transform.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (#966)
  .changeset/typography-canonicals-pilot.md
  docs/s2-tokens-viewer/CHANGELOG.md
  docs/s2-tokens-viewer/package.json
  packages/design-system-registry/CHANGELOG.md
  packages/design-system-registry/package.json
  packages/tokens/CHANGELOG.md
  packages/tokens/package.json
  tools/markdown-generator/CHANGELOG.md
  tools/markdown-generator/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
  tools/token-corpus-migrate/CHANGELOG.md
  tools/token-corpus-migrate/package.json
  tools/token-mapping-analyzer/CHANGELOG.md
  tools/token-mapping-analyzer/package.json
  tools/token-naming-audit/CHANGELOG.md
  tools/token-naming-audit/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file
