Repository adobe/spectrum-design-data: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (#822)
  .changeset/add-s2-docs-agent-skill.md
  tools/s2-docs-mcp/CHANGELOG.md
  tools/s2-docs-mcp/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

ci(docs): overlay design-data-spec/spec from beta when building docs
  .github/workflows/deploy-docs.yml
Due: prettier --write

ci(docs): overlay design-data-spec/spec from beta when building docs (#823)
  .github/workflows/deploy-docs.yml
Due: prettier --write

chore(spec): reconcile spec with RFC discussion family
  .changeset/spec-rfc-reconciliation.md
  docs/rfc-coordination.md
  docs/rfcs/taxonomy-rfc-draft.md
  packages/design-data-spec/conformance/README.md
  packages/design-data-spec/conformance/invalid/SPEC-014/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-014/tokens.tokens.json
  packages/design-data-spec/conformance/valid/lifecycle-with-last-modified.json
  packages/design-data-spec/rules/rules.yaml
  packages/design-data-spec/schemas/token.schema.json
  packages/design-data-spec/spec/evolution.md
  packages/design-data-spec/spec/manifest.md
  packages/design-data-spec/spec/taxonomy.md
  packages/design-data-spec/spec/token-format.md
  sdk/core/src/lib.rs
  sdk/core/src/validate/rules/mod.rs
  sdk/core/src/validate/rules/spec014.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

chore(spec): wrap changeset lines to under 100 chars
  .changeset/spec-rfc-reconciliation.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(spec014): use semver crate for correct prerelease ordering
  sdk/core/Cargo.toml
  sdk/core/src/validate/rules/spec014.rs
Due: none

chore(spec): reconcile spec with RFC discussion family (#824)
  .changeset/spec-rfc-reconciliation.md
  docs/rfc-coordination.md
  docs/rfcs/taxonomy-rfc-draft.md
  packages/design-data-spec/conformance/README.md
  packages/design-data-spec/conformance/invalid/SPEC-014/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-014/tokens.tokens.json
  packages/design-data-spec/conformance/valid/lifecycle-with-last-modified.json
  packages/design-data-spec/rules/rules.yaml
  packages/design-data-spec/schemas/token.schema.json
  packages/design-data-spec/spec/evolution.md
  packages/design-data-spec/spec/manifest.md
  packages/design-data-spec/spec/taxonomy.md
  packages/design-data-spec/spec/token-format.md
  sdk/core/Cargo.toml
  sdk/core/src/lib.rs
  sdk/core/src/validate/rules/mod.rs
  sdk/core/src/validate/rules/spec014.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

docs(rfc): scope phases 6-9 and planned RFCs A-D
  docs/rfc-coordination.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

docs(rfc): scope phases 6-9 and planned RFCs A-D (#826)
  docs/rfc-coordination.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

docs(rfc): promote RFC-A to main RFC family table (#832)
  docs/rfc-coordination.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(plugin): conform marketplace.json to Claude Code schema
  .changeset/fix-marketplace-schema.md
  .claude-plugin/marketplace.json
  docs/site/src/pages/ai.md
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

chore(changeset): wrap lines to satisfy 100-char limit
  .changeset/fix-marketplace-schema.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(plugin): conform marketplace.json to Claude Code schema (#834)
  .changeset/fix-marketplace-schema.md
  .claude-plugin/marketplace.json
  docs/site/src/pages/ai.md
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

docs(rfc): promote RFC-A to main RFC family table (#832) (#833)
  docs/rfc-coordination.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(plugin): drop commander runtime dep from s2-docs bin
  .changeset/fix-s2-docs-bin-no-commander.md
  tools/s2-docs-mcp/.claude-plugin/plugin.json
  tools/s2-docs-mcp/bin/s2-docs.js
  tools/s2-docs-mcp/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

chore(s2-docs-mcp): drop commander from pnpm-lock.yaml
  pnpm-lock.yaml
Due: prettier --write

Version Packages (#836)
  .changeset/fix-s2-docs-bin-no-commander.md
  tools/s2-docs-mcp/CHANGELOG.md
  tools/s2-docs-mcp/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (#818)
  .changeset/proposal-009-typography-scale-composite.md
  .changeset/proposal-010-composite-token-support.md
  .changeset/proposal-012-string-name-escape-hatch.md
  .changeset/registry-anatomy-variants-expansion.md
  docs/s2-tokens-viewer/CHANGELOG.md
  docs/s2-tokens-viewer/package.json
  packages/design-data-spec/CHANGELOG.md
  packages/design-data-spec/package.json
  packages/design-system-registry/CHANGELOG.md
  packages/design-system-registry/package.json
  packages/tokens/CHANGELOG.md
  packages/tokens/package.json
  tools/markdown-generator/CHANGELOG.md
  tools/markdown-generator/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
  tools/token-csv-generator/CHANGELOG.md
  tools/token-csv-generator/package.json
  tools/token-mapping-analyzer/CHANGELOG.md
  tools/token-mapping-analyzer/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

chore(moon): normalize project IDs to kebab-case
  .moon/workspace.yml
  packages/design-data-spec/README.md
  tools/markdown-generator/moon.yml
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

docs(spec): restore RFC reconciliation guidance (taxonomy + manifest)
  packages/design-data-spec/spec/manifest.md
  packages/design-data-spec/spec/taxonomy.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

docs(spec): renumber string-name escape hatch as Proposal 011
  .changeset/proposal-011-string-name-escape-hatch.md
  docs/proposals/011-string-name-escape-hatch.md
  packages/design-data-spec/spec/token-format.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

docs(spec): draft RFC-C agent-readable surface spec and promote in RFC index
  docs/rfc-coordination.md
  packages/design-data-spec/spec/agent-surface.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

docs(spec): draft RFC-C agent-readable surface and promote in RFC index (#839)
  docs/rfc-coordination.md
  packages/design-data-spec/spec/agent-surface.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(tokens): generalize text-align schema to alignment
  .changeset/generalize-text-align-to-alignment.md
  docs/markdown/tokens/typography.md
  docs/site/public/schemas/token-types/alignment.json
  packages/tokens/schemas/token-file.json
  packages/tokens/schemas/token-types/alignment.json
  packages/tokens/src/typography.json
  sdk/core/src/figma/mapping.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(tokens): generalize text-align schema to alignment (#840)
  .changeset/generalize-text-align-to-alignment.md
  docs/markdown/tokens/typography.md
  docs/site/public/schemas/token-types/alignment.json
  packages/tokens/schemas/token-file.json
  packages/tokens/schemas/token-types/alignment.json
  packages/tokens/src/typography.json
  sdk/core/src/figma/mapping.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (#838)
  .changeset/generalize-text-align-to-alignment.md
  .changeset/proposal-010-composite-token-support.md
  .changeset/proposal-011-string-name-escape-hatch.md
  .changeset/registry-anatomy-variants-expansion.md
  docs/s2-tokens-viewer/CHANGELOG.md
  docs/s2-tokens-viewer/package.json
  packages/design-data-spec/CHANGELOG.md
  packages/design-data-spec/package.json
  packages/design-system-registry/CHANGELOG.md
  packages/design-system-registry/package.json
  packages/tokens/CHANGELOG.md
  packages/tokens/package.json
  tools/markdown-generator/CHANGELOG.md
  tools/markdown-generator/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
  tools/token-csv-generator/CHANGELOG.md
  tools/token-csv-generator/package.json
  tools/token-mapping-analyzer/CHANGELOG.md
  tools/token-mapping-analyzer/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

docs: deploy latest spec
  .github/workflows/deploy-docs.yml
Due: prettier --write

Deploy latest (#841)
  .github/workflows/deploy-docs.yml
Due: prettier --write

[create-pull-request] automated change
  packages/tokens/src/color-aliases.json
  packages/tokens/src/color-component.json
  packages/tokens/src/layout-component.json
Due: prettier --write

chore: add changeset for SDS-16041 Tree and list view update
  .changeset/20260511-12e492d1.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (#843)
  .changeset/20260511-12e492d1.md
  docs/s2-tokens-viewer/CHANGELOG.md
  docs/s2-tokens-viewer/package.json
  packages/tokens/CHANGELOG.md
  packages/tokens/package.json
  tools/markdown-generator/CHANGELOG.md
  tools/markdown-generator/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
  tools/token-csv-generator/CHANGELOG.md
  tools/token-csv-generator/package.json
  tools/token-mapping-analyzer/CHANGELOG.md
  tools/token-mapping-analyzer/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

chore: remove token-csv-generator tool
  .moon/workspace.yml
  README.md
  docs/site/src/tools.md
  pnpm-lock.yaml
  tools/token-csv-generator/.gitignore
  tools/token-csv-generator/CHANGELOG.md
  tools/token-csv-generator/README.md
  tools/token-csv-generator/moon.yml
  tools/token-csv-generator/package.json
  tools/token-csv-generator/src/index.js
  tools/token-csv-generator/src/lib/shared.js
  tools/token-csv-generator/test/index.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

docs(spec): phase 6.0 slots and events audit
  packages/design-data-spec/audits/events.audit.md
  packages/design-data-spec/audits/slots.audit.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

docs(spec): add per-component cross-platform event matrix to events audit
  packages/design-data-spec/audits/events.audit.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

docs(spec): fix review issues in phase 6.0 audit documents
  packages/design-data-spec/audits/events.audit.md
  packages/design-data-spec/audits/slots.audit.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

docs(spec): phase 6.0 slots and events audit (#849)
  packages/design-data-spec/audits/events.audit.md
  packages/design-data-spec/audits/slots.audit.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

docs(spec): phase 6.1 component format spec chapter and schema
  packages/design-data-spec/rules/rules.yaml
  packages/design-data-spec/schemas/component.schema.json
  packages/design-data-spec/spec/component-format.md
  packages/design-data-spec/spec/index.md
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(design-data-spec): address pr review issues on component-format chapter
  packages/design-data-spec/rules/rules.yaml
  packages/design-data-spec/schemas/component.schema.json
  packages/design-data-spec/spec/component-format.md
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

docs(design-data-spec): phase 6.2 anatomy declarations spec and schema
  packages/design-data-spec/rules/rules.yaml
  packages/design-data-spec/schemas/anatomy-part.schema.json
  packages/design-data-spec/spec/anatomy-format.md
  packages/design-data-spec/spec/index.md
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,yml,yaml}
  remark --use remark-frontmatter --use remark-gfm --use remark-github --output: any of: **/*.md
  pnpm changeset-lint check-file: any of: .changeset/*.md
