Repository adobe/spectrum-design-data: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,yml,yaml}": ["prettier --write"],
  "**/*.md": [
    "remark --use remark-frontmatter --use remark-gfm --use remark-github --output"
  ],
  "!**/.changeset/*.md": [],
  "!**/pnpm-lock.yaml": [],
  "!**/package-lock.json": [],
  "!**/yarn.lock": [],
  ".changeset/*.md": [
    "pnpm changeset-lint check-file"
  ]
}

fix(design-data): split colorRole/state fusion in color-aliases (dsi.9)
  .changeset/dsi9-colorrole-state-fusion.md
  docs/proposals/005-compound-states.md
  packages/design-data/tokens/color-aliases.tokens.json
  packages/design-data/tokens/semantic-color-palette.tokens.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): split colorRole/state/variant fusion in color-aliases (dsi.9) (#1255)
  .changeset/dsi9-colorrole-state-fusion.md
  docs/proposals/005-compound-states.md
  packages/design-data/tokens/color-aliases.tokens.json
  packages/design-data/tokens/semantic-color-palette.tokens.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): pin legacyKey on size-before-density residual (dg2)
  .changeset/dg2-legacykey-pin-size-before-density.md
  packages/design-data/tokens/layout-component.tokens.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): pin legacyKey on relation+size residual (a9t)
  .changeset/a9t-legacykey-pin-relation-size.md
  packages/design-data/tokens/layout-component.tokens.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

docs(design-data): correct dg2 changeset framing
  .changeset/dg2-legacykey-pin-size-before-density.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

docs(design-data): correct a9t changeset framing
  .changeset/a9t-legacykey-pin-relation-size.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): validate SPEC-009 compound state values segment-by-segment (boh)
  .changeset/boh-spec009-compound-state-segments.md
  sdk/core/src/validate/rules/spec009.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): validate SPEC-009 compound state values segment-by-segment (#1258)
  .changeset/boh-spec009-compound-state-segments.md
  sdk/core/src/validate/rules/spec009.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): decompose fused corner-radius-N ramp into scaleIndex (a3z)
  .changeset/a3z-decompose-corner-radius-scaleindex.md
  packages/design-data/tokens/layout.tokens.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): decompose corner-radius-N ramp into scaleIndex (a3z) (#1259)
  .changeset/a3z-decompose-corner-radius-scaleindex.md
  packages/design-data/tokens/layout.tokens.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): decompose line-height-font-size-N reference (dsi.12)
  .changeset/dsi12-line-height-font-size-reference.md
  packages/design-data/fields/referenceScaleIndex.json
  packages/design-data/tokens/typography.tokens.json
  sdk/core/src/registry_data.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

docs(design-data): note legacy-verify result in dsi.12 changeset
  .changeset/dsi12-line-height-font-size-reference.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): add icon-domain recognition to decompose/serialize (5p3)
  .changeset/5p3-decompose-icon-scaleindex.md
  packages/design-data/tokens/layout-component.tokens.json
  packages/design-data/tokens/layout.tokens.json
  tools/token-mapping-analyzer/src/apply.js
  tools/token-mapping-analyzer/src/decomposer.js
  tools/token-mapping-analyzer/src/index.js
  tools/token-mapping-analyzer/src/registry-index.js
  tools/token-mapping-analyzer/test/apply.test.js
  tools/token-mapping-analyzer/test/decomposer.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): pin state/anatomy/emphasis fusion in color-component (dsi.11)
  .changeset/dsi11-pin-state-anatomy-fusion.md
  packages/design-data/tokens/color-component.tokens.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(wasm): update stale parity test fixture after accent-* decompose
  sdk/wasm/test/parity.test.js
Due: prettier --write

fix(wasm): update stale parity test fixture after accent-* decompose (#1263)
  sdk/wasm/test/parity.test.js
Due: prettier --write

fix(design-data): declare missing component anatomy/state values (7a5)
  .changeset/7a5-component-anatomy-state-gaps.md
  packages/design-data/components/stack-item.json
  packages/design-data/components/swatch.json
  packages/design-data/components/tree-view.json
  sdk/core/src/data_source/embedded.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): declare missing component anatomy/state values (7a5) (#1264)
  .changeset/7a5-component-anatomy-state-gaps.md
  packages/design-data/components/stack-item.json
  packages/design-data/components/swatch.json
  packages/design-data/components/tree-view.json
  sdk/core/src/data_source/embedded.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(sdk): resolve structured token names in SPEC-027
  .changeset/soc-spec027-structured-name-resolution.md
  sdk/core/src/validate/rules/spec027.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(sdk): resolve structured token names in SPEC-027 (#1265)
  .changeset/soc-spec027-structured-name-resolution.md
  sdk/core/src/validate/rules/spec027.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): load components in CI validate, restore SPEC-018/020/022 checks (closes #0jm)
  .changeset/0jm-components-path-ci-gate.md
  packages/design-data/components/action-bar.json
  packages/design-data/components/avatar.json
  packages/design-data/components/bar-panel.json
  packages/design-data/components/card-horizontal.json
  packages/design-data/components/card.json
  packages/design-data/components/coach-mark.json
  packages/design-data/components/collection-card.json
  packages/design-data/components/color-control.json
  packages/design-data/components/combo-box.json
  packages/design-data/components/date-field.json
  packages/design-data/components/double-calendar.json
  packages/design-data/components/field.json
  packages/design-data/components/floating-action-button.json
  packages/design-data/components/form-item.json
  packages/design-data/components/in-field-button.json
  packages/design-data/components/menu.json
  packages/design-data/components/segmented-text-field.json
  packages/design-data/components/select-box.json
  packages/design-data/components/side-navigation.json
  packages/design-data/components/single-calendar.json
  packages/design-data/components/slider.json
  packages/design-data/components/stack-item.json
  packages/design-data/components/status-light.json
  packages/design-data/components/steplist.json
  packages/design-data/components/swatch.json
  packages/design-data/components/table.json
  packages/design-data/components/time-field.json
  packages/design-data/components/tree-view.json
  packages/design-data/components/triple-calendar.json
  packages/design-data/components/user-card.json
  packages/design-data/moon.yml
  sdk/cli/src/main.rs
  sdk/core/src/data_source/embedded.rs
  sdk/core/src/report.rs
  sdk/core/src/validate/rules/mod.rs
  sdk/core/src/validate/rules/spec027.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

docs(changeset): reflect SPEC-027 backlog drop after merging main's rule fix
  .changeset/0jm-components-path-ci-gate.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): restore original JSON formatting for component edits
  packages/design-data/components/action-bar.json
  packages/design-data/components/avatar.json
  packages/design-data/components/bar-panel.json
  packages/design-data/components/card-horizontal.json
  packages/design-data/components/card.json
  packages/design-data/components/coach-mark.json
  packages/design-data/components/collection-card.json
  packages/design-data/components/color-control.json
  packages/design-data/components/date-field.json
  packages/design-data/components/double-calendar.json
  packages/design-data/components/field.json
  packages/design-data/components/floating-action-button.json
  packages/design-data/components/form-item.json
  packages/design-data/components/in-field-button.json
  packages/design-data/components/menu.json
  packages/design-data/components/segmented-text-field.json
  packages/design-data/components/select-box.json
  packages/design-data/components/side-navigation.json
  packages/design-data/components/single-calendar.json
  packages/design-data/components/slider.json
  packages/design-data/components/stack-item.json
  packages/design-data/components/status-light.json
  packages/design-data/components/steplist.json
  packages/design-data/components/swatch.json
  packages/design-data/components/table.json
  packages/design-data/components/time-field.json
  packages/design-data/components/tree-view.json
  packages/design-data/components/triple-calendar.json
  packages/design-data/components/user-card.json
  packages/design-data/moon.yml
Due: prettier --write

Version Packages (#1252)
  .changeset/0jm-components-path-ci-gate.md
  .changeset/5p3-decompose-icon-scaleindex.md
  .changeset/7a5-component-anatomy-state-gaps.md
  .changeset/a3z-decompose-corner-radius-scaleindex.md
  .changeset/a9t-legacykey-pin-relation-size.md
  .changeset/boh-spec009-compound-state-segments.md
  .changeset/dg2-legacykey-pin-size-before-density.md
  .changeset/dsi10-corner-radius-registry-gap.md
  .changeset/dsi11-pin-state-anatomy-fusion.md
  .changeset/dsi12-line-height-font-size-reference.md
  .changeset/dsi6-decompose-scaleindex-colorrole.md
  .changeset/dsi7-legacykey-pin-density-before-size.md
  .changeset/dsi9-colorrole-state-fusion.md
  .changeset/soc-spec027-structured-name-resolution.md
  packages/component-schemas/CHANGELOG.md
  packages/component-schemas/package.json
  packages/design-data/CHANGELOG.md
  packages/design-data/package.json
  packages/design-system-registry/CHANGELOG.md
  packages/design-system-registry/package.json
  tools/component-options-editor/CHANGELOG.md
  tools/component-options-editor/package.json
  tools/design-data-agent-mcp/CHANGELOG.md
  tools/design-data-agent-mcp/package.json
  tools/design-data-agent-mcp/skills/design-data/SKILL.md
  tools/design-data-mcp/CHANGELOG.md
  tools/design-data-mcp/package.json
  tools/design-data-skill/skills/design-data/SKILL.md
  tools/markdown-generator/CHANGELOG.md
  tools/markdown-generator/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
  tools/token-corpus-migrate/CHANGELOG.md
  tools/token-corpus-migrate/package.json
  tools/token-naming-audit/CHANGELOG.md
  tools/token-naming-audit/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

gitblobstore: checkandput manifest
  5ahrue8v6ekohg3r9521ipcc81h037p3.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  5v41nrtsth9jm2cqg63udea3tc1fvf6j
  manifest
Due: none

fix(design-data): triage SPEC-027 dangling tokenBindings (closes #vpk)
  .changeset/vpk-spec027-dangling-tokenbindings-triage.md
  packages/design-data/components/accordion.json
  packages/design-data/components/action-bar.json
  packages/design-data/components/alert-dialog.json
  packages/design-data/components/avatar.json
  packages/design-data/components/badge.json
  packages/design-data/components/cards.json
  packages/design-data/components/contextual-help.json
  packages/design-data/components/date-picker.json
  packages/design-data/components/drop-zone.json
  packages/design-data/components/help-text.json
  packages/design-data/components/list-view.json
  packages/design-data/components/menu.json
  packages/design-data/components/number-field.json
  packages/design-data/components/rating.json
  packages/design-data/components/search-field.json
  packages/design-data/components/select-box.json
  packages/design-data/components/side-navigation.json
  packages/design-data/components/slider.json
  packages/design-data/components/standard-dialog.json
  packages/design-data/components/status-light.json
  packages/design-data/components/steplist.json
  packages/design-data/components/table.json
  packages/design-data/components/tabs.json
  packages/design-data/components/tag.json
  packages/design-data/components/takeover-dialog.json
  packages/design-data/components/tree-view.json
  packages/design-data/moon.yml
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(component-diff-generator): don't flag tokenBindings array shrink as breaking
  .changeset/component-diff-tokenbindings-array-shrink.md
  tools/component-diff-generator/src/lib/component-diff.js
  tools/component-diff-generator/test/additional-scenarios.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): triage SPEC-027 dangling tokenBindings (#1267)
  .changeset/component-diff-tokenbindings-array-shrink.md
  .changeset/vpk-spec027-dangling-tokenbindings-triage.md
  packages/design-data/components/accordion.json
  packages/design-data/components/action-bar.json
  packages/design-data/components/alert-dialog.json
  packages/design-data/components/avatar.json
  packages/design-data/components/badge.json
  packages/design-data/components/cards.json
  packages/design-data/components/contextual-help.json
  packages/design-data/components/date-picker.json
  packages/design-data/components/drop-zone.json
  packages/design-data/components/help-text.json
  packages/design-data/components/list-view.json
  packages/design-data/components/menu.json
  packages/design-data/components/number-field.json
  packages/design-data/components/rating.json
  packages/design-data/components/search-field.json
  packages/design-data/components/select-box.json
  packages/design-data/components/side-navigation.json
  packages/design-data/components/slider.json
  packages/design-data/components/standard-dialog.json
  packages/design-data/components/status-light.json
  packages/design-data/components/steplist.json
  packages/design-data/components/table.json
  packages/design-data/components/tabs.json
  packages/design-data/components/tag.json
  packages/design-data/components/takeover-dialog.json
  packages/design-data/components/tree-view.json
  packages/design-data/moon.yml
  tools/component-diff-generator/src/lib/component-diff.js
  tools/component-diff-generator/test/additional-scenarios.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): converge key-focus to keyboard-focus state (spectrum-design-data-bja)
  .changeset/bja-converge-key-focus-keyboard-focus.md
  packages/design-data/components/stack-item.json
  packages/design-data/tokens/color-aliases.tokens.json
  packages/design-data/tokens/color-component.tokens.json
  packages/design-data/tokens/layout-component.tokens.json
  packages/design-data/tokens/semantic-color-palette.tokens.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(sdk): make design-data-wasm publishable and fix broken 0.4.0 packaging
  .changeset/wasm-fix-consumer-republish.md
  .gitignore
  sdk/wasm/.gitignore
  sdk/wasm/moon.yml
  sdk/wasm/package.json
  sdk/wasm/scripts/build.mjs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): include design-data-wasm in the release changeset
  .changeset/wasm-fix-consumer-republish.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(ci): build wasm before publish so design-data-wasm can release via CI
  .github/workflows/release.yml
Due: prettier --write

fix(sdk): make design-data-wasm publishable, fix broken 0.4.0 packaging (#1271)
  .changeset/wasm-fix-consumer-republish.md
  .github/workflows/release.yml
  .gitignore
  sdk/wasm/.gitignore
  sdk/wasm/moon.yml
  sdk/wasm/package.json
  sdk/wasm/scripts/build.mjs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (#1268)
  .changeset/component-diff-tokenbindings-array-shrink.md
  .changeset/vpk-spec027-dangling-tokenbindings-triage.md
  .changeset/wasm-fix-consumer-republish.md
  docs/s2-tokens-viewer/CHANGELOG.md
  docs/s2-tokens-viewer/package.json
  packages/component-schemas/CHANGELOG.md
  packages/component-schemas/package.json
  packages/design-data/CHANGELOG.md
  packages/design-data/package.json
  packages/design-system-registry/CHANGELOG.md
  packages/design-system-registry/package.json
  sdk/wasm/CHANGELOG.md
  sdk/wasm/package.json
  tools/component-diff-generator/CHANGELOG.md
  tools/component-diff-generator/package.json
  tools/component-options-editor/CHANGELOG.md
  tools/component-options-editor/package.json
  tools/design-data-agent-mcp/CHANGELOG.md
  tools/design-data-agent-mcp/package.json
  tools/design-data-agent-mcp/skills/design-data/SKILL.md
  tools/design-data-mcp/CHANGELOG.md
  tools/design-data-mcp/package.json
  tools/design-data-skill/skills/design-data/SKILL.md
  tools/design-data/CHANGELOG.md
  tools/design-data/package.json
  tools/markdown-generator/CHANGELOG.md
  tools/markdown-generator/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
  tools/token-corpus-migrate/CHANGELOG.md
  tools/token-corpus-migrate/package.json
  tools/token-naming-audit/CHANGELOG.md
  tools/token-naming-audit/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): set per-component documentationUrls (closes spectrum-design-data-9ze)
  .changeset/fix-component-documentation-urls.md
  packages/design-data/components/bar-panel.json
  packages/design-data/components/card-horizontal.json
  packages/design-data/components/card.json
  packages/design-data/components/collection-card.json
  packages/design-data/components/color-control.json
  packages/design-data/components/date-field.json
  packages/design-data/components/double-calendar.json
  packages/design-data/components/field.json
  packages/design-data/components/floating-action-button.json
  packages/design-data/components/form-item.json
  packages/design-data/components/in-field-button.json
  packages/design-data/components/segmented-text-field.json
  packages/design-data/components/single-calendar.json
  packages/design-data/components/stack-item.json
  packages/design-data/components/time-field.json
  packages/design-data/components/triple-calendar.json
  packages/design-data/components/user-card.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(ci): stop compiling wasm-pack from source in release workflow
  .github/workflows/release.yml
Due: prettier --write

fix(design-data,ci): fix component documentationUrls and wasm-pack release install (#1272)
  .changeset/fix-component-documentation-urls.md
  .github/workflows/release.yml
  packages/design-data/components/bar-panel.json
  packages/design-data/components/card-horizontal.json
  packages/design-data/components/card.json
  packages/design-data/components/collection-card.json
  packages/design-data/components/color-control.json
  packages/design-data/components/date-field.json
  packages/design-data/components/double-calendar.json
  packages/design-data/components/field.json
  packages/design-data/components/floating-action-button.json
  packages/design-data/components/form-item.json
  packages/design-data/components/in-field-button.json
  packages/design-data/components/segmented-text-field.json
  packages/design-data/components/single-calendar.json
  packages/design-data/components/stack-item.json
  packages/design-data/components/time-field.json
  packages/design-data/components/triple-calendar.json
  packages/design-data/components/user-card.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (#1273)
  .changeset/fix-component-documentation-urls.md
  packages/component-schemas/CHANGELOG.md
  packages/component-schemas/package.json
  packages/design-data/CHANGELOG.md
  packages/design-data/package.json
  packages/design-system-registry/CHANGELOG.md
  packages/design-system-registry/package.json
  tools/component-options-editor/CHANGELOG.md
  tools/component-options-editor/package.json
  tools/design-data-agent-mcp/CHANGELOG.md
  tools/design-data-agent-mcp/package.json
  tools/design-data-agent-mcp/skills/design-data/SKILL.md
  tools/design-data-mcp/CHANGELOG.md
  tools/design-data-mcp/package.json
  tools/design-data-skill/skills/design-data/SKILL.md
  tools/markdown-generator/CHANGELOG.md
  tools/markdown-generator/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
  tools/token-corpus-migrate/CHANGELOG.md
  tools/token-corpus-migrate/package.json
  tools/token-naming-audit/CHANGELOG.md
  tools/token-naming-audit/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(ci): isolate wasm build from npm publish job to fix OIDC ENEEDAUTH
  .github/workflows/release.yml
Due: prettier --write
