Repository adobe/spectrum-design-data: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,yml,yaml}": ["prettier --write"],
  "**/*.md": [
    "remark --use remark-frontmatter --use remark-gfm --use remark-github --output"
  ],
  "!**/.changeset/*.md": [],
  "!**/pnpm-lock.yaml": [],
  "!**/package-lock.json": [],
  "!**/yarn.lock": [],
  ".changeset/*.md": [
    "pnpm changeset-lint check-file"
  ]
}

fix(sdk): load query/resolve/legacy-output-cascaded tokens from resolved source (#1360)
  .changeset/query-resolve-legacy-cascade-source.md
  sdk/cli/src/main.rs
  sdk/cli/tests/cli_source.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(tui): normalize version string in all header-rendering snapshots
  sdk/tui/tests/snapshots.rs
  sdk/tui/tests/snapshots/snapshots__palette_open_80x24.snap
  sdk/tui/tests/snapshots/snapshots__wizard_screen1_80x24.snap
Due: none

fix(sdk): load validate/dump-legacy-keys tokens from resolved source
  .changeset/validate-dump-legacy-keys-source.md
  sdk/cli/src/main.rs
  sdk/cli/tests/cli_source.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

refactor(sdk): extract resolve_data_source helper for CLI resolve boilerplate
  sdk/cli/src/main.rs
Due: none

fix(sdk): load validate/dump-legacy-keys tokens from resolved source (#1363)
  .changeset/validate-dump-legacy-keys-source.md
  sdk/cli/src/main.rs
  sdk/cli/tests/cli_source.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(tui): normalize version string in all header-rendering snapshots (#1362)
  sdk/tui/tests/snapshots.rs
  sdk/tui/tests/snapshots/snapshots__palette_open_80x24.snap
  sdk/tui/tests/snapshots/snapshots__wizard_screen1_80x24.snap
Due: none

fix(sdk): sync Cargo.lock's design-data-tui entry in version-sync script
  sdk/Cargo.lock
  sdk/moon.yml
  sdk/scripts/sync-cargo-version.mjs
Due: prettier --write

fix(sdk): don't conflate a missing Cargo.lock match with already-synced
  sdk/scripts/sync-cargo-version.mjs
Due: none

fix(sdk): sync Cargo.lock's design-data-tui entry in version-sync script (#1364)
  sdk/Cargo.lock
  sdk/moon.yml
  sdk/scripts/sync-cargo-version.mjs
Due: prettier --write

fix(sdk): enforce cascade type-safety on alias-only override targets
  .changeset/cascade-alias-override-type-safety.md
  sdk/core/src/graph.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(sdk): enforce cascade type-safety on alias-only override targets (#1365)
  .changeset/cascade-alias-override-type-safety.md
  sdk/core/src/graph.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(sdk): ship spec schemas in tarball so manifest validation runs
  .changeset/ship-spec-schemas-tarball.md
  sdk/core/src/data_source/fetch.rs
  sdk/core/src/manifest.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(sdk): embed manifest.schema.json in the fallback data source too
  .changeset/ship-spec-schemas-tarball.md
  sdk/core/src/data_source/embedded.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(sdk): ship spec schemas in tarball so manifest validation runs (#1366)
  .changeset/ship-spec-schemas-tarball.md
  sdk/core/src/data_source/embedded.rs
  sdk/core/src/data_source/fetch.rs
  sdk/core/src/manifest.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(cli): add validate-manifest subcommand
  .changeset/validate-manifest-subcommand.md
  sdk/cli/src/main.rs
  sdk/cli/tests/cli_manifest.rs
  sdk/core/src/data_source/mod.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(cli): add validate-manifest subcommand (#1367)
  .changeset/validate-manifest-subcommand.md
  sdk/cli/src/main.rs
  sdk/cli/tests/cli_manifest.rs
  sdk/core/src/data_source/mod.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(ci): give each release binary a distinct asset name
  .github/workflows/release.yml
Due: prettier --write

fix(ci): give each release binary a distinct asset name (#1368)
  .github/workflows/release.yml
Due: prettier --write

fix(cli): release 0.12.1 for Homebrew distribution
  sdk/Cargo.lock
  sdk/cli/Cargo.toml
Due: none

fix(cli): release 0.12.1 for Homebrew distribution (#1369)
  sdk/Cargo.lock
  sdk/cli/Cargo.toml
Due: none

feat(homebrew): add Formula/design-data.rb for CLI distribution
  Formula/design-data.rb
Due: none

feat(ci): auto-bump Homebrew formula on CLI release
  .github/workflows/release.yml
Due: prettier --write

fix(ci): restrict Homebrew formula bump to main pushes
  .github/workflows/release.yml
Due: prettier --write

feat(homebrew): add design-data CLI formula with auto-bump (#1370)
  .github/workflows/release.yml
  Formula/design-data.rb
Due: prettier --write

feat(ci): add reusable design-data validation composite action
  .github/actions/validate/README.md
  .github/actions/validate/action.yml
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(tokens): add opacity token scale
  .changeset/opacity-tokens.md
  packages/design-data/tokens/color-aliases.tokens.json
  packages/tokens/src/color-aliases.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(tokens): add opacity token scale (#1348)
  .changeset/opacity-tokens.md
  packages/design-data/tokens/color-aliases.tokens.json
  packages/tokens/src/color-aliases.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (#1372)
  .changeset/opacity-tokens.md
  docs/s2-tokens-viewer/CHANGELOG.md
  docs/s2-tokens-viewer/package.json
  packages/token-names/CHANGELOG.md
  packages/token-names/package.json
  packages/tokens/CHANGELOG.md
  packages/tokens/package.json
  tools/markdown-generator/CHANGELOG.md
  tools/markdown-generator/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
  tools/token-mapping-analyzer/CHANGELOG.md
  tools/token-mapping-analyzer/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

docs(cli): document Homebrew/cargo/release install methods
  docs/scenarios.md
  packages/design-data-spec/spec/agent-surface.md
  sdk/cli/README.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

chore(serena): refresh project config to current format
  .serena/project.yml
Due: prettier --write

chore(serena): refresh project config to current format (#1374)
  .serena/project.yml
Due: prettier --write

docs(cli): document Homebrew/cargo/release install methods (#1373)
  docs/scenarios.md
  packages/design-data-spec/spec/agent-surface.md
  sdk/cli/README.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(ci): fix exit code capture and honor cli-version for homebrew installs
  .github/actions/validate/action.yml
Due: prettier --write

feat(ci): add reusable design-data validation composite action (#1371)
  .github/actions/validate/README.md
  .github/actions/validate/action.yml
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(sdk): schema-validate extensions.tokens in platform manifest
  .changeset/manifest-extensions-tokens-schema.md
  packages/design-data-spec/schemas/manifest.schema.json
  sdk/core/src/schema.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix: address PR #1376 review findings
  .changeset/manifest-extensions-tokens-schema.md
  sdk/core/src/schema.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(sdk): schema-validate extensions.tokens in platform manifest (#1376)
  .changeset/manifest-extensions-tokens-schema.md
  packages/design-data-spec/schemas/manifest.schema.json
  sdk/core/src/schema.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(ios-override-importer): import font-size override rows
  sdk/cli/src/main.rs
  tools/ios-override-importer/src/emit-manifest.js
  tools/ios-override-importer/src/find-token-uuid.js
  tools/ios-override-importer/src/gaps-report.js
  tools/ios-override-importer/src/parse-scale.js
  tools/ios-override-importer/test/cli.test.js
  tools/ios-override-importer/test/emit-manifest.test.js
  tools/ios-override-importer/test/find-token-uuid.test.js
  tools/ios-override-importer/test/parse-scale.test.js
Due: prettier --write

refactor(ios-override-importer): dedupe splitAliases into resolve-target.js
  tools/ios-override-importer/src/emit-manifest.js
  tools/ios-override-importer/src/resolve-target.js
Due: prettier --write

feat(ios-override-importer): import font-size override rows (#1378)
  sdk/cli/src/main.rs
  tools/ios-override-importer/src/emit-manifest.js
  tools/ios-override-importer/src/find-token-uuid.js
  tools/ios-override-importer/src/gaps-report.js
  tools/ios-override-importer/src/parse-scale.js
  tools/ios-override-importer/src/resolve-target.js
  tools/ios-override-importer/test/cli.test.js
  tools/ios-override-importer/test/emit-manifest.test.js
  tools/ios-override-importer/test/find-token-uuid.test.js
  tools/ios-override-importer/test/parse-scale.test.js
Due: prettier --write
