Repository adobe/spectrum-design-data: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (beta) (#1498)
  .changeset/pre.json
  packages/component-schemas/CHANGELOG.md
  packages/component-schemas/package.json
  packages/design-data/CHANGELOG.md
  packages/design-data/package.json
  packages/design-system-registry/CHANGELOG.md
  packages/design-system-registry/package.json
  tools/component-options-editor/CHANGELOG.md
  tools/component-options-editor/package.json
  tools/design-data-agent-mcp/CHANGELOG.md
  tools/design-data-agent-mcp/package.json
  tools/design-data-agent-mcp/skills/design-data/SKILL.md
  tools/design-data-mcp/CHANGELOG.md
  tools/design-data-mcp/package.json
  tools/design-data-skill/skills/design-data/SKILL.md
  tools/markdown-generator/CHANGELOG.md
  tools/markdown-generator/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
  tools/token-corpus-migrate/CHANGELOG.md
  tools/token-corpus-migrate/package.json
  tools/token-naming-audit/CHANGELOG.md
  tools/token-naming-audit/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(docs): wrap mobile navigation links
  docs/site/src/assets/css/base/index.css
Due: none

fix(docs): prevent mobile navigation clipping (#1499)
  docs/site/src/assets/css/base/index.css
Due: none

fix(resolve): disambiguate property token resolution
  .changeset/disambiguate-resolve-token.md
  .changeset/fix-read-tool-doc-examples.md
  .changeset/refresh-embedded-wasm-dataset.md
  docs/site/src/pages/ai.md
  sdk/core/src/cascade.rs
  sdk/core/src/query.rs
  sdk/wasm/src/dataset.rs
  sdk/wasm/src/types.rs
  tools/design-data-agent-mcp/DEMOS.md
  tools/design-data-agent-mcp/scripts/verify-demos.mjs
  tools/design-data-agent-mcp/skills/design-data/SKILL.md
  tools/design-data-agent-mcp/src/tools/read.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

test(resolve): cover color role and component narrowing
  sdk/core/src/cascade.rs
  sdk/core/src/query.rs
  tools/design-data-agent-mcp/scripts/verify-demos.mjs
Due: none

fix(resolve): disambiguate property token resolution (#1500)
  .changeset/disambiguate-resolve-token.md
  .changeset/fix-read-tool-doc-examples.md
  .changeset/refresh-embedded-wasm-dataset.md
  docs/site/src/pages/ai.md
  sdk/core/src/cascade.rs
  sdk/core/src/query.rs
  sdk/wasm/src/dataset.rs
  sdk/wasm/src/types.rs
  tools/design-data-agent-mcp/DEMOS.md
  tools/design-data-agent-mcp/scripts/verify-demos.mjs
  tools/design-data-agent-mcp/skills/design-data/SKILL.md
  tools/design-data-agent-mcp/src/tools/read.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(wasm): clarify component query support
  .changeset/clarify-component-query-contract.md
  sdk/core/src/query.rs
  sdk/wasm/src/dataset.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

gitblobstore: checkandput manifest
  c2p3s2s82vodlk2bfv4si1obh93ahj09.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  cefs4uvepjudcbsf6stqs6t07hn9538e
  manifest
Due: none

test(wasm): align indexed field parity
  sdk/wasm/test/parity.test.js
Due: prettier --write

fix(wasm): clarify component query support (#1502)
  .changeset/clarify-component-query-contract.md
  sdk/core/src/query.rs
  sdk/wasm/src/dataset.rs
  sdk/wasm/test/parity.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(agent-mcp): source primer.modeSets from ds.primer() instead of field catalog
  .changeset/fix-primer-mode-sets.md
  tools/design-data-agent-mcp/DEMOS.md
  tools/design-data-agent-mcp/scripts/verify-demos.mjs
  tools/design-data-agent-mcp/src/tools/read.js
  tools/design-data-agent-mcp/test/read.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

gitblobstore: checkandput manifest
  5hi195hqdppsgrjh16qi48h4fvqksv15.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  m89bj025kai0639jo1m4r3464f4rq91e
  manifest
Due: none

fix(agent-mcp): source primer.modeSets from ds.primer() instead of field catalog (#1504)
  .changeset/fix-primer-mode-sets.md
  tools/design-data-agent-mcp/DEMOS.md
  tools/design-data-agent-mcp/scripts/verify-demos.mjs
  tools/design-data-agent-mcp/src/tools/read.js
  tools/design-data-agent-mcp/test/read.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (#1501)
  .changeset/clarify-component-query-contract.md
  .changeset/disambiguate-resolve-token.md
  .changeset/fix-primer-mode-sets.md
  .changeset/fix-read-tool-doc-examples.md
  .changeset/refresh-embedded-wasm-dataset.md
  docs/s2-tokens-viewer/CHANGELOG.md
  docs/s2-tokens-viewer/package.json
  sdk/wasm/CHANGELOG.md
  sdk/wasm/package.json
  tools/design-data-agent-mcp/CHANGELOG.md
  tools/design-data-agent-mcp/package.json
  tools/design-data-agent-mcp/skills/design-data/SKILL.md
  tools/design-data-mcp/CHANGELOG.md
  tools/design-data-mcp/package.json
  tools/design-data/CHANGELOG.md
  tools/design-data/package.json
  tools/token-naming-audit/CHANGELOG.md
  tools/token-naming-audit/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(agent-mcp): add standalone suggest_token tool
  .changeset/add-suggest-token-tool.md
  docs/site/src/pages/ai.md
  tools/design-data-agent-mcp/DEMOS.md
  tools/design-data-agent-mcp/README.md
  tools/design-data-agent-mcp/scripts/verify-demos.mjs
  tools/design-data-agent-mcp/skills/design-data/SKILL.md
  tools/design-data-agent-mcp/src/tools/read.js
  tools/design-data-agent-mcp/test/index.test.js
  tools/design-data-agent-mcp/test/read.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

gitblobstore: checkandput manifest
  manifest
  re74qkisgf4dvu6v35ogvl04cr9m5o9j.darc
Due: none

gitblobstore: checkandput manifest
  manifest
  qdftqv16ki9qon6qg6a853u7dl53ku2j
Due: none

dolt remote info
  DOLT_REMOTE.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(agent-mcp): add standalone suggest_token tool (#1505)
  .changeset/add-suggest-token-tool.md
  docs/site/src/pages/ai.md
  tools/design-data-agent-mcp/DEMOS.md
  tools/design-data-agent-mcp/README.md
  tools/design-data-agent-mcp/scripts/verify-demos.mjs
  tools/design-data-agent-mcp/skills/design-data/SKILL.md
  tools/design-data-agent-mcp/src/tools/read.js
  tools/design-data-agent-mcp/test/index.test.js
  tools/design-data-agent-mcp/test/read.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (#1506)
  .changeset/add-suggest-token-tool.md
  tools/design-data-agent-mcp/CHANGELOG.md
  tools/design-data-agent-mcp/package.json
  tools/design-data-agent-mcp/skills/design-data/SKILL.md
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

docs(design-data-agent-mcp): fix stale dataset-freshness row in DEMOS.md
  tools/design-data-agent-mcp/DEMOS.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

docs(design-data-agent-mcp): fix stale dataset-freshness row in DEMOS.md (#1507)
  tools/design-data-agent-mcp/DEMOS.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

docs(ai): clarify resolve_token disambiguation
  docs/site/src/pages/ai.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(changeset-linter): require design-data-wasm bump on token-data changes
  .changeset/require-wasm-bump-on-data-change.md
  .github/workflows/changeset-lint.yml
  tools/changeset-linter/src/cli.js
  tools/changeset-linter/src/index.js
  tools/changeset-linter/test/changeset-linter.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(changeset-linter): scope wasm-bump check to frontmatter only
  tools/changeset-linter/src/index.js
  tools/changeset-linter/test/changeset-linter.test.js
Due: prettier --write

feat(changeset-linter): require design-data-wasm bump on token-data changes (#1509)
  .changeset/require-wasm-bump-on-data-change.md
  .github/workflows/changeset-lint.yml
  tools/changeset-linter/src/cli.js
  tools/changeset-linter/src/index.js
  tools/changeset-linter/test/changeset-linter.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

docs(ai): clarify resolve_token disambiguation (#1508)
  docs/site/src/pages/ai.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(changeset-linter): scope wasm-bump check to changesets added in the diff
  .changeset/scope-wasm-bump-check-to-pr-changesets.md
  tools/changeset-linter/src/cli.js
  tools/changeset-linter/src/index.js
  tools/changeset-linter/test/changeset-linter.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(changeset-linter): scope wasm-bump check to changesets added in the diff (#1511)
  .changeset/scope-wasm-bump-check-to-pr-changesets.md
  tools/changeset-linter/src/cli.js
  tools/changeset-linter/src/index.js
  tools/changeset-linter/test/changeset-linter.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (#1510)
  .changeset/require-wasm-bump-on-data-change.md
  .changeset/scope-wasm-bump-check-to-pr-changesets.md
  tools/changeset-linter/CHANGELOG.md
  tools/changeset-linter/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(sdk): add shadcn registry:theme export (validation spike)
  sdk/Cargo.lock
  sdk/Cargo.toml
  sdk/cli/Cargo.toml
  sdk/cli/src/main.rs
  sdk/plugins/shadcn/Cargo.toml
  sdk/plugins/shadcn/src/lib.rs
Due: none

docs(shadcn): add sample registry:theme and action-button item output
  sdk/plugins/shadcn/examples/README.md
  sdk/plugins/shadcn/examples/action-button.registry-item.sample.json
  sdk/plugins/shadcn/examples/shadcn-theme.sample.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(shadcn): add wasm changeset bump
  .changeset/shadcn-registry.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(platform-manifests): flexible platform incubation for RS/SWC
  .design-data.toml
  packages/design-data-spec/schemas/manifest.schema.json
  packages/design-data-spec/spec/manifest.md
  packages/design-data/registry/platform-implementations.json
  platforms/README.md
  platforms/react-spectrum/README.md
  platforms/react-spectrum/extensions/README.md
  platforms/react-spectrum/manifest.json
  sdk/cli/src/main.rs
  sdk/cli/tests/cli_platform.rs
  sdk/core/src/data_source/fetch.rs
  sdk/core/src/data_source/mod.rs
  sdk/core/src/manifest.rs
  sdk/core/src/schema.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(platform-manifests): add formatting.prefix, seed SWC manifest
  .changeset/spectrum-formatting-prefix.md
  packages/design-data-spec/schemas/manifest.schema.json
  packages/design-data-spec/spec/manifest.md
  platforms/web-components/README.md
  platforms/web-components/extensions/README.md
  platforms/web-components/manifest.json
  sdk/core/src/naming.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,yml,yaml}
  remark --use remark-frontmatter --use remark-gfm --use remark-github --output: any of: **/*.md
  pnpm changeset-lint check-file: any of: .changeset/*.md
