Repository adobe/spectrum-design-data: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,yml,yaml}": ["prettier --write"],
  "**/*.md": [
    "remark --use remark-frontmatter --use remark-gfm --use remark-github --output"
  ],
  "!**/.changeset/*.md": [],
  "!**/pnpm-lock.yaml": [],
  "!**/package-lock.json": [],
  "!**/yarn.lock": [],
  ".changeset/*.md": [
    "pnpm changeset-lint check-file"
  ]
}

fix(build): fix moon 2.3.3 schema regressions in workspace and task configs
  .moon/workspace.yml
  docs/release-timeline/moon.yml
  docs/s2-tokens-viewer/moon.yml
  docs/site/moon.yml
  packages/design-data/moon.yml
  packages/tokens/moon.yml
  sdk/moon.yml
  sdk/wasm/moon.yml
Due: prettier --write

fix(build): fix moon 2.3.3 workspace.yml and CI guard compatibility
  .github/scripts/check-ci-coverage.mjs
  .moon/workspace.yml
Due: prettier --write

fix(component-options-editor): generate bundledSchemas before tsc in pretest
  tools/component-options-editor/package.json
Due: prettier --write

fix(build): use runInCI:false for one-shot tasks; utility preset for tui
  .github/scripts/check-ci-coverage.mjs
  .moon/wasm-pack.toml
  docs/site/moon.yml
  moon.yml
  packages/component-schemas/moon.yml
  packages/tokens/moon.yml
  sdk/moon.yml
  tools/component-diff-generator/moon.yml
  tools/demo/moon.yml
  tools/diff-generator/moon.yml
  tools/spectrum-diff-core/moon.yml
  tools/transform-tokens-json/moon.yml
Due: prettier --write

fix(build): sdk:tui runInCI:false instead of utility preset
  sdk/moon.yml
Due: prettier --write

feat(design-data-mcp): package as Claude Desktop Extension for Anthropic Software Directory
  .changeset/design-data-mcp-desktop-extension.md
  pnpm-lock.yaml
  tools/design-data-mcp/README.md
  tools/design-data-mcp/moon.yml
  tools/design-data-mcp/package.json
  tools/design-data-mcp/scripts/generate-mcpb.mjs
  tools/design-data-mcp/src/index.js
  tools/design-data-mcp/src/tools/design-data.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data-mcp): post-review cleanup for Desktop Extension packaging
  .changeset/design-data-mcp-review-fixes.md
  pnpm-lock.yaml
  tools/design-data-mcp/moon.yml
  tools/design-data-mcp/package.json
  tools/design-data-mcp/scripts/generate-mcpb.mjs
  tools/design-data-mcp/test/design-data.test.js
  tools/design-data-mcp/test/generate-mcpb.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (#1179)
  .changeset/design-data-mcp-desktop-extension.md
  .changeset/design-data-mcp-review-fixes.md
  tools/design-data-mcp/CHANGELOG.md
  tools/design-data-mcp/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data-mcp): bundle full MCP SDK dep tree and harden path validation
  .changeset/design-data-mcp-bundle-deps-fix.md
  tools/design-data-mcp/scripts/generate-mcpb.mjs
  tools/design-data-mcp/src/tools/design-data.js
  tools/design-data-mcp/test/bundle-smoke.test.js
  tools/design-data-mcp/test/design-data.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data-mcp): vendor only runtime files in MCPB bundle
  .changeset/design-data-mcp-bundle-slim.md
  tools/design-data-mcp/scripts/generate-mcpb.mjs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

test(design-data-mcp): assert bundle contents + wire package into CI
  .changeset/design-data-mcp-bundle-tests.md
  .github/ci-targets.json
  .moon/workspace.yml
  tools/design-data-mcp/ava.config.js
  tools/design-data-mcp/moon.yml
  tools/design-data-mcp/test/bundle-contents.test.js
  tools/design-data-mcp/test/bundle-smoke.test.js
  tools/design-data-mcp/test/helpers/ensure-bundle.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

chore(design-data-mcp): address PR review — squash changesets, clarify code comments
  .changeset/design-data-mcp-bundle-deps-fix.md
  .changeset/design-data-mcp-bundle-slim.md
  .changeset/design-data-mcp-bundle-tests.md
  .changeset/design-data-mcp-fixes.md
  pnpm-lock.yaml
  tools/design-data-mcp/scripts/generate-mcpb.mjs
  tools/design-data-mcp/test/design-data.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(ci): move demo:ci from node to rust CI block
  .github/ci-targets.json
Due: prettier --write

fix(ci): pre-install Rust in Node job to unblock proto toolchain setup
  .github/workflows/ci.yml
Due: prettier --write

fix(ci): pre-run pnpm install to prevent concurrent store races
  .github/workflows/ci.yml
Due: prettier --write

fix(ci): move design-data-mcp:test to rust CI block
  .github/ci-targets.json
Due: prettier --write

fix(design-data-mcp): declare sdk-wasm:build dep on stage task
  tools/design-data-mcp/moon.yml
Due: prettier --write

fix(design-data-mcp): use committed SVG source for icon generation
  tools/design-data-mcp/moon.yml
  tools/design-data-mcp/scripts/generate-mcpb.mjs
Due: prettier --write

fix(design-data-mcp): bundle full MCP SDK dep tree + harden path validation (#1181)
  .changeset/design-data-mcp-fixes.md
  .github/ci-targets.json
  .github/workflows/ci.yml
  .moon/workspace.yml
  pnpm-lock.yaml
  tools/design-data-mcp/ava.config.js
  tools/design-data-mcp/moon.yml
  tools/design-data-mcp/scripts/generate-mcpb.mjs
  tools/design-data-mcp/src/tools/design-data.js
  tools/design-data-mcp/test/bundle-contents.test.js
  tools/design-data-mcp/test/bundle-smoke.test.js
  tools/design-data-mcp/test/design-data.test.js
  tools/design-data-mcp/test/helpers/ensure-bundle.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(design-data-spec): add authoring-workflow spec backbone (Phase A1, RFC #625)
  .changeset/authoring-workflow-spec-backbone.md
  docs/rfc-coordination.md
  packages/design-data-spec/spec/authoring-workflow.md
  packages/design-data-spec/spec/index.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data-spec): resolve review findings on authoring-workflow spec
  docs/rfc-coordination.md
  packages/design-data-spec/spec/authoring-workflow.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(design-data-spec): add authoring-workflow spec backbone (Phase A1, RFC #625) (#1183)
  .changeset/authoring-workflow-spec-backbone.md
  docs/rfc-coordination.md
  packages/design-data-spec/spec/authoring-workflow.md
  packages/design-data-spec/spec/index.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(design-data-spec): complete Phase A spec ratification — A2–A5 (RFC #625)
  .changeset/agent-surface-phase-b-promotion.md
  .changeset/authoring-per-category-contracts.md
  .changeset/generation-conformance-fixtures.md
  .changeset/taxonomy-spec043-severity-schedule.md
  docs/rfc-coordination.md
  packages/design-data-spec/conformance/README.md
  packages/design-data-spec/conformance/generation/flat-token/expected/tokens.json
  packages/design-data-spec/conformance/generation/flat-token/input/tokens.tokens.json
  packages/design-data-spec/conformance/generation/mode-set-token/expected/tokens.json
  packages/design-data-spec/conformance/generation/mode-set-token/input/tokens.tokens.json
  packages/design-data-spec/scripts/check-layout.mjs
  packages/design-data-spec/spec/agent-surface.md
  packages/design-data-spec/spec/authoring-workflow.md
  packages/design-data-spec/spec/evolution.md
  packages/design-data-spec/spec/taxonomy.md
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data-spec): address PR #1184 review findings (A2–A5)
  packages/design-data-spec/conformance/README.md
  packages/design-data-spec/conformance/generation/README.md
  packages/design-data-spec/spec/authoring-workflow.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(design-data-spec): complete Phase A spec ratification — A2–A5 (RFC #625) (#1184)
  .changeset/agent-surface-phase-b-promotion.md
  .changeset/authoring-per-category-contracts.md
  .changeset/generation-conformance-fixtures.md
  .changeset/taxonomy-spec043-severity-schedule.md
  docs/rfc-coordination.md
  packages/design-data-spec/conformance/README.md
  packages/design-data-spec/conformance/generation/README.md
  packages/design-data-spec/conformance/generation/flat-token/expected/tokens.json
  packages/design-data-spec/conformance/generation/flat-token/input/tokens.tokens.json
  packages/design-data-spec/conformance/generation/mode-set-token/expected/tokens.json
  packages/design-data-spec/conformance/generation/mode-set-token/input/tokens.tokens.json
  packages/design-data-spec/scripts/check-layout.mjs
  packages/design-data-spec/spec/agent-surface.md
  packages/design-data-spec/spec/authoring-workflow.md
  packages/design-data-spec/spec/evolution.md
  packages/design-data-spec/spec/taxonomy.md
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(tokens): restore ./src/* export — dropped when exports allowlist was introduced in #740
  .changeset/restore-tokens-src-exports.md
  packages/tokens/package.json
  packages/tokens/test/packageExports.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

test(tokens): add packageContents test — assert npm tarball ships all required files
  packages/tokens/test/packageContents.test.js
Due: prettier --write

test(tokens): fix pnpm-only violation + remove duplicate assertion (review feedback)
  packages/tokens/test/packageContents.test.js
  packages/tokens/test/packageExports.test.js
Due: prettier --write

fix(tokens): restore ./src/* subpath export (#1185)
  .changeset/restore-tokens-src-exports.md
  packages/tokens/package.json
  packages/tokens/test/packageContents.test.js
  packages/tokens/test/packageExports.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (#1182)
  .changeset/agent-surface-phase-b-promotion.md
  .changeset/authoring-per-category-contracts.md
  .changeset/authoring-workflow-spec-backbone.md
  .changeset/design-data-mcp-fixes.md
  .changeset/generation-conformance-fixtures.md
  .changeset/restore-tokens-src-exports.md
  .changeset/taxonomy-spec043-severity-schedule.md
  docs/s2-tokens-viewer/CHANGELOG.md
  docs/s2-tokens-viewer/package.json
  packages/design-data-spec/CHANGELOG.md
  packages/design-data-spec/package.json
  packages/token-names/CHANGELOG.md
  packages/token-names/package.json
  packages/tokens/CHANGELOG.md
  packages/tokens/package.json
  tools/design-data-mcp/CHANGELOG.md
  tools/design-data-mcp/package.json
  tools/markdown-generator/CHANGELOG.md
  tools/markdown-generator/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
  tools/token-mapping-analyzer/CHANGELOG.md
  tools/token-mapping-analyzer/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

[create-pull-request] automated change
  packages/tokens/src/layout.json
Due: prettier --write

chore: add changeset for Update small and extra small vertical base & accessory paddings
  .changeset/20260624-5eeadcd1.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

chore(design-data): sync cascade layout token values to match tokens patch
  .changeset/20260624-design-data-layout-sync.md
  packages/design-data/tokens/layout.tokens.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat: Update small and extra small vertical base & accessory paddings (#1186)
  .changeset/20260624-5eeadcd1.md
  .changeset/20260624-design-data-layout-sync.md
  packages/design-data/tokens/layout.tokens.json
  packages/tokens/src/layout.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(diff-generator): add <!-- --> separator in <details> for GFM rendering
  .changeset/20260624-diff-generator-gfm-details.md
  packages/component-schemas/CHANGELOG.md
  packages/tokens/CHANGELOG.md
  tools/diff-generator/src/templates/markdown.hbs
  tools/diff-generator/test/formatterHandlebars.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

test(diff-generator): assert all 9 <details> sections have <!-- --> separator
  tools/diff-generator/test/formatterHandlebars.test.js
Due: prettier --write

feat(write): add cascade token write path (Phase B / B1)
  sdk/core/src/write.rs
Due: none

fix(write): address three review findings in cascade write path
  sdk/core/src/write.rs
Due: none

feat(write): add cascade token write path (Phase B / B1) (#1190)
  sdk/core/src/write.rs
Due: none

chore(tooling): commit Scout, Serena, and tuiwright configs as team-standard
  .gitignore
  .scout/scout.config.yaml
  .serena/.gitignore
  .serena/project.yml
  CLAUDE.md
  tuiwright.toml
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output
