Repository adobe/spectrum-design-data: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(docs): stop layout-component.json aggregation from accumulating stale tokens
  .changeset/restore-s2-tokens-viewer.md
  docs/s2-tokens-viewer/scripts/resolve.mjs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(docs): restore s2-tokens-viewer search and value resolution (#1340)
  .changeset/restore-s2-tokens-viewer.md
  .github/ci-targets.json
  .gitignore
  docs/s2-tokens-viewer/.gitignore
  docs/s2-tokens-viewer/moon.yml
  docs/s2-tokens-viewer/scripts/resolve.mjs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(mcp): set DESIGN_DATA_ROOT for the design-data MCP server (#1341)
  .mcp.json
Due: prettier --write

Version Packages (#1337)
  .changeset/restore-s2-tokens-viewer.md
  .changeset/spec027-vpk1-safe-removes.md
  docs/s2-tokens-viewer/CHANGELOG.md
  docs/s2-tokens-viewer/package.json
  packages/component-schemas/CHANGELOG.md
  packages/component-schemas/package.json
  packages/design-data/CHANGELOG.md
  packages/design-data/package.json
  packages/design-system-registry/CHANGELOG.md
  packages/design-system-registry/package.json
  packages/token-names/CHANGELOG.md
  packages/token-names/package.json
  packages/tokens/CHANGELOG.md
  packages/tokens/package.json
  tools/component-options-editor/CHANGELOG.md
  tools/component-options-editor/package.json
  tools/design-data-agent-mcp/CHANGELOG.md
  tools/design-data-agent-mcp/package.json
  tools/design-data-agent-mcp/skills/design-data/SKILL.md
  tools/design-data-mcp/CHANGELOG.md
  tools/design-data-mcp/package.json
  tools/design-data-skill/skills/design-data/SKILL.md
  tools/markdown-generator/CHANGELOG.md
  tools/markdown-generator/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
  tools/token-corpus-migrate/CHANGELOG.md
  tools/token-corpus-migrate/package.json
  tools/token-mapping-analyzer/CHANGELOG.md
  tools/token-mapping-analyzer/package.json
  tools/token-naming-audit/CHANGELOG.md
  tools/token-naming-audit/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(docs): add token change request template and Token Studio sunset roadmap
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/token-change-request.yml
  docs/rfc-coordination.md
  docs/token-studio-sunset.md
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(docs): address review findings on token change request form
  .github/ISSUE_TEMPLATE/token-change-request.yml
Due: prettier --write

docs: add token change request template + Token Studio sunset roadmap (#1342)
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/token-change-request.yml
  docs/rfc-coordination.md
  docs/token-studio-sunset.md
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

docs: make token-change-request form intuitive for designers
  .github/ISSUE_TEMPLATE/token-change-request.yml
Due: prettier --write

docs: support batch token-change requests in the issue form
  .github/ISSUE_TEMPLATE/token-change-request.yml
Due: prettier --write

docs: support batch token-change requests in the issue form (#1343)
  .github/ISSUE_TEMPLATE/token-change-request.yml
Due: prettier --write

feat(tokens): add opacity + transparency tokens, deprecate legacy transparency tokens
  .changeset/opacity-transparency-tokens.md
  packages/design-data/registry/color-families.json
  packages/design-data/tokens/color-aliases.tokens.json
  packages/design-data/tokens/color-palette.tokens.json
  packages/tokens/src/color-aliases.json
  packages/tokens/src/color-palette.json
  sdk/core/src/registry_data.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

docs: reconcile RFC coordination index with shipped Phase B, CTR, and guidelines
  .changeset/reconcile-rfc-coordination-docs.md
  docs/rfc-coordination.md
  docs/token-studio-sunset.md
  packages/design-data-spec/spec/authoring-workflow.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(docs): resolve.mjs crash and duplicate work found in review of #1341
  .changeset/fix-resolve-cascade-and-dedupe.md
  docs/s2-tokens-viewer/scripts/resolve.mjs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(docs): correct beads-ID GitHub links and write_token normative level
  .changeset/reconcile-rfc-coordination-docs.md
  docs/rfc-coordination.md
  docs/token-studio-sunset.md
  packages/design-data-spec/spec/agent-surface.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

docs: reconcile RFC coordination index with shipped reality (#1349)
  .changeset/reconcile-rfc-coordination-docs.md
  docs/rfc-coordination.md
  docs/token-studio-sunset.md
  packages/design-data-spec/spec/agent-surface.md
  packages/design-data-spec/spec/authoring-workflow.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(docs): resolve.mjs crash and duplicate work in s2-tokens-viewer (#1350)
  .changeset/fix-resolve-cascade-and-dedupe.md
  docs/s2-tokens-viewer/scripts/resolve.mjs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (#1351)
  .changeset/fix-resolve-cascade-and-dedupe.md
  .changeset/reconcile-rfc-coordination-docs.md
  docs/s2-tokens-viewer/CHANGELOG.md
  docs/s2-tokens-viewer/package.json
  packages/design-data-spec/CHANGELOG.md
  packages/design-data-spec/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(sdk): decouple platform manifest from source; github tag/branch/sha pins
  .changeset/source-config-github-refs-and-hoisted-manifest.md
  docs/poc/ios-manifest/.design-data.toml
  docs/poc/ios-manifest/FINDINGS.md
  docs/poc/ios-manifest/manifest.json
  packages/design-data-spec/spec/dataset-layout.md
  sdk/README.md
  sdk/cli/tests/cli_manifest.rs
  sdk/core/src/data_source/fetch.rs
  sdk/core/src/data_source/mod.rs
  sdk/core/src/manifest.rs
  sdk/tui/tests/manifest.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(sdk): prune stale github cache refs (eviction scanned wrong parent)
  .changeset/source-config-github-refs-and-hoisted-manifest.md
  sdk/core/src/data_source/fetch.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

docs: move iOS platform-manifest POC to a standalone repo
  docs/poc/ios-manifest/.design-data.toml
  docs/poc/ios-manifest/FINDINGS.md
  docs/poc/ios-manifest/manifest.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(sdk): decouple platform manifest from source; github tag/branch/sha pins (#1353)
  .changeset/source-config-github-refs-and-hoisted-manifest.md
  packages/design-data-spec/spec/dataset-layout.md
  sdk/README.md
  sdk/cli/tests/cli_manifest.rs
  sdk/core/src/data_source/fetch.rs
  sdk/core/src/data_source/mod.rs
  sdk/core/src/manifest.rs
  sdk/tui/tests/manifest.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

docs: reconcile multi-platform strategy + RFC index with shipped manifest work
  SPECTRUM_MULTIPLATFORM_SDK_STRATEGY.md
  docs/rfc-coordination.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(sdk): update TUI snapshots for v0.7.0 version bump
  sdk/Cargo.lock
  sdk/tui/tests/snapshots/snapshots__palette_open_80x24.snap
  sdk/tui/tests/snapshots/snapshots__wizard_screen1_80x24.snap
Due: none

Version Packages (#1354)
  .changeset/source-config-github-refs-and-hoisted-manifest.md
  sdk/Cargo.lock
  sdk/tui/CHANGELOG.md
  sdk/tui/Cargo.toml
  sdk/tui/package.json
  sdk/tui/tests/snapshots/snapshots__palette_open_80x24.snap
  sdk/tui/tests/snapshots/snapshots__wizard_screen1_80x24.snap
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

docs: reconcile multi-platform strategy + RFC index with shipped manifest work (#1355)
  SPECTRUM_MULTIPLATFORM_SDK_STRATEGY.md
  docs/rfc-coordination.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(sdk): resolve override targets by legacy slug (closes 8bkb)
  .changeset/legacy-slug-override-target.md
  sdk/core/src/graph.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(sdk): resolve override targets by legacy slug (#1356)
  .changeset/legacy-slug-override-target.md
  sdk/core/src/graph.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(tools): iOS override-log -> platform manifest importer (h890.8)
  pnpm-lock.yaml
  tools/ios-override-importer/ava.config.js
  tools/ios-override-importer/moon.yml
  tools/ios-override-importer/package.json
  tools/ios-override-importer/src/categorize.js
  tools/ios-override-importer/src/cli.js
  tools/ios-override-importer/src/emit-manifest.js
  tools/ios-override-importer/src/find-token-uuid.js
  tools/ios-override-importer/src/gaps-report.js
  tools/ios-override-importer/src/parse-colorset.js
  tools/ios-override-importer/src/parse-csv.js
  tools/ios-override-importer/src/resolve-target.js
  tools/ios-override-importer/test/categorize.test.js
  tools/ios-override-importer/test/cli.test.js
  tools/ios-override-importer/test/emit-manifest.test.js
  tools/ios-override-importer/test/find-token-uuid.test.js
  tools/ios-override-importer/test/gaps-report.test.js
  tools/ios-override-importer/test/parse-colorset.test.js
  tools/ios-override-importer/test/parse-csv.test.js
  tools/ios-override-importer/test/resolve-target.test.js
Due: prettier --write

feat(sdk): expose legacy-name decomposition for platform-manifest tooling
  .changeset/ios-override-importer.md
  sdk/cli/src/main.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(sdk): add migrate legacy-output-cascaded for manifest-resolved snapshots (h890.10)
  .changeset/legacy-output-cascaded.md
  sdk/cli/src/main.rs
  sdk/cli/tests/cli_manifest.rs
  sdk/core/src/legacy.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(sdk): apply manifest overrides in place, fix schema-fallback self-match
  .changeset/legacy-output-cascaded.md
  sdk/cli/src/main.rs
  sdk/core/src/graph.rs
  sdk/core/src/legacy.rs
  tools/ios-override-importer/package.json
  tools/ios-override-importer/src/emit-manifest.js
  tools/ios-override-importer/src/find-token-uuid.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(tools): align ios-override-importer engines.node with repo convention
  tools/ios-override-importer/package.json
Due: prettier --write

feat(sdk): manifest-cascaded legacy export for tokentool codegen (#1358)
  .changeset/ios-override-importer.md
  .changeset/legacy-output-cascaded.md
  pnpm-lock.yaml
  sdk/cli/src/main.rs
  sdk/cli/tests/cli_manifest.rs
  sdk/core/src/graph.rs
  sdk/core/src/legacy.rs
  tools/ios-override-importer/ava.config.js
  tools/ios-override-importer/moon.yml
  tools/ios-override-importer/package.json
  tools/ios-override-importer/src/categorize.js
  tools/ios-override-importer/src/cli.js
  tools/ios-override-importer/src/emit-manifest.js
  tools/ios-override-importer/src/find-token-uuid.js
  tools/ios-override-importer/src/gaps-report.js
  tools/ios-override-importer/src/parse-colorset.js
  tools/ios-override-importer/src/parse-csv.js
  tools/ios-override-importer/src/resolve-target.js
  tools/ios-override-importer/test/categorize.test.js
  tools/ios-override-importer/test/cli.test.js
  tools/ios-override-importer/test/emit-manifest.test.js
  tools/ios-override-importer/test/find-token-uuid.test.js
  tools/ios-override-importer/test/gaps-report.test.js
  tools/ios-override-importer/test/parse-colorset.test.js
  tools/ios-override-importer/test/parse-csv.test.js
  tools/ios-override-importer/test/resolve-target.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(ci): install lld linker in release.yml's Linux jobs
  .github/workflows/release.yml
Due: prettier --write

fix(sdk): update TUI snapshots for v0.7.1 version bump
  sdk/tui/tests/snapshots/snapshots__palette_open_80x24.snap
  sdk/tui/tests/snapshots/snapshots__wizard_screen1_80x24.snap
Due: none

fix(wasm): update stale parity test query after background-color deprecation
  sdk/wasm/test/parity.test.js
Due: prettier --write

fix(ci): install lld linker in release.yml's Linux jobs (#1359)
  .github/workflows/release.yml
  sdk/wasm/test/parity.test.js
Due: prettier --write

Version Packages (#1357)
  .changeset/ios-override-importer.md
  .changeset/legacy-output-cascaded.md
  .changeset/legacy-slug-override-target.md
  docs/s2-tokens-viewer/CHANGELOG.md
  docs/s2-tokens-viewer/package.json
  sdk/tui/CHANGELOG.md
  sdk/tui/Cargo.toml
  sdk/tui/package.json
  sdk/tui/tests/snapshots/snapshots__palette_open_80x24.snap
  sdk/tui/tests/snapshots/snapshots__wizard_screen1_80x24.snap
  sdk/wasm/CHANGELOG.md
  sdk/wasm/package.json
  tools/design-data-agent-mcp/CHANGELOG.md
  tools/design-data-agent-mcp/package.json
  tools/design-data-agent-mcp/skills/design-data/SKILL.md
  tools/design-data-mcp/CHANGELOG.md
  tools/design-data-mcp/package.json
  tools/design-data/CHANGELOG.md
  tools/design-data/package.json
  tools/token-naming-audit/CHANGELOG.md
  tools/token-naming-audit/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(sdk): load query/resolve/legacy-output-cascaded tokens from resolved source
  .changeset/query-resolve-legacy-cascade-source.md
  sdk/cli/src/main.rs
  sdk/cli/tests/cli_source.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,yml,yaml}
  remark --use remark-frontmatter --use remark-gfm --use remark-github --output: any of: **/*.md
  pnpm changeset-lint check-file: any of: .changeset/*.md
