Repository adobe/spectrum-design-data: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,yml,yaml}": ["prettier --write"],
  "**/*.md": [
    "remark --use remark-frontmatter --use remark-gfm --use remark-github --output"
  ],
  "!**/.changeset/*.md": [],
  "!**/pnpm-lock.yaml": [],
  "!**/package-lock.json": [],
  "!**/yarn.lock": [],
  ".changeset/*.md": [
    "pnpm changeset-lint check-file"
  ]
}

gitblobstore: checkandput manifest
  1dj1mn9da9obsq5vvlch9l71igh087lp.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  iom19bgmaene5floihc5s8638sgh6eq3
  manifest
Due: none

gitblobstore: checkandput manifest
  lkqnog8dlvln71dn8eirm3mhercjk8in.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  ht7kkhdcrgdvqvufb7h6ji4jvnlfb4ar
  manifest
Due: none

gitblobstore: checkandput manifest
  lhscabv3cf5l3k4dn7uccgjp8825v28i.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  k7g4quoqivjj6qsf67cil4dr8fgdk1p9
  manifest
Due: none

feat(figma): guard exports and verify write readback (#1530)
  .changeset/figma-write-verification.md
  docs/token-studio-sunset.md
  sdk/Cargo.lock
  sdk/README.md
  sdk/cli/Cargo.toml
  sdk/cli/src/main.rs
  sdk/cli/tests/cli_figma_write.rs
  sdk/plugins/figma/Cargo.toml
  sdk/plugins/figma/src/api.rs
  sdk/plugins/figma/src/lib.rs
  sdk/plugins/figma/src/write_guard.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

gitblobstore: checkandput manifest
  manifest
  meujfmseaufg7cr1ojnbnntimke2ou2t.darc
Due: none

gitblobstore: checkandput manifest
  manifest
  rjpuv1blfu01fk0cmv4unf6u1sehp1t8
Due: none

Version Packages (#1529)
  .changeset/figma-multiplier-aliases.md
  .changeset/figma-write-verification.md
  sdk/Cargo.lock
  sdk/tui/CHANGELOG.md
  sdk/tui/Cargo.toml
  sdk/tui/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(spec): validate component option aliases
  .changeset/bright-buttons-alias.md
  packages/design-data-spec/conformance/manifest-extensions/README.md
  packages/design-data-spec/conformance/manifest-extensions/invalid/component-option-extension-unknown-canonical-value/expected-errors.json
  packages/design-data-spec/conformance/manifest-extensions/invalid/component-option-extension-unknown-canonical-value/extensions/components/button.json
  packages/design-data-spec/conformance/manifest-extensions/invalid/component-option-extension-unknown-canonical-value/extensions/platform-extensions/broken.json
  packages/design-data-spec/conformance/manifest-extensions/invalid/component-option-extension-unknown-canonical-value/manifest.json
  packages/design-data-spec/conformance/manifest-extensions/valid/injects-component-option-extension/extensions/platform-extensions/web-components-button.json
  sdk/core/src/graph.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

gitblobstore: checkandput manifest
  e80jbh927dtn1qt0m0jpb04k990l1skj.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  9620dg1mgqhv77vb2o55bmdhs5t5r0r5
  manifest
Due: none

dolt remote info
  DOLT_REMOTE.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix: updated alias refs for visual-size and workflow icon sizes
  .changeset/visual-size-value-references.md
  packages/design-data/tokens/layout-component.tokens.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(figma): add --redirect-deprecated to alias deprecated tokens to replacements
  .changeset/figma-redirect-deprecated.md
  sdk/README.md
  sdk/cli/src/main.rs
  sdk/plugins/figma/src/mapping.rs
  sdk/plugins/figma/src/mapping/convert.rs
  sdk/plugins/figma/src/mapping/payload.rs
  sdk/plugins/figma/src/mapping/tests.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(figma): let --redirect-deprecated target alias-schema replacements
  sdk/plugins/figma/src/mapping/convert.rs
  sdk/plugins/figma/src/mapping/payload.rs
  sdk/plugins/figma/src/mapping/tests.rs
Due: none

gitblobstore: checkandput manifest
  1io635o25lcmio2bpsr9ou02ujs8iign.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  dohvnqo04mc36970foiu6qg7399n610t
  manifest
Due: none

gitblobstore: checkandput manifest
  g1i0s78pb6hbotjnegdvt3tvgm4je5d3.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  2s2atf8ufkpr13jip3jvq8s95s84dfgj
  manifest
Due: none

chore(mcp): use remote Figma server
  .mcp.json
Due: prettier --write

gitblobstore: checkandput manifest
  manifest
  visjm6a2v7i64igov02h8letd4dmdqer.darc
Due: none

gitblobstore: checkandput manifest
  afc8npi90rvgd5c680o0v68deml3ql46
  manifest
Due: none

gitblobstore: checkandput manifest
  manifest
  nlho2677ng748ceq82sl14b1r5avvahm.darc
Due: none

gitblobstore: checkandput manifest
  manifest
  n9ck87lqf3qspoivvd4gh99pdqh6sng0
Due: none

fix(mcp): launch ferrograph from project-relative SDK directory
  .mcp.json
Due: prettier --write

gitblobstore: checkandput manifest
  manifest
  nnq9pcuetjjfef5nok4qecjjjpnb5amj.darc
Due: none

gitblobstore: checkandput manifest
  b32r96sg6frccadq2i32fpoj4urdi0p3
  manifest
Due: none

docs: add repo organization proposal
  docs/proposals/repo-organization-and-ai-resources.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

gitblobstore: checkandput manifest
  ifdjig39faf0tsmilaggbp3ckp8qjuvs.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  beqv5q9votoe4v41sio9kjgikjtpgdk0
  manifest
Due: none

docs: align proposal with Hub documentation stack
  docs/proposals/repo-organization-and-ai-resources.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

gitblobstore: checkandput manifest
  1br2rhl4epnrpfqrbk2keev8a9kl4fo6.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  manifest
  pi443nfglgll0u9trmtgdnv61vessm2b
Due: none
