Repository adobe/spectrum-design-data: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,yml,yaml}": ["prettier --write"],
  "**/*.md": [
    "remark --use remark-frontmatter --use remark-gfm --use remark-github --output"
  ],
  "!**/.changeset/*.md": [],
  "!**/pnpm-lock.yaml": [],
  "!**/package-lock.json": [],
  "!**/yarn.lock": [],
  ".changeset/*.md": [
    "pnpm changeset-lint check-file"
  ]
}

feat(sdk): cache schema v2 with mode-sets and catalog tables
  .changeset/cache-schema-v2.md
  sdk/Cargo.lock
  sdk/README.md
  sdk/cli/src/main.rs
  sdk/core/src/cache/mod.rs
  sdk/core/src/graph.rs
  sdk/tui/src/app_launch.rs
  sdk/tui/tests/manifest.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Revert "feat(sdk): cache schema v2 with mode-sets and catalog tables"
  .changeset/cache-schema-v2.md
  sdk/Cargo.lock
  sdk/README.md
  sdk/cli/src/main.rs
  sdk/core/src/cache/mod.rs
  sdk/core/src/graph.rs
  sdk/tui/src/app_launch.rs
  sdk/tui/tests/manifest.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(sdk): address cache v2 PR review nits
  sdk/README.md
  sdk/cli/src/main.rs
  sdk/core/src/cache/mod.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

chore(sdk): drop unrelated Cargo.lock version drift from cache v2 PR
  sdk/Cargo.lock
Due: none

Version Packages (#1072)
  .changeset/cache-schema-v2.md
  sdk/cli/CHANGELOG.md
  sdk/cli/Cargo.toml
  sdk/cli/package.json
  sdk/npm/darwin-arm64/CHANGELOG.md
  sdk/npm/darwin-arm64/package.json
  sdk/npm/darwin-x64/CHANGELOG.md
  sdk/npm/darwin-x64/package.json
  sdk/npm/linux-x64/CHANGELOG.md
  sdk/npm/linux-x64/package.json
  sdk/npm/win32-x64/CHANGELOG.md
  sdk/npm/win32-x64/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(sdk): catalog-aware validate graph load preserves inline mode sets
  .changeset/validate-catalog-aware.md
  sdk/core/src/graph.rs
  sdk/core/src/validate/mod.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

docs(sdk): note duplicate-name mode-set behavior in catalog builder
  sdk/core/src/graph.rs
Due: none

feat(sdk): catalog-aware validate graph load preserves inline mode sets (#1074)
  .changeset/validate-catalog-aware.md
  sdk/core/src/graph.rs
  sdk/core/src/validate/mod.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (#1075)
  .changeset/validate-catalog-aware.md
  sdk/cli/CHANGELOG.md
  sdk/cli/Cargo.toml
  sdk/cli/package.json
  sdk/npm/darwin-arm64/CHANGELOG.md
  sdk/npm/darwin-arm64/package.json
  sdk/npm/darwin-x64/CHANGELOG.md
  sdk/npm/darwin-x64/package.json
  sdk/npm/linux-x64/CHANGELOG.md
  sdk/npm/linux-x64/package.json
  sdk/npm/win32-x64/CHANGELOG.md
  sdk/npm/win32-x64/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(tools): distribute design-data agent surface for Claude Code and Cursor
  .changeset/agent-surface-distribution.md
  .claude-plugin/marketplace.json
  docs/markdown/pages/ai.md
  docs/site/src/pages/ai.md
  packages/design-data-spec/spec/agent-surface.md
  pnpm-lock.yaml
  tools/design-data-agent-mcp/.claude-plugin/plugin.json
  tools/design-data-agent-mcp/LICENSE
  tools/design-data-agent-mcp/README.md
  tools/design-data-agent-mcp/package.json
  tools/design-data-agent-mcp/skills/design-data/SKILL.md
  tools/design-data-skill/README.md
  tools/design-data-skill/package.json
  tools/design-data-skill/skills/design-data/SKILL.md
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(tools): avoid plugin manifest version drift and ship skill license
  tools/design-data-agent-mcp/.claude-plugin/plugin.json
  tools/design-data-skill/.claude-plugin/plugin.json
  tools/design-data-skill/LICENSE
  tools/design-data-skill/package.json
Due: prettier --write

feat(tools): distribute design-data agent surface for Claude Code and Cursor (#1076)
  .changeset/agent-surface-distribution.md
  .claude-plugin/marketplace.json
  docs/markdown/pages/ai.md
  docs/site/src/pages/ai.md
  packages/design-data-spec/spec/agent-surface.md
  pnpm-lock.yaml
  tools/design-data-agent-mcp/.claude-plugin/plugin.json
  tools/design-data-agent-mcp/LICENSE
  tools/design-data-agent-mcp/README.md
  tools/design-data-agent-mcp/package.json
  tools/design-data-agent-mcp/skills/design-data/SKILL.md
  tools/design-data-skill/.claude-plugin/plugin.json
  tools/design-data-skill/LICENSE
  tools/design-data-skill/README.md
  tools/design-data-skill/package.json
  tools/design-data-skill/skills/design-data/SKILL.md
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(demo): add Slidev presentation deck and fix TUI multi-mode wizard write
  .changeset/tui-wizard-multimode-write.md
  .gitignore
  sdk/core/src/authoring/draft.rs
  sdk/core/src/authoring/session.rs
  sdk/tui/DEMO.md
  sdk/tui/src/wizard.rs
  sdk/tui/tests/wizard.rs
  tools/demo/README.md
  tools/demo/moon.yml
  tools/demo/presentation/.gitignore
  tools/demo/presentation/.npmrc
  tools/demo/presentation/RECORDING.md
  tools/demo/presentation/package.json
  tools/demo/presentation/public/casts/A-find.cast
  tools/demo/presentation/public/casts/B-name.cast
  tools/demo/presentation/public/casts/C-suggest.cast
  tools/demo/presentation/public/video/README.md
  tools/demo/presentation/record-casts.sh
  tools/demo/presentation/slides.md
  tools/demo/videos/build.mjs
  tools/demo/videos/cli-quickstart.demo.mjs
  tools/demo/videos/lib/captions.mjs
  tools/demo/videos/lib/ffmpeg.mjs
  tools/demo/videos/lib/run.mjs
  tools/demo/videos/lib/tape.mjs
  tools/demo/videos/record.mjs
  tools/demo/videos/render.mjs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

refactor(tui): consolidate wizard token assembly and address review nits
  .changeset/tui-wizard-multimode-write.md
  sdk/Cargo.lock
  sdk/tui/src/wizard.rs
  sdk/tui/tests/wizard.rs
  tools/demo/presentation/RECORDING.md
  tools/demo/presentation/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(demo): exclude operator-only demo tasks from CI
  tools/demo/moon.yml
Due: prettier --write

feat(demo): Slidev presentation deck + fix TUI multi-mode wizard write (#1081)
  .changeset/tui-wizard-multimode-write.md
  .gitignore
  sdk/Cargo.lock
  sdk/core/src/authoring/draft.rs
  sdk/core/src/authoring/session.rs
  sdk/tui/DEMO.md
  sdk/tui/src/wizard.rs
  sdk/tui/tests/wizard.rs
  tools/demo/README.md
  tools/demo/moon.yml
  tools/demo/presentation/.gitignore
  tools/demo/presentation/.npmrc
  tools/demo/presentation/RECORDING.md
  tools/demo/presentation/package.json
  tools/demo/presentation/public/casts/A-find.cast
  tools/demo/presentation/public/casts/B-name.cast
  tools/demo/presentation/public/casts/C-suggest.cast
  tools/demo/presentation/public/video/README.md
  tools/demo/presentation/record-casts.sh
  tools/demo/presentation/slides.md
  tools/demo/videos/build.mjs
  tools/demo/videos/cli-quickstart.demo.mjs
  tools/demo/videos/lib/captions.mjs
  tools/demo/videos/lib/ffmpeg.mjs
  tools/demo/videos/lib/run.mjs
  tools/demo/videos/lib/tape.mjs
  tools/demo/videos/record.mjs
  tools/demo/videos/render.mjs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(tui): make / fuzzy-find palette filter token names live
  .changeset/tui-fuzzy-find-palette.md
  sdk/tui/src/fuzzy.rs
  sdk/tui/src/lib.rs
  sdk/tui/src/mode.rs
  sdk/tui/src/runtime.rs
  sdk/tui/src/update.rs
  sdk/tui/src/update_command.rs
  sdk/tui/tests/fuzzy.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(tui): title fuzzy-find results "Fuzzy: /<query>" not "Query:"
  sdk/tui/src/app_views.rs
  sdk/tui/src/update.rs
  sdk/tui/src/view.rs
  sdk/tui/tests/fuzzy.rs
Due: none

fix(tui): make / fuzzy-find palette filter token names live (#1083)
  .changeset/tui-fuzzy-find-palette.md
  sdk/tui/src/app_views.rs
  sdk/tui/src/fuzzy.rs
  sdk/tui/src/lib.rs
  sdk/tui/src/mode.rs
  sdk/tui/src/runtime.rs
  sdk/tui/src/update.rs
  sdk/tui/src/update_command.rs
  sdk/tui/src/view.rs
  sdk/tui/tests/fuzzy.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(changeset): attribute TUI fuzzy-find changeset to @adobe/design-data
  .changeset/tui-fuzzy-find-palette.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(tui): emit name object in wizard write for MCP parity (closes #1082)
  .changeset/tui-wizard-name-object-parity.md
  sdk/Cargo.lock
  sdk/core/src/authoring/draft.rs
  sdk/core/src/authoring/session.rs
  sdk/tui/src/wizard.rs
  sdk/tui/tests/write.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(tui): trim name field values and assert name in write test
  sdk/tui/src/wizard.rs
  sdk/tui/tests/write.rs
Due: none

docs(demo): refresh TUI demos for live / fuzzy-find and name-object parity
  sdk/tui/DEMO.md
  tools/demo/presentation/RECORDING.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

docs(demo): align slides.md presenter notes with refreshed demo guidance
  sdk/tui/DEMO.md
  tools/demo/presentation/RECORDING.md
  tools/demo/presentation/slides.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

docs(demo): refresh TUI demos for live / fuzzy-find and name-object parity (#1087)
  sdk/tui/DEMO.md
  tools/demo/presentation/RECORDING.md
  tools/demo/presentation/slides.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

docs(ai): reorganize AI tools page by domain
  .claude-plugin/marketplace.json
  docs/markdown/pages/ai.md
  docs/site/scripts/generate-tools-page.js
  docs/site/src/pages/ai.md
  docs/site/src/tools.md
  tools/markdown-generator/moon.yml
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

chore: refresh generated markdown mirror and reserialize lockfile
  docs/markdown/components/table.md
  docs/markdown/registry/anatomy-terms.md
  docs/markdown/registry/categories.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

docs(ai): reorganize AI tools page by domain (#1088)
  .claude-plugin/marketplace.json
  docs/markdown/components/table.md
  docs/markdown/pages/ai.md
  docs/markdown/registry/anatomy-terms.md
  docs/markdown/registry/categories.md
  docs/site/scripts/generate-tools-page.js
  docs/site/src/pages/ai.md
  docs/site/src/tools.md
  tools/markdown-generator/moon.yml
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(site): style markdown tables on the AI page
  docs/site/eleventy.config.js
Due: prettier --write

refactor(site): apply table styling to all article pages
  docs/site/eleventy.config.js
Due: prettier --write

docs(ai): reorganize AI tools page + style markdown tables (#1089)
  docs/site/eleventy.config.js
Due: prettier --write

feat(site): add Spectrum-styled syntax-highlighted code blocks
  docs/site/eleventy.config.js
  docs/site/package.json
  docs/site/src/assets/css/components/code.css
  docs/site/src/assets/css/index.css
  pnpm-lock.yaml
Due: prettier --write

feat(site): add copy button to code blocks
  docs/site/eleventy.config.js
  docs/site/package.json
  docs/site/src/assets/css/components/code.css
  docs/site/src/assets/css/global/global.css
  docs/site/src/assets/js/copy-code.js
  docs/site/src/layouts/base.liquid
  pnpm-lock.yaml
Due: prettier --write

feat(site): add copy button to code blocks (#1091)
  docs/site/eleventy.config.js
  docs/site/package.json
  docs/site/src/assets/css/components/code.css
  docs/site/src/assets/css/global/global.css
  docs/site/src/assets/js/copy-code.js
  docs/site/src/layouts/base.liquid
  pnpm-lock.yaml
Due: prettier --write

fix(token-metrics): repoint component schema path and refresh baseline
  .changeset/token-metrics-tool.md
  tools/token-metrics/README.md
  tools/token-metrics/src/cli.js
  tools/token-metrics/src/index.js
  tools/token-metrics/test/index.test.js
  tools/token-metrics/token-metrics-report.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(tui): finish TUI v2 architecture epic (#1014)
  .changeset/tui-v2-epic-1014.md
  sdk/Cargo.lock
  sdk/tui/ARCHITECTURE.md
  sdk/tui/src/app.rs
  sdk/tui/src/app_launch.rs
  sdk/tui/src/app_palette.rs
  sdk/tui/src/app_views.rs
  sdk/tui/src/lib.rs
  sdk/tui/src/message.rs
  sdk/tui/src/runtime.rs
  sdk/tui/src/subscription.rs
  sdk/tui/src/update.rs
  sdk/tui/src/update_command.rs
  sdk/tui/src/wizard.rs
  sdk/tui/tests/describe.rs
  sdk/tui/tests/subscription.rs
  sdk/tui/tests/validate.rs
  sdk/tui/tests/wizard.rs
  sdk/tui/tests/write.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(tui): address review nits on TUI v2 epic
  sdk/tui/ARCHITECTURE.md
  sdk/tui/src/message.rs
  sdk/tui/src/subscription.rs
  sdk/tui/src/update.rs
  sdk/tui/src/update_command.rs
  sdk/tui/tests/write.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

Version Packages (#1093)
  .changeset/tui-v2-epic-1014.md
  sdk/cli/CHANGELOG.md
  sdk/cli/Cargo.toml
  sdk/cli/package.json
  sdk/npm/darwin-arm64/CHANGELOG.md
  sdk/npm/darwin-arm64/package.json
  sdk/npm/darwin-x64/CHANGELOG.md
  sdk/npm/darwin-x64/package.json
  sdk/npm/linux-x64/CHANGELOG.md
  sdk/npm/linux-x64/package.json
  sdk/npm/win32-x64/CHANGELOG.md
  sdk/npm/win32-x64/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file
