Repository adobe/spectrum-design-data: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,yml,yaml}": ["prettier --write"],
  "**/*.md": [
    "remark --use remark-frontmatter --use remark-gfm --use remark-github --output"
  ],
  "!**/.changeset/*.md": [],
  "!**/pnpm-lock.yaml": [],
  "!**/package-lock.json": [],
  "!**/yarn.lock": [],
  ".changeset/*.md": [
    "pnpm changeset-lint check-file"
  ]
}

fix(ci): use changesets-action v1.6.2 with compiled OIDC support
  .github/workflows/release.yml
Due: prettier --write

fix(ci): use changesets-action v1.6.2 with compiled OIDC support (#681)
  .github/workflows/release.yml
Due: prettier --write

fix(ci): use changesets-action v1.6.3 with npm provenance config
  .github/workflows/release.yml
Due: prettier --write

fix(ci): use changesets-action v1.6.3 with npm provenance config (#682)
  .github/workflows/release.yml
Due: prettier --write

fix(ci): use changesets-action v1.6.4 with OIDC environment fix
  .github/workflows/release.yml
Due: prettier --write

fix(ci): use changesets-action v1.6.4 with OIDC environment fix (#683)
  .github/workflows/release.yml
Due: prettier --write

fix(ci): use changesets-action v1.6.5 with rebuilt dist folder
  .github/workflows/release.yml
Due: prettier --write

fix(ci): use changesets-action v1.6.5 with rebuilt dist folder (#684)
  .github/workflows/release.yml
Due: prettier --write

fix(ci): use changesets-action v1.6.6 with global env export
  .github/workflows/release.yml
Due: prettier --write

fix(ci): use changesets-action v1.6.6 with global env export (#685)
  .github/workflows/release.yml
Due: prettier --write

fix(ci): use changesets-action v1.6.7 with process.env fix
  .github/workflows/release.yml
Due: prettier --write

fix(ci): use changesets-action v1.6.7 with process.env fix (#686)
  .github/workflows/release.yml
Due: prettier --write

test(ci): verify OIDC env and publish directly from workflow
  .github/workflows/release.yml
Due: prettier --write

test(ci): verify OIDC environment variables are available in shell (#687)
  .github/workflows/release.yml
Due: prettier --write

fix(ci): use changesets-action v1.6.8 with explicit OIDC env passing
  .github/workflows/release.yml
Due: prettier --write

fix(ci): use changesets-action v1.6.8 with explicit OIDC env passing (#688)
  .github/workflows/release.yml
Due: prettier --write

test(ci): bypass proto shims to test OIDC compatibility
  .github/workflows/release.yml
Due: prettier --write

test(ci): bypass proto shims to test OIDC compatibility (#689)
  .github/workflows/release.yml
Due: prettier --write

fix(ci): bypass both proto and moon for OIDC testing
  .github/workflows/release.yml
Due: prettier --write

fix(ci): bypass both proto and moon for OIDC testing (#690)
  .github/workflows/release.yml
Due: prettier --write

style: apply prettier and remark formatting
  tools/component-options-editor/build/plugin/plugin.js
  tools/component-options-editor/build/plugin/plugin.js.map
  tools/component-options-editor/build/ui/app/litAppElement.js
  tools/component-options-editor/build/ui/app/litAppElement.js.map
Due: prettier --write

feat(registry): add token taxonomy categories and terms for layout tokens
  packages/design-system-registry/registry/token-terminology.json
Due: prettier --write

fix(tokens): deprecated layout tokens from rfc
  packages/tokens/src/layout-component.json
  packages/tokens/src/layout.json
Due: prettier --write

feat(tokens): added new semantic and global tokens from rfc
  packages/tokens/src/layout.json
Due: prettier --write

fix(tokens): added missing uuids to pass tests, added random uuids
  packages/tokens/src/layout.json
Due: prettier --write

feat(registry): added term group to token terminology
  packages/design-system-registry/registry/token-terminology.json
Due: prettier --write

feat(tokens): added and updated new semantic tokens
  packages/tokens/src/layout-component.json
  packages/tokens/src/layout.json
  tools/add-layout-tokens/add-tokens.js
  tools/deprecate-layout-tokens/deprecate-tokens.js
Due: prettier --write

chore: remove temporary helper scripts
  tools/add-layout-tokens/add-tokens.js
  tools/deprecate-layout-tokens/deprecate-tokens.js
Due: prettier --write

docs: add PR review and closure recommendations
  PR_CLOSURE_RECOMMENDATIONS.md
  PR_REVIEW_SUMMARY.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(component-options-editor): resolve TypeScript linting errors
  tools/component-options-editor/build/ui/app/litAppElement.js
  tools/component-options-editor/build/ui/app/litAppElement.js.map
  tools/component-options-editor/src/services/errors.ts
  tools/component-options-editor/src/services/githubService.ts
  tools/component-options-editor/src/ui/app/litAppElement.ts
  tools/component-options-editor/src/ui/app/templates/githubAuth.ts
Due: prettier --write

feat(token-metrics): add design token metrics tool with baseline report
  pnpm-lock.yaml
  tools/token-metrics/README.md
  tools/token-metrics/ava.config.js
  tools/token-metrics/moon.yml
  tools/token-metrics/package.json
  tools/token-metrics/src/cli.js
  tools/token-metrics/src/index.js
  tools/token-metrics/test/index.test.js
  tools/token-metrics/token-metrics-report.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(mcp): add agent skills for component building and token discovery
  .changeset/agent-skills-feature.md
  llms.txt
  tools/spectrum-design-data-mcp/README.md
  tools/spectrum-design-data-mcp/agent-skills/README.md
  tools/spectrum-design-data-mcp/agent-skills/component-builder.md
  tools/spectrum-design-data-mcp/agent-skills/token-finder.md
  tools/spectrum-design-data-mcp/src/index.js
  tools/spectrum-design-data-mcp/src/tools/workflows.js
  tools/spectrum-design-data-mcp/test/tools/workflows.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(changeset): fix line length in changeset description
  .changeset/agent-skills-feature.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

docs(mcp): add SKILL.md for agent skills documentation
  tools/spectrum-design-data-mcp/agent-skills/SKILL.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(mcp): update SKILL.md to follow Agent Skills specification format
  tools/spectrum-design-data-mcp/agent-skills/SKILL.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(spectrum-design-data-mcp): refactor code quality, add agent skills tests, wire moon ci
  tools/spectrum-design-data-mcp/README.md
  tools/spectrum-design-data-mcp/build-spectrum-components/README.md
  tools/spectrum-design-data-mcp/build-spectrum-components/SKILL.md
  tools/spectrum-design-data-mcp/build-spectrum-components/component-builder.md
  tools/spectrum-design-data-mcp/build-spectrum-components/token-finder.md
  tools/spectrum-design-data-mcp/moon.yml
  tools/spectrum-design-data-mcp/src/config/intent-mappings.js
  tools/spectrum-design-data-mcp/src/constants.js
  tools/spectrum-design-data-mcp/src/tools/schemas.js
  tools/spectrum-design-data-mcp/src/tools/tokens.js
  tools/spectrum-design-data-mcp/src/tools/workflows.js
  tools/spectrum-design-data-mcp/src/utils/component-helpers.js
  tools/spectrum-design-data-mcp/src/utils/token-helpers.js
  tools/spectrum-design-data-mcp/src/utils/validation.js
  tools/spectrum-design-data-mcp/test/skills/agent-skills-integration.test.js
  tools/spectrum-design-data-mcp/test/tools/workflows.test.js
  tools/spectrum-design-data-mcp/test/utils/component-helpers.test.js
  tools/spectrum-design-data-mcp/test/utils/token-helpers.test.js
  tools/spectrum-design-data-mcp/test/utils/validation.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

test(mcp): add code coverage with c8
  pnpm-lock.yaml
  tools/spectrum-design-data-mcp/package.json
Due: prettier --write

feat: updated icon sizes to match new system needs
  packages/tokens/src/layout-component.json
  packages/tokens/src/layout.json
Due: prettier --write

feat(mcp): add implementation mapping tools and refactor workflows
  .cursor/mcp.json
  .github/workflows/publish-packages.yml
  .github/workflows/release-snapshot.yml
  .github/workflows/release.yml
  package.json
  tools/spectrum-design-data-mcp/README.md
  tools/spectrum-design-data-mcp/data/react-spectrum-token-map.json
  tools/spectrum-design-data-mcp/src/data/react-spectrum-map.js
  tools/spectrum-design-data-mcp/src/index.js
  tools/spectrum-design-data-mcp/src/tools/implementation-map.js
  tools/spectrum-design-data-mcp/test/tools/implementation-map.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output
