Repository adobe/spectrum-design-data: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,yml,yaml}": ["prettier --write"],
  "**/*.md": [
    "remark --use remark-frontmatter --use remark-gfm --use remark-github --output"
  ],
  "!**/.changeset/*.md": [],
  "!**/pnpm-lock.yaml": [],
  "!**/package-lock.json": [],
  "!**/yarn.lock": [],
  ".changeset/*.md": [
    "pnpm changeset-lint check-file"
  ]
}

gitblobstore: checkandput manifest
  lup6ti8i5vg6rp3o8gr58a4e4m1sdfn3
  manifest
Due: none

fix(design-data): decompose position/size/state fusion (closes spectrum-design-data-284.2)
  .changeset/decompose-position-size-state.md
  packages/design-data/tokens/layout-component.tokens.json
  packages/design-data/tokens/layout.tokens.json
  packages/design-data/tokens/typography.tokens.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): correct doubled legacyKey for detail/heading margin tokens
  packages/design-data/tokens/typography.tokens.json
Due: prettier --write

fix(design-data): decompose position/size/state fusion (closes spectrum-design-data-284.2) (#1312)
  .changeset/decompose-position-size-state.md
  packages/design-data/tokens/layout-component.tokens.json
  packages/design-data/tokens/layout.tokens.json
  packages/design-data/tokens/typography.tokens.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): decompose surface/colorRole property fusion (closes spectrum-design-data-284.3)
  .changeset/decompose-surface-colorrole.md
  packages/design-data/tokens/color-aliases.tokens.json
  packages/design-data/tokens/icons.tokens.json
  packages/design-data/tokens/semantic-color-palette.tokens.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): mark icon/overlay/indicator/track standalone, fix text/track anatomy field
  packages/design-data/registry/anatomy-terms.json
  packages/design-data/tokens/color-aliases.tokens.json
  sdk/core/src/registry_data.rs
Due: prettier --write

fix(design-data): decompose surface/colorRole property fusion (closes spectrum-design-data-284.3) (#1313)
  .changeset/decompose-surface-colorrole.md
  packages/design-data/registry/anatomy-terms.json
  packages/design-data/tokens/color-aliases.tokens.json
  packages/design-data/tokens/icons.tokens.json
  packages/design-data/tokens/semantic-color-palette.tokens.json
  sdk/core/src/registry_data.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): decompose background/opacity fusion residue (284.6)
  .changeset/decompose-background-residue.md
  packages/design-data/tokens/color-aliases.tokens.json
  packages/design-data/tokens/color-component.tokens.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): decompose remaining misc fusion residue (284.7)
  .changeset/decompose-fusion-residue-sweep.md
  packages/design-data/registry/property-terms.json
  packages/design-data/registry/variants.json
  packages/design-data/tokens/color-aliases.tokens.json
  packages/design-data/tokens/layout-component.tokens.json
  packages/design-data/tokens/layout.tokens.json
  packages/design-data/tokens/typography.tokens.json
  sdk/core/src/registry_data.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): decompose surface-color legacy aliases into object+property (284.8)
  .changeset/decompose-surface-color-object.md
  packages/design-data/tokens/color-aliases.tokens.json
  packages/design-data/tokens/color-component.tokens.json
  packages/design-data/tokens/icons.tokens.json
  packages/design-data/tokens/layout-component.tokens.json
  packages/design-data/tokens/semantic-color-palette.tokens.json
  tools/token-mapping-analyzer/scripts/decompose-surface-color-284-8.mjs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(token-mapping-analyzer): exclude icon-domain tokens from size-legacy-key test
  tools/token-mapping-analyzer/test/apply.test.js
Due: prettier --write

fix(design-data): remove tautological safety check in 284.8 one-off script
  tools/token-mapping-analyzer/scripts/decompose-surface-color-284-8.mjs
Due: none

fix(design-data): decompose background/opacity + misc fusion residue (284.6, 284.7, 284.8) (#1314)
  .changeset/decompose-background-residue.md
  .changeset/decompose-fusion-residue-sweep.md
  .changeset/decompose-surface-color-object.md
  packages/design-data/registry/property-terms.json
  packages/design-data/registry/variants.json
  packages/design-data/tokens/color-aliases.tokens.json
  packages/design-data/tokens/color-component.tokens.json
  packages/design-data/tokens/icons.tokens.json
  packages/design-data/tokens/layout-component.tokens.json
  packages/design-data/tokens/layout.tokens.json
  packages/design-data/tokens/semantic-color-palette.tokens.json
  packages/design-data/tokens/typography.tokens.json
  sdk/core/src/registry_data.rs
  tools/token-mapping-analyzer/scripts/decompose-surface-color-284-8.mjs
  tools/token-mapping-analyzer/test/apply.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (#1311)
  .changeset/decompose-background-residue.md
  .changeset/decompose-compound-state-opacity.md
  .changeset/decompose-fusion-residue-sweep.md
  .changeset/decompose-position-size-state.md
  .changeset/decompose-surface-color-object.md
  .changeset/decompose-surface-colorrole.md
  packages/component-schemas/CHANGELOG.md
  packages/component-schemas/package.json
  packages/design-data/CHANGELOG.md
  packages/design-data/package.json
  packages/design-system-registry/CHANGELOG.md
  packages/design-system-registry/package.json
  tools/component-options-editor/CHANGELOG.md
  tools/component-options-editor/package.json
  tools/design-data-agent-mcp/CHANGELOG.md
  tools/design-data-agent-mcp/package.json
  tools/design-data-agent-mcp/skills/design-data/SKILL.md
  tools/design-data-mcp/CHANGELOG.md
  tools/design-data-mcp/package.json
  tools/design-data-skill/skills/design-data/SKILL.md
  tools/markdown-generator/CHANGELOG.md
  tools/markdown-generator/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
  tools/token-corpus-migrate/CHANGELOG.md
  tools/token-corpus-migrate/package.json
  tools/token-naming-audit/CHANGELOG.md
  tools/token-naming-audit/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): decompose typography component-scale fusion (closes spectrum-design-data-284.9)
  .changeset/decompose-typography-component-scale.md
  packages/design-data/registry/property-terms.json
  packages/design-data/registry/variants.json
  packages/design-data/tokens/typography.tokens.json
  sdk/core/src/registry_data.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(token-mapping-analyzer): stop flagging registered atomic terms as fused
  tools/token-mapping-analyzer/src/decomposer.js
Due: prettier --write

fix(design-data): document square-dark/square-light in property-terms registry
  packages/design-data/registry/property-terms.json
  sdk/core/src/registry_data.rs
Due: prettier --write

fix(design-data): decompose typography component-scale fusion (284.9) (#1315)
  .changeset/decompose-typography-component-scale.md
  packages/design-data/registry/property-terms.json
  packages/design-data/registry/variants.json
  packages/design-data/tokens/typography.tokens.json
  sdk/core/src/registry_data.rs
  tools/token-mapping-analyzer/src/decomposer.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (#1316)
  .changeset/decompose-typography-component-scale.md
  packages/component-schemas/CHANGELOG.md
  packages/component-schemas/package.json
  packages/design-data/CHANGELOG.md
  packages/design-data/package.json
  packages/design-system-registry/CHANGELOG.md
  packages/design-system-registry/package.json
  tools/component-options-editor/CHANGELOG.md
  tools/component-options-editor/package.json
  tools/design-data-agent-mcp/CHANGELOG.md
  tools/design-data-agent-mcp/package.json
  tools/design-data-agent-mcp/skills/design-data/SKILL.md
  tools/design-data-mcp/CHANGELOG.md
  tools/design-data-mcp/package.json
  tools/design-data-skill/skills/design-data/SKILL.md
  tools/markdown-generator/CHANGELOG.md
  tools/markdown-generator/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
  tools/token-corpus-migrate/CHANGELOG.md
  tools/token-corpus-migrate/package.json
  tools/token-naming-audit/CHANGELOG.md
  tools/token-naming-audit/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): decompose stack-item background-highlight fusion (284)
  .changeset/decompose-stack-item-background-highlight.md
  packages/design-data/tokens/color-aliases.tokens.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): decompose stack-item background-highlight fusion (284) (#1317)
  .changeset/decompose-stack-item-background-highlight.md
  packages/design-data/tokens/color-aliases.tokens.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (#1318)
  .changeset/decompose-stack-item-background-highlight.md
  packages/component-schemas/CHANGELOG.md
  packages/component-schemas/package.json
  packages/design-data/CHANGELOG.md
  packages/design-data/package.json
  packages/design-system-registry/CHANGELOG.md
  packages/design-system-registry/package.json
  tools/component-options-editor/CHANGELOG.md
  tools/component-options-editor/package.json
  tools/design-data-agent-mcp/CHANGELOG.md
  tools/design-data-agent-mcp/package.json
  tools/design-data-agent-mcp/skills/design-data/SKILL.md
  tools/design-data-mcp/CHANGELOG.md
  tools/design-data-mcp/package.json
  tools/design-data-skill/skills/design-data/SKILL.md
  tools/markdown-generator/CHANGELOG.md
  tools/markdown-generator/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
  tools/token-corpus-migrate/CHANGELOG.md
  tools/token-corpus-migrate/package.json
  tools/token-naming-audit/CHANGELOG.md
  tools/token-naming-audit/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

chore: updated CLAUDE.md
  CLAUDE.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

test(design-data): capture S2 Web Figma variables baseline snapshot (11k.3)
  .changeset/figma-variables-baseline-snapshot.md
  sdk/core/src/figma/mapping.rs
  sdk/core/tests/fixtures/figma/README.md
  sdk/core/tests/fixtures/figma/s2-web-variables.baseline.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

gitblobstore: checkandput manifest
  2o6nqqdhlbdb46dqunr00pif18ur87np.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  ks11jps4boddv9qqas6ko5ht8erha5hc
  manifest
Due: none

gitblobstore: checkandput manifest
  2ao2p6fngpilk02jmcmb8hnvv45499q8.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  cgslcmdhjdhqtdrmke8peo76vutci7jj
  manifest
Due: none

test(design-data): capture S2 Web Figma variables baseline snapshot (11k.3) (#1319)
  .changeset/figma-variables-baseline-snapshot.md
  sdk/core/src/figma/mapping.rs
  sdk/core/tests/fixtures/figma/README.md
  sdk/core/tests/fixtures/figma/s2-web-variables.baseline.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(design-data): audit generated Figma Variable names against real baseline (11k.4)
  .changeset/figma-name-audit.md
  sdk/Cargo.lock
  sdk/cli/src/main.rs
  sdk/core/src/figma/audit.rs
  sdk/core/src/figma/mod.rs
  sdk/core/tests/fixtures/figma/name-mapping.audit.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): address review feedback on Figma name audit (11k.4)
  sdk/README.md
  sdk/core/src/figma/audit.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(design-data): teach Figma export generator to honor name-mapping overrides (11k.5)
  .changeset/figma-mapping-overrides.md
  sdk/cli/src/main.rs
  sdk/core/src/figma/audit.rs
  sdk/core/src/figma/mapping.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

docs(design-data): clarify override semantics on Figma export mapping
  .changeset/figma-mapping-overrides.md
  sdk/core/src/figma/mapping.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(design-data): audit generated Figma Variable names against real baseline (11k.4) (#1321)
  .changeset/figma-name-audit.md
  sdk/Cargo.lock
  sdk/README.md
  sdk/cli/src/main.rs
  sdk/core/src/figma/audit.rs
  sdk/core/src/figma/mod.rs
  sdk/core/tests/fixtures/figma/name-mapping.audit.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(design-data): teach Figma export generator to honor name-mapping overrides (11k.5) (#1322)
  .changeset/figma-mapping-overrides.md
  sdk/cli/src/main.rs
  sdk/core/src/figma/audit.rs
  sdk/core/src/figma/mapping.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(sdk): recurse property-diff to leaf level for wholly added/deleted objects
  packages/design-data-spec/conformance/diff/cross-format/expected.json
  packages/design-data-spec/conformance/diff/matched-gaining-deprecated/expected.json
  packages/design-data-spec/conformance/diff/replaced-by-pairing/expected.json
  sdk/core/src/diff.rs
Due: prettier --write

gitblobstore: checkandput manifest
  8rfcg6vfrhqvju28cualv3dvnj4re6l4.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  6eae4unm7diddaekn32kj2fli18uh7og
  manifest
Due: none
