Repository adobe/spectrum-design-data: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,yml,yaml}": ["prettier --write"],
  "**/*.md": [
    "remark --use remark-frontmatter --use remark-gfm --use remark-github --output"
  ],
  "!**/.changeset/*.md": [],
  "!**/pnpm-lock.yaml": [],
  "!**/package-lock.json": [],
  "!**/yarn.lock": [],
  ".changeset/*.md": [
    "pnpm changeset-lint check-file"
  ]
}

feat(design-data): register pressed as an alias of the active state
  .changeset/ios-vocabulary-crosswalk.md
  packages/design-data/registry/states.json
  sdk/core/src/registry_data.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

test(design-data): cover pressed->active alias in SPEC-009 state validation
  sdk/core/src/validate/rules/spec009.rs
Due: none

feat(design-data): register pressed as an alias of the active state (#1393)
  .changeset/ios-vocabulary-crosswalk.md
  packages/design-data/registry/states.json
  sdk/core/src/registry_data.rs
  sdk/core/src/validate/rules/spec009.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(design-data-mcp,design-data-agent-mcp): tell agents how to stay on the latest bundled dataset
  .changeset/latest-mcp-instructions.md
  tools/design-data-agent-mcp/README.md
  tools/design-data-agent-mcp/skills/design-data/SKILL.md
  tools/design-data-agent-mcp/src/index.js
  tools/design-data-mcp/README.md
  tools/design-data-mcp/src/index.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(design-data-mcp,design-data-agent-mcp): tell agents how to stay on the latest bundled dataset (#1395)
  .changeset/latest-mcp-instructions.md
  tools/design-data-agent-mcp/README.md
  tools/design-data-agent-mcp/skills/design-data/SKILL.md
  tools/design-data-agent-mcp/src/index.js
  tools/design-data-mcp/README.md
  tools/design-data-mcp/src/index.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (#1392)
  .changeset/ios-vocabulary-crosswalk.md
  .changeset/latest-mcp-instructions.md
  .changeset/manifest-spec-clarifications.md
  packages/component-schemas/CHANGELOG.md
  packages/component-schemas/package.json
  packages/design-data-spec/CHANGELOG.md
  packages/design-data-spec/package.json
  packages/design-data/CHANGELOG.md
  packages/design-data/package.json
  packages/design-system-registry/CHANGELOG.md
  packages/design-system-registry/package.json
  tools/component-options-editor/CHANGELOG.md
  tools/component-options-editor/package.json
  tools/design-data-agent-mcp/CHANGELOG.md
  tools/design-data-agent-mcp/package.json
  tools/design-data-agent-mcp/skills/design-data/SKILL.md
  tools/design-data-mcp/CHANGELOG.md
  tools/design-data-mcp/package.json
  tools/design-data-skill/skills/design-data/SKILL.md
  tools/markdown-generator/CHANGELOG.md
  tools/markdown-generator/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
  tools/token-corpus-migrate/CHANGELOG.md
  tools/token-corpus-migrate/package.json
  tools/token-naming-audit/CHANGELOG.md
  tools/token-naming-audit/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

docs(design-data-spec): note increased/high as iOS contrast crosswalk synonyms
  packages/design-data-spec/spec/mode-sets.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(design-data): export Figma variables from a manifest-resolved dataset (h890.11)
  .changeset/figma-export-manifest-resolved.md
  sdk/cli/src/main.rs
  sdk/core/src/figma/audit.rs
  sdk/core/src/figma/mapping.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(design-data): export Figma variables from a manifest-resolved dataset (h890.11) (#1396)
  .changeset/figma-export-manifest-resolved.md
  packages/design-data-spec/spec/mode-sets.md
  sdk/cli/src/main.rs
  sdk/core/src/figma/audit.rs
  sdk/core/src/figma/mapping.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(design-data): import Figma Variable edits into manifest overrides (h890.12)
  .changeset/figma-import-manifest-overrides.md
  sdk/cli/src/main.rs
  sdk/core/src/figma/color.rs
  sdk/core/src/figma/import.rs
  sdk/core/src/figma/mod.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): compare bare-numeric FLOAT sources numerically in figma import
  sdk/core/src/figma/import.rs
Due: none

feat(design-data): import Figma Variable edits into manifest overrides (h890.12) (#1398)
  .changeset/figma-import-manifest-overrides.md
  sdk/cli/src/main.rs
  sdk/core/src/figma/color.rs
  sdk/core/src/figma/import.rs
  sdk/core/src/figma/mod.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(design-data): add read-only value-level figma diff (11k.6)
  .changeset/figma-diff-value-level-report.md
  sdk/README.md
  sdk/cli/src/main.rs
  sdk/core/src/figma/import.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): correct figma diff renamed count and error tolerance
  sdk/core/src/figma/import.rs
Due: none

fix(design-data): normalize opacity units between design-data and figma
  .changeset/figma-diff-value-level-report.md
  sdk/core/src/figma/import.rs
  sdk/core/src/figma/mapping.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): normalize font-name, dp-unit, and per-scale differences in figma diff
  .changeset/figma-diff-value-level-report.md
  sdk/core/src/figma/import.rs
  sdk/core/src/figma/mapping.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): address figma diff code-review findings
  .changeset/figma-diff-value-level-report.md
  sdk/cli/src/main.rs
  sdk/core/src/figma/import.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(design-data): add read-only figma diff subcommand (#1399)
  .changeset/figma-diff-value-level-report.md
  sdk/README.md
  sdk/cli/src/main.rs
  sdk/core/src/figma/import.rs
  sdk/core/src/figma/mapping.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (#1397)
  .changeset/figma-diff-value-level-report.md
  .changeset/figma-export-manifest-resolved.md
  .changeset/figma-import-manifest-overrides.md
  packages/component-schemas/CHANGELOG.md
  packages/component-schemas/package.json
  packages/design-data/CHANGELOG.md
  packages/design-data/package.json
  packages/design-system-registry/CHANGELOG.md
  packages/design-system-registry/package.json
  tools/component-options-editor/CHANGELOG.md
  tools/component-options-editor/package.json
  tools/design-data-agent-mcp/CHANGELOG.md
  tools/design-data-agent-mcp/package.json
  tools/design-data-agent-mcp/skills/design-data/SKILL.md
  tools/design-data-mcp/CHANGELOG.md
  tools/design-data-mcp/package.json
  tools/design-data-skill/skills/design-data/SKILL.md
  tools/markdown-generator/CHANGELOG.md
  tools/markdown-generator/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
  tools/token-corpus-migrate/CHANGELOG.md
  tools/token-corpus-migrate/package.json
  tools/token-naming-audit/CHANGELOG.md
  tools/token-naming-audit/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(design-data): emit VARIABLE_ALIAS references and warn on missing target modes in Figma export
  .changeset/figma-export-mode-warning.md
  .changeset/figma-export-variable-alias.md
  sdk/cli/src/main.rs
  sdk/core/src/figma/mapping.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): resolve real legacy keys for cascade tokens in figma diff
  .changeset/figma-diff-legacy-key-resolution.md
  sdk/cli/src/main.rs
  sdk/core/src/figma/import.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(design-data): VARIABLE_ALIAS references and missing-mode warnings in Figma export (#1400)
  .changeset/figma-diff-legacy-key-resolution.md
  .changeset/figma-export-mode-warning.md
  .changeset/figma-export-variable-alias.md
  sdk/cli/src/main.rs
  sdk/core/src/figma/import.rs
  sdk/core/src/figma/mapping.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(design-data): generalize figma export collection routing beyond hardcoded 2-collection model
  sdk/cli/src/main.rs
  sdk/core/src/figma/import.rs
  sdk/core/src/figma/mapping.rs
Due: none

chore(design-data): add changeset for collection-routing generalization
  .changeset/figma-export-collection-routing.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(design-data): generalize figma export collection routing beyond hardcoded 2-collection model (#1401)
  .changeset/figma-export-collection-routing.md
  sdk/cli/src/main.rs
  sdk/core/src/figma/import.rs
  sdk/core/src/figma/mapping.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): drop dangling VARIABLE_ALIAS refs in Figma export
  .changeset/figma-export-dangling-alias.md
  sdk/core/src/figma/mapping.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): drop fully-dangling variables and fix summary counts
  sdk/core/src/figma/mapping.rs
Due: none

fix(design-data): drop dangling VARIABLE_ALIAS refs in Figma export (#1403)
  .changeset/figma-export-dangling-alias.md
  sdk/core/src/figma/mapping.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (#1402)
  .changeset/figma-diff-legacy-key-resolution.md
  .changeset/figma-export-collection-routing.md
  .changeset/figma-export-dangling-alias.md
  .changeset/figma-export-mode-warning.md
  .changeset/figma-export-variable-alias.md
  packages/component-schemas/CHANGELOG.md
  packages/component-schemas/package.json
  packages/design-data/CHANGELOG.md
  packages/design-data/package.json
  packages/design-system-registry/CHANGELOG.md
  packages/design-system-registry/package.json
  tools/component-options-editor/CHANGELOG.md
  tools/component-options-editor/package.json
  tools/design-data-agent-mcp/CHANGELOG.md
  tools/design-data-agent-mcp/package.json
  tools/design-data-agent-mcp/skills/design-data/SKILL.md
  tools/design-data-mcp/CHANGELOG.md
  tools/design-data-mcp/package.json
  tools/design-data-skill/skills/design-data/SKILL.md
  tools/markdown-generator/CHANGELOG.md
  tools/markdown-generator/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
  tools/token-corpus-migrate/CHANGELOG.md
  tools/token-corpus-migrate/package.json
  tools/token-naming-audit/CHANGELOG.md
  tools/token-naming-audit/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(design-data): wire up S2.Color-theme figma diff coverage (closes spectrum-design-data-11k.10.2)
  .changeset/figma-diff-s2-color-theme-coverage.md
  sdk/cli/src/main.rs
  sdk/core/src/figma/import.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): correct figma pair value comparison per code review
  sdk/cli/src/main.rs
  sdk/core/src/figma/import.rs
Due: none

feat(design-data): wire up S2.Color-theme figma diff coverage (#1404)
  .changeset/figma-diff-s2-color-theme-coverage.md
  sdk/cli/src/main.rs
  sdk/core/src/figma/import.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): disambiguate figma pair value collisions by key similarity
  .changeset/figma-pair-jaccard-disambiguation.md
  sdk/core/src/figma/import.rs
  sdk/core/tests/fixtures/figma/s2-color-theme.mapping.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): address figma pair scorer review findings
  .changeset/figma-pair-jaccard-disambiguation.md
  sdk/cli/src/main.rs
  sdk/core/src/figma/import.rs
  sdk/core/tests/fixtures/figma/s2-color-theme.mapping.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): disambiguate figma pair value collisions by key similarity (#1406)
  .changeset/figma-pair-jaccard-disambiguation.md
  sdk/cli/src/main.rs
  sdk/core/src/figma/import.rs
  sdk/core/tests/fixtures/figma/s2-color-theme.mapping.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(design-data): wire up Typography figma diff coverage (#11k.10.3)
  .changeset/figma-diff-typography-coverage.md
  sdk/cli/src/main.rs
  sdk/core/src/figma/import.rs
  sdk/core/tests/fixtures/figma/s2-typography.mapping.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(design-data): wire up Typography figma diff coverage (#1407)
  .changeset/figma-diff-typography-coverage.md
  sdk/cli/src/main.rs
  sdk/core/src/figma/import.rs
  sdk/core/tests/fixtures/figma/s2-typography.mapping.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(design-data): recover Typography grouping variables via CTR resolution
  .changeset/figma-diff-typography-grouping-coverage.md
  sdk/cli/src/main.rs
  sdk/core/src/figma/import.rs
  sdk/core/src/graph.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(design-data): recover Typography grouping variables via CTR resolution (#1408)
  .changeset/figma-diff-typography-grouping-coverage.md
  sdk/cli/src/main.rs
  sdk/core/src/figma/import.rs
  sdk/core/src/graph.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file
