Repository adobe/spectrum-design-data: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(platform-manifests): migrate web-components-states.json to SWC manifest
  .changeset/swc-states-migration.md
  packages/design-data/PLATFORM_EXTENSIONS.md
  platforms/web-components/README.md
  platforms/web-components/extensions/README.md
  platforms/web-components/extensions/platform-extensions/web-components-states.json
  sdk/core/src/manifest.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(platform-manifests): add design-data platform eject command
  sdk/Cargo.lock
  sdk/cli/Cargo.toml
  sdk/cli/src/main.rs
  sdk/cli/tests/cli_platform.rs
Due: none

feat(platform-manifests): validate platforms/* manifests in CI
  .github/ci-targets.json
  .github/scripts/validate-platforms.mjs
  moon.yml
Due: prettier --write

docs(platform-manifests): add in-repo to external-repo migration runbook
  docs/MIGRATION.md
  platforms/README.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(platform-manifests): scope TUI and MCP to --platform selection
  .changeset/platform-scope-tui-mcp.md
  sdk/cli/src/main.rs
  sdk/tui/src/app_launch.rs
  sdk/tui/tests/manifest.rs
  tools/design-data-agent-mcp/README.md
  tools/design-data-agent-mcp/src/cascade-bootstrap.js
  tools/design-data-agent-mcp/src/config.js
  tools/design-data-agent-mcp/test/cascade-bootstrap.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(platform-manifests): address PR #1514 review findings
  .changeset/platform-scope-tui-mcp.md
  sdk/cli/src/main.rs
  sdk/cli/tests/cli_platform.rs
  sdk/core/src/data_source/fetch.rs
  sdk/core/src/data_source/mod.rs
  tools/design-data-agent-mcp/src/cascade-bootstrap.js
  tools/design-data-agent-mcp/test/cascade-bootstrap.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

docs(platform-manifests): document new eject/manifest_path constraints
  docs/MIGRATION.md
  sdk/cli/src/main.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(platforms): incubate flexible, relocatable platform manifests (React Spectrum + SWC) (#1514)
  .changeset/platform-scope-tui-mcp.md
  .changeset/spectrum-formatting-prefix.md
  .changeset/swc-states-migration.md
  .design-data.toml
  .github/ci-targets.json
  .github/scripts/validate-platforms.mjs
  docs/MIGRATION.md
  moon.yml
  packages/design-data-spec/schemas/manifest.schema.json
  packages/design-data-spec/spec/manifest.md
  packages/design-data/PLATFORM_EXTENSIONS.md
  packages/design-data/registry/platform-implementations.json
  platforms/README.md
  platforms/react-spectrum/README.md
  platforms/react-spectrum/extensions/README.md
  platforms/react-spectrum/manifest.json
  platforms/web-components/README.md
  platforms/web-components/extensions/README.md
  platforms/web-components/extensions/platform-extensions/web-components-states.json
  platforms/web-components/manifest.json
  sdk/Cargo.lock
  sdk/cli/Cargo.toml
  sdk/cli/src/main.rs
  sdk/cli/tests/cli_platform.rs
  sdk/core/src/data_source/fetch.rs
  sdk/core/src/data_source/mod.rs
  sdk/core/src/manifest.rs
  sdk/core/src/naming.rs
  sdk/core/src/schema.rs
  sdk/tui/src/app_launch.rs
  sdk/tui/tests/manifest.rs
  tools/design-data-agent-mcp/README.md
  tools/design-data-agent-mcp/src/cascade-bootstrap.js
  tools/design-data-agent-mcp/src/config.js
  tools/design-data-agent-mcp/test/cascade-bootstrap.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): stop dropping structure field from legacy token keys
  .changeset/banner-list-structure-legacy-key.md
  packages/design-data/fields/structure.json
  packages/design-data/tokens/layout.tokens.json
  packages/tokens/src/action-bar.json
  packages/tokens/src/alert-banner.json
  packages/tokens/src/layout.json
  packages/tokens/src/side-navigation.json
  packages/tokens/src/tabs.json
  packages/tokens/src/toast.json
  packages/tokens/src/tree-view.json
  sdk/core/src/naming.rs
  sdk/core/src/registry_data.rs
  tools/token-mapping-analyzer/src/field-catalog.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(ci): publish snapshot releases via npm OIDC trusted publishing
  .github/workflows/release-snapshot.yml
Due: prettier --write

chore: snapshot release size-token-taxonomy
  .changeset/clarify-component-query-contract.md
  .changeset/disambiguate-resolve-token.md
  .changeset/fix-read-tool-doc-examples.md
  .changeset/propagate-size-tokens-to-legacy.md
  .changeset/reconcile-field-width-legacy-keys.md
  .changeset/refine-size-token-taxonomy.md
  .changeset/refresh-embedded-wasm-dataset.md
  docs/s2-tokens-viewer/CHANGELOG.md
  docs/s2-tokens-viewer/package.json
  packages/component-schemas/CHANGELOG.md
  packages/component-schemas/package.json
  packages/design-data/CHANGELOG.md
  packages/design-data/package.json
  packages/design-system-registry/CHANGELOG.md
  packages/design-system-registry/package.json
  packages/token-names/CHANGELOG.md
  packages/token-names/package.json
  packages/tokens/CHANGELOG.md
  packages/tokens/package.json
  sdk/wasm/CHANGELOG.md
  sdk/wasm/package.json
  tools/component-options-editor/CHANGELOG.md
  tools/component-options-editor/package.json
  tools/design-data-agent-mcp/CHANGELOG.md
  tools/design-data-agent-mcp/package.json
  tools/design-data-mcp/CHANGELOG.md
  tools/design-data-mcp/package.json
  tools/design-data/CHANGELOG.md
  tools/design-data/package.json
  tools/markdown-generator/CHANGELOG.md
  tools/markdown-generator/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
  tools/token-corpus-migrate/CHANGELOG.md
  tools/token-corpus-migrate/package.json
  tools/token-mapping-analyzer/CHANGELOG.md
  tools/token-mapping-analyzer/package.json
  tools/token-naming-audit/CHANGELOG.md
  tools/token-naming-audit/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): bump design-data-wasm changeset for cascade dataset fixes
  .changeset/reconcile-field-width-legacy-keys.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Remove thickness size tokens
  packages/design-data/tokens/layout.tokens.json
Due: prettier --write

Remove size definitions for indicators
  packages/design-data/tokens/layout-component.tokens.json
Due: prettier --write

Corrected deprecated steplist-visual-size in steplist.json
  packages/design-data/relationships/steplist.json
Due: prettier --write

Update deprecatedComment for menu-item-section-divider-height
  packages/design-data/relationships/menu.json
Due: prettier --write

fix(diff): preserve Markdown list spacing in token reports
  .changeset/tidy-token-report-spacing.md
  tools/diff-generator/src/lib/cli.js
  tools/diff-generator/src/templates/README.md
  tools/diff-generator/src/templates/markdown.hbs
  tools/diff-generator/test/cliUtilities.test.js
  tools/diff-generator/test/formatterHandlebars.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(ci): publish snapshot releases via npm OIDC trusted publishing (#1518)
  .github/workflows/release-snapshot.yml
Due: prettier --write

fix(design-data): repair menu JSON and validation inputs
  .changeset/fix-menu-relationship-json.md
  packages/design-data/moon.yml
  packages/design-data/relationships/menu.json
  tools/token-mapping-analyzer/test/apply.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(tokens): synchronize size refinements and CI validation
  .changeset/synchronize-size-token-legacy-output.md
  packages/design-data/moon.yml
  packages/design-data/tokens/layout.tokens.json
  packages/tokens/moon.yml
  packages/tokens/src/divider.json
  packages/tokens/src/layout-component.json
  packages/tokens/src/layout.json
  packages/tokens/src/menu.json
  packages/tokens/src/meter.json
  packages/tokens/src/progress-bar.json
  packages/tokens/src/side-navigation.json
  packages/tokens/src/slider.json
  packages/tokens/src/steplist.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (#1515)
  .changeset/platform-scope-tui-mcp.md
  .changeset/s2-implementation-metadata.md
  .changeset/spectrum-formatting-prefix.md
  .changeset/swc-states-migration.md
  .changeset/tidy-token-report-spacing.md
  docs/s2-tokens-viewer/CHANGELOG.md
  docs/s2-tokens-viewer/package.json
  packages/component-schemas/CHANGELOG.md
  packages/component-schemas/package.json
  packages/design-data-spec/CHANGELOG.md
  packages/design-data-spec/package.json
  packages/design-data/CHANGELOG.md
  packages/design-data/package.json
  packages/design-system-registry/CHANGELOG.md
  packages/design-system-registry/package.json
  sdk/wasm/CHANGELOG.md
  sdk/wasm/package.json
  tools/component-options-editor/CHANGELOG.md
  tools/component-options-editor/package.json
  tools/design-data-agent-mcp/CHANGELOG.md
  tools/design-data-agent-mcp/package.json
  tools/design-data-agent-mcp/skills/design-data/SKILL.md
  tools/design-data-mcp/CHANGELOG.md
  tools/design-data-mcp/package.json
  tools/design-data-skill/skills/design-data/SKILL.md
  tools/design-data/CHANGELOG.md
  tools/design-data/package.json
  tools/diff-generator/CHANGELOG.md
  tools/diff-generator/package.json
  tools/markdown-generator/CHANGELOG.md
  tools/markdown-generator/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
  tools/token-changeset-generator/CHANGELOG.md
  tools/token-changeset-generator/package.json
  tools/token-corpus-migrate/CHANGELOG.md
  tools/token-corpus-migrate/package.json
  tools/token-naming-audit/CHANGELOG.md
  tools/token-naming-audit/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(ci): guard disposable snapshot release branches
  .github/workflows/release-snapshot.yml
  moon.yml
  test/releaseSnapshotPolicy.test.js
Due: prettier --write

fix(release): verify wasm artifacts before publishing
  .changeset/tidy-wasm-snapshot-artifacts.md
  .github/workflows/release-snapshot.yml
  .github/workflows/release.yml
  sdk/wasm/README.md
  sdk/wasm/moon.yml
  sdk/wasm/scripts/verify-package.mjs
  sdk/wasm/test/package.test.js
  test/releaseSnapshotPolicy.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

style(wasm): align package verification with Prettier
  sdk/wasm/README.md
  sdk/wasm/scripts/verify-package.mjs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(release): build and verify wasm artifacts before publishing (#1519)
  .changeset/tidy-wasm-snapshot-artifacts.md
  .github/workflows/release-snapshot.yml
  .github/workflows/release.yml
  sdk/wasm/README.md
  sdk/wasm/moon.yml
  sdk/wasm/scripts/verify-package.mjs
  sdk/wasm/test/package.test.js
  test/releaseSnapshotPolicy.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (#1520)
  .changeset/tidy-wasm-snapshot-artifacts.md
  docs/s2-tokens-viewer/CHANGELOG.md
  docs/s2-tokens-viewer/package.json
  sdk/wasm/CHANGELOG.md
  sdk/wasm/package.json
  tools/design-data-agent-mcp/CHANGELOG.md
  tools/design-data-agent-mcp/package.json
  tools/design-data-agent-mcp/skills/design-data/SKILL.md
  tools/design-data-mcp/CHANGELOG.md
  tools/design-data-mcp/package.json
  tools/design-data/CHANGELOG.md
  tools/design-data/package.json
  tools/token-naming-audit/CHANGELOG.md
  tools/token-naming-audit/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(sdk): embed platform fragment schema dependencies
  .changeset/standalone-fragment-schemas.md
  sdk/core/build.rs
  sdk/core/src/data_source/embedded.rs
  sdk/core/src/manifest.rs
  sdk/moon.yml
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(build): track canonical data in validation cache inputs
  packages/design-data/moon.yml
  packages/tokens/moon.yml
Due: prettier --write

fix(workflows): fetch Hub sync content from public Spectrum site
  .github/workflows/hub-component-sync.yml
  .github/workflows/hub-guideline-sync.yml
  tools/spectrum-hub-fetcher/README.md
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(design-data): stop dropping structure field from legacy token keys (#1517)
  .changeset/banner-list-structure-legacy-key.md
  packages/design-data/fields/structure.json
  packages/design-data/tokens/layout.tokens.json
  packages/tokens/src/action-bar.json
  packages/tokens/src/alert-banner.json
  packages/tokens/src/layout.json
  packages/tokens/src/side-navigation.json
  packages/tokens/src/tabs.json
  packages/tokens/src/toast.json
  packages/tokens/src/tree-view.json
  sdk/core/src/naming.rs
  sdk/core/src/registry_data.rs
  tools/token-mapping-analyzer/src/field-catalog.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(figma): export named font weights and numeric angles
  sdk/README.md
  sdk/cli/src/main.rs
  sdk/cli/tests/cli_figma_export.rs
  sdk/plugins/figma/src/audit.rs
  sdk/plugins/figma/src/mapping/convert.rs
  sdk/plugins/figma/src/mapping/payload.rs
  sdk/plugins/figma/src/mapping/routing.rs
  sdk/plugins/figma/src/mapping/tests.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

gitblobstore: checkandput manifest
  5hdnpstlf3d0vuo8cp3559srtd3qtjfn
  manifest
Due: none

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,yml,yaml}
  remark --use remark-frontmatter --use remark-gfm --use remark-github --output: any of: **/*.md
  pnpm changeset-lint check-file: any of: .changeset/*.md
