Repository adobe/spectrum-design-data: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,yml,yaml}": ["prettier --write"],
  "**/*.md": [
    "remark --use remark-frontmatter --use remark-gfm --use remark-github --output"
  ],
  "!**/.changeset/*.md": [],
  "!**/pnpm-lock.yaml": [],
  "!**/package-lock.json": [],
  "!**/yarn.lock": [],
  ".changeset/*.md": [
    "pnpm changeset-lint check-file"
  ]
}

Version Packages (#917)
  .changeset/anatomy-terms-audit.md
  packages/design-system-registry/CHANGELOG.md
  packages/design-system-registry/package.json
  tools/markdown-generator/CHANGELOG.md
  tools/markdown-generator/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

docs(spec): add registry.md formalizing three-registry boundary
  .changeset/registry-spec.md
  docs/rfc-coordination.md
  packages/design-data-spec/spec/index.md
  packages/design-data-spec/spec/registry.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

docs(rfc): update PR reference to #918 in rfc-coordination
  docs/rfc-coordination.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(spec): address review issues on registry.md
  docs/rfc-coordination.md
  packages/design-data-spec/rules/rules.yaml
  packages/design-data-spec/spec/registry.md
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

docs(spec): annotate SPEC-033 as meta-rule in rules.yaml
  packages/design-data-spec/rules/rules.yaml
Due: prettier --write

docs(spec): add registry.md — three-registry boundary and single-package strategy (#918)
  .changeset/registry-spec.md
  docs/rfc-coordination.md
  packages/design-data-spec/rules/rules.yaml
  packages/design-data-spec/spec/index.md
  packages/design-data-spec/spec/registry.md
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

docs(rfc): mark Phases 7-9 implemented in rfc-coordination
  docs/rfc-coordination.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

docs(rfc): address review nits — clarify #714 and #715 status cells
  docs/rfc-coordination.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

docs(rfc): clarify #715 product-override open question vs SPEC-032
  docs/rfc-coordination.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

docs(rfc): mark Phases 7-9 implemented in rfc-coordination (#920)
  docs/rfc-coordination.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

Version Packages (#919)
  .changeset/registry-spec.md
  packages/component-schemas/CHANGELOG.md
  packages/component-schemas/package.json
  packages/design-data-spec/CHANGELOG.md
  packages/design-data-spec/package.json
  tools/component-options-editor/CHANGELOG.md
  tools/component-options-editor/package.json
  tools/markdown-generator/CHANGELOG.md
  tools/markdown-generator/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(spec): expand canonical role vocabulary — progressbar, meter, grid, listitem, group (#892)
  .changeset/expand-accessibility-role-vocabulary.md
  docs/rfc-coordination.md
  packages/design-data-spec/components/avatar-group.json
  packages/design-data-spec/components/button-group.json
  packages/design-data-spec/components/in-field-progress-circle.json
  packages/design-data-spec/components/meter.json
  packages/design-data-spec/components/progress-bar.json
  packages/design-data-spec/components/progress-circle.json
  packages/design-data-spec/components/swatch-group.json
  packages/design-data-spec/components/table.json
  packages/design-data-spec/spec/accessibility-adapters.md
  packages/design-data-spec/spec/accessibility.md
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(spec): add WCAG 4.1.2 to progressbar components for consistency with meter
  packages/design-data-spec/components/in-field-progress-circle.json
  packages/design-data-spec/components/progress-bar.json
  packages/design-data-spec/components/progress-circle.json
Due: prettier --write

chore(changeset): wrap lines to under 100 chars for changeset-lint
  .changeset/expand-accessibility-role-vocabulary.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(spec): expand canonical role vocabulary — progressbar, meter, grid, listitem, group (#921)
  .changeset/expand-accessibility-role-vocabulary.md
  docs/rfc-coordination.md
  packages/design-data-spec/components/avatar-group.json
  packages/design-data-spec/components/button-group.json
  packages/design-data-spec/components/in-field-progress-circle.json
  packages/design-data-spec/components/meter.json
  packages/design-data-spec/components/progress-bar.json
  packages/design-data-spec/components/progress-circle.json
  packages/design-data-spec/components/swatch-group.json
  packages/design-data-spec/components/table.json
  packages/design-data-spec/spec/accessibility-adapters.md
  packages/design-data-spec/spec/accessibility.md
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(spec): add SPEC-034 advisory category validation (RFC #661)
  .changeset/spec-034-category-registry-sync.md
  docs/rfc-coordination.md
  packages/design-data-spec/components/table.json
  packages/design-data-spec/conformance/invalid/SPEC-034/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-034/expected-errors.json
  packages/design-data-spec/conformance/valid/SPEC-034/dataset.json
  packages/design-data-spec/rules/rules.yaml
  packages/design-data-spec/schemas/component.schema.json
  packages/design-data-spec/spec/registry.md
  packages/design-system-registry/registry/categories.json
  sdk/core/src/registry.rs
  sdk/core/src/registry_data.rs
  sdk/core/src/validate/rules/mod.rs
  sdk/core/src/validate/rules/spec034.rs
  sdk/scripts/generate-registry-data.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(spec): note SPEC-033 skip in mod.rs; bump registry changeset to major
  .changeset/spec-034-category-registry-sync.md
  sdk/core/src/validate/rules/mod.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

test(spec034): add coverage for empty-string meta.category
  sdk/core/src/validate/rules/spec034.rs
Due: none

feat(spec): expand canonical role vocabulary — progressbar, meter, grid, listitem, group (#892)
  .changeset/expand-accessibility-role-vocabulary.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(spec): add SPEC-034 advisory category validation (RFC #661)
  .changeset/spec-034-category-registry-sync.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(spec): note SPEC-033 skip in mod.rs; bump registry changeset to major
  .changeset/spec-034-category-registry-sync.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(spec): add SPEC-035 advisory anatomy-part-name registry sync
  .changeset/spec-035-anatomy-registry-sync.md
  docs/rfc-coordination.md
  packages/design-data-spec/conformance/invalid/SPEC-035/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-035/expected-errors.json
  packages/design-data-spec/conformance/valid/SPEC-035/dataset.json
  packages/design-data-spec/rules/rules.yaml
  packages/design-data-spec/spec/anatomy-format.md
  packages/design-data-spec/spec/registry.md
  sdk/core/src/validate/rules/mod.rs
  sdk/core/src/validate/rules/spec035.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(spec): harden SPEC-035 guard; wrap changeset lines; link issue #925
  .changeset/spec-035-anatomy-registry-sync.md
  sdk/core/src/validate/rules/spec035.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(registry): add disclosure-triangle, picker, progress-bar to anatomy-terms
  .changeset/anatomy-terms-add-disclosure-picker-progress-bar.md
  packages/design-system-registry/registry/anatomy-terms.json
  sdk/core/src/registry_data.rs
  sdk/core/src/validate/rules/spec035.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(registry): add disclosure-triangle, picker, progress-bar to anatomy-terms (#927)
  .changeset/anatomy-terms-add-disclosure-picker-progress-bar.md
  packages/design-system-registry/registry/anatomy-terms.json
  sdk/core/src/registry_data.rs
  sdk/core/src/validate/rules/spec035.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (#926)
  .changeset/anatomy-terms-add-disclosure-picker-progress-bar.md
  .changeset/expand-accessibility-role-vocabulary.md
  .changeset/spec-034-category-registry-sync.md
  .changeset/spec-035-anatomy-registry-sync.md
  packages/component-schemas/CHANGELOG.md
  packages/component-schemas/package.json
  packages/design-data-spec/CHANGELOG.md
  packages/design-data-spec/package.json
  packages/design-system-registry/CHANGELOG.md
  packages/design-system-registry/package.json
  tools/component-options-editor/CHANGELOG.md
  tools/component-options-editor/package.json
  tools/markdown-generator/CHANGELOG.md
  tools/markdown-generator/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(spec): add SPEC-036 component-deprecation-cascade advisory rule
  .changeset/spec-036-component-deprecation-cascade.md
  docs/rfc-coordination.md
  packages/design-data-spec/conformance/invalid/SPEC-036/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-036/expected-errors.json
  packages/design-data-spec/conformance/valid/SPEC-036/dataset.json
  packages/design-data-spec/rules/rules.yaml
  sdk/core/src/validate/rules/mod.rs
  sdk/core/src/validate/rules/spec036.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(spec036): use t.name in message; tighten deprecated check to as_str()
  sdk/core/src/validate/rules/spec036.rs
Due: none

Version Packages (#929)
  .changeset/spec-036-component-deprecation-cascade.md
  packages/component-schemas/CHANGELOG.md
  packages/component-schemas/package.json
  packages/design-data-spec/CHANGELOG.md
  packages/design-data-spec/package.json
  tools/component-options-editor/CHANGELOG.md
  tools/component-options-editor/package.json
  tools/markdown-generator/CHANGELOG.md
  tools/markdown-generator/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(spec): add SPEC-037 sub-entity deprecation cascade advisory rule
  .changeset/spec-037-subentity-deprecation-cascade.md
  docs/rfc-coordination.md
  packages/design-data-spec/conformance/invalid/SPEC-037/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-037/expected-errors.json
  packages/design-data-spec/conformance/valid/SPEC-037/dataset.json
  packages/design-data-spec/rules/rules.yaml
  packages/design-data-spec/schemas/anatomy-part.schema.json
  packages/design-data-spec/schemas/component.schema.json
  packages/design-data-spec/schemas/state-declaration.schema.json
  sdk/core/src/validate/rules/mod.rs
  sdk/core/src/validate/rules/spec037.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

docs(spec): document lifecycle on anatomy/state and deprecatedEnumValues on options
  packages/design-data-spec/schemas/component.schema.json
  packages/design-data-spec/spec/anatomy-format.md
  packages/design-data-spec/spec/component-format.md
  packages/design-data-spec/spec/state-model.md
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(spec): address PR review — add SPEC-038 rule and non-string comment
  packages/design-data-spec/conformance/invalid/SPEC-038/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-038/expected-errors.json
  packages/design-data-spec/conformance/valid/SPEC-038/dataset.json
  packages/design-data-spec/rules/rules.yaml
  packages/design-data-spec/schemas/component.schema.json
  packages/design-data-spec/spec/component-format.md
  sdk/core/src/validate/rules/mod.rs
  sdk/core/src/validate/rules/spec037.rs
  sdk/core/src/validate/rules/spec038.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(changeset): wrap long lines in spec-038 changeset
  .changeset/spec-038-option-values-array.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(changeset): remove non-existent @adobe/design-data-core package
  .changeset/spec-038-option-values-array.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(changeset): remove invalid @adobe/design-data-core package reference
  .changeset/spec-038-option-values-array.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (#935)
  .changeset/spec-038-option-values-array.md
  packages/component-schemas/CHANGELOG.md
  packages/component-schemas/package.json
  packages/design-data-spec/CHANGELOG.md
  packages/design-data-spec/package.json
  tools/component-options-editor/CHANGELOG.md
  tools/component-options-editor/package.json
  tools/markdown-generator/CHANGELOG.md
  tools/markdown-generator/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file
