Repository adobe/spectrum-design-data: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,yml,yaml}": ["prettier --write"],
  "**/*.md": [
    "remark --use remark-frontmatter --use remark-gfm --use remark-github --output"
  ],
  "!**/.changeset/*.md": [],
  "!**/pnpm-lock.yaml": [],
  "!**/package-lock.json": [],
  "!**/yarn.lock": [],
  ".changeset/*.md": [
    "pnpm changeset-lint check-file"
  ]
}

fix(design-data): triage untracked residual properties in layout-component tokens (opk) (#1291)
  .changeset/opk-triage-layout-component-residual.md
  packages/design-data/components/card.json
  packages/design-data/components/tree-view.json
  packages/design-data/tokens/layout-component.tokens.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (#1292)
  .changeset/opk-triage-layout-component-residual.md
  packages/component-schemas/CHANGELOG.md
  packages/component-schemas/package.json
  packages/design-data/CHANGELOG.md
  packages/design-data/package.json
  packages/design-system-registry/CHANGELOG.md
  packages/design-system-registry/package.json
  tools/component-options-editor/CHANGELOG.md
  tools/component-options-editor/package.json
  tools/design-data-agent-mcp/CHANGELOG.md
  tools/design-data-agent-mcp/package.json
  tools/design-data-agent-mcp/skills/design-data/SKILL.md
  tools/design-data-mcp/CHANGELOG.md
  tools/design-data-mcp/package.json
  tools/design-data-skill/skills/design-data/SKILL.md
  tools/markdown-generator/CHANGELOG.md
  tools/markdown-generator/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
  tools/token-corpus-migrate/CHANGELOG.md
  tools/token-corpus-migrate/package.json
  tools/token-naming-audit/CHANGELOG.md
  tools/token-naming-audit/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(token-mapping-analyzer): honor legacyKey pin in vocabulary-gap bucket (#1289)
  tools/token-mapping-analyzer/src/generate-exceptions.js
  tools/token-mapping-analyzer/test/generate-exceptions.test.js
Due: prettier --write

fix(design-data): rebind dangling component-top-to-workflow-icon-400 (vpk.1 group A)
  .changeset/vpk1-fix-workflow-icon-400-gap.md
  packages/design-data/components/combo-box.json
  packages/design-data/components/number-field.json
  packages/design-data/components/text-area.json
  packages/design-data/components/text-field.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(design-data): add excludeFromLegacy token field, fix button corner-radius bindings
  .changeset/button-corner-radius-exclude-from-legacy.md
  packages/design-data-spec/schemas/token.schema.json
  packages/design-data/components/button.json
  packages/design-data/tokens/layout.tokens.json
  sdk/core/src/legacy.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): rebind three safe SPEC-027 tokenBindings to existing tokens
  .changeset/vpk1-safe-rebind-existing-tokens.md
  packages/design-data/components/cards.json
  packages/design-data/components/list-view.json
  packages/design-data/components/menu.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): rebind three safe SPEC-027 tokenBindings to existing tokens (#1295)
  .changeset/vpk1-fix-workflow-icon-400-gap.md
  .changeset/vpk1-safe-rebind-existing-tokens.md
  packages/design-data/components/cards.json
  packages/design-data/components/combo-box.json
  packages/design-data/components/list-view.json
  packages/design-data/components/menu.json
  packages/design-data/components/number-field.json
  packages/design-data/components/text-area.json
  packages/design-data/components/text-field.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (#1296)
  .changeset/vpk1-fix-workflow-icon-400-gap.md
  .changeset/vpk1-safe-rebind-existing-tokens.md
  packages/component-schemas/CHANGELOG.md
  packages/component-schemas/package.json
  packages/design-data/CHANGELOG.md
  packages/design-data/package.json
  packages/design-system-registry/CHANGELOG.md
  packages/design-system-registry/package.json
  tools/component-options-editor/CHANGELOG.md
  tools/component-options-editor/package.json
  tools/design-data-agent-mcp/CHANGELOG.md
  tools/design-data-agent-mcp/package.json
  tools/design-data-agent-mcp/skills/design-data/SKILL.md
  tools/design-data-mcp/CHANGELOG.md
  tools/design-data-mcp/package.json
  tools/design-data-skill/skills/design-data/SKILL.md
  tools/markdown-generator/CHANGELOG.md
  tools/markdown-generator/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
  tools/token-corpus-migrate/CHANGELOG.md
  tools/token-corpus-migrate/package.json
  tools/token-naming-audit/CHANGELOG.md
  tools/token-naming-audit/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): rebind three safe SPEC-027 tokenBindings to existing tokens (#1295)
  .changeset/vpk1-fix-workflow-icon-400-gap.md
  .changeset/vpk1-safe-rebind-existing-tokens.md
  CLAUDE.md
  packages/design-data/components/cards.json
  packages/design-data/components/combo-box.json
  packages/design-data/components/list-view.json
  packages/design-data/components/menu.json
  packages/design-data/components/number-field.json
  packages/design-data/components/text-area.json
  packages/design-data/components/text-field.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (#1297)
  .changeset/vpk1-fix-workflow-icon-400-gap.md
  .changeset/vpk1-safe-rebind-existing-tokens.md
  packages/component-schemas/CHANGELOG.md
  packages/component-schemas/package.json
  packages/design-data/CHANGELOG.md
  packages/design-data/package.json
  packages/design-system-registry/CHANGELOG.md
  packages/design-system-registry/package.json
  tools/component-options-editor/CHANGELOG.md
  tools/component-options-editor/package.json
  tools/design-data-agent-mcp/CHANGELOG.md
  tools/design-data-agent-mcp/package.json
  tools/design-data-agent-mcp/skills/design-data/SKILL.md
  tools/design-data-mcp/CHANGELOG.md
  tools/design-data-mcp/package.json
  tools/design-data-skill/skills/design-data/SKILL.md
  tools/markdown-generator/CHANGELOG.md
  tools/markdown-generator/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
  tools/token-corpus-migrate/CHANGELOG.md
  tools/token-corpus-migrate/package.json
  tools/token-naming-audit/CHANGELOG.md
  tools/token-naming-audit/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): remove SPEC-027 no-spec-entry dangling tokenBindings
  .changeset/vpk1-remove-no-spec-entry-bindings.md
  packages/design-data/components/avatar.json
  packages/design-data/components/date-picker.json
  packages/design-data/components/title.json
  packages/design-data/components/tree-view.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): remove SPEC-027 no-spec-entry dangling tokenBindings (#1298)
  .changeset/vpk1-remove-no-spec-entry-bindings.md
  packages/design-data/components/avatar.json
  packages/design-data/components/date-picker.json
  packages/design-data/components/title.json
  packages/design-data/components/tree-view.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (#1299)
  .changeset/vpk1-remove-no-spec-entry-bindings.md
  packages/component-schemas/CHANGELOG.md
  packages/component-schemas/package.json
  packages/design-data/CHANGELOG.md
  packages/design-data/package.json
  packages/design-system-registry/CHANGELOG.md
  packages/design-system-registry/package.json
  tools/component-options-editor/CHANGELOG.md
  tools/component-options-editor/package.json
  tools/design-data-agent-mcp/CHANGELOG.md
  tools/design-data-agent-mcp/package.json
  tools/design-data-agent-mcp/skills/design-data/SKILL.md
  tools/design-data-mcp/CHANGELOG.md
  tools/design-data-mcp/package.json
  tools/design-data-skill/skills/design-data/SKILL.md
  tools/markdown-generator/CHANGELOG.md
  tools/markdown-generator/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
  tools/token-corpus-migrate/CHANGELOG.md
  tools/token-corpus-migrate/package.json
  tools/token-naming-audit/CHANGELOG.md
  tools/token-naming-audit/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): resolve generic-scope taxonomy call (closes #1290)
  .changeset/warm-crickets-migrate-generic-scope.md
  packages/design-data/registry/anatomy-terms.json
  packages/design-data/tokens/layout.tokens.json
  sdk/core/src/registry_data.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

docs(design-data): clarify workflow-icon property/size non-collision
  .changeset/warm-crickets-migrate-generic-scope.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): resolve generic-scope taxonomy call (closes #1290) (#1300)
  .changeset/warm-crickets-migrate-generic-scope.md
  packages/design-data/registry/anatomy-terms.json
  packages/design-data/tokens/layout.tokens.json
  sdk/core/src/registry_data.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (#1301)
  .changeset/warm-crickets-migrate-generic-scope.md
  packages/component-schemas/CHANGELOG.md
  packages/component-schemas/package.json
  packages/design-data/CHANGELOG.md
  packages/design-data/package.json
  packages/design-system-registry/CHANGELOG.md
  packages/design-system-registry/package.json
  tools/component-options-editor/CHANGELOG.md
  tools/component-options-editor/package.json
  tools/design-data-agent-mcp/CHANGELOG.md
  tools/design-data-agent-mcp/package.json
  tools/design-data-agent-mcp/skills/design-data/SKILL.md
  tools/design-data-mcp/CHANGELOG.md
  tools/design-data-mcp/package.json
  tools/design-data-skill/skills/design-data/SKILL.md
  tools/markdown-generator/CHANGELOG.md
  tools/markdown-generator/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
  tools/token-corpus-migrate/CHANGELOG.md
  tools/token-corpus-migrate/package.json
  tools/token-naming-audit/CHANGELOG.md
  tools/token-naming-audit/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): sync gray color ramp values from Figma tint-adjustment pass
  .changeset/gray-ramp-figma-tint-sync.md
  .gitignore
  packages/design-data/tokens/color-palette.tokens.json
  packages/tokens/src/color-palette.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(design-data): compound states as an ordered array (Proposal 006)
  .changeset/proposal-006-state-array.md
  docs/proposals/005-compound-states.md
  docs/proposals/006-compound-states-as-array.md
  packages/design-data-spec/conformance/invalid/SPEC-022/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-037/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-043/dataset.json
  packages/design-data-spec/conformance/query/and-conditions/input/tokens.tokens.json
  packages/design-data-spec/conformance/query/and-or-precedence/input/tokens.tokens.json
  packages/design-data-spec/conformance/valid/SPEC-037/dataset.json
  packages/design-data-spec/conformance/valid/component-refs/dataset.json
  packages/design-data-spec/schemas/state-declaration.schema.json
  packages/design-data-spec/schemas/token.schema.json
  packages/design-data-spec/spec/state-model.md
  packages/design-data-spec/spec/token-format.md
  packages/design-data/fields/state.json
  packages/design-data/registry/states.json
  packages/design-data/tokens/color-aliases.tokens.json
  packages/design-data/tokens/color-component.tokens.json
  packages/design-data/tokens/icons.tokens.json
  packages/design-data/tokens/layout-component.tokens.json
  packages/design-data/tokens/layout.tokens.json
  packages/design-data/tokens/semantic-color-palette.tokens.json
  sdk/core/src/cache/mod.rs
  sdk/core/src/migrate.rs
  sdk/core/src/naming.rs
  sdk/core/src/query.rs
  sdk/core/src/registry_data.rs
  sdk/core/src/suggest.rs
  sdk/core/src/validate/rules/spec009.rs
  sdk/core/src/validate/rules/spec022.rs
  sdk/core/src/validate/rules/spec037.rs
  sdk/core/tests/prop_naming.rs
  sdk/wasm/test/parity.test.js
  tools/token-mapping-analyzer/src/decomposer.js
  tools/token-mapping-analyzer/test/decomposer.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data-spec): allow array valueType in field schema
  .changeset/proposal-006-state-array.md
  packages/design-data-spec/schemas/field.schema.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

docs(design-data-spec): document any-element state query matching
  .changeset/proposal-006-state-array.md
  packages/design-data-spec/spec/query.md
  sdk/core/src/query.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(design-data): compound states as an ordered array (Proposal 006) (#1302)
  .changeset/proposal-006-state-array.md
  docs/proposals/005-compound-states.md
  docs/proposals/006-compound-states-as-array.md
  packages/design-data-spec/conformance/invalid/SPEC-022/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-037/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-043/dataset.json
  packages/design-data-spec/conformance/query/and-conditions/input/tokens.tokens.json
  packages/design-data-spec/conformance/query/and-or-precedence/input/tokens.tokens.json
  packages/design-data-spec/conformance/valid/SPEC-037/dataset.json
  packages/design-data-spec/conformance/valid/component-refs/dataset.json
  packages/design-data-spec/schemas/field.schema.json
  packages/design-data-spec/schemas/state-declaration.schema.json
  packages/design-data-spec/schemas/token.schema.json
  packages/design-data-spec/spec/query.md
  packages/design-data-spec/spec/state-model.md
  packages/design-data-spec/spec/token-format.md
  packages/design-data/fields/state.json
  packages/design-data/registry/states.json
  packages/design-data/tokens/color-aliases.tokens.json
  packages/design-data/tokens/color-component.tokens.json
  packages/design-data/tokens/icons.tokens.json
  packages/design-data/tokens/layout-component.tokens.json
  packages/design-data/tokens/layout.tokens.json
  packages/design-data/tokens/semantic-color-palette.tokens.json
  sdk/core/src/cache/mod.rs
  sdk/core/src/migrate.rs
  sdk/core/src/naming.rs
  sdk/core/src/query.rs
  sdk/core/src/registry_data.rs
  sdk/core/src/suggest.rs
  sdk/core/src/validate/rules/spec009.rs
  sdk/core/src/validate/rules/spec022.rs
  sdk/core/src/validate/rules/spec037.rs
  sdk/core/tests/prop_naming.rs
  sdk/wasm/test/parity.test.js
  tools/token-mapping-analyzer/src/decomposer.js
  tools/token-mapping-analyzer/test/decomposer.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix: ferrograph MCP server ignores cwd, use FERROGRAPH_DB env var instead
  .mcp.json
  CLAUDE.md
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

Version Packages (#1303)
  .changeset/proposal-006-state-array.md
  packages/component-schemas/CHANGELOG.md
  packages/component-schemas/package.json
  packages/design-data-spec/CHANGELOG.md
  packages/design-data-spec/package.json
  packages/design-data/CHANGELOG.md
  packages/design-data/package.json
  packages/design-system-registry/CHANGELOG.md
  packages/design-system-registry/package.json
  sdk/tui/CHANGELOG.md
  sdk/tui/Cargo.toml
  sdk/tui/package.json
  tools/component-options-editor/CHANGELOG.md
  tools/component-options-editor/package.json
  tools/design-data-agent-mcp/CHANGELOG.md
  tools/design-data-agent-mcp/package.json
  tools/design-data-agent-mcp/skills/design-data/SKILL.md
  tools/design-data-mcp/CHANGELOG.md
  tools/design-data-mcp/package.json
  tools/design-data-skill/skills/design-data/SKILL.md
  tools/markdown-generator/CHANGELOG.md
  tools/markdown-generator/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
  tools/token-corpus-migrate/CHANGELOG.md
  tools/token-corpus-migrate/package.json
  tools/token-naming-audit/CHANGELOG.md
  tools/token-naming-audit/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix: token/component diff-comment CI failing on fork PRs (closes #1304)
  .changeset/lazy-otters-diff-local-components.md
  .github/actions/generate-diff/action.yml
  .github/workflows/component-diff-pr-comment-post.yml
  .github/workflows/component-diff-pr-comment.yml
  .github/workflows/token-diff-pr-comment-post.yml
  .github/workflows/token-diff-pr-comment.yml
  tools/component-diff-generator/src/lib/component-file-import.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix: token/component diff-comment CI failing on fork PRs (#1305)
  .changeset/lazy-otters-diff-local-components.md
  .github/actions/generate-diff/action.yml
  .github/workflows/component-diff-pr-comment-post.yml
  .github/workflows/component-diff-pr-comment.yml
  .github/workflows/token-diff-pr-comment-post.yml
  .github/workflows/token-diff-pr-comment.yml
  tools/component-diff-generator/src/lib/component-file-import.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(sdk): update stale TUI snapshot fixtures to v0.6.0
  sdk/tui/tests/snapshots/snapshots__palette_open_80x24.snap
  sdk/tui/tests/snapshots/snapshots__wizard_screen1_80x24.snap
Due: none

fix(sdk): update stale TUI snapshot fixtures to v0.6.0 (#1307)
  sdk/tui/tests/snapshots/snapshots__palette_open_80x24.snap
  sdk/tui/tests/snapshots/snapshots__wizard_screen1_80x24.snap
Due: none

fix(ci): add trailing newline to diff-content artifact file
  .github/workflows/component-diff-pr-comment.yml
  .github/workflows/token-diff-pr-comment.yml
Due: prettier --write

fix(ci): add trailing newline to diff-content artifact file (#1308)
  .github/workflows/component-diff-pr-comment.yml
  .github/workflows/token-diff-pr-comment.yml
Due: prettier --write

feat(design-data-spec): add SPEC-050 property-decomposition audit
  .changeset/loud-plums-detect.md
  packages/design-data-spec/conformance/invalid/SPEC-050/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-050/expected-errors.json
  packages/design-data-spec/rules/rules.yaml
  sdk/core/src/validate/rules/mod.rs
  sdk/core/src/validate/rules/spec050.rs
  tools/token-mapping-analyzer/src/decomposer.js
  tools/token-mapping-analyzer/src/index.js
  tools/token-mapping-analyzer/src/property-atomicity.js
  tools/token-mapping-analyzer/test/property-atomicity.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data-spec): reconcile SPEC-050 fusion detection with JS audit
  sdk/core/src/validate/rules/spec050.rs
  tools/token-mapping-analyzer/src/decomposer.js
  tools/token-mapping-analyzer/src/property-atomicity.js
Due: prettier --write

feat(design-data-spec): add SPEC-050 property-decomposition audit (#1309)
  .changeset/loud-plums-detect.md
  packages/design-data-spec/conformance/invalid/SPEC-050/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-050/expected-errors.json
  packages/design-data-spec/rules/rules.yaml
  sdk/core/src/validate/rules/mod.rs
  sdk/core/src/validate/rules/spec050.rs
  tools/token-mapping-analyzer/src/decomposer.js
  tools/token-mapping-analyzer/src/index.js
  tools/token-mapping-analyzer/src/property-atomicity.js
  tools/token-mapping-analyzer/test/property-atomicity.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (#1306)
  .changeset/lazy-otters-diff-local-components.md
  .changeset/loud-plums-detect.md
  packages/design-data-spec/CHANGELOG.md
  packages/design-data-spec/package.json
  tools/component-diff-generator/CHANGELOG.md
  tools/component-diff-generator/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(ci): remove redundant jetli/wasm-pack-action from deploy-docs
  .github/workflows/deploy-docs.yml
Due: prettier --write

fix(design-data): decompose compound-state opacity tokens (closes spectrum-design-data-284.5)
  .changeset/decompose-compound-state-opacity.md
  packages/design-data/tokens/layout-component.tokens.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): decompose compound-state opacity tokens (284.5) (#1310)
  .changeset/decompose-compound-state-opacity.md
  packages/design-data/tokens/layout-component.tokens.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

gitblobstore: checkandput manifest
  manifest
  moa7g9pkfti35rt201tf6uvjpci6s42f.darc
Due: none

gitblobstore: checkandput manifest
  manifest
  mfulprnemopqd9q7i6ejdortdsgpsd94
Due: none

gitblobstore: checkandput manifest
  manifest
  uc3frlc2rrcrmp1idlqm08p6kurgkctb.darc
Due: none
