Repository adobe/spectrum-design-data: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,yml,yaml}": ["prettier --write"],
  "**/*.md": [
    "remark --use remark-frontmatter --use remark-gfm --use remark-github --output"
  ],
  "!**/.changeset/*.md": [],
  "!**/pnpm-lock.yaml": [],
  "!**/package-lock.json": [],
  "!**/yarn.lock": [],
  ".changeset/*.md": [
    "pnpm changeset-lint check-file"
  ]
}

feat(tui): add Spectrum logo start screen
  sdk/tui/src/lib.rs
  sdk/tui/src/logo.rs
  sdk/tui/src/view.rs
  sdk/tui/tests/render.rs
Due: none

feat(migrate): richer name-object resolution in legacy→cascade converter
  sdk/Cargo.lock
  sdk/cli/src/main.rs
  sdk/core/src/legacy.rs
  sdk/core/src/migrate.rs
  sdk/core/src/naming.rs
Due: none

fix(tui): address PR review on home screen
  sdk/tui/src/help.rs
  sdk/tui/src/logo.rs
  sdk/tui/src/view.rs
  sdk/tui/tests/render.rs
Due: none

fix(tui): tighten review follow-ups on home screen
  sdk/tui/src/logo.rs
  sdk/tui/src/view.rs
Due: none

fix(tui): use taller buffer in home screen render test
  sdk/tui/tests/render.rs
Due: none

feat(tui): conditionally show logo based on available terminal height
  sdk/tui/src/view.rs
  sdk/tui/tests/render.rs
Due: none

docs(demo): replace Cursor video with terminal cast for agent demo (D)
  sdk/Cargo.lock
  tools/demo/README.md
  tools/demo/presentation/RECORDING.md
  tools/demo/presentation/public/casts/D-agent.cast
  tools/demo/presentation/record-casts.sh
  tools/demo/presentation/slides.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(migrate): address PR review on name-object resolution
  sdk/core/src/migrate.rs
  sdk/core/src/naming.rs
Due: none

feat(migrate): richer name-object resolution in legacy→cascade converter (#1095)
  sdk/Cargo.lock
  sdk/cli/src/main.rs
  sdk/core/src/legacy.rs
  sdk/core/src/migrate.rs
  sdk/core/src/naming.rs
Due: none

feat(design-data): add cascade-format token package as new source of truth
  packages/design-data/moon.yml
  packages/design-data/package.json
  packages/design-data/tokens/color-aliases.tokens.json
  packages/design-data/tokens/color-component.tokens.json
  packages/design-data/tokens/color-palette.tokens.json
  packages/design-data/tokens/icons.tokens.json
  packages/design-data/tokens/layout-component.tokens.json
  packages/design-data/tokens/layout.tokens.json
  packages/design-data/tokens/semantic-color-palette.tokens.json
  packages/design-data/tokens/typography.tokens.json
Due: prettier --write

fix(design-data): address PR review on cascade token package
  .changeset/add-spectrum-design-data-package.md
  packages/design-data/README.md
  packages/design-data/moon.yml
  packages/design-data/package.json
  packages/tokens/README.md
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(changeset): wrap long line in design-data package changeset
  .changeset/add-spectrum-design-data-package.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

revert(tokens): remove premature generated-src warning from README
  packages/design-data/package.json
  packages/tokens/README.md
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(design-data): add cascade-format token package as new source of truth (#1099)
  .changeset/add-spectrum-design-data-package.md
  packages/design-data/README.md
  packages/design-data/moon.yml
  packages/design-data/package.json
  packages/design-data/tokens/color-aliases.tokens.json
  packages/design-data/tokens/color-component.tokens.json
  packages/design-data/tokens/color-palette.tokens.json
  packages/design-data/tokens/icons.tokens.json
  packages/design-data/tokens/layout-component.tokens.json
  packages/design-data/tokens/layout.tokens.json
  packages/design-data/tokens/semantic-color-palette.tokens.json
  packages/design-data/tokens/typography.tokens.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (#1100)
  .changeset/add-spectrum-design-data-package.md
  packages/design-data/CHANGELOG.md
  packages/design-data/package.json
  pnpm-lock.yaml
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

docs(demo): add cascade format context to agent section speaker notes
  tools/demo/presentation/slides.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(design-data): embed cascade snapshot as CLI source of truth
  .changeset/cascade-embed-source-of-truth.md
  sdk/core/src/cache/mod.rs
  sdk/core/src/data_source/embedded.rs
  sdk/core/src/data_source/fetch.rs
  sdk/core/src/data_source/mod.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

docs(demo): update presentation for cascade embed change
  tools/demo/presentation/RECORDING.md
  tools/demo/presentation/public/casts/A-find.cast
  tools/demo/presentation/public/casts/C-suggest.cast
  tools/demo/presentation/public/casts/D-agent.cast
  tools/demo/presentation/record-casts.sh
  tools/demo/presentation/slides.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(design-data): address review feedback on cascade embed PR
  sdk/core/src/data_source/fetch.rs
  sdk/core/src/data_source/mod.rs
  tools/demo/presentation/public/casts/C-suggest.cast
  tools/demo/presentation/public/casts/D-agent.cast
Due: none

feat(design-data): embed cascade snapshot as CLI source of truth (#1097)
  .changeset/cascade-embed-source-of-truth.md
  sdk/core/src/cache/mod.rs
  sdk/core/src/data_source/embedded.rs
  sdk/core/src/data_source/fetch.rs
  sdk/core/src/data_source/mod.rs
  tools/demo/README.md
  tools/demo/presentation/RECORDING.md
  tools/demo/presentation/public/casts/A-find.cast
  tools/demo/presentation/public/casts/C-suggest.cast
  tools/demo/presentation/public/casts/D-agent.cast
  tools/demo/presentation/record-casts.sh
  tools/demo/presentation/slides.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (#1101)
  .changeset/cascade-embed-source-of-truth.md
  sdk/cli/CHANGELOG.md
  sdk/cli/Cargo.toml
  sdk/cli/package.json
  sdk/npm/darwin-arm64/CHANGELOG.md
  sdk/npm/darwin-arm64/package.json
  sdk/npm/darwin-x64/CHANGELOG.md
  sdk/npm/darwin-x64/package.json
  sdk/npm/linux-x64/CHANGELOG.md
  sdk/npm/linux-x64/package.json
  sdk/npm/win32-x64/CHANGELOG.md
  sdk/npm/win32-x64/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data-agent-mcp): start server when launched via symlink
  .changeset/symlink-safe-mcp-entry.md
  tools/design-data-agent-mcp/src/index.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

test(design-data-agent-mcp): cover symlink launch of entry point
  tools/design-data-agent-mcp/test/index.test.js
Due: prettier --write

fix(design-data-agent-mcp): start server when launched via symlink (#1102)
  .changeset/symlink-safe-mcp-entry.md
  tools/design-data-agent-mcp/src/index.js
  tools/design-data-agent-mcp/test/index.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (#1103)
  .changeset/symlink-safe-mcp-entry.md
  tools/design-data-agent-mcp/CHANGELOG.md
  tools/design-data-agent-mcp/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(tokens): re-apply 100 spec-order renames from PR #814 gap analysis
  .changeset/pr814-spec-order-renames.md
  packages/tokens/src/color-aliases.json
  packages/tokens/src/color-component.json
  packages/tokens/src/layout-component.json
  packages/tokens/src/layout.json
  packages/tokens/src/semantic-color-palette.json
  packages/tokens/src/typography.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

chore(sdk): bump ratatui 0.28→0.30 and rust toolchain 1.85→1.88
  .changeset/tui-ratatui-0-30-bump.md
  .github/workflows/release.yml
  sdk/Cargo.lock
  sdk/rust-toolchain.toml
  sdk/tui/Cargo.toml
  sdk/tui/src/runtime.rs
  sdk/tui/src/view.rs
  sdk/tui/src/view_find.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(tui,demo): add layout tests, tui-verify runner, and rmux automation
  .changeset/auto-demo-rmux-recording.md
  .changeset/demo-d-hooks.md
  .changeset/tui-verify-skill-and-layout-tests.md
  sdk/tui/tests/layout.rs
  tools/demo/auto/Dockerfile
  tools/demo/auto/auto-demo.sh
  tools/demo/auto/beats/A.beats.sh
  tools/demo/auto/beats/B.beats.sh
  tools/demo/auto/beats/C.beats.sh
  tools/demo/auto/beats/D.beats.sh
  tools/demo/auto/hooks/record-beat.sh
  tools/demo/auto/hooks/settings.json
  tools/demo/auto/hooks/stop-done.sh
  tools/demo/auto/lib/rmux-drive.sh
  tools/demo/auto/verify-tui.sh
  tools/demo/moon.yml
  tools/demo/presentation/RECORDING.md
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

chore(demo): refresh recorded casts, update slides format, and add video pipeline
  tools/demo/presentation/public/casts/A-find.cast
  tools/demo/presentation/public/casts/B-name.cast
  tools/demo/presentation/public/casts/C-suggest.cast
  tools/demo/presentation/public/casts/D-agent.cast
  tools/demo/presentation/slides.md
  tools/demo/videos/A-find.demo.mjs
  tools/demo/videos/B-name.demo.mjs
  tools/demo/videos/C-suggest.demo.mjs
  tools/demo/videos/D-agent.demo.mjs
  tools/demo/videos/lib/split-cast.py
  tools/demo/videos/lib/tape.mjs
  tools/demo/videos/render.mjs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(sdk): resolve clippy lint failures surfaced by toolchain upgrade
  sdk/Cargo.lock
  sdk/core/src/cache/mem_backend.rs
  sdk/core/src/cache/mod.rs
  sdk/core/src/data_source/embedded.rs
  sdk/core/src/data_source/mod.rs
  sdk/core/src/graph.rs
  sdk/core/src/legacy.rs
  sdk/core/src/lib.rs
  sdk/core/src/validate/rules/spec039.rs
  sdk/core/src/validate/rules/spec041.rs
  sdk/core/tests/suggest_calibration.rs
  sdk/tui/Cargo.toml
Due: none

feat(design-data): migrate cascade token \$ref aliases from name strings to UUIDs
  .changeset/cascade-uuid-refs.md
  packages/design-data-spec/schemas/token.schema.json
  packages/design-data-spec/spec/token-format.md
  packages/design-data/tokens/color-aliases.tokens.json
  packages/design-data/tokens/color-component.tokens.json
  packages/design-data/tokens/icons.tokens.json
  packages/design-data/tokens/layout-component.tokens.json
  packages/design-data/tokens/layout.tokens.json
  packages/design-data/tokens/semantic-color-palette.tokens.json
  packages/design-data/tokens/typography.tokens.json
  packages/tokens/schemas/token-types/alias.json
  sdk/core/src/graph.rs
  sdk/core/src/legacy.rs
  sdk/core/src/migrate.rs
  sdk/core/src/validate/rules/spec001.rs
  sdk/core/src/validate/rules/spec002.rs
  sdk/core/src/validate/rules/spec003.rs
  sdk/core/src/validate/rules/spec015.rs
  sdk/core/src/validate/rules/spec042.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(sdk): address review feedback on cascade UUID $ref aliases
  docs/site/public/schemas/token-types/token.json
  packages/design-data-spec/spec/cascade.md
  packages/tokens/schemas/token-types/alias.json
  packages/tokens/schemas/token-types/token.json
  packages/tokens/test/schemaValidators/alias.test.js
  sdk/core/src/graph.rs
  sdk/core/src/migrate.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(demo): address review findings on tui-verify and auto-demo tooling
  .changeset/auto-demo-rmux-recording.md
  tools/demo/auto/Dockerfile
  tools/demo/auto/auto-demo.sh
  tools/demo/auto/beats/D.beats.sh
  tools/demo/auto/hooks/settings.json
  tools/demo/presentation/RECORDING.md
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(changesets): replace Rust crate names with npm wrapper package
  .changeset/cascade-uuid-refs.md
  .changeset/tui-ratatui-0-30-bump.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(changesets): replace Rust crate design-data-tui with npm wrapper
  .changeset/tui-ratatui-0-30-bump.md
  .changeset/tui-verify-skill-and-layout-tests.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(tui,demo): add layout breakpoint tests, tui-verify skill runner, and rmux automation framework (#1107)
  .changeset/auto-demo-rmux-recording.md
  .changeset/demo-d-hooks.md
  .changeset/tui-verify-skill-and-layout-tests.md
  sdk/tui/tests/layout.rs
  tools/demo/auto/Dockerfile
  tools/demo/auto/auto-demo.sh
  tools/demo/auto/beats/A.beats.sh
  tools/demo/auto/beats/B.beats.sh
  tools/demo/auto/beats/C.beats.sh
  tools/demo/auto/beats/D.beats.sh
  tools/demo/auto/hooks/record-beat.sh
  tools/demo/auto/hooks/settings.json
  tools/demo/auto/hooks/stop-done.sh
  tools/demo/auto/lib/rmux-drive.sh
  tools/demo/auto/verify-tui.sh
  tools/demo/moon.yml
  tools/demo/presentation/RECORDING.md
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(ci): update component diff trigger path to design-data/components
  .github/workflows/component-diff-pr-comment.yml
Due: prettier --write

fix(design-data): address PR #1113 review issues and CI failures
  .changeset/tui-verify-skill-and-layout-tests.md
  docs/markdown/pages/ai.md
  docs/site/src/pages/ai.md
  packages/design-data/moon.yml
  tools/demo/verify-demo.sh
  tools/design-data-agent-mcp/README.md
  tools/design-data-agent-mcp/skills/design-data/SKILL.md
  tools/design-data-agent-mcp/src/config.js
  tools/design-data-agent-mcp/src/tools/read.js
  tools/design-data-agent-mcp/src/tools/validate.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file
