Repository adobe/spectrum-design-data: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,yml,yaml}": ["prettier --write"],
  "**/*.md": [
    "remark --use remark-frontmatter --use remark-gfm --use remark-github --output"
  ],
  "!**/.changeset/*.md": [],
  "!**/pnpm-lock.yaml": [],
  "!**/package-lock.json": [],
  "!**/yarn.lock": [],
  ".changeset/*.md": [
    "pnpm changeset-lint check-file"
  ]
}

feat(spectrum-hub-fetcher): add RSP/SWC per-section content merge logic
  tools/s2-docs-to-document-blocks/src/blocks-builder.js
  tools/spectrum-hub-fetcher/README.md
  tools/spectrum-hub-fetcher/src/component-fetch.js
  tools/spectrum-hub-fetcher/src/component-map.js
  tools/spectrum-hub-fetcher/src/component-merge.js
  tools/spectrum-hub-fetcher/test/component-fetch.test.js
  tools/spectrum-hub-fetcher/test/component-merge.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(ci): add Hub component sync workflow (Phase C, spectrum-design-data-085.2.5)
  .github/scripts/bump-embedded-counts.mjs
  .github/workflows/hub-component-sync.yml
  sdk/core/src/data_source/embedded.rs
  tools/spectrum-hub-fetcher/scripts/stage-components.js
  tools/spectrum-hub-fetcher/src/component-sync-cli.js
  tools/spectrum-hub-fetcher/src/component-sync.js
  tools/spectrum-hub-fetcher/test/component-sync.test.js
Due: prettier --write

feat(ci): register hub component sync workflow
  .github/scripts/bump-embedded-counts.mjs
  .github/workflows/hub-component-sync.yml
Due: prettier --write

feat(ci): register hub component sync workflow (#1468)
  .github/scripts/bump-embedded-counts.mjs
  .github/workflows/hub-component-sync.yml
Due: prettier --write

feat(ci): add Hub component sync workflow (Phase C, spectrum-design-data-085.2.5) (#1467)
  .github/scripts/bump-embedded-counts.mjs
  .github/workflows/hub-component-sync.yml
  sdk/core/src/data_source/embedded.rs
  tools/spectrum-hub-fetcher/scripts/stage-components.js
  tools/spectrum-hub-fetcher/src/component-sync-cli.js
  tools/spectrum-hub-fetcher/src/component-sync.js
  tools/spectrum-hub-fetcher/test/component-sync.test.js
Due: prettier --write

feat(guidelines): re-point stale sourceUrl fields, retire duplicates (085.2.4)
  .changeset/hub-guideline-sourceurl-repoint.md
  packages/design-data/guidelines/app-frame-content-area.json
  packages/design-data/guidelines/app-frame-creating-bluelines.json
  packages/design-data/guidelines/app-frame-header.json
  packages/design-data/guidelines/app-frame-side-navigation.json
  packages/design-data/guidelines/containers.json
  packages/design-data/guidelines/illustrations.json
  packages/design-data/guidelines/introduction.json
  packages/design-data/guidelines/manifest.json
  packages/design-data/guidelines/object-styles.json
  packages/design-data/guidelines/principles.json
  packages/design-data/guidelines/spacing.json
  packages/design-data/guidelines/typography-fundamentals.json
  sdk/core/src/data_source/embedded.rs
  tools/spectrum-hub-fetcher/src/hub-map.js
  tools/spectrum-hub-fetcher/test/hub-map.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(guidelines): re-point stale sourceUrl fields, retire duplicates (085.2.4) (#1470)
  .changeset/hub-guideline-sourceurl-repoint.md
  packages/design-data/guidelines/app-frame-content-area.json
  packages/design-data/guidelines/app-frame-creating-bluelines.json
  packages/design-data/guidelines/app-frame-header.json
  packages/design-data/guidelines/app-frame-side-navigation.json
  packages/design-data/guidelines/containers.json
  packages/design-data/guidelines/illustrations.json
  packages/design-data/guidelines/introduction.json
  packages/design-data/guidelines/manifest.json
  packages/design-data/guidelines/object-styles.json
  packages/design-data/guidelines/principles.json
  packages/design-data/guidelines/spacing.json
  packages/design-data/guidelines/typography-fundamentals.json
  sdk/core/src/data_source/embedded.rs
  tools/spectrum-hub-fetcher/src/hub-map.js
  tools/spectrum-hub-fetcher/test/hub-map.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(design-data-agent-mcp): add describe_guideline read tool
  .changeset/design-data-agent-mcp-describe-guideline.md
  pnpm-lock.yaml
  tools/design-data-agent-mcp/README.md
  tools/design-data-agent-mcp/src/config.js
  tools/design-data-agent-mcp/src/tools/read.js
  tools/design-data-agent-mcp/test/index.test.js
  tools/design-data-agent-mcp/test/read.test.js
  tools/design-data-mcp/package.json
  tools/design-data-mcp/src/tools/design-data.js
  tools/design-data/package.json
  tools/design-data/src/guideline.js
  tools/design-data/test/guideline.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): reject manifest id in loadGuideline, dedupe kebab-case validators
  .changeset/design-data-agent-mcp-describe-guideline.md
  tools/design-data-agent-mcp/src/tools/read.js
  tools/design-data/src/guideline.js
  tools/design-data/test/guideline.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(design-data-agent-mcp): add describe_guideline read tool (main) (#1472)
  .changeset/design-data-agent-mcp-describe-guideline.md
  pnpm-lock.yaml
  tools/design-data-agent-mcp/README.md
  tools/design-data-agent-mcp/src/config.js
  tools/design-data-agent-mcp/src/tools/read.js
  tools/design-data-agent-mcp/test/index.test.js
  tools/design-data-agent-mcp/test/read.test.js
  tools/design-data-mcp/package.json
  tools/design-data-mcp/src/tools/design-data.js
  tools/design-data/package.json
  tools/design-data/src/guideline.js
  tools/design-data/test/guideline.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(design-data-agent-mcp): add describe_guideline read tool (#1471)
  .changeset/design-data-agent-mcp-describe-guideline.md
  pnpm-lock.yaml
  tools/design-data-agent-mcp/README.md
  tools/design-data-agent-mcp/src/config.js
  tools/design-data-agent-mcp/src/tools/read.js
  tools/design-data-agent-mcp/test/index.test.js
  tools/design-data-agent-mcp/test/read.test.js
  tools/design-data-mcp/package.json
  tools/design-data-mcp/src/tools/design-data.js
  tools/design-data/package.json
  tools/design-data/src/guideline.js
  tools/design-data/test/guideline.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (#1473)
  .changeset/design-data-agent-mcp-describe-guideline.md
  tools/design-data-agent-mcp/CHANGELOG.md
  tools/design-data-agent-mcp/package.json
  tools/design-data-agent-mcp/skills/design-data/SKILL.md
  tools/design-data-mcp/CHANGELOG.md
  tools/design-data-mcp/package.json
  tools/design-data/CHANGELOG.md
  tools/design-data/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (beta) (#1464)
  .changeset/pre.json
  packages/component-schemas/CHANGELOG.md
  packages/component-schemas/package.json
  packages/design-data/CHANGELOG.md
  packages/design-data/package.json
  packages/design-system-registry/CHANGELOG.md
  packages/design-system-registry/package.json
  tools/component-options-editor/CHANGELOG.md
  tools/component-options-editor/package.json
  tools/design-data-agent-mcp/CHANGELOG.md
  tools/design-data-agent-mcp/package.json
  tools/design-data-agent-mcp/skills/design-data/SKILL.md
  tools/design-data-mcp/CHANGELOG.md
  tools/design-data-mcp/package.json
  tools/design-data-skill/skills/design-data/SKILL.md
  tools/design-data/CHANGELOG.md
  tools/design-data/package.json
  tools/markdown-generator/CHANGELOG.md
  tools/markdown-generator/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
  tools/token-corpus-migrate/CHANGELOG.md
  tools/token-corpus-migrate/package.json
  tools/token-naming-audit/CHANGELOG.md
  tools/token-naming-audit/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(sdk): add resolve --format dtcg output
  SPECTRUM_MULTIPLATFORM_SDK_STRATEGY.md
  docs/rfc-coordination.md
  sdk/README.md
  sdk/cli/src/main.rs
  sdk/cli/tests/cli_dtcg.rs
  sdk/core/src/dtcg.rs
  sdk/core/src/lib.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(sdk): add resolve --format dtcg output (#1474)
  SPECTRUM_MULTIPLATFORM_SDK_STRATEGY.md
  docs/rfc-coordination.md
  sdk/README.md
  sdk/cli/src/main.rs
  sdk/cli/tests/cli_dtcg.rs
  sdk/core/src/dtcg.rs
  sdk/core/src/lib.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(sdk): add bulk dataset DTCG export (export/query --format dtcg)
  sdk/README.md
  sdk/cli/src/main.rs
  sdk/cli/tests/cli_dtcg_bulk.rs
  sdk/core/src/dtcg.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(sdk): resolve dataset winners per token identity, not per property
  sdk/cli/src/main.rs
  sdk/cli/tests/cli_dtcg_bulk.rs
  sdk/core/src/cascade.rs
Due: none

feat(sdk): add bulk dataset DTCG export (export/query --format dtcg) (#1475)
  sdk/README.md
  sdk/cli/src/main.rs
  sdk/cli/tests/cli_dtcg_bulk.rs
  sdk/core/src/cascade.rs
  sdk/core/src/dtcg.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(design-data): add Articles section to Spectrum Design Data site
  docs/markdown/pages/articles/index.md
  docs/site/eleventy.config.js
  docs/site/src/articles/articles.11tydata.js
  docs/site/src/articles/understanding-spectrum-tokens.md
  docs/site/src/assets/js/article-filter.js
  docs/site/src/includes/layout/header.liquid
  docs/site/src/layouts/article.liquid
  docs/site/src/pages/articles/index.md
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

docs(design-data-spec): document export subcommand and --format dtcg in agent surface spec
  .changeset/agent-surface-dtcg-export.md
  packages/design-data-spec/spec/agent-surface.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(docs): correct stale token references in tokens article
  docs/site/src/articles/understanding-spectrum-tokens.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

docs(articles): add DTCG export article, add docs-voice-tone skill
  .claude/skills/docs-voice-tone/SKILL.md
  docs/site/src/articles/exporting-tokens-to-dtcg.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(docs): fix Articles page filter, badge, and layout bugs (closes spectrum-design-data-4nrb)
  docs/site/.impeccable/design.json
  docs/site/DESIGN.md
  docs/site/eleventy.config.js
  docs/site/package.json
  docs/site/src/assets/css/components/articles.css
  docs/site/src/assets/css/global/global.css
  docs/site/src/assets/css/index.css
  docs/site/src/assets/js/article-filter.js
  docs/site/src/pages/articles/index.md
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

docs(site): document Articles category taxonomy
  docs/site/src/articles/README.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(ci): update pnpm lockfile for docs badge
  pnpm-lock.yaml
Due: prettier --write

fix(docs): resolve PR review findings on Articles section
  docs/site/eleventy.config.js
  docs/site/src/articles/exporting-tokens-to-dtcg.md
  docs/site/src/assets/css/components/articles.css
  docs/site/src/layouts/article.liquid
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(design-data): add Articles section to Spectrum Design Data site (#1230)
  .claude/skills/docs-voice-tone/SKILL.md
  docs/markdown/pages/articles/index.md
  docs/site/.impeccable/design.json
  docs/site/DESIGN.md
  docs/site/eleventy.config.js
  docs/site/package.json
  docs/site/src/articles/README.md
  docs/site/src/articles/articles.11tydata.js
  docs/site/src/articles/exporting-tokens-to-dtcg.md
  docs/site/src/articles/understanding-spectrum-tokens.md
  docs/site/src/assets/css/components/articles.css
  docs/site/src/assets/css/global/global.css
  docs/site/src/assets/js/article-filter.js
  docs/site/src/data/navigation.js
  docs/site/src/includes/layout/header.liquid
  docs/site/src/layouts/article.liquid
  docs/site/src/pages/articles/index.md
  pnpm-lock.yaml
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

docs(design-data-spec): document export subcommand and --format dtcg in agent surface spec (#1476)
  .changeset/agent-surface-dtcg-export.md
  packages/design-data-spec/spec/agent-surface.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (#1477)
  .changeset/agent-surface-dtcg-export.md
  packages/design-data-spec/CHANGELOG.md
  packages/design-data-spec/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(sdk): populate Figma variable codeSyntax with Web token name
  sdk/core/src/figma/mapping.rs
Due: none

feat(sdk): wire manifest formatting into per-platform Figma codeSyntax
  sdk/cli/src/main.rs
  sdk/core/src/figma/mapping.rs
  sdk/core/src/manifest.rs
  sdk/core/src/naming.rs
Due: none

docs(sdk): document component-reordering ceiling in Figma codeSyntax formatting
  sdk/cli/src/main.rs
  sdk/core/src/figma/mapping.rs
Due: none

feat(sdk): Figma variable codeSyntax from legacy + per-platform names (#1478)
  sdk/cli/src/main.rs
  sdk/core/src/figma/mapping.rs
  sdk/core/src/manifest.rs
  sdk/core/src/naming.rs
Due: none

feat(design-data-spec): add component implementation metadata
  .changeset/silly-impalas-sleep.md
  packages/design-data-spec/schemas/component.schema.json
  packages/design-data-spec/spec/component-format.md
  packages/design-data/components/action-button.json
  packages/design-data/components/button.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

gitblobstore: checkandput manifest
  a0jl99422atvlh5jgv4aop2m3i19o7jb
  manifest
Due: none

fix(sdk): reject WEB in --code-syntax-manifest, honor excludeFromLegacyKey in conceptOrder
  sdk/cli/src/main.rs
  sdk/cli/tests/cli_figma_export.rs
  sdk/core/src/naming.rs
Due: none
