Repository adobe/spectrum-design-data: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

chore: add changeset for auto-collapse feature and shorten repo-rename
  .changeset/auto-collapse-large-diffs.md
  .changeset/repo-rename.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(ci): handle large diff outputs gracefully
  .github/actions/diff-pr-comment/action.yml
  .github/actions/generate-diff/action.yml
Due: prettier --write

fix: update visualizers to use spectrum-design-data URLs
  docs/s2-visualizer/src/controllers/graph-data-source.ts
  docs/visualizer/src/controllers/graph-data-source.ts
Due: prettier --write

fix: update visualizer to use spectrum-design-data URL
  docs/visualizer/src/controllers/graph-data-source.ts
Due: prettier --write

fix: update s2-visualizer to use spectrum-design-data main branch
  docs/s2-visualizer/README.md
  docs/s2-visualizer/src/controllers/graph-data-source.ts
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix: update visualizers to use correct spectrum-design-data URLs (#636)
  docs/s2-visualizer/README.md
  docs/s2-visualizer/src/controllers/graph-data-source.ts
  docs/visualizer/src/controllers/graph-data-source.ts
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(visualizer): update GitHub URLs to reflect repository rename
  docs/s2-visualizer/src/components/stvt-sidebar.ts
  docs/visualizer/src/components/stvt-sidebar.ts
Due: prettier --write

fix(visualizer): update S1 legacy visualizer to point to s1-legacy branch
  docs/visualizer/src/components/stvt-sidebar.ts
Due: prettier --write

fix(visualizer): update GitHub URLs to reflect repository rename (#637)
  docs/s2-visualizer/src/components/stvt-sidebar.ts
  docs/visualizer/src/components/stvt-sidebar.ts
Due: prettier --write

chore: update repo references from spectrum-tokens to spectrum-design-data
  tools/diff-generator/test/fileImportRefactored.test.js
  tools/release-analyzer/src/index.js
Due: prettier --write

fix(diff-generator): update default repo from spectrum-tokens to spectrum-design-data
  tools/diff-generator/src/lib/file-import.js
Due: prettier --write

fix(component-schemas): increase performance test threshold for CI environments
  packages/component-schemas/test/performance.test.js
Due: prettier --write

fix: update repository URLs to reflect repository rename
  .changeset/config.json
  package.json
  packages/component-schemas/package.json
  packages/tokens/package.json
Due: prettier --write

fix: update repository URLs to reflect repository rename (#638)
  .changeset/config.json
  package.json
  packages/component-schemas/package.json
  packages/tokens/package.json
Due: prettier --write

chore: ignore auto-generated token files in s2-tokens-viewer
  .gitignore
  docs/s2-tokens-viewer/tokens/color-aliases.json
  docs/s2-tokens-viewer/tokens/color-component.json
  docs/s2-tokens-viewer/tokens/color-palette.json
  docs/s2-tokens-viewer/tokens/icons.json
  docs/s2-tokens-viewer/tokens/layout-component.json
  docs/s2-tokens-viewer/tokens/layout.json
  docs/s2-tokens-viewer/tokens/package.json
  docs/s2-tokens-viewer/tokens/semantic-color-palette.json
  docs/s2-tokens-viewer/tokens/src/color-aliases.json
  docs/s2-tokens-viewer/tokens/src/color-component.json
  docs/s2-tokens-viewer/tokens/src/color-palette.json
  docs/s2-tokens-viewer/tokens/src/icons.json
  docs/s2-tokens-viewer/tokens/src/layout-component.json
  docs/s2-tokens-viewer/tokens/src/layout.json
  docs/s2-tokens-viewer/tokens/src/semantic-color-palette.json
  docs/s2-tokens-viewer/tokens/src/typography.json
  docs/s2-tokens-viewer/tokens/typography.json
Due: prettier --write

fix(ci): resolve viewer export task failures
  .github/workflows/deploy-docs.yml
  docs/s2-tokens-viewer/moon.yml
Due: prettier --write

fix(viewer): add prepare task to generate tokens directory
  docs/s2-tokens-viewer/moon.yml
Due: prettier --write

fix(viewer): ensure parent site directory exists before clean
  docs/s2-tokens-viewer/moon.yml
Due: prettier --write

fix(viewer): specify exact output path to avoid cache conflicts
  docs/s2-tokens-viewer/moon.yml
Due: prettier --write

fix(changelog): restore broken version links caused by remark-github
  .lintstagedrc.js
  tools/spectrum-design-data-mcp/CHANGELOG.md
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

chore: update repository URLs from spectrum-tokens to spectrum-design-data
  README.md
  docs/release-timeline/CHANGELOG.md
  docs/s2-tokens-viewer/CHANGELOG.md
  docs/s2-visualizer/CHANGELOG.md
  docs/s2-visualizer/README.md
  docs/site/CHANGELOG.md
  docs/visualizer/CHANGELOG.md
  docs/visualizer/README.md
  packages/component-schemas/CHANGELOG.md
  packages/tokens/CHANGELOG.md
  tools/changeset-linter/CHANGELOG.md
  tools/component-diff-generator/CHANGELOG.md
  tools/diff-generator/CHANGELOG.md
  tools/optimized-diff/CHANGELOG.md
  tools/release-analyzer/CHANGELOG.md
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/README.md
  tools/spectrum-diff-core/CHANGELOG.md
  tools/token-changeset-generator/CHANGELOG.md
  tools/token-changeset-generator/README.md
  tools/token-csv-generator/CHANGELOG.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

refactor(changelogs): link version numbers to GitHub release notes
  tools/spectrum-design-data-mcp/CHANGELOG.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

docs(visualizer): fix repository URLs and branch references
  docs/visualizer/README.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(tests): update repository URLs from spectrum-tokens to spectrum-design-data
  tools/diff-generator/src/lib/file-import.js
  tools/diff-generator/test/fileImportMain.test.js
  tools/diff-generator/test/fileImportRefactored.test.js
Due: prettier --write

Version Packages (#639)
  .changeset/docs-site-workspace-component-schemas.md
  .changeset/gh-pages-site-fix.md
  docs/site/CHANGELOG.md
  docs/site/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

chore(docs): remove unused JSON files from visualizer public directories
  docs/s2-visualizer/public/json/color-aliases.json
  docs/s2-visualizer/public/json/color-component.json
  docs/s2-visualizer/public/json/color-palette.json
  docs/s2-visualizer/public/json/components/action-button.json
  docs/s2-visualizer/public/json/layout-component.json
  docs/s2-visualizer/public/json/layout.json
  docs/s2-visualizer/public/json/semantic-color-palette.json
  docs/s2-visualizer/public/json/typography.json
  docs/visualizer/public/json/color-aliases.json
  docs/visualizer/public/json/color-component.json
  docs/visualizer/public/json/color-palette.json
  docs/visualizer/public/json/components/action-button.json
  docs/visualizer/public/json/layout-component.json
  docs/visualizer/public/json/layout.json
  docs/visualizer/public/json/semantic-color-palette.json
  docs/visualizer/public/json/typography.json
Due: prettier --write

chore(docs): remove unused JSON files from visualizer public directories (#640)
  docs/s2-visualizer/public/json/color-aliases.json
  docs/s2-visualizer/public/json/color-component.json
  docs/s2-visualizer/public/json/color-palette.json
  docs/s2-visualizer/public/json/components/action-button.json
  docs/s2-visualizer/public/json/layout-component.json
  docs/s2-visualizer/public/json/layout.json
  docs/s2-visualizer/public/json/semantic-color-palette.json
  docs/s2-visualizer/public/json/typography.json
  docs/visualizer/public/json/color-aliases.json
  docs/visualizer/public/json/color-component.json
  docs/visualizer/public/json/color-palette.json
  docs/visualizer/public/json/components/action-button.json
  docs/visualizer/public/json/layout-component.json
  docs/visualizer/public/json/layout.json
  docs/visualizer/public/json/semantic-color-palette.json
  docs/visualizer/public/json/typography.json
Due: prettier --write

fix(docs): missing task to include s2-tokens-viewer data
  .github/workflows/deploy-docs.yml
  docs/s2-tokens-viewer/moon.yml
  docs/s2-tokens-viewer/package.json
Due: prettier --write

fix(docs): bust moon cache for s2-tokens-viewer prepare task
  docs/s2-tokens-viewer/moon.yml
Due: prettier --write

fix(docs): update repository references from spectrum-tokens to spectrum-design-data
  SPECTRUM_MULTIPLATFORM_SDK_STRATEGY.md
  TOOLING_STANDARDS.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

Version Packages (#641)
  .changeset/auto-collapse-large-diffs.md
  .changeset/repo-rename.md
  docs/s2-tokens-viewer/CHANGELOG.md
  docs/s2-tokens-viewer/package.json
  docs/site/CHANGELOG.md
  docs/site/package.json
  packages/component-schemas/CHANGELOG.md
  packages/component-schemas/package.json
  packages/tokens/CHANGELOG.md
  packages/tokens/package.json
  tools/component-diff-generator/CHANGELOG.md
  tools/component-diff-generator/package.json
  tools/diff-generator/CHANGELOG.md
  tools/diff-generator/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
  tools/token-changeset-generator/CHANGELOG.md
  tools/token-changeset-generator/package.json
  tools/token-csv-generator/CHANGELOG.md
  tools/token-csv-generator/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

docs(tools): update documentation for component options editor
  .changeset/add-component-options-editor.md
  .cursor/plans/size-property-analysis.md
  .cursor/plans/token-options-mapping-analysis.md
  README.md
  tools/component-options-editor/README.md
  tools/token-name-parser/output/color-aliases-comparison-report.json
  tools/token-name-parser/output/color-aliases-validation-report.json
  tools/token-name-parser/output/color-component-comparison-report.json
  tools/token-name-parser/output/color-component-validation-report.json
  tools/token-name-parser/output/color-palette-comparison-report.json
  tools/token-name-parser/output/color-palette-validation-report.json
  tools/token-name-parser/output/comparison-report.json
  tools/token-name-parser/output/generated-layout.json
  tools/token-name-parser/output/icons-comparison-report.json
  tools/token-name-parser/output/icons-validation-report.json
  tools/token-name-parser/output/layout-comparison-report.json
  tools/token-name-parser/output/layout-component-comparison-report.json
  tools/token-name-parser/output/layout-component-validation-report.json
  tools/token-name-parser/output/layout-diff.json
  tools/token-name-parser/output/layout-validation-report.json
  tools/token-name-parser/output/semantic-color-palette-comparison-report.json
  tools/token-name-parser/output/semantic-color-palette-validation-report.json
  tools/token-name-parser/output/typography-comparison-report.json
  tools/token-name-parser/output/typography-validation-report.json
  tools/token-name-parser/output/validation-report.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(tools): fix eslint errors in component options editor
  pnpm-lock.yaml
  tools/component-options-editor/package.json
  tools/component-options-editor/src/plugin/helpers.ts
Due: prettier --write

fix(component-options-editor): resolve CI/CD test and build failures
  .changeset/add-component-options-editor.md
  pnpm-lock.yaml
  tools/component-options-editor/.gitignore
  tools/component-options-editor/ava.config.js
  tools/component-options-editor/moon.yml
  tools/component-options-editor/package.json
  tools/component-options-editor/src/ui/utils/jsonErrorUtils.test.js
  tools/component-options-editor/src/ui/validators/jsonValidator.test.js
  tools/component-options-editor/src/ui/validators/jsonValidator.ts
  tools/component-options-editor/tsconfig.json
  tools/component-options-editor/tsconfig.test.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(component-options-editor): add pretype-check hook to generate schemas before type checking
  tools/component-options-editor/package.json
Due: prettier --write

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,yml,yaml}
  remark --use remark-frontmatter --use remark-gfm --use remark-github --output: any of: **/*.md
  pnpm changeset-lint check-file: any of: .changeset/*.md
