Repository adobe/spectrum-design-data: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,yml,yaml}": ["prettier --write"],
  "**/*.md": [
    "remark --use remark-frontmatter --use remark-gfm --use remark-github --output"
  ],
  "!**/.changeset/*.md": [],
  "!**/pnpm-lock.yaml": [],
  "!**/package-lock.json": [],
  "!**/yarn.lock": [],
  ".changeset/*.md": [
    "pnpm changeset-lint check-file"
  ]
}

Version Packages (#1320)
  .changeset/backfill-deprecated-versions.md
  .changeset/figma-mapping-overrides.md
  .changeset/figma-name-audit.md
  .changeset/figma-variables-baseline-snapshot.md
  .changeset/nest-token-lifecycle-fields.md
  packages/component-schemas/CHANGELOG.md
  packages/component-schemas/package.json
  packages/design-data/CHANGELOG.md
  packages/design-data/package.json
  packages/design-system-registry/CHANGELOG.md
  packages/design-system-registry/package.json
  tools/component-options-editor/CHANGELOG.md
  tools/component-options-editor/package.json
  tools/design-data-agent-mcp/CHANGELOG.md
  tools/design-data-agent-mcp/package.json
  tools/design-data-agent-mcp/skills/design-data/SKILL.md
  tools/design-data-mcp/CHANGELOG.md
  tools/design-data-mcp/package.json
  tools/design-data-skill/skills/design-data/SKILL.md
  tools/markdown-generator/CHANGELOG.md
  tools/markdown-generator/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
  tools/token-corpus-migrate/CHANGELOG.md
  tools/token-corpus-migrate/package.json
  tools/token-naming-audit/CHANGELOG.md
  tools/token-naming-audit/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

chore(sdk): trim local build/link overhead and add CI sccache (spectrum-design-data-tdb)
  .github/workflows/ci.yml
  sdk/Cargo.toml
  sdk/core/tests/integration.rs
  sdk/core/tests/prop_naming.rs
  sdk/core/tests/suggest_calibration.rs
  sdk/scripts/bench-build.sh
Due: prettier --write

fix(sdk): fix moon sources fileGroup so CI actually re-verifies test/toml changes
  sdk/moon.yml
Due: prettier --write

revert(sdk): drop sccache CI wiring — broken via GH cache API sunset
  .github/workflows/ci.yml
Due: prettier --write

chore(sdk): trim local build/link overhead, add CI sccache (spectrum-design-data-tdb) (#1326)
  sdk/Cargo.toml
  sdk/core/tests/integration.rs
  sdk/core/tests/prop_naming.rs
  sdk/core/tests/suggest_calibration.rs
  sdk/moon.yml
  sdk/scripts/bench-build.sh
Due: prettier --write

gitblobstore: checkandput manifest
  6d68eu9rcd0rnorb5tg8kk899659bi06.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  63c8h60qcihmispgcpmvdvco2ucmehp2
  manifest
Due: none

dolt remote info
  DOLT_REMOTE.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(design-data-spec,sdk): add Component/Token Relationship (CTR) foundation
  packages/design-data-spec/rules/rules.yaml
  packages/design-data-spec/schemas/relationship.schema.json
  packages/design-data-spec/scripts/check-layout.mjs
  packages/design-data-spec/spec/index.md
  packages/design-data-spec/spec/relationship-format.md
  sdk/core/src/data_source/mod.rs
  sdk/core/src/graph.rs
  sdk/core/src/manifest.rs
  sdk/core/src/validate/dataset_structure.rs
  sdk/core/src/validate/rules/mod.rs
  sdk/core/src/validate/rules/spec019.rs
  sdk/core/src/validate/rules/spec040.rs
  sdk/core/src/validate/rules/spec051.rs
  sdk/core/src/validate/rules/spec052.rs
  sdk/core/src/validate/rules/spec053.rs
  sdk/core/src/validate/rules/spec054.rs
  sdk/core/src/validate/rules/spec055.rs
  sdk/core/src/validate/rules/spec056.rs
  sdk/core/src/validate/rules/spec057.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

chore(design-data-spec): add changeset for CTR foundation
  .changeset/ctr-foundation.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(sdk,design-data-spec): wire CTR validation into the real pipeline, address review findings
  packages/design-data-spec/schemas/relationship.schema.json
  sdk/core/src/authoring/lifecycle.rs
  sdk/core/src/validate/mod.rs
  sdk/core/src/validate/rules/mod.rs
  sdk/core/src/validate/rules/spec019.rs
  sdk/core/src/validate/rules/spec040.rs
  sdk/core/src/validate/rules/spec052.rs
  sdk/core/src/validate/rules/spec053.rs
  sdk/core/src/validate/rules/spec054.rs
  sdk/core/src/validate/rules/spec056.rs
Due: prettier --write

feat(design-data-spec,sdk): add Component/Token Relationship (CTR) foundation (#1327)
  .changeset/ctr-foundation.md
  packages/design-data-spec/rules/rules.yaml
  packages/design-data-spec/schemas/relationship.schema.json
  packages/design-data-spec/scripts/check-layout.mjs
  packages/design-data-spec/spec/index.md
  packages/design-data-spec/spec/relationship-format.md
  sdk/core/src/authoring/lifecycle.rs
  sdk/core/src/data_source/mod.rs
  sdk/core/src/graph.rs
  sdk/core/src/manifest.rs
  sdk/core/src/validate/dataset_structure.rs
  sdk/core/src/validate/mod.rs
  sdk/core/src/validate/rules/mod.rs
  sdk/core/src/validate/rules/spec019.rs
  sdk/core/src/validate/rules/spec040.rs
  sdk/core/src/validate/rules/spec051.rs
  sdk/core/src/validate/rules/spec052.rs
  sdk/core/src/validate/rules/spec053.rs
  sdk/core/src/validate/rules/spec054.rs
  sdk/core/src/validate/rules/spec055.rs
  sdk/core/src/validate/rules/spec056.rs
  sdk/core/src/validate/rules/spec057.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(sdk): teach legacy generator to reconstruct CTRs with a legacyKey
  sdk/core/src/legacy.rs
Due: none

fix(sdk): make convert_dir reach relationships/ as a sibling of tokens/
  packages/design-data/moon.yml
  sdk/core/src/legacy.rs
Due: prettier --write

feat(sdk): teach legacy generator to reconstruct CTRs with a legacyKey (#1329)
  packages/design-data/moon.yml
  sdk/core/src/legacy.rs
Due: prettier --write

fix(sdk,design-data,tools): fix CI failures on CTR migration (spectrum-design-data-x29.4)
  .changeset/ctr-describe-component-fix.md
  .changeset/ctr-migration-tokens-reorg.md
  packages/design-data-spec/scripts/seed-token-bindings.mjs
  packages/design-data/moon.yml
  packages/design-data/scripts/migrate-to-relationships.mjs
  packages/tokens/manifest.json
  packages/tokens/snapshots/validation-snapshot.json
  packages/tokens/src/color-component.json
  packages/tokens/test/checkComponentProps.js
  sdk/cli/src/main.rs
  sdk/core/src/data_source/mod.rs
  sdk/core/src/graph.rs
  sdk/core/src/validate/rules/spec001.rs
  sdk/core/src/validate/rules/spec010.rs
  sdk/core/src/validate/rules/spec055.rs
  tools/design-data-agent-mcp/src/config.js
  tools/design-data-agent-mcp/src/tools/read.js
  tools/token-mapping-analyzer/src/ctr-scope.js
  tools/token-mapping-analyzer/test/apply.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(tokens): regenerate manifest.json after CTR per-component reorg
  .changeset/ctr-migration-tokens-reorg.md
  packages/tokens/manifest.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(design-data-spec,sdk): add CTR conformance fixtures (closes spectrum-design-data-x29.5)
  .changeset/ctr-conformance-fixtures.md
  packages/design-data-spec/conformance/generation/ctr-legacy-key/expected/button.json
  packages/design-data-spec/conformance/generation/ctr-legacy-key/expected/tokens.json
  packages/design-data-spec/conformance/generation/ctr-legacy-key/input/tokens.tokens.json
  packages/design-data-spec/conformance/generation/ctr-legacy-key/relationships/button.json
  packages/design-data-spec/conformance/invalid/SPEC-051/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-051/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-052/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-052/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-053/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-053/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-054/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-054/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-055/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-055/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-056/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-056/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-057/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-057/expected-errors.json
  packages/design-data-spec/conformance/valid/SPEC-051/dataset.json
  packages/design-data-spec/scripts/check-layout.mjs
  sdk/core/src/lib.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(design-data-spec,sdk): add CTR conformance fixtures (#1331)
  .changeset/ctr-conformance-fixtures.md
  packages/design-data-spec/conformance/generation/ctr-legacy-key/expected/button.json
  packages/design-data-spec/conformance/generation/ctr-legacy-key/expected/tokens.json
  packages/design-data-spec/conformance/generation/ctr-legacy-key/input/tokens.tokens.json
  packages/design-data-spec/conformance/generation/ctr-legacy-key/relationships/button.json
  packages/design-data-spec/conformance/invalid/SPEC-051/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-051/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-052/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-052/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-053/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-053/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-054/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-054/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-055/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-055/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-056/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-056/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-057/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-057/expected-errors.json
  packages/design-data-spec/conformance/valid/SPEC-051/dataset.json
  packages/design-data-spec/scripts/check-layout.mjs
  sdk/core/src/lib.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (#1328)
  .changeset/ctr-conformance-fixtures.md
  .changeset/ctr-describe-component-fix.md
  .changeset/ctr-foundation.md
  .changeset/ctr-migration-tokens-reorg.md
  .changeset/ctr-migration.md
  docs/s2-tokens-viewer/CHANGELOG.md
  docs/s2-tokens-viewer/package.json
  packages/component-schemas/CHANGELOG.md
  packages/component-schemas/package.json
  packages/design-data-spec/CHANGELOG.md
  packages/design-data-spec/package.json
  packages/design-data/CHANGELOG.md
  packages/design-data/package.json
  packages/design-system-registry/CHANGELOG.md
  packages/design-system-registry/package.json
  packages/token-names/CHANGELOG.md
  packages/token-names/package.json
  packages/tokens/CHANGELOG.md
  packages/tokens/package.json
  tools/component-options-editor/CHANGELOG.md
  tools/component-options-editor/package.json
  tools/design-data-agent-mcp/CHANGELOG.md
  tools/design-data-agent-mcp/package.json
  tools/design-data-agent-mcp/skills/design-data/SKILL.md
  tools/design-data-mcp/CHANGELOG.md
  tools/design-data-mcp/package.json
  tools/design-data-skill/skills/design-data/SKILL.md
  tools/markdown-generator/CHANGELOG.md
  tools/markdown-generator/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
  tools/token-corpus-migrate/CHANGELOG.md
  tools/token-corpus-migrate/package.json
  tools/token-mapping-analyzer/CHANGELOG.md
  tools/token-mapping-analyzer/package.json
  tools/token-naming-audit/CHANGELOG.md
  tools/token-naming-audit/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

perf(sdk): speed up Rust test/build loop (nextest, lld, doctest task)
  .github/ci-targets.json
  .github/workflows/ci.yml
  sdk/.cargo/config.toml
  sdk/CLAUDE.md
  sdk/moon.yml
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(design-data): remove SPEC-027 dangling tokenBindings superseded by CTR
  .changeset/spec027-dangling-token-bindings.md
  packages/design-data/components/cards.json
  packages/design-data/components/combo-box.json
  packages/design-data/components/drop-zone.json
  packages/design-data/components/list-view.json
  packages/design-data/components/table.json
  packages/design-data/components/tabs.json
  packages/design-data/components/tree-view.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): restore tabs.json bindings not actually covered by CTR
  .changeset/spec027-dangling-token-bindings.md
  packages/design-data/components/tabs.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): remove SPEC-027 dangling tokenBindings superseded by CTR (#1333)
  .changeset/spec027-dangling-token-bindings.md
  packages/design-data/components/cards.json
  packages/design-data/components/combo-box.json
  packages/design-data/components/drop-zone.json
  packages/design-data/components/list-view.json
  packages/design-data/components/table.json
  packages/design-data/components/tree-view.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(ci): pin cargo-nextest version to match local install
  .github/workflows/ci.yml
Due: prettier --write

fix(docs): restore s2-tokens-viewer component colors and stop tab cascade
  .changeset/fix-viewer-cascade-and-component-colors.md
  docs/s2-tokens-viewer/.gitignore
  docs/s2-tokens-viewer/index.html
  docs/s2-tokens-viewer/moon.yml
  docs/s2-tokens-viewer/scripts/resolve.mjs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

perf(sdk): speed up Rust test/build loop (nextest, lld, doctest task) (#1332)
  .github/ci-targets.json
  .github/workflows/ci.yml
  sdk/.cargo/config.toml
  sdk/CLAUDE.md
  sdk/moon.yml
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(docs): drop stray $schema row and duplicate reprocessing in s2-tokens-viewer
  docs/s2-tokens-viewer/scripts/resolve.mjs
Due: none

fix(docs): restore s2-tokens-viewer component colors and stop tab cascade (#1335)
  .changeset/fix-viewer-cascade-and-component-colors.md
  docs/s2-tokens-viewer/.gitignore
  docs/s2-tokens-viewer/index.html
  docs/s2-tokens-viewer/moon.yml
  docs/s2-tokens-viewer/scripts/resolve.mjs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (#1334)
  .changeset/fix-viewer-cascade-and-component-colors.md
  .changeset/spec027-dangling-token-bindings.md
  docs/s2-tokens-viewer/CHANGELOG.md
  docs/s2-tokens-viewer/package.json
  packages/component-schemas/CHANGELOG.md
  packages/component-schemas/package.json
  packages/design-data/CHANGELOG.md
  packages/design-data/package.json
  packages/design-system-registry/CHANGELOG.md
  packages/design-system-registry/package.json
  tools/component-options-editor/CHANGELOG.md
  tools/component-options-editor/package.json
  tools/design-data-agent-mcp/CHANGELOG.md
  tools/design-data-agent-mcp/package.json
  tools/design-data-agent-mcp/skills/design-data/SKILL.md
  tools/design-data-mcp/CHANGELOG.md
  tools/design-data-mcp/package.json
  tools/design-data-skill/skills/design-data/SKILL.md
  tools/markdown-generator/CHANGELOG.md
  tools/markdown-generator/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
  tools/token-corpus-migrate/CHANGELOG.md
  tools/token-corpus-migrate/package.json
  tools/token-naming-audit/CHANGELOG.md
  tools/token-naming-audit/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): resolve SPEC-027 dangling tokenBindings for vpk.1
  .changeset/spec027-vpk1-safe-removes.md
  docs/site/public/schemas/token-types/angle.json
  packages/design-data/components/alert-dialog.json
  packages/design-data/components/cards.json
  packages/design-data/components/date-picker.json
  packages/design-data/components/menu.json
  packages/design-data/tokens/color-aliases.tokens.json
  packages/design-data/tokens/layout.tokens.json
  packages/tokens/naming-exceptions.json
  packages/tokens/schemas/token-types/angle.json
  packages/tokens/snapshots/validation-snapshot.json
  packages/tokens/src/color-aliases.json
  packages/tokens/src/layout.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(ci): install lld in the Node job too
  .github/workflows/ci.yml
Due: prettier --write

fix(design-data): resolve SPEC-027 dangling tokenBindings for vpk.1 (#1336)
  .changeset/spec027-vpk1-safe-removes.md
  .github/workflows/ci.yml
  docs/site/public/schemas/token-types/angle.json
  packages/design-data/components/alert-dialog.json
  packages/design-data/components/cards.json
  packages/design-data/components/date-picker.json
  packages/design-data/components/menu.json
  packages/design-data/tokens/color-aliases.tokens.json
  packages/design-data/tokens/layout.tokens.json
  packages/tokens/naming-exceptions.json
  packages/tokens/schemas/token-types/angle.json
  packages/tokens/snapshots/validation-snapshot.json
  packages/tokens/src/color-aliases.json
  packages/tokens/src/layout.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(ci): install lld in the Deploy Docs job too
  .github/workflows/deploy-docs.yml
Due: prettier --write

fix(ci): install lld in the Deploy Docs job too (#1338)
  .github/workflows/deploy-docs.yml
Due: prettier --write

fix(docs): restore s2-tokens-viewer search and value resolution
  .changeset/restore-s2-tokens-viewer.md
  .gitignore
  docs/s2-tokens-viewer/.gitignore
  docs/s2-tokens-viewer/moon.yml
  docs/s2-tokens-viewer/scripts/resolve.mjs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(mcp): set DESIGN_DATA_ROOT so npx-launched design-data MCP resolves paths correctly
  .mcp.json
Due: prettier --write

fix(ci): add viewer:convert to the CI target coverage allowlist
  .github/ci-targets.json
Due: prettier --write
