Repository adobe/spectrum-design-data: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,yml,yaml}": ["prettier --write"],
  "**/*.md": [
    "remark --use remark-frontmatter --use remark-gfm --use remark-github --output"
  ],
  "!**/.changeset/*.md": [],
  "!**/pnpm-lock.yaml": [],
  "!**/package-lock.json": [],
  "!**/yarn.lock": [],
  ".changeset/*.md": [
    "pnpm changeset-lint check-file"
  ]
}

fix(tokens): address code review on icons name-object migration
  packages/design-system-registry/registry/property-terms.json
  sdk/core/src/registry_data.rs
  tools/token-corpus-migrate/src/transform.js
  tools/token-corpus-migrate/test/transform.test.js
Due: prettier --write

feat(tokens): name-object migration for family-scoped icon-color tokens (#967)
  .changeset/icons-color-set-migration.md
  packages/design-system-registry/registry/property-terms.json
  packages/tokens/src/icons.json
  sdk/core/src/registry_data.rs
  tools/token-corpus-migrate/README.md
  tools/token-corpus-migrate/src/cli.js
  tools/token-corpus-migrate/src/transform.js
  tools/token-corpus-migrate/test/transform.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(tokens): name-object migration for text-align and letter-spacing tokens
  .changeset/typography-stragglers.md
  packages/design-data-spec/fields/alignment.json
  packages/design-data-spec/schemas/manifest.schema.json
  packages/design-data-spec/spec/taxonomy.md
  packages/design-system-registry/package.json
  packages/design-system-registry/registry/alignments.json
  packages/design-system-registry/registry/property-terms.json
  packages/tokens/src/typography.json
  sdk/core/src/registry_data.rs
  tools/token-corpus-migrate/README.md
  tools/token-corpus-migrate/src/transform.js
  tools/token-corpus-migrate/test/transform.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

docs(tokens): fix stale Style row in taxonomy.md; add lineHeightMultiplierNameForKey hint
  packages/design-data-spec/spec/taxonomy.md
  tools/token-corpus-migrate/src/transform.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(spec): alias-target-domain resolution for SPEC-042 + icon-color alias pilot
  .changeset/semantic-aliases-foundation.md
  packages/design-data-spec/rules/rules.yaml
  packages/design-data-spec/spec/taxonomy.md
  packages/tokens/src/icons.json
  sdk/core/src/validate/rules/spec042.rs
  tools/token-corpus-migrate/README.md
  tools/token-corpus-migrate/src/transform.js
  tools/token-corpus-migrate/test/transform.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(spec): correct depth guard from > 8 to >= 8 in SPEC-042 alias resolution
  sdk/core/src/validate/rules/spec042.rs
Due: none

feat(taxonomy): extract token name objects to @adobe/token-names sidecar package
  .changeset/extract-token-names-sidecar.md
  packages/design-data-spec/spec/taxonomy.md
  packages/token-names/CHANGELOG.md
  packages/token-names/README.md
  packages/token-names/ava.config.js
  packages/token-names/moon.yml
  packages/token-names/names/color-palette.json
  packages/token-names/names/icons.json
  packages/token-names/names/typography.json
  packages/token-names/package.json
  packages/token-names/scripts/check-coverage.mjs
  packages/token-names/scripts/extract-from-tokens.mjs
  packages/token-names/test/coverage.test.js
  packages/tokens/src/color-palette.json
  packages/tokens/src/icons.json
  packages/tokens/src/typography.json
  pnpm-lock.yaml
  sdk/cli/src/main.rs
  sdk/core/src/graph.rs
  sdk/core/src/validate/mod.rs
  tools/token-corpus-migrate/src/cli.js
  tools/token-corpus-migrate/src/transform.js
  tools/token-corpus-migrate/test/transform.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

chore(changeset): remove spectrum-tokens bump from semantic-aliases-foundation
  .changeset/semantic-aliases-foundation.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(spec042): clearer missing-schema message + changeset count
  .changeset/semantic-aliases-foundation.md
  sdk/core/src/validate/rules/spec042.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(spec): alias-target-domain resolution for SPEC-042 + icon-color alias pilot (#971)
  .changeset/semantic-aliases-foundation.md
  packages/design-data-spec/rules/rules.yaml
  packages/design-data-spec/spec/taxonomy.md
  packages/tokens/src/icons.json
  sdk/core/src/validate/rules/spec042.rs
  tools/token-corpus-migrate/README.md
  tools/token-corpus-migrate/src/transform.js
  tools/token-corpus-migrate/test/transform.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(cli): suppress too_many_arguments lint on run_validate
  sdk/cli/src/main.rs
Due: none

refactor(sdk-cli): group validate options into ValidateOpts struct
  sdk/cli/src/main.rs
Due: none

feat(taxonomy): extract token name objects to @adobe/token-names sidecar package (#972)
  .changeset/extract-token-names-sidecar.md
  .changeset/semantic-aliases-foundation.md
  packages/design-data-spec/spec/taxonomy.md
  packages/token-names/CHANGELOG.md
  packages/token-names/README.md
  packages/token-names/ava.config.js
  packages/token-names/moon.yml
  packages/token-names/names/color-palette.json
  packages/token-names/names/icons.json
  packages/token-names/names/typography.json
  packages/token-names/package.json
  packages/token-names/scripts/check-coverage.mjs
  packages/token-names/scripts/extract-from-tokens.mjs
  packages/token-names/test/coverage.test.js
  packages/tokens/src/color-palette.json
  packages/tokens/src/icons.json
  packages/tokens/src/typography.json
  pnpm-lock.yaml
  sdk/cli/src/main.rs
  sdk/core/src/graph.rs
  sdk/core/src/validate/mod.rs
  tools/token-corpus-migrate/src/cli.js
  tools/token-corpus-migrate/src/transform.js
  tools/token-corpus-migrate/test/transform.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

docs(tokens): clarify 14.11.0 changelog — name metadata is in sidecar
  packages/tokens/CHANGELOG.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

Version Packages (#970)
  .changeset/extract-token-names-sidecar.md
  .changeset/semantic-aliases-foundation.md
  .changeset/typography-stragglers.md
  docs/s2-tokens-viewer/CHANGELOG.md
  docs/s2-tokens-viewer/package.json
  packages/component-schemas/CHANGELOG.md
  packages/component-schemas/package.json
  packages/design-data-spec/CHANGELOG.md
  packages/design-data-spec/package.json
  packages/design-system-registry/CHANGELOG.md
  packages/design-system-registry/package.json
  packages/token-names/CHANGELOG.md
  packages/token-names/package.json
  packages/tokens/CHANGELOG.md
  packages/tokens/package.json
  tools/component-options-editor/CHANGELOG.md
  tools/component-options-editor/package.json
  tools/markdown-generator/CHANGELOG.md
  tools/markdown-generator/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
  tools/token-corpus-migrate/CHANGELOG.md
  tools/token-corpus-migrate/package.json
  tools/token-mapping-analyzer/CHANGELOG.md
  tools/token-mapping-analyzer/package.json
  tools/token-naming-audit/CHANGELOG.md
  tools/token-naming-audit/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

docs(rfc): add #973 TUI & Token Authoring Wizard to coordination table
  docs/rfc-coordination.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

docs(rfc): add #973 TUI & Token Authoring Wizard to rfc-coordination.md (#974)
  docs/rfc-coordination.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(taxonomy): classify margin multiplier tokens with structure+property name shape
  .changeset/margin-multiplier-names.md
  packages/design-system-registry/registry/property-terms.json
  packages/design-system-registry/registry/structures.json
  packages/token-names/names/typography.json
  packages/tokens/src/typography.json
  sdk/core/src/registry_data.rs
  tools/token-corpus-migrate/src/transform.js
  tools/token-corpus-migrate/test/transform.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(taxonomy): classify line-height and cjk-line-height multiplier tokens
  .changeset/line-height-multiplier-names.md
  packages/design-system-registry/registry/property-terms.json
  packages/token-names/names/typography.json
  packages/tokens/src/typography.json
  sdk/core/src/registry_data.rs
  sdk/core/src/validate/rules/mod.rs
  sdk/core/src/validate/rules/spec043.rs
  tools/token-corpus-migrate/src/transform.js
  tools/token-corpus-migrate/test/transform.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(taxonomy): move name metadata to token-names sidecar; update changesets
  .changeset/line-height-multiplier-names.md
  .changeset/margin-multiplier-names.md
  packages/tokens/src/typography.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(taxonomy): correct JSDoc, add direct tests for marginMultiplierNameForKey, fix changeset
  .changeset/margin-multiplier-names.md
  tools/token-corpus-migrate/src/transform.js
  tools/token-corpus-migrate/test/transform.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

docs(schemas): update multiplier.json description to include margin multipliers
  packages/tokens/schemas/token-types/multiplier.json
Due: prettier --write

feat(sdk): implement write_token operation in sdk/core (closes #976)
  .changeset/write-token-operation.md
  sdk/cli/src/main.rs
  sdk/core/Cargo.toml
  sdk/core/src/lib.rs
  sdk/core/src/write.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(sdk): implement suggest_token operation in sdk/core (closes #975)
  .changeset/suggest-token-operation.md
  sdk/cli/src/main.rs
  sdk/core/src/lib.rs
  sdk/core/src/suggest.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(sdk): resolve clippy lints blocking CI
  sdk/cli/src/main.rs
  sdk/core/src/validate/rules/spec003.rs
Due: none

fix(sdk): remove dead warnings field; error on malformed extensions.tokens
  sdk/cli/src/main.rs
  sdk/core/src/write.rs
Due: none

fix(sdk): address five review findings on write_token
  sdk/cli/src/main.rs
  sdk/core/Cargo.toml
  sdk/core/src/write.rs
Due: none

feat(sdk): implement write_token operation in sdk/core (#978)
  .changeset/write-token-operation.md
  sdk/cli/src/main.rs
  sdk/core/Cargo.toml
  sdk/core/src/lib.rs
  sdk/core/src/validate/rules/spec003.rs
  sdk/core/src/write.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(sdk): remove clone on Copy type Layer in suggest.rs
  sdk/core/src/suggest.rs
Due: none

fix(sdk): address four suggest review findings
  sdk/cli/src/main.rs
  sdk/core/src/graph.rs
  sdk/core/src/suggest.rs
Due: none

Additional "structure" terms in registry (#960)
  packages/design-system-registry/registry/structures.json
Due: prettier --write

docs(rfc): adopt RFC #973 — M0 in progress (epic #980, M0 #981)
  docs/rfc-coordination.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(sdk): scaffold sdk/tui crate — M0 of RFC #973
  .changeset/tui-scaffold.md
  sdk/Cargo.lock
  sdk/Cargo.toml
  sdk/moon.yml
  sdk/scripts/sync-cargo-version.mjs
  sdk/tui/Cargo.toml
  sdk/tui/package.json
  sdk/tui/src/app.rs
  sdk/tui/src/lib.rs
  sdk/tui/src/main.rs
  sdk/tui/tests/palette.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(sdk/tui): address M0 review findings
  sdk/Cargo.lock
  sdk/tui/Cargo.toml
  sdk/tui/src/main.rs
  sdk/tui/tests/palette.rs
Due: none

fix(changeset): wrap long line in tui-scaffold.md (linter ≤100 chars)
  .changeset/tui-scaffold.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

chore(sdk): regenerate registry_data.rs and manifest schema
  sdk/core/src/registry_data.rs
Due: none

feat(sdk): wire :query into TUI — M1 of RFC #973 (closes #983)
  .changeset/tui-query.md
  sdk/Cargo.lock
  sdk/tui/Cargo.toml
  sdk/tui/src/app.rs
  sdk/tui/src/main.rs
  sdk/tui/tests/query.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(sdk/tui): address M1 review issues
  sdk/tui/src/app.rs
  sdk/tui/src/main.rs
  sdk/tui/tests/query.rs
Due: none

feat(sdk/tui): add :resolve, :describe, :validate + palette autocomplete (M2 of RFC #973)
  .changeset/tui-m2.md
  sdk/tui/Cargo.toml
  sdk/tui/src/app.rs
  sdk/tui/src/main.rs
  sdk/tui/tests/autocomplete.rs
  sdk/tui/tests/describe.rs
  sdk/tui/tests/fixtures/components/button.json
  sdk/tui/tests/fixtures/tokens-bad/bad-token.json
  sdk/tui/tests/query.rs
  sdk/tui/tests/resolve.rs
  sdk/tui/tests/validate.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

refactor(sdk/tui): address M2 review issues
  sdk/tui/src/app.rs
  sdk/tui/tests/fixtures/tokens-good/.gitkeep
Due: none
