Repository adobe/spectrum-design-data: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(cli): address primer subcommand code review feedback
  sdk/cli/src/main.rs
  sdk/cli/tests/cli_validate.rs
Due: none

feat(cli): add design-data primer subcommand for agent session start (#870)
  .changeset/phase-8-1-primer.md
  sdk/cli/src/main.rs
  sdk/cli/tests/cli_validate.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(cli): add design-data component subcommand for agent component lookup
  .changeset/phase-8-2-component.md
  sdk/cli/src/main.rs
  sdk/cli/tests/cli_validate.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(cli): validate component ID to prevent path traversal in design-data component
  sdk/cli/src/main.rs
  sdk/cli/tests/cli_validate.rs
Due: none

fix(cli): replace map_or(false) with is_some_and for clippy lint
  sdk/cli/src/main.rs
Due: none

chore: register @adobe/design-data-cli in pnpm workspace; add Cargo version sync
  .changeset/phase-8-1-primer.md
  .changeset/phase-8-2-component.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
  sdk/cli/package.json
  sdk/moon.yml
  sdk/scripts/sync-cargo-version.mjs
  tools/diff-generator/moon.yml
  tools/spectrum-design-data-mcp/moon.yml
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

chore: register @adobe/design-data-cli in pnpm workspace; add Cargo version sync (#872)
  .changeset/phase-8-1-primer.md
  .changeset/phase-8-2-component.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
  sdk/cli/package.json
  sdk/moon.yml
  sdk/scripts/sync-cargo-version.mjs
  tools/diff-generator/moon.yml
  tools/spectrum-design-data-mcp/moon.yml
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(mcp): add design-data-agent-mcp MCP server (Phase 8.3)
  .changeset/phase-8-3-mcp.md
  pnpm-lock.yaml
  tools/design-data-agent-mcp/ava.config.js
  tools/design-data-agent-mcp/moon.yml
  tools/design-data-agent-mcp/package.json
  tools/design-data-agent-mcp/src/cli.js
  tools/design-data-agent-mcp/src/config.js
  tools/design-data-agent-mcp/src/index.js
  tools/design-data-agent-mcp/src/tools/diff.js
  tools/design-data-agent-mcp/src/tools/read.js
  tools/design-data-agent-mcp/src/tools/validate.js
  tools/design-data-agent-mcp/src/tools/write.js
  tools/design-data-agent-mcp/test/index.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(mcp): address review findings in design-data-agent-mcp
  tools/design-data-agent-mcp/src/index.js
  tools/design-data-agent-mcp/src/tools/read.js
  tools/design-data-agent-mcp/src/tools/write.js
Due: prettier --write

feat(skill): add Claude Code Agent Skill for design-data (Phase 8.4)
  .changeset/phase-8-4-skill.md
  tools/design-data-agent-mcp/README.md
  tools/design-data-agent-mcp/skill/SKILL.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(skill): correct query filter examples and component --format flag
  tools/design-data-agent-mcp/skill/SKILL.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(skill): always pass explicit dir flags; document CWD-relative default behavior
  tools/design-data-agent-mcp/skill/SKILL.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(skill): introduce DESIGN_DATA_SPEC_PATH for components/fields/dimensions
  tools/design-data-agent-mcp/skill/SKILL.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

docs(skill): address phase-8-4 review feedback
  tools/design-data-agent-mcp/skill/SKILL.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

docs(skill): fix broken external repo link in README header
  tools/design-data-agent-mcp/README.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(spec): document blocks — typed prose for tokens, components, anatomy (Phase 9)
  .changeset/phase-9-document-blocks.md
  packages/design-data-spec/rules/rules.yaml
  packages/design-data-spec/schemas/anatomy-part.schema.json
  packages/design-data-spec/schemas/component.schema.json
  packages/design-data-spec/schemas/document-block.schema.json
  packages/design-data-spec/schemas/token.schema.json
  packages/design-data-spec/spec/component-format.md
  packages/design-data-spec/spec/document-blocks.md
  sdk/core/src/validate/rules/mod.rs
  sdk/core/src/validate/rules/spec028.rs
  sdk/core/src/validate/rules/spec029.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(spec): address phase-9 review feedback
  .changeset/phase-9-document-blocks.md
  packages/design-data-spec/rules/rules.yaml
  packages/design-data-spec/schemas/anatomy-part.schema.json
  packages/design-data-spec/schemas/component.schema.json
  packages/design-data-spec/schemas/document-block.schema.json
  packages/design-data-spec/schemas/token.schema.json
  packages/design-data-spec/spec/document-blocks.md
  sdk/cli/src/main.rs
  sdk/core/src/graph.rs
  sdk/core/src/validate/mod.rs
  sdk/core/src/validate/rules/mod.rs
  sdk/core/src/validate/rules/spec028.rs
  sdk/core/src/validate/rules/spec029.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(spec): shorten changeset summary line to under 100 chars
  .changeset/phase-9-document-blocks.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(component-schemas): register document-block schema with AJV in test setup
  packages/component-schemas/test/schema-validation.test.js
Due: prettier --write

fix(component-schemas): register document-block schema with AJV in test setup (#879)
  packages/component-schemas/test/schema-validation.test.js
Due: prettier --write

Version Packages (#878)
  .changeset/phase-9-document-blocks.md
  packages/component-schemas/CHANGELOG.md
  packages/component-schemas/package.json
  packages/design-data-spec/CHANGELOG.md
  packages/design-data-spec/package.json
  tools/component-options-editor/CHANGELOG.md
  tools/component-options-editor/package.json
  tools/markdown-generator/CHANGELOG.md
  tools/markdown-generator/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

docs(spec): fix index list formatting and add document-blocks entry
  packages/design-data-spec/spec/index.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

docs(spec): fix Scope list formatting and add document-blocks entry (#880)
  packages/design-data-spec/spec/index.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

docs(spec): add agent-readable surface to spec index scope and normative references
  packages/design-data-spec/spec/index.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(spec): accessibility.md — normative semantic accessibility vocabulary (Phase 7.1)
  packages/design-data-spec/spec/accessibility.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(spec): address phase-7-1 review feedback
  .changeset/phase-7-1-accessibility-spec.md
  .changeset/phase-9-document-blocks.md
  packages/design-data-spec/spec/accessibility.md
  packages/design-data-spec/spec/index.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(spec): accessibility.md — normative semantic vocabulary (Phase 7.1) (#886)
  .changeset/phase-7-1-accessibility-spec.md
  packages/design-data-spec/spec/accessibility.md
  packages/design-data-spec/spec/index.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (#887)
  .changeset/phase-7-1-accessibility-spec.md
  packages/component-schemas/CHANGELOG.md
  packages/component-schemas/package.json
  packages/design-data-spec/CHANGELOG.md
  packages/design-data-spec/package.json
  tools/component-options-editor/CHANGELOG.md
  tools/component-options-editor/package.json
  tools/markdown-generator/CHANGELOG.md
  tools/markdown-generator/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(spec): accessibility-adapters.md — informative platform adapter contracts (Phase 7.2)
  packages/design-data-spec/spec/accessibility-adapters.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(spec): address phase-7-2 accessibility-adapters review feedback
  packages/design-data-spec/docs/rfc-coordination.md
  packages/design-data-spec/spec/accessibility-adapters.md
  packages/design-data-spec/spec/index.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(spec): accessibility.schema.json + component schema wiring (Phase 7.3)
  .changeset/phase-7-3-accessibility-schema.md
  packages/design-data-spec/schemas/accessibility.schema.json
  packages/design-data-spec/schemas/component.schema.json
  packages/design-data-spec/spec/component-format.md
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(spec): address phase-7-3 schema review feedback
  packages/design-data-spec/conformance/valid/component-with-accessibility.json
  packages/design-data-spec/schemas/accessibility.schema.json
  packages/design-data-spec/schemas/component.schema.json
Due: prettier --write

feat(spec): accessibility.schema.json + component schema wiring (Phase 7.3) (#889)
  .changeset/phase-7-3-accessibility-schema.md
  packages/design-data-spec/conformance/valid/component-with-accessibility.json
  packages/design-data-spec/schemas/accessibility.schema.json
  packages/design-data-spec/schemas/component.schema.json
  packages/design-data-spec/spec/component-format.md
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(component-schemas): register accessibility.schema.json with ajv in test setup
  packages/component-schemas/test/schema-validation.test.js
Due: prettier --write

feat(sdk): add accessibility-empty and accessibility-wcag-missing validation rules
  .changeset/phase-7-4-accessibility-rules.md
  packages/design-data-spec/rules/rules.yaml
  sdk/core/src/validate/rules/mod.rs
  sdk/core/src/validate/rules/spec030.rs
  sdk/core/src/validate/rules/spec031.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(spec): add accessibility declarations to actions components
  packages/design-data-spec/components/action-bar.json
  packages/design-data-spec/components/action-button.json
  packages/design-data-spec/components/action-group.json
  packages/design-data-spec/components/avatar-group.json
  packages/design-data-spec/components/button-group.json
  packages/design-data-spec/components/button.json
  packages/design-data-spec/components/close-button.json
  packages/design-data-spec/components/in-field-progress-button.json
  packages/design-data-spec/components/link.json
  packages/design-data-spec/components/menu.json
Due: prettier --write

feat(spec): add accessibility declarations to inputs components
  packages/design-data-spec/components/accordion.json
  packages/design-data-spec/components/calendar.json
  packages/design-data-spec/components/checkbox-group.json
  packages/design-data-spec/components/checkbox.json
  packages/design-data-spec/components/color-area.json
  packages/design-data-spec/components/color-handle.json
  packages/design-data-spec/components/color-slider.json
  packages/design-data-spec/components/color-wheel.json
  packages/design-data-spec/components/combo-box.json
  packages/design-data-spec/components/date-picker.json
  packages/design-data-spec/components/drop-zone.json
  packages/design-data-spec/components/field-label.json
  packages/design-data-spec/components/help-text.json
  packages/design-data-spec/components/number-field.json
  packages/design-data-spec/components/picker.json
  packages/design-data-spec/components/radio-button.json
  packages/design-data-spec/components/radio-group.json
  packages/design-data-spec/components/rating.json
  packages/design-data-spec/components/search-field.json
  packages/design-data-spec/components/select-box.json
  packages/design-data-spec/components/slider.json
  packages/design-data-spec/components/swatch-group.json
  packages/design-data-spec/components/swatch.json
  packages/design-data-spec/components/switch.json
  packages/design-data-spec/components/tag-field.json
  packages/design-data-spec/components/tag-group.json
  packages/design-data-spec/components/text-area.json
  packages/design-data-spec/components/text-field.json
Due: prettier --write

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,yml,yaml}
  remark --use remark-frontmatter --use remark-gfm --use remark-github --output: any of: **/*.md
  pnpm changeset-lint check-file: any of: .changeset/*.md
