Repository adobe/spectrum-design-data: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,yml,yaml}": ["prettier --write"],
  "**/*.md": [
    "remark --use remark-frontmatter --use remark-gfm --use remark-github --output"
  ],
  "!**/.changeset/*.md": [],
  "!**/pnpm-lock.yaml": [],
  "!**/package-lock.json": [],
  "!**/yarn.lock": [],
  ".changeset/*.md": [
    "pnpm changeset-lint check-file"
  ]
}

fix(ci): isolate wasm build from npm publish job to fix OIDC ENEEDAUTH (#1274)
  .github/workflows/release.yml
Due: prettier --write

fix(design-data): remove 3 duplicate/typo'd tokenBindings in cards.json
  .changeset/fix-cards-duplicate-tokenbindings.md
  packages/design-data/components/cards.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): remove 3 duplicate/typo'd tokenBindings in cards.json (#1275)
  .changeset/fix-cards-duplicate-tokenbindings.md
  packages/design-data/components/cards.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): converge key-focus to keyboard-focus state (#1270)
  .changeset/bja-converge-key-focus-keyboard-focus.md
  packages/design-data/components/stack-item.json
  packages/design-data/tokens/color-aliases.tokens.json
  packages/design-data/tokens/color-component.tokens.json
  packages/design-data/tokens/layout-component.tokens.json
  packages/design-data/tokens/semantic-color-palette.tokens.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (#1276)
  .changeset/bja-converge-key-focus-keyboard-focus.md
  .changeset/fix-cards-duplicate-tokenbindings.md
  packages/component-schemas/CHANGELOG.md
  packages/component-schemas/package.json
  packages/design-data/CHANGELOG.md
  packages/design-data/package.json
  packages/design-system-registry/CHANGELOG.md
  packages/design-system-registry/package.json
  tools/component-options-editor/CHANGELOG.md
  tools/component-options-editor/package.json
  tools/design-data-agent-mcp/CHANGELOG.md
  tools/design-data-agent-mcp/package.json
  tools/design-data-agent-mcp/skills/design-data/SKILL.md
  tools/design-data-mcp/CHANGELOG.md
  tools/design-data-mcp/package.json
  tools/design-data-skill/skills/design-data/SKILL.md
  tools/markdown-generator/CHANGELOG.md
  tools/markdown-generator/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
  tools/token-corpus-migrate/CHANGELOG.md
  tools/token-corpus-migrate/package.json
  tools/token-naming-audit/CHANGELOG.md
  tools/token-naming-audit/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): structure fused icon/space-between compounds in layout tokens
  .changeset/dsi8-icon-space-between-fusions.md
  packages/design-data/registry/icon-terms.json
  packages/design-data/tokens/color-aliases.tokens.json
  packages/design-data/tokens/layout-component.tokens.json
  packages/design-data/tokens/layout.tokens.json
  sdk/core/src/registry_data.rs
  tools/token-mapping-analyzer/src/apply.js
  tools/token-mapping-analyzer/src/decomposer.js
  tools/token-mapping-analyzer/test/decomposer.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): guard against conflicting from/to icon endpoints
  tools/token-mapping-analyzer/src/decomposer.js
  tools/token-mapping-analyzer/test/decomposer.test.js
Due: prettier --write

fix(sdk): expand icon field within space-between connective in naming.rs
  packages/tokens/src/layout-component.json
  packages/tokens/src/layout.json
  sdk/core/src/naming.rs
Due: prettier --write

fix(design-data): update stale validation snapshot for icon space-between tokens
  packages/tokens/naming-exceptions.json
  packages/tokens/snapshots/validation-snapshot.json
Due: prettier --write

fix(design-data): structure fused icon/space-between compounds in layout tokens (#1277)
  .changeset/dsi8-icon-space-between-fusions.md
  packages/design-data/registry/icon-terms.json
  packages/design-data/tokens/color-aliases.tokens.json
  packages/design-data/tokens/layout-component.tokens.json
  packages/design-data/tokens/layout.tokens.json
  packages/tokens/naming-exceptions.json
  packages/tokens/snapshots/validation-snapshot.json
  packages/tokens/src/layout-component.json
  packages/tokens/src/layout.json
  sdk/core/src/naming.rs
  sdk/core/src/registry_data.rs
  tools/token-mapping-analyzer/src/apply.js
  tools/token-mapping-analyzer/src/decomposer.js
  tools/token-mapping-analyzer/test/decomposer.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): pin legacyKey on misc fused-property singletons (dsi.13)
  .changeset/dsi13-pin-misc-singleton-fusions.md
  packages/design-data/tokens/color-aliases.tokens.json
  packages/design-data/tokens/color-component.tokens.json
  packages/design-data/tokens/color-palette.tokens.json
  packages/design-data/tokens/typography.tokens.json
  packages/tokens/src/color-palette.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): track gradient-stop-avatar as known naming exception
  packages/tokens/naming-exceptions.json
  packages/tokens/snapshots/validation-snapshot.json
Due: prettier --write

fix(design-data): pin legacyKey on misc fused-property singletons (dsi.13) (#1279)
  .changeset/dsi13-pin-misc-singleton-fusions.md
  packages/design-data/tokens/color-aliases.tokens.json
  packages/design-data/tokens/color-component.tokens.json
  packages/design-data/tokens/color-palette.tokens.json
  packages/design-data/tokens/typography.tokens.json
  packages/tokens/naming-exceptions.json
  packages/tokens/snapshots/validation-snapshot.json
  packages/tokens/src/color-palette.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(design-data): relax anatomy anchor to structure/standalone scope (bzo bucket 2)
  .changeset/bzo-anatomy-structure-standalone.md
  packages/design-data-spec/conformance/invalid/SPEC-049/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-049/expected-errors.json
  packages/design-data-spec/conformance/valid/SPEC-049/dataset.json
  packages/design-data-spec/rules/rules.yaml
  packages/design-data-spec/schemas/registry-value.json
  packages/design-data/components/table.json
  packages/design-data/registry/anatomy-terms.json
  packages/design-data/registry/property-terms.json
  packages/design-data/tokens/layout.tokens.json
  packages/tokens/src/layout.json
  sdk/core/src/registry.rs
  sdk/core/src/registry_data.rs
  sdk/core/src/validate/rules/mod.rs
  sdk/core/src/validate/rules/spec025.rs
  sdk/core/src/validate/rules/spec049.rs
  tools/token-mapping-analyzer/src/apply.js
  tools/token-mapping-analyzer/src/registry-index.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(design-data): relax anatomy anchor to structure/standalone scope (bzo bucket 2) (#1280)
  .changeset/bzo-anatomy-structure-standalone.md
  packages/design-data-spec/conformance/invalid/SPEC-049/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-049/expected-errors.json
  packages/design-data-spec/conformance/valid/SPEC-049/dataset.json
  packages/design-data-spec/rules/rules.yaml
  packages/design-data-spec/schemas/registry-value.json
  packages/design-data/components/table.json
  packages/design-data/registry/anatomy-terms.json
  packages/design-data/registry/property-terms.json
  packages/design-data/tokens/layout.tokens.json
  packages/tokens/src/layout.json
  sdk/core/src/registry.rs
  sdk/core/src/registry_data.rs
  sdk/core/src/validate/rules/mod.rs
  sdk/core/src/validate/rules/spec025.rs
  sdk/core/src/validate/rules/spec049.rs
  tools/token-mapping-analyzer/src/apply.js
  tools/token-mapping-analyzer/src/registry-index.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (#1278)
  .changeset/bzo-anatomy-structure-standalone.md
  .changeset/dsi13-pin-misc-singleton-fusions.md
  .changeset/dsi8-icon-space-between-fusions.md
  packages/component-schemas/CHANGELOG.md
  packages/component-schemas/package.json
  packages/design-data-spec/CHANGELOG.md
  packages/design-data-spec/package.json
  packages/design-data/CHANGELOG.md
  packages/design-data/package.json
  packages/design-system-registry/CHANGELOG.md
  packages/design-system-registry/package.json
  tools/component-options-editor/CHANGELOG.md
  tools/component-options-editor/package.json
  tools/design-data-agent-mcp/CHANGELOG.md
  tools/design-data-agent-mcp/package.json
  tools/design-data-agent-mcp/skills/design-data/SKILL.md
  tools/design-data-mcp/CHANGELOG.md
  tools/design-data-mcp/package.json
  tools/design-data-skill/skills/design-data/SKILL.md
  tools/markdown-generator/CHANGELOG.md
  tools/markdown-generator/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
  tools/token-corpus-migrate/CHANGELOG.md
  tools/token-corpus-migrate/package.json
  tools/token-naming-audit/CHANGELOG.md
  tools/token-naming-audit/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(design-data): structure field-top-to-progress-circle tokens (bzo bucket 1)
  .changeset/bzo-progress-circle-structure.md
  packages/design-data/registry/anatomy-terms.json
  packages/design-data/tokens/layout.tokens.json
  sdk/core/src/registry_data.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(design-data): structure field-top-to-progress-circle tokens (bzo bucket 1) (#1281)
  .changeset/bzo-progress-circle-structure.md
  packages/design-data/registry/anatomy-terms.json
  packages/design-data/tokens/layout.tokens.json
  sdk/core/src/registry_data.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): pin legacyKey on registry-gap residual tokens (rst)
  .changeset/rst-pin-registry-gap-residual.md
  packages/design-data/tokens/layout.tokens.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): pin legacyKey on registry-gap residual tokens (rst) (#1283)
  .changeset/rst-pin-registry-gap-residual.md
  packages/design-data/tokens/layout.tokens.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

gitblobstore: checkandput manifest
  g8u04nn7gh8l05fiidcdirk90bu2n4ga.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  5hhov5gkegtfg6m7gtem25h6tjpj4emt
  manifest
Due: none

fix(sdk/wasm): derive suggest() tokenName via display_name(), not raw graph key
  .changeset/wasm-suggest-display-name.md
  sdk/wasm/src/types.rs
  sdk/wasm/test/parity.test.js
  tools/design-data-mcp/test/design-data.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(sdk): apply display_name() derivation to remaining suggest() call sites
  sdk/cli/src/main.rs
  sdk/tui/src/wizard/build.rs
Due: none

fix(sdk/wasm): derive suggest() tokenName via display_name(), not raw graph key (#1284)
  .changeset/wasm-suggest-display-name.md
  sdk/cli/src/main.rs
  sdk/tui/src/wizard/build.rs
  sdk/wasm/src/types.rs
  sdk/wasm/test/parity.test.js
  tools/design-data-mcp/test/design-data.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (#1282)
  .changeset/bzo-progress-circle-structure.md
  .changeset/rst-pin-registry-gap-residual.md
  .changeset/wasm-suggest-display-name.md
  docs/s2-tokens-viewer/CHANGELOG.md
  docs/s2-tokens-viewer/package.json
  packages/component-schemas/CHANGELOG.md
  packages/component-schemas/package.json
  packages/design-data/CHANGELOG.md
  packages/design-data/package.json
  packages/design-system-registry/CHANGELOG.md
  packages/design-system-registry/package.json
  sdk/wasm/CHANGELOG.md
  sdk/wasm/package.json
  tools/component-options-editor/CHANGELOG.md
  tools/component-options-editor/package.json
  tools/design-data-agent-mcp/CHANGELOG.md
  tools/design-data-agent-mcp/package.json
  tools/design-data-agent-mcp/skills/design-data/SKILL.md
  tools/design-data-mcp/CHANGELOG.md
  tools/design-data-mcp/package.json
  tools/design-data-skill/skills/design-data/SKILL.md
  tools/design-data/CHANGELOG.md
  tools/design-data/package.json
  tools/markdown-generator/CHANGELOG.md
  tools/markdown-generator/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
  tools/token-corpus-migrate/CHANGELOG.md
  tools/token-corpus-migrate/package.json
  tools/token-naming-audit/CHANGELOG.md
  tools/token-naming-audit/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(sdk/wasm): serialize nested JSON fields as plain objects, not Maps
  .changeset/wasm-suggest-hashmap-as-object.md
  sdk/wasm/src/types.rs
  sdk/wasm/test/parity.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(sdk/wasm): serialize nested JSON fields as plain objects, not Maps (#1285)
  .changeset/wasm-suggest-hashmap-as-object.md
  sdk/wasm/src/types.rs
  sdk/wasm/test/parity.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data-glue): update test for plain-object raw field
  tools/design-data/test/load.test.js
Due: prettier --write

fix(design-data-glue): update test for plain-object raw field (#1287)
  tools/design-data/test/load.test.js
Due: prettier --write

Version Packages (#1286)
  .changeset/wasm-suggest-hashmap-as-object.md
  docs/s2-tokens-viewer/CHANGELOG.md
  docs/s2-tokens-viewer/package.json
  sdk/wasm/CHANGELOG.md
  sdk/wasm/package.json
  tools/design-data-agent-mcp/CHANGELOG.md
  tools/design-data-agent-mcp/package.json
  tools/design-data-agent-mcp/skills/design-data/SKILL.md
  tools/design-data-mcp/CHANGELOG.md
  tools/design-data-mcp/package.json
  tools/design-data/CHANGELOG.md
  tools/design-data/package.json
  tools/token-naming-audit/CHANGELOG.md
  tools/token-naming-audit/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(token-mapping-analyzer): re-triage ordering-mismatch bucket, fix icon metadata leak
  tools/token-mapping-analyzer/src/decomposer.js
  tools/token-mapping-analyzer/src/generate-exceptions.js
  tools/token-mapping-analyzer/src/index.js
  tools/token-mapping-analyzer/test/decomposer.test.js
Due: prettier --write

docs(token-mapping-analyzer): note sameContent heuristic limitation
  tools/token-mapping-analyzer/src/generate-exceptions.js
Due: prettier --write

fix(token-mapping-analyzer): re-triage ordering-mismatch bucket, fix icon metadata leak (#1288)
  tools/token-mapping-analyzer/src/decomposer.js
  tools/token-mapping-analyzer/src/generate-exceptions.js
  tools/token-mapping-analyzer/src/index.js
  tools/token-mapping-analyzer/test/decomposer.test.js
Due: prettier --write

fix(token-mapping-analyzer): honor legacyKey pin in vocabulary-gap bucket
  tools/token-mapping-analyzer/src/generate-exceptions.js
  tools/token-mapping-analyzer/test/generate-exceptions.test.js
Due: prettier --write

gitblobstore: checkandput manifest
  8m9d8bl4ftlbca4v45pr33i54enrm5om.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  3g6mem66igsphvsm5fq6d343hhqgapb1
  manifest
Due: none

dolt remote info
  DOLT_REMOTE.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(design-data): triage untracked residual properties in layout-component tokens (opk)
  .changeset/opk-triage-layout-component-residual.md
  packages/design-data/components/card.json
  packages/design-data/components/tree-view.json
  packages/design-data/tokens/layout-component.tokens.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file
