Repository adobe/spectrum-design-data: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,yml,yaml}": ["prettier --write"],
  "**/*.md": [
    "remark --use remark-frontmatter --use remark-gfm --use remark-github --output"
  ],
  "!**/.changeset/*.md": [],
  "!**/pnpm-lock.yaml": [],
  "!**/package-lock.json": [],
  "!**/yarn.lock": [],
  ".changeset/*.md": [
    "pnpm changeset-lint check-file"
  ]
}

chore(mcp): wire up corp-jira MCP server + document Jira workflows
  .mcp.json
  CLAUDE.md
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

docs(design-data): update SPEC-027 sign-off comment
  packages/design-data/moon.yml
Due: prettier --write

feat: enhancements and corrections to the taxonomy updates
  packages/design-data/components/select-box.json
  packages/design-data/components/stack-item.json
  packages/design-data/components/tree-view.json
  packages/design-data/registry/platform-extensions/web-components-interaction-contexts.json
  packages/design-data/registry/platform-extensions/web-components-interactions.json
  packages/design-data/registry/platform-extensions/web-components-states.json
  packages/design-data/registry/property-terms.json
  sdk/core/src/registry.rs
  sdk/core/src/registry_data.rs
Due: prettier --write

gitblobstore: checkandput manifest
  isd9v6mms6kjufe82hejlfduv7agvnu4.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  manifest
  t8f29vmdgbdihvs11l9mjdsattkhv4nf
Due: none

fix(mcp): use relative paths instead of ${PWD} for Copilot CLI compat
  .mcp.json
Due: prettier --write

gitblobstore: checkandput manifest
  j2es6q5stucruv7bidsduuc76mt3hic4.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  jtrghtjds9gl46o1sfgsvcv1n9rlj047
  manifest
Due: none

fix(mcp): use relative paths instead of ${PWD} for Copilot CLI compat (#1455)
  .mcp.json
Due: prettier --write

gitblobstore: checkandput manifest
  82d2q9u4q6kmnv7l6gegpvrr7jft7jdf.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  8lunhitcv8rn89ps6jiumjfp5gofkaln
  manifest
Due: none

gitblobstore: checkandput manifest
  hgensnb12qqr7ur2fuu1g1c887et67jd.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  5ui36jmtiuomiqpel3ujs704lmlccaa3
  manifest
Due: none

dolt remote info
  DOLT_REMOTE.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

docs(ai): focus Using AI page on Spectrum Design Data skill/MCP
  docs/markdown/pages/ai.md
  docs/site/src/pages/ai.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

docs(ai): deepen "what you can do with it" on the Using AI page
  docs/markdown/pages/ai.md
  docs/site/src/pages/ai.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

docs(ai): use Copilot plugin marketplace for skill install
  docs/markdown/pages/ai.md
  docs/site/src/pages/ai.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

docs(ai): remove em dashes from Copilot plugin marketplace note
  docs/markdown/pages/ai.md
  docs/site/src/pages/ai.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

docs(ai): fix overclaimed Copilot plugin-to-desktop-app sync
  docs/markdown/pages/ai.md
  docs/site/src/pages/ai.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

docs(ai): focus Using AI page on Spectrum Design Data skill/MCP (#1456)
  docs/markdown/pages/ai.md
  docs/site/src/pages/ai.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

chore(release): open a beta pre-release channel on beta-hub
  .changeset/pre.json
  .github/workflows/release.yml
Due: prettier --write

Version Packages (beta) (#1457)
  .changeset/pre.json
  packages/component-schemas/CHANGELOG.md
  packages/component-schemas/package.json
  packages/design-data/CHANGELOG.md
  packages/design-data/package.json
  packages/design-system-registry/CHANGELOG.md
  packages/design-system-registry/package.json
  tools/component-options-editor/CHANGELOG.md
  tools/component-options-editor/package.json
  tools/design-data-agent-mcp/CHANGELOG.md
  tools/design-data-agent-mcp/package.json
  tools/design-data-agent-mcp/skills/design-data/SKILL.md
  tools/design-data-mcp/CHANGELOG.md
  tools/design-data-mcp/package.json
  tools/design-data-skill/skills/design-data/SKILL.md
  tools/markdown-generator/CHANGELOG.md
  tools/markdown-generator/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
  tools/token-corpus-migrate/CHANGELOG.md
  tools/token-corpus-migrate/package.json
  tools/token-naming-audit/CHANGELOG.md
  tools/token-naming-audit/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

chore(release): guard hub beta channel hold
  .github/workflows/release.yml
Due: prettier --write

feat(ci): add Hub guideline sync workflow
  .github/scripts/bump-embedded-counts.mjs
  .github/workflows/hub-guideline-sync.yml
Due: prettier --write

fix(ci): fix output corruption, CI trigger, and anchor fragility in hub sync
  .github/scripts/bump-embedded-counts.mjs
  .github/workflows/hub-guideline-sync.yml
Due: prettier --write

fix(ci): gate stage/transform steps so dry-run mode doesn't fail
  .github/workflows/hub-guideline-sync.yml
Due: prettier --write

fix(ci): eliminate shell injection, false changeset claim, silent count drops
  .github/scripts/bump-embedded-counts.mjs
  .github/workflows/hub-guideline-sync.yml
  sdk/core/src/data_source/embedded.rs
Due: prettier --write

feat(ci): add Hub guideline sync workflow (#1458)
  .github/scripts/bump-embedded-counts.mjs
  .github/workflows/hub-guideline-sync.yml
  sdk/core/src/data_source/embedded.rs
Due: prettier --write

feat(ci): register hub guideline sync workflow
  .github/scripts/bump-embedded-counts.mjs
  .github/workflows/hub-guideline-sync.yml
Due: prettier --write

feat(ci): register hub guideline sync workflow (#1459)
  .github/scripts/bump-embedded-counts.mjs
  .github/workflows/hub-guideline-sync.yml
Due: prettier --write

fix(ci): allow dry-run fetch guards to skip zero-write validation
  .github/workflows/hub-guideline-sync.yml
Due: prettier --write

fix(ci): allow dry-run fetch guards to skip zero-write validation (#1460)
  .github/workflows/hub-guideline-sync.yml
Due: prettier --write

fix(ci): align fetch guard with fragment-failure threshold
  .github/workflows/hub-guideline-sync.yml
Due: prettier --write

fix(ci): align fetch guard with fragment-failure threshold (#1461)
  .github/workflows/hub-guideline-sync.yml
Due: prettier --write

test(ci): introduce temporary content drift to force hub-guideline-sync diff
  docs/s2-docs/support/ai-resource-guide.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

test(ci): introduce temporary content drift to force hub-guideline-sync diff (#1462)
  docs/s2-docs/support/ai-resource-guide.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(design-data): sync guidelines from Spectrum Hub (#1463)
  .changeset/hub-guideline-sync-20260916.md
  docs/s2-docs/support/ai-resource-guide.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(spectrum-hub-fetcher): add component page reconciliation table
  tools/spectrum-hub-fetcher/README.md
  tools/spectrum-hub-fetcher/src/component-map.js
  tools/spectrum-hub-fetcher/test/component-map.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output
