Repository adobe/spectrum-design-data: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,yml,yaml}": ["prettier --write"],
  "**/*.md": [
    "remark --use remark-frontmatter --use remark-gfm --use remark-github --output"
  ],
  "!**/.changeset/*.md": [],
  "!**/pnpm-lock.yaml": [],
  "!**/package-lock.json": [],
  "!**/yarn.lock": [],
  ".changeset/*.md": [
    "pnpm changeset-lint check-file"
  ]
}

feat(sdk/core): fetch + cache engine — github source type with .design-data.toml config
  sdk/Cargo.lock
  sdk/cli/Cargo.toml
  sdk/cli/src/main.rs
  sdk/core/Cargo.toml
  sdk/core/src/data_source/fetch.rs
  sdk/core/src/data_source/mod.rs
Due: none

fix(sdk/core): address code review on fetch/cache engine
  sdk/core/src/data_source/fetch.rs
Due: none

feat(sdk/cli): npm distribution — @adobe/design-data launcher + per-platform binary packages
  .github/workflows/release.yml
  .gitignore
  pnpm-lock.yaml
  pnpm-workspace.yaml
  sdk/cli/README.md
  sdk/cli/bin/design-data.js
  sdk/cli/package.json
  sdk/npm/darwin-arm64/bin/design-data
  sdk/npm/darwin-arm64/package.json
  sdk/npm/darwin-x64/bin/design-data
  sdk/npm/darwin-x64/package.json
  sdk/npm/linux-x64/bin/design-data
  sdk/npm/linux-x64/package.json
  sdk/npm/win32-x64/bin/design-data.exe
  sdk/npm/win32-x64/package.json
  sdk/scripts/sync-cargo-version.mjs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(sdk/cli): address code review on npm distribution
  .github/workflows/release.yml
  .gitignore
  sdk/cli/bin/design-data.js
  sdk/scripts/sync-cargo-version.mjs
  sdk/scripts/test-sync-cargo-version.mjs
Due: prettier --write

chore: regenerate pnpm lockfile after @adobe/design-data package rename
  sdk/scripts/sync-cargo-version.mjs
Due: none

chore(sdk/npm): add engines field to platform packages; regenerate lockfile
  sdk/npm/darwin-arm64/package.json
  sdk/npm/darwin-x64/package.json
  sdk/npm/linux-x64/package.json
  sdk/npm/win32-x64/package.json
Due: prettier --write

chore: regenerate pnpm-lock.yaml for @adobe/design-data workspace packages
  pnpm-lock.yaml
Due: prettier --write

fix(sdk/cli): use workspace:* for optionalDependencies; regenerate lockfile
  pnpm-lock.yaml
  sdk/cli/package.json
  sdk/scripts/sync-cargo-version.mjs
Due: prettier --write

chore: version packages — @adobe/design-data@0.1.2, platform packages@0.1.2
  sdk/Cargo.lock
  sdk/cli/CHANGELOG.md
  sdk/cli/Cargo.toml
  sdk/cli/package.json
  sdk/npm/darwin-arm64/CHANGELOG.md
  sdk/npm/darwin-arm64/package.json
  sdk/npm/darwin-x64/CHANGELOG.md
  sdk/npm/darwin-x64/package.json
  sdk/npm/linux-x64/CHANGELOG.md
  sdk/npm/linux-x64/package.json
  sdk/npm/win32-x64/CHANGELOG.md
  sdk/npm/win32-x64/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(ci): use --ignore-scripts on Windows build-binaries pnpm install
  .github/workflows/release.yml
Due: prettier --write

fix(ci): use --ignore-scripts on Windows build-binaries pnpm install (#1059)
  .github/workflows/release.yml
Due: prettier --write

fix(ci): run sdk:codegen instead of codegen-check in build-binaries
  .github/workflows/release.yml
Due: prettier --write

chore: add changeset for @adobe/design-data patch release
  .changeset/hphh7h-ygt85j.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(ci): cross-compile darwin-x64 on macos-latest instead of macos-13
  .github/workflows/release.yml
Due: prettier --write

Version Packages (#1061)
  .changeset/hphh7h-ygt85j.md
  sdk/cli/CHANGELOG.md
  sdk/cli/package.json
  sdk/npm/darwin-arm64/CHANGELOG.md
  sdk/npm/darwin-arm64/package.json
  sdk/npm/darwin-x64/CHANGELOG.md
  sdk/npm/darwin-x64/package.json
  sdk/npm/linux-x64/CHANGELOG.md
  sdk/npm/linux-x64/package.json
  sdk/npm/win32-x64/CHANGELOG.md
  sdk/npm/win32-x64/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

refactor(ci): gate binary builds on version change (biome pattern)
  .github/workflows/release.yml
  sdk/scripts/check-cli-version.mjs
Due: prettier --write

refactor(ci): gate binary builds on version change (biome pattern) (#1062)
  .github/workflows/release.yml
  sdk/scripts/check-cli-version.mjs
Due: prettier --write

fix(ci): use official changesets/action for version PR creation
  .github/workflows/release.yml
Due: prettier --write

fix(ci): use official changesets/action for version PR creation (#1063)
  .github/workflows/release.yml
Due: prettier --write

feat(tools): claude code skill for design-data — auto-bootstrap via npx
  .claude-plugin/marketplace.json
  tools/design-data-skill/.claude-plugin/plugin.json
  tools/design-data-skill/skills/design-data/SKILL.md
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(tools): mcp server for design-data — Cursor native agent surface
  pnpm-lock.yaml
  tools/design-data-mcp/README.md
  tools/design-data-mcp/package.json
  tools/design-data-mcp/src/cli.js
  tools/design-data-mcp/src/index.js
  tools/design-data-mcp/src/tools/design-data.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(tools): address code review on design-data skill
  .claude-plugin/marketplace.json
  tools/design-data-skill/README.md
  tools/design-data-skill/skills/design-data/SKILL.md
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(tools): claude code skill for design-data — auto-bootstrap via npx (#1064)
  .claude-plugin/marketplace.json
  tools/design-data-skill/.claude-plugin/plugin.json
  tools/design-data-skill/README.md
  tools/design-data-skill/skills/design-data/SKILL.md
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(tools): address code review on design-data-mcp
  .changeset/design-data-mcp-initial.md
  tools/design-data-mcp/LICENSE
  tools/design-data-mcp/moon.yml
  tools/design-data-mcp/src/index.js
  tools/design-data-mcp/src/tools/design-data.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

ci(release): publish independently when there are no binaries to build
  .github/workflows/release.yml
Due: prettier --write

fix(tools): address PR review on design-data-mcp
  pnpm-lock.yaml
  tools/design-data-mcp/ava.config.js
  tools/design-data-mcp/moon.yml
  tools/design-data-mcp/package.json
  tools/design-data-mcp/src/tools/design-data.js
  tools/design-data-mcp/test/design-data.test.js
  tools/design-data-mcp/test/index.test.js
Due: prettier --write

feat(tools): mcp server for design-data — Cursor native agent surface (#1065)
  .changeset/design-data-mcp-initial.md
  .github/workflows/release.yml
  pnpm-lock.yaml
  tools/design-data-mcp/LICENSE
  tools/design-data-mcp/README.md
  tools/design-data-mcp/ava.config.js
  tools/design-data-mcp/moon.yml
  tools/design-data-mcp/package.json
  tools/design-data-mcp/src/cli.js
  tools/design-data-mcp/src/index.js
  tools/design-data-mcp/src/tools/design-data.js
  tools/design-data-mcp/test/design-data.test.js
  tools/design-data-mcp/test/index.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(sdk): implement Foundation→Platform manifest cascade (#1053)
  .changeset/manifest-cascade.md
  sdk/cli/src/main.rs
  sdk/cli/tests/cli_manifest.rs
  sdk/core/src/data_source/mod.rs
  sdk/core/src/graph.rs
  sdk/core/src/schema.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(sdk): address PR review — clippy, flaky data_source tests, resolve test
  sdk/cli/tests/cli_manifest.rs
  sdk/core/src/data_source/fetch.rs
  sdk/core/src/data_source/mod.rs
  sdk/core/src/data_source/test_support.rs
  sdk/core/src/graph.rs
Due: none

fix(sdk): stabilize cli_override_wins_over_embedded on CI
  sdk/core/src/data_source/mod.rs
Due: none

feat(sdk): Foundation→Platform manifest cascade (#1053) (#1067)
  .changeset/manifest-cascade.md
  sdk/cli/src/main.rs
  sdk/cli/tests/cli_manifest.rs
  sdk/core/src/data_source/fetch.rs
  sdk/core/src/data_source/mod.rs
  sdk/core/src/data_source/test_support.rs
  sdk/core/src/graph.rs
  sdk/core/src/schema.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(sdk): hydrate query index from cache and wire TUI find/palette
  sdk/README.md
  sdk/cli/src/main.rs
  sdk/core/src/authoring/session.rs
  sdk/core/src/cache/mod.rs
  sdk/core/src/graph.rs
  sdk/core/src/query.rs
  sdk/tui/src/app.rs
  sdk/tui/src/app_launch.rs
  sdk/tui/src/app_palette.rs
  sdk/tui/src/app_views.rs
  sdk/tui/src/find.rs
  sdk/tui/src/update.rs
  sdk/tui/src/update_command.rs
  sdk/tui/src/wizard.rs
  sdk/tui/tests/describe.rs
  sdk/tui/tests/find.rs
  sdk/tui/tests/validate.rs
  sdk/tui/tests/wizard.rs
  sdk/tui/tests/write.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

docs(sdk): note CLI vs TUI manifest asymmetry for query results
  sdk/README.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(sdk): share manifest and resolve logic between CLI and TUI
  .changeset/tui-cli-shared-manifest.md
  sdk/README.md
  sdk/cli/src/main.rs
  sdk/core/src/cascade.rs
  sdk/core/src/lib.rs
  sdk/core/src/manifest.rs
  sdk/tui/src/app.rs
  sdk/tui/src/app_launch.rs
  sdk/tui/src/app_palette.rs
  sdk/tui/src/app_views.rs
  sdk/tui/src/update.rs
  sdk/tui/src/update_command.rs
  sdk/tui/tests/describe.rs
  sdk/tui/tests/manifest.rs
  sdk/tui/tests/validate.rs
  sdk/tui/tests/wizard.rs
  sdk/tui/tests/write.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

chore(sdk): address PR review nits for resolve and tests
  sdk/cli/src/main.rs
  sdk/tui/tests/find.rs
  sdk/tui/tests/manifest.rs
Due: none

fix(ci): version-lock design-data platform packages with changesets fixed group
  .changeset/config.json
  .changeset/fix-platform-binary-publish.md
  .github/workflows/release.yml
  sdk/README.md
  sdk/scripts/test-sync-cargo-version.mjs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(ci): use `pnpm run version` to invoke the version script
  .changeset/fix-platform-binary-publish.md
  .github/workflows/release.yml
  sdk/README.md
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (#1071)
  .changeset/fix-platform-binary-publish.md
  sdk/cli/CHANGELOG.md
  sdk/cli/Cargo.toml
  sdk/cli/package.json
  sdk/npm/darwin-arm64/CHANGELOG.md
  sdk/npm/darwin-arm64/package.json
  sdk/npm/darwin-x64/CHANGELOG.md
  sdk/npm/darwin-x64/package.json
  sdk/npm/linux-x64/CHANGELOG.md
  sdk/npm/linux-x64/package.json
  sdk/npm/win32-x64/CHANGELOG.md
  sdk/npm/win32-x64/bin/design-data.exe
  sdk/npm/win32-x64/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file
