Repository adobe/spectrum-design-data: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

chore(tooling): make .mcp.json shareable — replace absolute paths with \${PWD}
  .gitignore
  .mcp.json
  CLAUDE.md
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

chore(tooling): commit code-intelligence tool configs as team-standard (#1191)
  .gitignore
  .mcp.json
  .scout/scout.config.yaml
  .serena/.gitignore
  .serena/project.yml
  CLAUDE.md
  tuiwright.toml
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(authoring): add cascade lifecycle operations (Phase B / B2) (#122.2)
  .changeset/20260624-b2-lifecycle-ops.md
  sdk/cli/src/authoring.rs
  sdk/core/src/authoring/lifecycle.rs
  sdk/core/src/authoring/mod.rs
  sdk/core/src/authoring/session.rs
  sdk/core/src/write.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(lint): convert while_let_loop patterns in cascade.rs and graph.rs
  sdk/core/src/cascade.rs
  sdk/core/src/graph.rs
Due: none

fix(authoring): address PR review findings in lifecycle ops
  sdk/core/src/authoring/lifecycle.rs
Due: none

feat(authoring): add cascade lifecycle operations (Phase B / B2) (#1192)
  .changeset/20260624-b2-lifecycle-ops.md
  sdk/cli/src/authoring.rs
  sdk/core/src/authoring/lifecycle.rs
  sdk/core/src/authoring/mod.rs
  sdk/core/src/authoring/session.rs
  sdk/core/src/cascade.rs
  sdk/core/src/graph.rs
  sdk/core/src/write.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(authoring): catalog-aware token classification (Phase B / B4) (#122.4)
  .changeset/20260624-b4-catalog-classification.md
  sdk/core/src/authoring/draft.rs
  sdk/core/src/authoring/session.rs
  sdk/core/src/registry.rs
  sdk/core/src/registry_data.rs
  sdk/core/src/validate/rules/mod.rs
  sdk/scripts/generate-registry-data.js
  sdk/tui/src/wizard/draft.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(authoring): inline format args for clippy::uninlined_format_args (CI Rust 1.88)
  sdk/core/src/authoring/session.rs
Due: none

fix(authoring): address PR review findings (B4)
  .changeset/20260624-b4-catalog-classification.md
  sdk/core/src/authoring/draft.rs
  sdk/core/src/authoring/session.rs
  sdk/core/src/registry.rs
  sdk/core/src/report.rs
  sdk/core/src/validate/rules/mod.rs
  sdk/scripts/generate-registry-data.js
  sdk/wasm/src/registry.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(authoring): catalog-aware token classification (Phase B / B4) (#1194)
  .changeset/20260624-b4-catalog-classification.md
  sdk/core/src/authoring/draft.rs
  sdk/core/src/authoring/session.rs
  sdk/core/src/registry.rs
  sdk/core/src/registry_data.rs
  sdk/core/src/report.rs
  sdk/core/src/validate/rules/mod.rs
  sdk/scripts/generate-registry-data.js
  sdk/tui/src/wizard/draft.rs
  sdk/wasm/src/registry.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(authoring): core mode-set lifecycle operations (Phase B / B3)
  .changeset/20260624-b3-mode-set-management.md
  sdk/core/src/authoring/mod.rs
  sdk/core/src/authoring/mode_set.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(authoring): address code review findings in mode_set module
  .changeset/README.md
  sdk/core/src/authoring/mode_set.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

test(authoring): fix test name and document unreachable guard in mode_set
  sdk/core/src/authoring/mode_set.rs
Due: none

fix(authoring): inline format arg to satisfy CI clippy lint
  sdk/core/src/authoring/mode_set.rs
Due: none

feat(authoring): core mode-set lifecycle operations (Phase B / B3) (#1195)
  .changeset/20260624-b3-mode-set-management.md
  .changeset/README.md
  sdk/core/src/authoring/mod.rs
  sdk/core/src/authoring/mode_set.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(authoring): wire lifecycle + mode-set mutation ops into cli (Phase B / B5a)
  sdk/cli/src/lifecycle.rs
  sdk/cli/src/main.rs
  sdk/core/src/authoring/mode_set.rs
  sdk/core/src/write.rs
Due: none

feat(authoring): migrate tui create flow onto cascade writer + registry classification (B5b/si6.1)
  sdk/core/src/authoring/session.rs
  sdk/core/src/write.rs
  sdk/tui/src/find.rs
  sdk/tui/src/naming.rs
  sdk/tui/src/update.rs
  sdk/tui/src/wizard.rs
  sdk/tui/src/wizard/build.rs
  sdk/tui/src/wizard/draft.rs
  sdk/tui/src/wizard_common.rs
  sdk/tui/src/wizard_common/classification.rs
  sdk/tui/src/wizard_common/facet.rs
  sdk/tui/tests/wizard.rs
  sdk/tui/tests/write.rs
Due: none

feat(authoring): tui lifecycle action-picker + uuid token picker (Phase B / si6.2)
  .changeset/20260625-si6.2-authoring-picker.md
  sdk/tui/src/authoring.rs
  sdk/tui/src/command.rs
  sdk/tui/src/find.rs
  sdk/tui/src/help.rs
  sdk/tui/src/lib.rs
  sdk/tui/src/logo.rs
  sdk/tui/src/message.rs
  sdk/tui/src/model/views.rs
  sdk/tui/src/runtime.rs
  sdk/tui/src/update.rs
  sdk/tui/src/update/command.rs
  sdk/tui/src/update/lifecycle.rs
  sdk/tui/src/view.rs
  sdk/tui/src/view/authoring.rs
  sdk/tui/src/wizard_common/classification.rs
  sdk/tui/tests/m5.rs
  sdk/tui/tests/snapshots/snapshots__home_view_80x24.snap
  sdk/tui/tests/snapshots/snapshots__wizard_screen1_80x24.snap
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(authoring): add tui mode-set op forms + authoring module split (Phase B / si6.3)
  .changeset/20260625-si6.3-mode-set-forms.md
  sdk/tui/src/authoring/forms.rs
  sdk/tui/src/authoring/mod.rs
  sdk/tui/src/authoring/mode_set.rs
  sdk/tui/src/update.rs
  sdk/tui/src/update/lifecycle.rs
  sdk/tui/src/view/authoring.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(authoring): address pr review — panic guard, ux redirect, kebab normalise, dead code
  sdk/tui/src/authoring/mod.rs
  sdk/tui/src/authoring/mode_set.rs
Due: none

refactor(tui): split at-cap mode_set.rs and view/authoring.rs
  .changeset/20260625-mode-set-split.md
  sdk/tui/src/authoring.rs
  sdk/tui/src/authoring/mod.rs
  sdk/tui/src/authoring/mode_set.rs
  sdk/tui/src/authoring/mode_set_handlers.rs
  sdk/tui/src/view.rs
  sdk/tui/src/view/authoring.rs
  sdk/tui/src/view/authoring_mode_set.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(authoring): guard sub-pick state desync + restore one-step esc from mode-set forms
  sdk/tui/src/authoring/mod.rs
  sdk/tui/src/authoring/mode_set_handlers.rs
Due: none

fix(tui): resolve clippy lints breaking ci
  sdk/tui/src/authoring/mod.rs
  sdk/tui/src/authoring/mode_set_handlers.rs
  sdk/tui/src/wizard_common/facet.rs
Due: none

chore: updated scout config
  .scout/scout.config.yaml
Due: prettier --write

feat(authoring): mcp authoring parity via cli shell-out (closes #122.6)
  .changeset/b6-authoring-mcp-parity.md
  tools/design-data-agent-mcp/src/tools/authoring.js
  tools/design-data-agent-mcp/src/tools/write.js
  tools/design-data-agent-mcp/test/authoring.test.js
  tools/design-data-agent-mcp/test/index.test.js
  tools/design-data/src/index.js
  tools/design-data/src/session.js
  tools/design-data/src/write.js
  tools/design-data/test/session.test.js
  tools/design-data/test/write.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

chore: include pre-existing workspace changes
  .scout/scout.config.yaml
  packages/tokens/package.json
  pnpm-lock.yaml
  tools/diff-generator/src/lib/optimized-diff.js
Due: prettier --write

fix(authoring): address code review findings from pr #1198
  tools/design-data-agent-mcp/src/tools/authoring.js
  tools/design-data-agent-mcp/test/authoring.test.js
Due: prettier --write

feat(authoring): generator conformance fixtures + determinism gate (closes #122.7)
  .changeset/b7-generation-conformance.md
  packages/design-data-spec/conformance/generation/README.md
  packages/design-data-spec/conformance/generation/alias-rewire/expected/tokens.json
  packages/design-data-spec/conformance/generation/alias-rewire/input/tokens.tokens.json
  packages/design-data-spec/conformance/generation/deprecated-token/expected/tokens.json
  packages/design-data-spec/conformance/generation/deprecated-token/input/tokens.tokens.json
  packages/design-data-spec/conformance/generation/mode-set-edit/expected/tokens.json
  packages/design-data-spec/conformance/generation/mode-set-edit/input/tokens.tokens.json
  packages/design-data-spec/conformance/generation/renamed-token/expected/tokens.json
  packages/design-data-spec/conformance/generation/renamed-token/input/tokens.tokens.json
  sdk/Cargo.lock
  sdk/core/src/lib.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(authoring): add trailing newline to legacy generator output
  sdk/core/src/legacy.rs
Due: none

fix(authoring): assert output file set matches expected/ in generation_conformance
  sdk/core/src/lib.rs
Due: none

fix(tui): update snapshots to v0.4.0
  sdk/tui/tests/snapshots/snapshots__home_view_80x24.snap
  sdk/tui/tests/snapshots/snapshots__palette_open_80x24.snap
  sdk/tui/tests/snapshots/snapshots__wizard_screen1_80x24.snap
Due: none

fix(tui): filter version from home_view snapshot so bumps don't break CI
  sdk/Cargo.lock
  sdk/tui/Cargo.toml
  sdk/tui/tests/snapshots.rs
  sdk/tui/tests/snapshots/snapshots__home_view_80x24.snap
Due: none

feat(authoring): B7 — generation conformance fixtures + determinism gate (#1200)
  .changeset/b7-generation-conformance.md
  packages/design-data-spec/conformance/generation/README.md
  packages/design-data-spec/conformance/generation/alias-rewire/expected/tokens.json
  packages/design-data-spec/conformance/generation/alias-rewire/input/tokens.tokens.json
  packages/design-data-spec/conformance/generation/deprecated-token/expected/tokens.json
  packages/design-data-spec/conformance/generation/deprecated-token/input/tokens.tokens.json
  packages/design-data-spec/conformance/generation/mode-set-edit/expected/tokens.json
  packages/design-data-spec/conformance/generation/mode-set-edit/input/tokens.tokens.json
  packages/design-data-spec/conformance/generation/renamed-token/expected/tokens.json
  packages/design-data-spec/conformance/generation/renamed-token/input/tokens.tokens.json
  sdk/Cargo.lock
  sdk/core/src/legacy.rs
  sdk/core/src/lib.rs
  sdk/tui/Cargo.toml
  sdk/tui/tests/snapshots.rs
  sdk/tui/tests/snapshots/snapshots__home_view_80x24.snap
  sdk/tui/tests/snapshots/snapshots__palette_open_80x24.snap
  sdk/tui/tests/snapshots/snapshots__wizard_screen1_80x24.snap
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(authoring): phase C — create/edit authoring for non-token data categories
  .changeset/c1-non-token-authoring.md
  packages/design-data/AUTHORING.md
  sdk/cli/src/data.rs
  sdk/cli/src/main.rs
  sdk/core/src/authoring/data_object.rs
  sdk/core/src/authoring/mod.rs
  tools/design-data-agent-mcp/src/cli.js
  tools/design-data-agent-mcp/src/index.js
  tools/design-data-agent-mcp/src/tools/data.js
  tools/design-data-agent-mcp/test/index.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(authoring): address phase C review findings
  sdk/core/src/authoring/data_object.rs
  tools/design-data-agent-mcp/src/tools/data.js
Due: prettier --write

feat(authoring): Phase C — create/edit authoring for non-token data categories (#1201)
  .changeset/c1-non-token-authoring.md
  packages/design-data/AUTHORING.md
  sdk/cli/src/data.rs
  sdk/cli/src/main.rs
  sdk/core/src/authoring/data_object.rs
  sdk/core/src/authoring/mod.rs
  tools/design-data-agent-mcp/src/cli.js
  tools/design-data-agent-mcp/src/index.js
  tools/design-data-agent-mcp/src/tools/data.js
  tools/design-data-agent-mcp/test/index.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(tokens): phase D pilot — size field decomposition + apply.js migration tool
  .changeset/d1-size-decomposition.md
  packages/design-data/tokens/layout-component.tokens.json
  packages/design-data/tokens/layout.tokens.json
  packages/tokens/src/layout-component.json
  packages/tokens/src/layout.json
  tools/token-mapping-analyzer/src/apply.js
  tools/token-mapping-analyzer/test/apply.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(tooling): review fixes — revert token data, glob cascade files, pass component hint
  .changeset/d1-size-decomposition.md
  packages/design-data/tokens/layout-component.tokens.json
  packages/design-data/tokens/layout.tokens.json
  packages/tokens/src/layout-component.json
  packages/tokens/src/layout.json
  tools/token-mapping-analyzer/src/apply.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(tokens): phase D pilot — size field decomposition + apply.js migration tool (#1202)
  packages/tokens/src/layout.json
  tools/token-mapping-analyzer/src/apply.js
  tools/token-mapping-analyzer/test/apply.test.js
Due: prettier --write

feat(tokens): phase D pilot — size field decomposition + apply.js migration tool
  .changeset/d1-size-decomposition.md
  packages/design-data/tokens/layout-component.tokens.json
  packages/design-data/tokens/layout.tokens.json
  packages/tokens/src/layout-component.json
  packages/tokens/src/layout.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,yml,yaml}
  remark --use remark-frontmatter --use remark-gfm --use remark-github --output: any of: **/*.md
  pnpm changeset-lint check-file: any of: .changeset/*.md
