Repository adobe/spectrum-design-data: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(sdk): expose Dataset.suggest() on wasm surface; swap MCP suggest to wasm
  .changeset/perf-wasm-suggest.md
  sdk/wasm/src/dataset.rs
  sdk/wasm/src/types.rs
  tools/design-data-mcp/src/tools/design-data.js
  tools/design-data-mcp/test/design-data.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

chore(changeset): remove stale agent-mcp-read-tools-in-process changeset
  .changeset/agent-mcp-read-tools-in-process.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

chore(spectrum-design-data-mcp): deprecate in favour of @adobe/design-data-mcp
  .changeset/deprecate-spectrum-design-data-mcp.md
  docs/site/src/pages/ai.md
  tools/spectrum-design-data-mcp/README.md
  tools/spectrum-design-data-mcp/package.json
  tools/spectrum-design-data-mcp/src/index.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (#1142)
  .changeset/perf-validate-single-pass.md
  .changeset/perf-wasm-suggest.md
  sdk/wasm/CHANGELOG.md
  sdk/wasm/package.json
  tools/design-data-agent-mcp/CHANGELOG.md
  tools/design-data-agent-mcp/package.json
  tools/design-data-mcp/CHANGELOG.md
  tools/design-data-mcp/package.json
  tools/design-data/CHANGELOG.md
  tools/design-data/package.json
  tools/token-naming-audit/CHANGELOG.md
  tools/token-naming-audit/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (#1144)
  .changeset/deprecate-spectrum-design-data-mcp.md
  .changeset/perf-validate-single-pass.md
  .changeset/perf-wasm-suggest.md
  sdk/wasm/CHANGELOG.md
  sdk/wasm/package.json
  tools/design-data-agent-mcp/CHANGELOG.md
  tools/design-data-agent-mcp/package.json
  tools/design-data-mcp/CHANGELOG.md
  tools/design-data-mcp/package.json
  tools/design-data/CHANGELOG.md
  tools/design-data/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
  tools/token-naming-audit/CHANGELOG.md
  tools/token-naming-audit/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(viewer): build-time wasm token resolution
  .changeset/viewer-build-time-wasm-resolve.md
  .github/workflows/deploy-docs.yml
  docs/s2-tokens-viewer/.gitignore
  docs/s2-tokens-viewer/SPIKE-NOTES.md
  docs/s2-tokens-viewer/index.html
  docs/s2-tokens-viewer/moon.yml
  docs/s2-tokens-viewer/package.json
  docs/s2-tokens-viewer/scripts/resolve.mjs
  pnpm-lock.yaml
  sdk/wasm/src/dataset.rs
  sdk/wasm/src/types.rs
  sdk/wasm/test/parity.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(viewer): address code review feedback on PR #1145
  docs/s2-tokens-viewer/.gitignore
  docs/s2-tokens-viewer/index.html
  sdk/wasm/src/dataset.rs
Due: none

fix(sdk): restore set-level alias resolution after cache reload
  .changeset/nyt-set-alias-resolution.md
  docs/s2-tokens-viewer/.gitignore
  docs/s2-tokens-viewer/SPIKE-NOTES.md
  docs/s2-tokens-viewer/scripts/resolve.mjs
  packages/design-data-spec/conformance/reference/dangling-ref/expected.json
  packages/design-data-spec/conformance/reference/dangling-ref/input/tokens.tokens.json
  packages/design-data-spec/conformance/reference/dangling-ref/query.json
  packages/design-data-spec/conformance/reference/set-alias-dark/expected.json
  packages/design-data-spec/conformance/reference/set-alias-dark/input/tokens.tokens.json
  packages/design-data-spec/conformance/reference/set-alias-dark/query.json
  packages/design-data-spec/conformance/reference/set-alias-light/expected.json
  packages/design-data-spec/conformance/reference/set-alias-light/input/tokens.tokens.json
  packages/design-data-spec/conformance/reference/set-alias-light/query.json
  packages/design-data-spec/conformance/reference/unknown-slug/expected.json
  packages/design-data-spec/conformance/reference/unknown-slug/input/tokens.tokens.json
  packages/design-data-spec/conformance/reference/unknown-slug/query.json
  sdk/core/src/cascade.rs
  sdk/core/src/graph.rs
  sdk/core/src/lib.rs
  sdk/wasm/src/dataset.rs
  sdk/wasm/test/parity.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

refactor(sdk): fix best_score sentinel and trailing comma nits
  sdk/core/src/cascade.rs
  sdk/core/src/graph.rs
Due: none

refactor(sdk): extract name_ctx_score helper to eliminate duplicate scoring logic
  sdk/core/src/cascade.rs
  sdk/core/src/graph.rs
Due: none

fix(sdk): replace redundant closures with function references
  sdk/core/src/cascade.rs
Due: none

Version Packages (#1146)
  .changeset/nyt-set-alias-resolution.md
  .changeset/viewer-build-time-wasm-resolve.md
  docs/s2-tokens-viewer/CHANGELOG.md
  docs/s2-tokens-viewer/package.json
  sdk/wasm/CHANGELOG.md
  sdk/wasm/package.json
  tools/design-data-agent-mcp/CHANGELOG.md
  tools/design-data-agent-mcp/package.json
  tools/design-data-mcp/CHANGELOG.md
  tools/design-data-mcp/package.json
  tools/design-data/CHANGELOG.md
  tools/design-data/package.json
  tools/token-naming-audit/CHANGELOG.md
  tools/token-naming-audit/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

ci(workflows): add caching, parallel jobs, and concurrency cancellation
  .github/actions/generate-diff/action.yml
  .github/workflows/ci.yml
  .github/workflows/component-diff-pr-comment.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/release.yml
  .github/workflows/token-diff-pr-comment.yml
Due: prettier --write

fix(ci): move wasm-dependent tools to rust job
  .github/workflows/ci.yml
Due: prettier --write

feat(tui): emit cursor position in headless ANSI snapshot output
  sdk/cli/src/main.rs
  sdk/tui/src/app_launch.rs
Due: none

[create-pull-request] automated change
  packages/tokens/src/layout-component.json
  packages/tokens/src/layout.json
Due: prettier --write

feat(design-data): mirror PR #1150 cascade changes
  .changeset/bph-to-scale-set-group-gap-form-item-gap.md
  packages/design-data/tokens/layout-component.tokens.json
  packages/design-data/tokens/layout.tokens.json
  packages/tokens/src/layout-component.json
  packages/tokens/src/layout.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): add component field to form-item-gap tokens
  packages/design-data/tokens/layout-component.tokens.json
  packages/tokens/src/layout-component.json
Due: prettier --write

fix(design-data): restore description on base-padding-horizontal scale-set tokens
  packages/design-data/tokens/layout.tokens.json
  packages/tokens/src/layout.json
Due: prettier --write

feat: Updated base-padding-horizontal values to follow new value sequence. (#1150)
  .changeset/bph-to-scale-set-group-gap-form-item-gap.md
  packages/design-data/tokens/layout-component.tokens.json
  packages/design-data/tokens/layout.tokens.json
  packages/tokens/src/layout-component.json
  packages/tokens/src/layout.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(tokens): add changeset to release @adobe/spectrum-tokens for #1150
  .changeset/spectrum-tokens-bph-scale-set.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(tokens): release @adobe/spectrum-tokens for base-padding scale-sets, group-gap spacious, and form-item-gap tokens (#1150) (#1152)
  .changeset/spectrum-tokens-bph-scale-set.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix: added missing repo data from package.json
  tools/changeset-linter/package.json
Due: prettier --write

ci(release): skip binary builds when CLI version already released
  .github/workflows/release.yml
Due: prettier --write

ci(workflows): fix pnpm store path, add deploy-docs cache, add CI targets guard
  .github/actions/generate-diff/action.yml
  .github/ci-targets.json
  .github/scripts/check-ci-coverage.mjs
  .github/workflows/ci.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/release.yml
Due: prettier --write

ci(workflows): extract pnpm cache into composite action, fix ci-targets-guard checkout
  .github/actions/cache-pnpm-store/action.yml
  .github/actions/generate-diff/action.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/release.yml
Due: prettier --write

ci(workflows): harden ci-targets-guard with job-assignment and shape checks
  .github/scripts/check-ci-coverage.mjs
  .github/workflows/ci.yml
Due: prettier --write

ci(workflows): cache pnpm store in enhance-sync-pr, changeset-lint, and release-snapshot
  .github/workflows/changeset-lint.yml
  .github/workflows/enhance-sync-pr.yml
  .github/workflows/release-snapshot.yml
Due: prettier --write

ci(workflows): add Cargo/pnpm caching, parallel jobs, and concurrency cancellation (#1148)
  .github/actions/cache-pnpm-store/action.yml
  .github/actions/generate-diff/action.yml
  .github/ci-targets.json
  .github/scripts/check-ci-coverage.mjs
  .github/workflows/changeset-lint.yml
  .github/workflows/ci.yml
  .github/workflows/component-diff-pr-comment.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/enhance-sync-pr.yml
  .github/workflows/release-snapshot.yml
  .github/workflows/release.yml
  .github/workflows/token-diff-pr-comment.yml
Due: prettier --write

chore(moon): register s2-docs-to-document-blocks in workspace
  .moon/workspace.yml
Due: prettier --write

fix(design-data): address PR review — near-dup dedup, test coverage, cleanup
  .changeset/s2-docs-document-blocks.md
  .gitignore
  document-blocks-review.md
  tools/s2-docs-to-document-blocks/src/blocks-builder.js
  tools/s2-docs-to-document-blocks/test/blocks-builder.test.js
  tools/s2-docs-to-document-blocks/test/transformer.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

ci(targets): register s2-docs-to-document-blocks:test in ci-targets.json
  .github/ci-targets.json
Due: prettier --write

test(component-schemas): raise memory budget to 40MB for documentBlocks
  packages/component-schemas/test/performance.test.js
Due: prettier --write

fix(sdk,component-schemas): sync embedded version + raise timing thresholds
  packages/component-schemas/test/performance.test.js
  sdk/core/src/data_source/embedded.rs
Due: prettier --write

fix(sdk): skip manifest.json when validating catalog dirs against schema
  sdk/core/src/validate/mod.rs
Due: none

fix(wasm): pass --features after -- separator; drop unused FieldRecord import
  sdk/core/src/cache/mod.rs
  sdk/wasm/scripts/build.mjs
Due: none

fix(guideline): address PR review — slug/id clarity, kind resolution, manifest export
  packages/design-data/package.json
  sdk/core/src/data_source/embedded.rs
  tools/design-data-mcp/src/tools/design-data.js
  tools/s2-docs-to-document-blocks/src/cli.js
  tools/s2-docs-to-document-blocks/src/guideline-builder.js
  tools/s2-docs-to-document-blocks/test/guideline-builder.test.js
Due: prettier --write

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,yml,yaml}
  remark --use remark-frontmatter --use remark-gfm --use remark-github --output: any of: **/*.md
  pnpm changeset-lint check-file: any of: .changeset/*.md
