Repository adobe/spectrum-design-data: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,yml,yaml}": ["prettier --write"],
  "**/*.md": [
    "remark --use remark-frontmatter --use remark-gfm --use remark-github --output"
  ],
  "!**/.changeset/*.md": [],
  "!**/pnpm-lock.yaml": [],
  "!**/package-lock.json": [],
  "!**/yarn.lock": [],
  ".changeset/*.md": [
    "pnpm changeset-lint check-file"
  ]
}

gitblobstore: checkandput manifest
  klinf0aqiv94ukpef6i5fuscr17b483j.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  a6ce11dolhjktt822b76b0oopeuv120o
  manifest
Due: none

fix(figma): export multiplier aliases with target diagnostics
  .changeset/figma-multiplier-aliases.md
  sdk/README.md
  sdk/cli/src/main.rs
  sdk/cli/tests/cli_figma_export.rs
  sdk/plugins/figma/src/audit.rs
  sdk/plugins/figma/src/mapping/convert.rs
  sdk/plugins/figma/src/mapping/payload.rs
  sdk/plugins/figma/src/mapping/routing.rs
  sdk/plugins/figma/src/mapping/tests.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

gitblobstore: checkandput manifest
  manifest
  vu9226sra55jpuu37o48nis35cp62384.darc
Due: none

gitblobstore: checkandput manifest
  j1f5dt6u5g2kli5suiuiqhej57gjeke3
  manifest
Due: none

gitblobstore: checkandput manifest
  bdbs0peqqh2l85md1pj5apb7rt4uc77h.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  bne07em2h9gtpafen91iqsqcs7puv2m1
  manifest
Due: none

gitblobstore: checkandput manifest
  9g8qrsmpkht1sb2sadncnfgpno6eaoir.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  9349le394cbl3sjggso96pa7g4q6mv42
  manifest
Due: none

gitblobstore: checkandput manifest
  c1unh922se5jq9tjdnren7liqiiq708d.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  6eg66ign60kpas1p00720p7bu2eb5cpa
  manifest
Due: none

gitblobstore: checkandput manifest
  e9q5bd0j4g92a6nnt0hfl7qro8fv02ga.darc
  manifest
Due: none

fix(guidelines): reconcile superseded Hub pages before stable release
  .changeset/public-spectrum-hub.md
  .github/workflows/hub-guideline-sync.yml
  docs/s2-docs/designing/content-design-grammar-and-mechanics.md
  docs/s2-docs/designing/content-design-voice-and-tone.md
  docs/s2-docs/designing/content-grammar-and-mechanics.md
  docs/s2-docs/designing/content-language-and-inclusivity-writing-about-people.md
  docs/s2-docs/designing/content-language-and-inclusivity-writing-with-visuals.md
  docs/s2-docs/designing/content-voice-and-tone.md
  docs/s2-docs/designing/language-and-inclusivity-writing-about-people.md
  docs/s2-docs/designing/language-and-inclusivity-writing-with-visuals.md
  docs/s2-docs/designing/layout-and-structure-containers.md
  docs/s2-docs/designing/layout-and-structure-spacing-overview.md
  docs/s2-docs/designing/visual-language-containers.md
  packages/design-data/guidelines/content-design-grammar-and-mechanics.json
  packages/design-data/guidelines/content-design-voice-and-tone.json
  packages/design-data/guidelines/content-grammar-and-mechanics.json
  packages/design-data/guidelines/content-language-and-inclusivity-writing-about-people.json
  packages/design-data/guidelines/content-language-and-inclusivity-writing-with-visuals.json
  packages/design-data/guidelines/content-voice-and-tone.json
  packages/design-data/guidelines/language-and-inclusivity-writing-about-people.json
  packages/design-data/guidelines/language-and-inclusivity-writing-with-visuals.json
  packages/design-data/guidelines/layout-and-structure-containers.json
  packages/design-data/guidelines/layout-and-structure-spacing-overview.json
  packages/design-data/guidelines/manifest.json
  packages/design-data/guidelines/visual-language-containers.json
  sdk/core/src/data_source/embedded.rs
  tools/spectrum-hub-fetcher/.remarkrc.yml
  tools/spectrum-hub-fetcher/README.md
  tools/spectrum-hub-fetcher/scripts/stage-docs.js
  tools/spectrum-hub-fetcher/src/hub-map.js
  tools/spectrum-hub-fetcher/test/fixtures/foundations/visual-language/color.plain.html
  tools/spectrum-hub-fetcher/test/fixtures/fragments/components/accordion/anatomy.plain.html
  tools/spectrum-hub-fetcher/test/fixtures/fragments/components/accordion/behaviors.plain.html
  tools/spectrum-hub-fetcher/test/fixtures/fragments/components/accordion/option-details.plain.html
  tools/spectrum-hub-fetcher/test/fixtures/fragments/components/accordion/states.plain.html
  tools/spectrum-hub-fetcher/test/fixtures/fragments/components/accordion/usage-guidelines.plain.html
  tools/spectrum-hub-fetcher/test/fixtures/web/swc/components/accordion.plain.html
  tools/spectrum-hub-fetcher/test/stage-docs.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

test(mcp): verify packaged public Hub guideline content
  .changeset/hub-mcp-content-contracts.md
  .github/workflows/release.yml
  sdk/core/build.rs
  sdk/wasm/moon.yml
  tools/design-data-agent-mcp/README.md
  tools/design-data-agent-mcp/moon.yml
  tools/design-data-agent-mcp/test/packaged-guidelines.test.js
  tools/design-data-mcp/README.md
  tools/design-data-mcp/moon.yml
  tools/design-data-mcp/scripts/generate-mcpb.mjs
  tools/design-data-mcp/test/bundle-smoke.test.js
  tools/design-data-mcp/test/ensure-bundle.test.js
  tools/design-data-mcp/test/helpers/ensure-bundle.js
  tools/design-data-mcp/test/helpers/isolation-loader.js
  tools/design-data-mcp/test/helpers/isolation-require.cjs
  tools/design-data-mcp/test/helpers/stdio-client.js
  tools/spectrum-hub-fetcher/README.md
  tools/spectrum-hub-fetcher/moon.yml
  tools/spectrum-hub-fetcher/test/stage-docs.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

docs(mcp): keep quoted CLI invocation on one line
  tools/design-data-agent-mcp/.remarkrc.yml
  tools/design-data-agent-mcp/README.md
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

chore(mcp): align documentation formatter settings
  tools/design-data-agent-mcp/.remarkrc.yml
Due: prettier --write

fix(mcp-eval): keep isolation guards outside production staging
  tools/design-data-mcp-eval/README.md
  tools/design-data-mcp-eval/src/mcp.js
  tools/design-data-mcp-eval/test/artifact-isolation.test.js
  tools/design-data-mcp/test/helpers/isolation-loader.js
  tools/design-data-mcp/test/helpers/isolation-require.cjs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(mcp): add offline Hub scenarios and opt-in agent evaluation
  .github/ci-targets.json
  .github/workflows/hub-mcp-eval.yml
  .github/workflows/release.yml
  .moon/workspace.yml
  pnpm-lock.yaml
  tools/design-data-mcp-eval/.gitignore
  tools/design-data-mcp-eval/README.md
  tools/design-data-mcp-eval/ava.config.js
  tools/design-data-mcp-eval/moon.yml
  tools/design-data-mcp-eval/package.json
  tools/design-data-mcp-eval/src/cli.js
  tools/design-data-mcp-eval/src/mcp.js
  tools/design-data-mcp-eval/src/provider.js
  tools/design-data-mcp-eval/src/runner.js
  tools/design-data-mcp-eval/src/scenarios.js
  tools/design-data-mcp-eval/test/cli.test.js
  tools/design-data-mcp-eval/test/grounding.test.js
  tools/design-data-mcp-eval/test/provider.test.js
  tools/design-data-mcp-eval/test/runner.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

gitblobstore: checkandput manifest
  acosgiom2cke4dteh3jo8akqnbk0gvos.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  e3rjat3i3vpchr2hf7ehg4jo8qdgfbhf
  manifest
Due: none

gitblobstore: checkandput manifest
  08p1j4e5era2sffu8u51lm86muvhuj7s.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  jb51smt4dvo5ko7ofgomjv2rvgi8oipc
  manifest
Due: none

gitblobstore: checkandput manifest
  manifest
  rsfu5h9sacfm3pit67h9pig0jpkpnhfs.darc
Due: none

gitblobstore: checkandput manifest
  a9182h751aqvv5jm3jh8rtvoo4rn3dsk
  manifest
Due: none

test(mcp): verify packaged public Hub guideline content (#1525)
  .changeset/hub-mcp-content-contracts.md
  .github/workflows/release.yml
  sdk/core/build.rs
  sdk/wasm/moon.yml
  tools/design-data-agent-mcp/README.md
  tools/design-data-agent-mcp/moon.yml
  tools/design-data-agent-mcp/test/packaged-guidelines.test.js
  tools/design-data-mcp/README.md
  tools/design-data-mcp/moon.yml
  tools/design-data-mcp/scripts/generate-mcpb.mjs
  tools/design-data-mcp/test/bundle-smoke.test.js
  tools/design-data-mcp/test/ensure-bundle.test.js
  tools/design-data-mcp/test/helpers/ensure-bundle.js
  tools/design-data-mcp/test/helpers/isolation-loader.js
  tools/design-data-mcp/test/helpers/isolation-require.cjs
  tools/design-data-mcp/test/helpers/stdio-client.js
  tools/spectrum-hub-fetcher/README.md
  tools/spectrum-hub-fetcher/moon.yml
  tools/spectrum-hub-fetcher/test/stage-docs.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(mcp): add Hub scenarios and opt-in agent evaluation (#1526)
  .github/ci-targets.json
  .github/workflows/hub-mcp-eval.yml
  .github/workflows/release.yml
  .moon/workspace.yml
  pnpm-lock.yaml
  tools/design-data-mcp-eval/.gitignore
  tools/design-data-mcp-eval/README.md
  tools/design-data-mcp-eval/ava.config.js
  tools/design-data-mcp-eval/moon.yml
  tools/design-data-mcp-eval/package.json
  tools/design-data-mcp-eval/src/cli.js
  tools/design-data-mcp-eval/src/mcp.js
  tools/design-data-mcp-eval/src/provider.js
  tools/design-data-mcp-eval/src/runner.js
  tools/design-data-mcp-eval/src/scenarios.js
  tools/design-data-mcp-eval/test/artifact-isolation.test.js
  tools/design-data-mcp-eval/test/cli.test.js
  tools/design-data-mcp-eval/test/grounding.test.js
  tools/design-data-mcp-eval/test/provider.test.js
  tools/design-data-mcp-eval/test/runner.test.js
  tools/design-data-mcp/test/helpers/isolation-loader.js
  tools/design-data-mcp/test/helpers/isolation-require.cjs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

docs(figma): cover both verified exporter fixes in release notes
  .changeset/figma-multiplier-aliases.md
  sdk/README.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

gitblobstore: checkandput manifest
  e3ragjk7jqp5c4ki8milu70ihfeslpnc.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  ej61jgm7us3eefleh7hplqli8q1tejfq
  manifest
Due: none

gitblobstore: checkandput manifest
  4slks18anhlkjvdblln05ja5i0lppvti.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  manifest
  oa86ukrsov1nidc7rrrm8vop7se5qe9q
Due: none

gitblobstore: checkandput manifest
  an2stdm0lm0tga0u1jo6ppf1sihuaceg.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  fp6o51lg64ou4tlak3l24a8mafa88b3e
  manifest
Due: none

fix(figma): export valid weights, angles, multipliers and aliases (#1528)
  .changeset/figma-multiplier-aliases.md
  sdk/README.md
  sdk/cli/src/main.rs
  sdk/cli/tests/cli_figma_export.rs
  sdk/plugins/figma/src/audit.rs
  sdk/plugins/figma/src/mapping/convert.rs
  sdk/plugins/figma/src/mapping/payload.rs
  sdk/plugins/figma/src/mapping/routing.rs
  sdk/plugins/figma/src/mapping/tests.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

gitblobstore: checkandput manifest
  4tpkkvaum4ea4vpa2fcpd5i36mprprhe.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  1s3j0080c9ufhh9gbgpocneq7082228j
  manifest
Due: none

feat(figma): guard exports and verify write readback
  .changeset/figma-write-verification.md
  docs/token-studio-sunset.md
  sdk/Cargo.lock
  sdk/README.md
  sdk/cli/Cargo.toml
  sdk/cli/src/main.rs
  sdk/cli/tests/cli_figma_write.rs
  sdk/plugins/figma/Cargo.toml
  sdk/plugins/figma/src/api.rs
  sdk/plugins/figma/src/lib.rs
  sdk/plugins/figma/src/write_guard.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file
