Repository adobe/spectrum-design-data: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(design-data-core): sdk loader glob+merge for manifest extensions dir
  sdk/core/src/manifest.rs
  sdk/core/src/schema.rs
Due: none

fix(design-data-core): address PR #1422 review findings
  sdk/core/src/manifest.rs
Due: none

feat(design-data-core): SDK loader glob+merge for manifest extensions/ dir (#1422)
  sdk/core/src/manifest.rs
  sdk/core/src/schema.rs
Due: none

fix: updated 013 proposal
  docs/proposals/013-multimodal-model-spike-samples.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

perf(sdk): cache compiled schema validators, derive extensions/ allowlist
  sdk/core/src/manifest.rs
  sdk/core/src/schema.rs
Due: none

fix(sdk): assert platform-extension record in behavior harness
  packages/design-data-spec/conformance/manifest-extensions/valid/injects-platform-extension/expected.json
  sdk/core/src/lib.rs
Due: prettier --write

Version Packages (#1421)
  .changeset/manifest-extensions-directory.md
  packages/design-data-spec/CHANGELOG.md
  packages/design-data-spec/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(ios-override-importer): emit extensions/ directory tree
  .changeset/ios-importer-extensions-dir.md
  .moon/workspace.yml
  tools/ios-override-importer/src/cli.js
  tools/ios-override-importer/src/emit-manifest.js
  tools/ios-override-importer/src/parse-colorset.js
  tools/ios-override-importer/src/resolve-target.js
  tools/ios-override-importer/test/categorize.test.js
  tools/ios-override-importer/test/cli.test.js
  tools/ios-override-importer/test/emit-manifest.test.js
  tools/ios-override-importer/test/parse-colorset.test.js
  tools/ios-override-importer/test/resolve-target.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(ci): register ios-override-importer moon tasks in ci-targets.json
  .github/ci-targets.json
Due: prettier --write

fix(demo): update verify-demo.sh A3 for post-CTR token shape
  docs/scenarios.md
  tools/demo/demo-commands.sh
  tools/demo/scenarios.md
  tools/demo/verify-demo.sh
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(demo): guard A3 query check with || true under set -e
  tools/demo/verify-demo.sh
Due: none

fix(demo): update verify-demo.sh A3 for post-CTR token shape (#1425)
  docs/scenarios.md
  tools/demo/demo-commands.sh
  tools/demo/scenarios.md
  tools/demo/verify-demo.sh
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(ci): build sdk before ios-override-importer tests, move to rust CI job
  .github/ci-targets.json
  tools/ios-override-importer/moon.yml
Due: prettier --write

docs(013): settle conceptId as a UUID, not a string
  docs/proposals/013-multimodal-model-spike-samples.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

docs(013): settle conceptId as a UUID, not a string (#1426)
  docs/proposals/013-multimodal-model-spike-samples.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(ios-override-importer): remove stale extensions/tokens/ fragment on re-run
  .changeset/ios-importer-extensions-dir.md
  tools/ios-override-importer/src/cli.js
  tools/ios-override-importer/test/cli.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(ios-override-importer): emit extensions/ directory tree (#1424)
  .changeset/ios-importer-extensions-dir.md
  .github/ci-targets.json
  .moon/workspace.yml
  tools/ios-override-importer/moon.yml
  tools/ios-override-importer/src/cli.js
  tools/ios-override-importer/src/emit-manifest.js
  tools/ios-override-importer/src/parse-colorset.js
  tools/ios-override-importer/src/resolve-target.js
  tools/ios-override-importer/test/categorize.test.js
  tools/ios-override-importer/test/cli.test.js
  tools/ios-override-importer/test/emit-manifest.test.js
  tools/ios-override-importer/test/parse-colorset.test.js
  tools/ios-override-importer/test/resolve-target.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(tokens)!: add conceptId as canonical concept-level UUID, retire set_uuid
  .changeset/concept-id-canonical-identifier.md
  packages/design-data-spec/conformance/README.md
  packages/design-data-spec/conformance/generation/README.md
  packages/design-data-spec/conformance/generation/mode-set-edit/input/tokens.tokens.json
  packages/design-data-spec/conformance/generation/mode-set-token/input/tokens.tokens.json
  packages/design-data-spec/conformance/reference/set-alias-dark/expected.json
  packages/design-data-spec/conformance/reference/set-alias-dark/input/tokens.tokens.json
  packages/design-data-spec/conformance/reference/set-alias-light/expected.json
  packages/design-data-spec/conformance/reference/set-alias-light/input/tokens.tokens.json
  packages/design-data-spec/rules/rules.yaml
  packages/design-data-spec/spec/cascade.md
  packages/design-data-spec/spec/token-format.md
  packages/design-data/scripts/backfill-concept-id.js
  packages/design-data/tokens/color-aliases.tokens.json
  packages/design-data/tokens/color-palette.tokens.json
  packages/design-data/tokens/icons.tokens.json
  packages/design-data/tokens/layout-component.tokens.json
  packages/design-data/tokens/layout.tokens.json
  packages/design-data/tokens/semantic-color-palette.tokens.json
  packages/design-data/tokens/typography.tokens.json
  packages/tokens/schemas/token-types/alias.json
  packages/tokens/schemas/token-types/color-set.json
  packages/tokens/schemas/token-types/scale-set.json
  packages/tokens/schemas/token-types/system-set.json
  packages/tokens/schemas/token-types/token.json
  sdk/core/src/figma/import.rs
  sdk/core/src/graph.rs
  sdk/core/src/legacy.rs
  sdk/core/src/migrate.rs
  sdk/core/src/validate/rules/mod.rs
  sdk/core/src/validate/rules/spec055.rs
  sdk/core/src/validate/rules/spec059.rs
  sdk/wasm/test/parity.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): fix two migration scripts still reading removed set_uuid
  packages/design-data/scripts/backfill-deprecated-versions.js
  packages/design-data/scripts/migrate-to-relationships.mjs
Due: prettier --write

feat(tokens)!: add conceptId as canonical concept-level UUID, retire set_uuid (#1428)
  .changeset/concept-id-canonical-identifier.md
  packages/design-data-spec/conformance/README.md
  packages/design-data-spec/conformance/generation/README.md
  packages/design-data-spec/conformance/generation/mode-set-edit/input/tokens.tokens.json
  packages/design-data-spec/conformance/generation/mode-set-token/input/tokens.tokens.json
  packages/design-data-spec/conformance/reference/set-alias-dark/expected.json
  packages/design-data-spec/conformance/reference/set-alias-dark/input/tokens.tokens.json
  packages/design-data-spec/conformance/reference/set-alias-light/expected.json
  packages/design-data-spec/conformance/reference/set-alias-light/input/tokens.tokens.json
  packages/design-data-spec/rules/rules.yaml
  packages/design-data-spec/spec/cascade.md
  packages/design-data-spec/spec/token-format.md
  packages/design-data/scripts/backfill-concept-id.js
  packages/design-data/scripts/backfill-deprecated-versions.js
  packages/design-data/scripts/migrate-to-relationships.mjs
  packages/design-data/tokens/color-aliases.tokens.json
  packages/design-data/tokens/color-palette.tokens.json
  packages/design-data/tokens/icons.tokens.json
  packages/design-data/tokens/layout-component.tokens.json
  packages/design-data/tokens/layout.tokens.json
  packages/design-data/tokens/semantic-color-palette.tokens.json
  packages/design-data/tokens/typography.tokens.json
  packages/tokens/schemas/token-types/alias.json
  packages/tokens/schemas/token-types/color-set.json
  packages/tokens/schemas/token-types/scale-set.json
  packages/tokens/schemas/token-types/system-set.json
  packages/tokens/schemas/token-types/token.json
  sdk/core/src/figma/import.rs
  sdk/core/src/graph.rs
  sdk/core/src/legacy.rs
  sdk/core/src/migrate.rs
  sdk/core/src/validate/rules/mod.rs
  sdk/core/src/validate/rules/spec055.rs
  sdk/core/src/validate/rules/spec059.rs
  sdk/wasm/test/parity.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(tokens): downgrade spectrum-tokens bump to minor
  .changeset/concept-id-canonical-identifier.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

chore: enforce Scout memory discipline, ignore local memory bank
  .gitignore
  CLAUDE.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

Version Packages (#1427)
  .changeset/concept-id-canonical-identifier.md
  .changeset/ios-importer-extensions-dir.md
  docs/s2-tokens-viewer/CHANGELOG.md
  docs/s2-tokens-viewer/package.json
  packages/component-schemas/CHANGELOG.md
  packages/component-schemas/package.json
  packages/design-data-spec/CHANGELOG.md
  packages/design-data-spec/package.json
  packages/design-data/CHANGELOG.md
  packages/design-data/package.json
  packages/design-system-registry/CHANGELOG.md
  packages/design-system-registry/package.json
  packages/token-names/CHANGELOG.md
  packages/token-names/package.json
  packages/tokens/CHANGELOG.md
  packages/tokens/package.json
  sdk/Cargo.lock
  sdk/tui/CHANGELOG.md
  sdk/tui/Cargo.toml
  sdk/tui/package.json
  tools/component-options-editor/CHANGELOG.md
  tools/component-options-editor/package.json
  tools/design-data-agent-mcp/CHANGELOG.md
  tools/design-data-agent-mcp/package.json
  tools/design-data-agent-mcp/skills/design-data/SKILL.md
  tools/design-data-mcp/CHANGELOG.md
  tools/design-data-mcp/package.json
  tools/design-data-skill/skills/design-data/SKILL.md
  tools/ios-override-importer/CHANGELOG.md
  tools/ios-override-importer/package.json
  tools/markdown-generator/CHANGELOG.md
  tools/markdown-generator/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
  tools/token-corpus-migrate/CHANGELOG.md
  tools/token-corpus-migrate/package.json
  tools/token-mapping-analyzer/CHANGELOG.md
  tools/token-mapping-analyzer/package.json
  tools/token-naming-audit/CHANGELOG.md
  tools/token-naming-audit/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

chore: enforce Scout memory discipline, ignore local memory bank (#1429)
  .gitignore
  CLAUDE.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

chore(sdk): add changeset for extensions/ directory loader change
  .changeset/sdk-loader-extensions-dir.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

chore(sdk): add changeset for extensions/ directory loader change (#1430)
  .changeset/sdk-loader-extensions-dir.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(sdk): platform-local mode sets via extensions/mode-sets/
  .changeset/manifest-mode-sets.md
  packages/design-data-spec/conformance/manifest-extensions/README.md
  packages/design-data-spec/conformance/manifest-extensions/invalid/mode-set-missing-default/expected-errors.json
  packages/design-data-spec/conformance/manifest-extensions/invalid/mode-set-missing-default/extensions/mode-sets/broken.json
  packages/design-data-spec/conformance/manifest-extensions/invalid/mode-set-missing-default/manifest.json
  packages/design-data-spec/conformance/manifest-extensions/valid/injects-mode-set/expected.json
  packages/design-data-spec/conformance/manifest-extensions/valid/injects-mode-set/extensions/mode-sets/interface-level.json
  packages/design-data-spec/conformance/manifest-extensions/valid/injects-mode-set/manifest.json
  packages/design-data-spec/spec/manifest.md
  packages/design-data-spec/spec/mode-sets.md
  sdk/core/src/cascade.rs
  sdk/core/src/graph.rs
  sdk/core/src/lib.rs
  sdk/core/src/manifest.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(sdk): platform-local mode sets via extensions/mode-sets/ (#1432)
  .changeset/manifest-mode-sets.md
  packages/design-data-spec/conformance/manifest-extensions/README.md
  packages/design-data-spec/conformance/manifest-extensions/invalid/mode-set-missing-default/expected-errors.json
  packages/design-data-spec/conformance/manifest-extensions/invalid/mode-set-missing-default/extensions/mode-sets/broken.json
  packages/design-data-spec/conformance/manifest-extensions/invalid/mode-set-missing-default/manifest.json
  packages/design-data-spec/conformance/manifest-extensions/valid/injects-mode-set/expected.json
  packages/design-data-spec/conformance/manifest-extensions/valid/injects-mode-set/extensions/mode-sets/interface-level.json
  packages/design-data-spec/conformance/manifest-extensions/valid/injects-mode-set/manifest.json
  packages/design-data-spec/spec/manifest.md
  packages/design-data-spec/spec/mode-sets.md
  sdk/core/src/cascade.rs
  sdk/core/src/graph.rs
  sdk/core/src/lib.rs
  sdk/core/src/manifest.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

chore: updated AGENTS.md with Scout pr review instructions
  AGENTS.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(sdk): clean up pre-existing clippy needless_borrow/bool_assert_comparison errors
  sdk/core/src/authoring/session.rs
  sdk/core/src/cache/mod.rs
  sdk/core/src/data_source/mod.rs
  sdk/core/src/validate/rules/spec015.rs
  sdk/core/src/validate/rules/spec016.rs
  sdk/core/src/validate/rules/spec018.rs
  sdk/core/src/validate/rules/spec019.rs
  sdk/core/src/validate/rules/spec020.rs
  sdk/core/src/validate/rules/spec021.rs
  sdk/core/src/validate/rules/spec022.rs
  sdk/core/src/validate/rules/spec023.rs
  sdk/core/src/validate/rules/spec024.rs
  sdk/core/src/validate/rules/spec026.rs
  sdk/core/src/validate/rules/spec027.rs
  sdk/core/src/validate/rules/spec028.rs
  sdk/core/src/validate/rules/spec029.rs
  sdk/core/src/validate/rules/spec030.rs
  sdk/core/src/validate/rules/spec031.rs
  sdk/core/src/validate/rules/spec032.rs
  sdk/core/src/validate/rules/spec036.rs
  sdk/core/src/validate/rules/spec037.rs
  sdk/core/src/validate/rules/spec038.rs
  sdk/core/src/validate/rules/spec039.rs
  sdk/core/src/validate/rules/spec040.rs
  sdk/core/src/validate/rules/spec041.rs
  sdk/core/src/validate/rules/spec045.rs
  sdk/core/src/validate/rules/spec046.rs
  sdk/core/src/validate/rules/spec048.rs
  sdk/core/src/validate/rules/spec051.rs
  sdk/core/src/validate/rules/spec052.rs
  sdk/core/src/validate/rules/spec053.rs
  sdk/core/src/validate/rules/spec054.rs
  sdk/core/src/validate/rules/spec055.rs
  sdk/core/src/validate/rules/spec056.rs
  sdk/core/src/validate/rules/spec057.rs
  sdk/core/src/validate/rules/spec058.rs
  sdk/core/src/validate/rules/spec059.rs
  sdk/core/tests/integration.rs
Due: none

fix(sdk): clean up pre-existing clippy needless_borrow errors in spec rule tests (#1433)
  sdk/core/src/authoring/session.rs
  sdk/core/src/cache/mod.rs
  sdk/core/src/data_source/mod.rs
  sdk/core/src/validate/rules/spec015.rs
  sdk/core/src/validate/rules/spec016.rs
  sdk/core/src/validate/rules/spec018.rs
  sdk/core/src/validate/rules/spec019.rs
  sdk/core/src/validate/rules/spec020.rs
  sdk/core/src/validate/rules/spec021.rs
  sdk/core/src/validate/rules/spec022.rs
  sdk/core/src/validate/rules/spec023.rs
  sdk/core/src/validate/rules/spec024.rs
  sdk/core/src/validate/rules/spec026.rs
  sdk/core/src/validate/rules/spec027.rs
  sdk/core/src/validate/rules/spec028.rs
  sdk/core/src/validate/rules/spec029.rs
  sdk/core/src/validate/rules/spec030.rs
  sdk/core/src/validate/rules/spec031.rs
  sdk/core/src/validate/rules/spec032.rs
  sdk/core/src/validate/rules/spec036.rs
  sdk/core/src/validate/rules/spec037.rs
  sdk/core/src/validate/rules/spec038.rs
  sdk/core/src/validate/rules/spec039.rs
  sdk/core/src/validate/rules/spec040.rs
  sdk/core/src/validate/rules/spec041.rs
  sdk/core/src/validate/rules/spec045.rs
  sdk/core/src/validate/rules/spec046.rs
  sdk/core/src/validate/rules/spec048.rs
  sdk/core/src/validate/rules/spec051.rs
  sdk/core/src/validate/rules/spec052.rs
  sdk/core/src/validate/rules/spec053.rs
  sdk/core/src/validate/rules/spec054.rs
  sdk/core/src/validate/rules/spec055.rs
  sdk/core/src/validate/rules/spec056.rs
  sdk/core/src/validate/rules/spec057.rs
  sdk/core/src/validate/rules/spec058.rs
  sdk/core/src/validate/rules/spec059.rs
  sdk/core/tests/integration.rs
Due: none

Version Packages (#1431)
  .changeset/manifest-mode-sets.md
  .changeset/sdk-loader-extensions-dir.md
  docs/s2-tokens-viewer/CHANGELOG.md
  docs/s2-tokens-viewer/package.json
  sdk/Cargo.lock
  sdk/tui/CHANGELOG.md
  sdk/tui/Cargo.toml
  sdk/tui/package.json
  sdk/wasm/CHANGELOG.md
  sdk/wasm/package.json
  tools/design-data-agent-mcp/CHANGELOG.md
  tools/design-data-agent-mcp/package.json
  tools/design-data-agent-mcp/skills/design-data/SKILL.md
  tools/design-data-mcp/CHANGELOG.md
  tools/design-data-mcp/package.json
  tools/design-data/CHANGELOG.md
  tools/design-data/package.json
  tools/token-naming-audit/CHANGELOG.md
  tools/token-naming-audit/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(sdk): route $ref-backed color-set CTRs through diff_multimode
  .changeset/figma-diff-ref-backed-color-set.md
  sdk/core/src/figma/import.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(sdk): remove stray </content> tag from changeset
  .changeset/figma-diff-ref-backed-color-set.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): route opacity tokens to Color theme, not Platform scale, in figma exporter/diff
  .changeset/figma-opacity-collection-routing.md
  sdk/core/src/figma/import.rs
  sdk/core/src/figma/mapping.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(sdk): route $ref-backed color-set CTRs through diff_multimode (#1434)
  .changeset/figma-diff-ref-backed-color-set.md
  sdk/core/src/figma/import.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): route opacity tokens to Color theme, not Platform scale, in figma exporter/diff (#1435)
  .changeset/figma-opacity-collection-routing.md
  sdk/core/src/figma/import.rs
  sdk/core/src/figma/mapping.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (#1436)
  .changeset/figma-diff-ref-backed-color-set.md
  .changeset/figma-opacity-collection-routing.md
  docs/s2-tokens-viewer/CHANGELOG.md
  docs/s2-tokens-viewer/package.json
  packages/component-schemas/CHANGELOG.md
  packages/component-schemas/package.json
  packages/design-data/CHANGELOG.md
  packages/design-data/package.json
  packages/design-system-registry/CHANGELOG.md
  packages/design-system-registry/package.json
  sdk/Cargo.lock
  sdk/tui/CHANGELOG.md
  sdk/tui/Cargo.toml
  sdk/tui/package.json
  sdk/wasm/CHANGELOG.md
  sdk/wasm/package.json
  tools/component-options-editor/CHANGELOG.md
  tools/component-options-editor/package.json
  tools/design-data-agent-mcp/CHANGELOG.md
  tools/design-data-agent-mcp/package.json
  tools/design-data-agent-mcp/skills/design-data/SKILL.md
  tools/design-data-mcp/CHANGELOG.md
  tools/design-data-mcp/package.json
  tools/design-data-skill/skills/design-data/SKILL.md
  tools/design-data/CHANGELOG.md
  tools/design-data/package.json
  tools/markdown-generator/CHANGELOG.md
  tools/markdown-generator/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
  tools/token-corpus-migrate/CHANGELOG.md
  tools/token-corpus-migrate/package.json
  tools/token-naming-audit/CHANGELOG.md
  tools/token-naming-audit/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,yml,yaml}
  remark --use remark-frontmatter --use remark-gfm --use remark-github --output: any of: **/*.md
  pnpm changeset-lint check-file: any of: .changeset/*.md
