Repository adobe/spectrum-design-data: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

test(sdk): prove CTR resolver already handles two-axis mode combinations
  sdk/core/src/graph.rs
Due: none

fix(design-data): correct desktop base-padding-horizontal L/XL/2xL values
  .changeset/base-padding-horizontal-desktop-values.md
  packages/design-data/tokens/layout.tokens.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): regenerate legacy tokens/src output for padding fix
  packages/tokens/src/layout.json
Due: prettier --write

fix(design-data): correct desktop base-padding-horizontal L/XL/2xL values (#1438)
  .changeset/base-padding-horizontal-desktop-values.md
  packages/design-data/tokens/layout.tokens.json
  packages/tokens/src/layout.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

test(sdk): spike proving CTR resolver handles two-axis mode combinations (#1437)
  sdk/core/src/graph.rs
Due: none

Version Packages (#1439)
  .changeset/base-padding-horizontal-desktop-values.md
  packages/component-schemas/CHANGELOG.md
  packages/component-schemas/package.json
  packages/design-data/CHANGELOG.md
  packages/design-data/package.json
  packages/design-system-registry/CHANGELOG.md
  packages/design-system-registry/package.json
  tools/component-options-editor/CHANGELOG.md
  tools/component-options-editor/package.json
  tools/design-data-agent-mcp/CHANGELOG.md
  tools/design-data-agent-mcp/package.json
  tools/design-data-agent-mcp/skills/design-data/SKILL.md
  tools/design-data-mcp/CHANGELOG.md
  tools/design-data-mcp/package.json
  tools/design-data-skill/skills/design-data/SKILL.md
  tools/markdown-generator/CHANGELOG.md
  tools/markdown-generator/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
  tools/token-corpus-migrate/CHANGELOG.md
  tools/token-corpus-migrate/package.json
  tools/token-naming-audit/CHANGELOG.md
  tools/token-naming-audit/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

chore(tokens): add missed changeset for base-padding-horizontal fix
  .changeset/spectrum-tokens-padding-horizontal.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

chore(tokens): add missed changeset for base-padding-horizontal fix (#1440)
  .changeset/spectrum-tokens-padding-horizontal.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (#1441)
  .changeset/spectrum-tokens-padding-horizontal.md
  docs/s2-tokens-viewer/CHANGELOG.md
  docs/s2-tokens-viewer/package.json
  packages/token-names/CHANGELOG.md
  packages/token-names/package.json
  packages/tokens/CHANGELOG.md
  packages/tokens/package.json
  tools/markdown-generator/CHANGELOG.md
  tools/markdown-generator/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
  tools/token-mapping-analyzer/CHANGELOG.md
  tools/token-mapping-analyzer/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): resolve inline-value opacity CTRs in figma diff
  .changeset/figma-opacity-ctr-resolution.md
  sdk/core/src/graph.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): resolve inline-value opacity CTRs in figma diff (#1442)
  .changeset/figma-opacity-ctr-resolution.md
  sdk/core/src/graph.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (#1443)
  .changeset/figma-opacity-ctr-resolution.md
  packages/component-schemas/CHANGELOG.md
  packages/component-schemas/package.json
  packages/design-data/CHANGELOG.md
  packages/design-data/package.json
  packages/design-system-registry/CHANGELOG.md
  packages/design-system-registry/package.json
  tools/component-options-editor/CHANGELOG.md
  tools/component-options-editor/package.json
  tools/design-data-agent-mcp/CHANGELOG.md
  tools/design-data-agent-mcp/package.json
  tools/design-data-agent-mcp/skills/design-data/SKILL.md
  tools/design-data-mcp/CHANGELOG.md
  tools/design-data-mcp/package.json
  tools/design-data-skill/skills/design-data/SKILL.md
  tools/markdown-generator/CHANGELOG.md
  tools/markdown-generator/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
  tools/token-corpus-migrate/CHANGELOG.md
  tools/token-corpus-migrate/package.json
  tools/token-naming-audit/CHANGELOG.md
  tools/token-naming-audit/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(sdk): stop counting all-uncovered multi-mode entries as mismatches
  sdk/core/src/figma/import.rs
Due: none

fix(sdk): stop counting all-uncovered multi-mode entries as mismatches (#1444)
  sdk/core/src/figma/import.rs
Due: none

fix(sdk): resolve multi-hop Layout aliases in figma diff
  sdk/core/src/figma/import.rs
Due: none

fix(sdk): resolve multi-hop Layout aliases in figma diff (#1445)
  sdk/core/src/figma/import.rs
Due: none

fix(sdk): resolve code-font-family CTR in figma diff (closes #11k.10.12)
  .changeset/figma-code-font-family-ctr-resolution.md
  sdk/core/src/figma/import.rs
  sdk/core/src/graph.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(sdk): resolve code-font-family CTR in figma diff (#1446)
  .changeset/figma-code-font-family-ctr-resolution.md
  sdk/core/src/figma/import.rs
  sdk/core/src/graph.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (#1447)
  .changeset/figma-code-font-family-ctr-resolution.md
  packages/component-schemas/CHANGELOG.md
  packages/component-schemas/package.json
  packages/design-data/CHANGELOG.md
  packages/design-data/package.json
  packages/design-system-registry/CHANGELOG.md
  packages/design-system-registry/package.json
  tools/component-options-editor/CHANGELOG.md
  tools/component-options-editor/package.json
  tools/design-data-agent-mcp/CHANGELOG.md
  tools/design-data-agent-mcp/package.json
  tools/design-data-agent-mcp/skills/design-data/SKILL.md
  tools/design-data-mcp/CHANGELOG.md
  tools/design-data-mcp/package.json
  tools/design-data-skill/skills/design-data/SKILL.md
  tools/markdown-generator/CHANGELOG.md
  tools/markdown-generator/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
  tools/token-corpus-migrate/CHANGELOG.md
  tools/token-corpus-migrate/package.json
  tools/token-naming-audit/CHANGELOG.md
  tools/token-naming-audit/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(sdk): promote diverges_on_axis to public TokenGraph API
  sdk/core/src/graph.rs
Due: none

fix(design-data): drop stale corner-radius-button-extra-large tokenBinding
  packages/design-data/components/button.json
Due: prettier --write

chore: add changeset for button.json corner-radius binding cleanup
  .changeset/button-corner-radius-extra-large-binding.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

revert(design-data): restore corner-radius-button-extra-large binding
  .changeset/button-corner-radius-extra-large-binding.md
  packages/design-data/components/button.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(actions): validate action's latest-CLI lookup can miss the tag
  .github/actions/validate/action.yml
Due: prettier --write

feat(sdk): op-based extensions/mode-sets/ grammar for platform manifests
  .changeset/mode-set-ops.md
  packages/design-data-spec/conformance/manifest-extensions/invalid/mode-set-remove-mode-of-default/expected-errors.json
  packages/design-data-spec/conformance/manifest-extensions/invalid/mode-set-remove-mode-of-default/extensions/mode-sets/remove-desktop.json
  packages/design-data-spec/conformance/manifest-extensions/invalid/mode-set-remove-mode-of-default/extensions/mode-sets/scale.json
  packages/design-data-spec/conformance/manifest-extensions/invalid/mode-set-remove-mode-of-default/manifest.json
  packages/design-data-spec/conformance/manifest-extensions/invalid/mode-set-set-default-nonmember/expected-errors.json
  packages/design-data-spec/conformance/manifest-extensions/invalid/mode-set-set-default-nonmember/extensions/mode-sets/default-tv.json
  packages/design-data-spec/conformance/manifest-extensions/invalid/mode-set-set-default-nonmember/extensions/mode-sets/scale.json
  packages/design-data-spec/conformance/manifest-extensions/invalid/mode-set-set-default-nonmember/manifest.json
  packages/design-data-spec/conformance/manifest-extensions/invalid/mode-set-target-not-found/expected-errors.json
  packages/design-data-spec/conformance/manifest-extensions/invalid/mode-set-target-not-found/extensions/mode-sets/add-tv.json
  packages/design-data-spec/conformance/manifest-extensions/invalid/mode-set-target-not-found/manifest.json
  packages/design-data-spec/conformance/manifest-extensions/invalid/mode-set-unknown-op/expected-errors.json
  packages/design-data-spec/conformance/manifest-extensions/invalid/mode-set-unknown-op/extensions/mode-sets/bogus.json
  packages/design-data-spec/conformance/manifest-extensions/invalid/mode-set-unknown-op/extensions/mode-sets/scale.json
  packages/design-data-spec/conformance/manifest-extensions/invalid/mode-set-unknown-op/manifest.json
  packages/design-data-spec/conformance/manifest-extensions/valid/mode-set-add-mode/expected.json
  packages/design-data-spec/conformance/manifest-extensions/valid/mode-set-add-mode/extensions/mode-sets/add-tv.json
  packages/design-data-spec/conformance/manifest-extensions/valid/mode-set-add-mode/extensions/mode-sets/scale.json
  packages/design-data-spec/conformance/manifest-extensions/valid/mode-set-add-mode/manifest.json
  packages/design-data-spec/conformance/manifest-extensions/valid/mode-set-remove-mode/expected.json
  packages/design-data-spec/conformance/manifest-extensions/valid/mode-set-remove-mode/extensions/mode-sets/color-scheme.json
  packages/design-data-spec/conformance/manifest-extensions/valid/mode-set-remove-mode/extensions/mode-sets/remove-wireframe.json
  packages/design-data-spec/conformance/manifest-extensions/valid/mode-set-remove-mode/manifest.json
  packages/design-data-spec/conformance/manifest-extensions/valid/mode-set-remove/expected.json
  packages/design-data-spec/conformance/manifest-extensions/valid/mode-set-remove/extensions/mode-sets/contrast.json
  packages/design-data-spec/conformance/manifest-extensions/valid/mode-set-remove/extensions/mode-sets/remove-contrast.json
  packages/design-data-spec/conformance/manifest-extensions/valid/mode-set-remove/manifest.json
  packages/design-data-spec/conformance/manifest-extensions/valid/mode-set-set-default/expected.json
  packages/design-data-spec/conformance/manifest-extensions/valid/mode-set-set-default/extensions/mode-sets/default-tv.json
  packages/design-data-spec/conformance/manifest-extensions/valid/mode-set-set-default/extensions/mode-sets/scale.json
  packages/design-data-spec/conformance/manifest-extensions/valid/mode-set-set-default/manifest.json
  packages/design-data-spec/spec/manifest.md
  packages/design-data-spec/spec/mode-sets.md
  sdk/core/src/graph.rs
  sdk/core/src/lib.rs
  sdk/core/src/manifest.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(sdk): guard modeSets ops against orphaned tokens and malformed op fields
  packages/design-data-spec/spec/manifest.md
  sdk/core/src/graph.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(actions): paginate CLI release lookup instead of raising the limit
  .github/actions/validate/action.yml
  .github/actions/validate/scripts/resolve-latest-cli-version.sh
  .github/actions/validate/scripts/resolve-latest-cli-version.test.sh
Due: prettier --write

fix(actions): validate action's latest-CLI lookup can miss the tag (#1448)
  .github/actions/validate/action.yml
  .github/actions/validate/scripts/resolve-latest-cli-version.sh
  .github/actions/validate/scripts/resolve-latest-cli-version.test.sh
Due: prettier --write

fix(sdk): resolve diverges_on_axis records through their alias chain
  sdk/core/src/graph.rs
Due: none

feat(sdk): promote diverges_on_axis to public TokenGraph API (#1450)
  sdk/core/src/graph.rs
Due: none

feat(sdk): op-based extensions/mode-sets/ grammar for platform manifests (#1449)
  .changeset/mode-set-ops.md
  packages/design-data-spec/conformance/manifest-extensions/invalid/mode-set-remove-mode-of-default/expected-errors.json
  packages/design-data-spec/conformance/manifest-extensions/invalid/mode-set-remove-mode-of-default/extensions/mode-sets/remove-desktop.json
  packages/design-data-spec/conformance/manifest-extensions/invalid/mode-set-remove-mode-of-default/extensions/mode-sets/scale.json
  packages/design-data-spec/conformance/manifest-extensions/invalid/mode-set-remove-mode-of-default/manifest.json
  packages/design-data-spec/conformance/manifest-extensions/invalid/mode-set-set-default-nonmember/expected-errors.json
  packages/design-data-spec/conformance/manifest-extensions/invalid/mode-set-set-default-nonmember/extensions/mode-sets/default-tv.json
  packages/design-data-spec/conformance/manifest-extensions/invalid/mode-set-set-default-nonmember/extensions/mode-sets/scale.json
  packages/design-data-spec/conformance/manifest-extensions/invalid/mode-set-set-default-nonmember/manifest.json
  packages/design-data-spec/conformance/manifest-extensions/invalid/mode-set-target-not-found/expected-errors.json
  packages/design-data-spec/conformance/manifest-extensions/invalid/mode-set-target-not-found/extensions/mode-sets/add-tv.json
  packages/design-data-spec/conformance/manifest-extensions/invalid/mode-set-target-not-found/manifest.json
  packages/design-data-spec/conformance/manifest-extensions/invalid/mode-set-unknown-op/expected-errors.json
  packages/design-data-spec/conformance/manifest-extensions/invalid/mode-set-unknown-op/extensions/mode-sets/bogus.json
  packages/design-data-spec/conformance/manifest-extensions/invalid/mode-set-unknown-op/extensions/mode-sets/scale.json
  packages/design-data-spec/conformance/manifest-extensions/invalid/mode-set-unknown-op/manifest.json
  packages/design-data-spec/conformance/manifest-extensions/valid/mode-set-add-mode/expected.json
  packages/design-data-spec/conformance/manifest-extensions/valid/mode-set-add-mode/extensions/mode-sets/add-tv.json
  packages/design-data-spec/conformance/manifest-extensions/valid/mode-set-add-mode/extensions/mode-sets/scale.json
  packages/design-data-spec/conformance/manifest-extensions/valid/mode-set-add-mode/manifest.json
  packages/design-data-spec/conformance/manifest-extensions/valid/mode-set-remove-mode/expected.json
  packages/design-data-spec/conformance/manifest-extensions/valid/mode-set-remove-mode/extensions/mode-sets/color-scheme.json
  packages/design-data-spec/conformance/manifest-extensions/valid/mode-set-remove-mode/extensions/mode-sets/remove-wireframe.json
  packages/design-data-spec/conformance/manifest-extensions/valid/mode-set-remove-mode/manifest.json
  packages/design-data-spec/conformance/manifest-extensions/valid/mode-set-remove/expected.json
  packages/design-data-spec/conformance/manifest-extensions/valid/mode-set-remove/extensions/mode-sets/contrast.json
  packages/design-data-spec/conformance/manifest-extensions/valid/mode-set-remove/extensions/mode-sets/remove-contrast.json
  packages/design-data-spec/conformance/manifest-extensions/valid/mode-set-remove/manifest.json
  packages/design-data-spec/conformance/manifest-extensions/valid/mode-set-set-default/expected.json
  packages/design-data-spec/conformance/manifest-extensions/valid/mode-set-set-default/extensions/mode-sets/default-tv.json
  packages/design-data-spec/conformance/manifest-extensions/valid/mode-set-set-default/extensions/mode-sets/scale.json
  packages/design-data-spec/conformance/manifest-extensions/valid/mode-set-set-default/manifest.json
  packages/design-data-spec/spec/manifest.md
  packages/design-data-spec/spec/mode-sets.md
  sdk/core/src/graph.rs
  sdk/core/src/lib.rs
  sdk/core/src/manifest.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(tokens): stack-item selected-down background gray-300 → gray-200
  .changeset/stack-item-down-gray-200.md
  packages/design-data/relationships/stack-item.json
  packages/tokens/src/stack-item.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(tokens): stack-item selected-down background gray-300 → gray-200 (#1452)
  .changeset/stack-item-down-gray-200.md
  packages/design-data/relationships/stack-item.json
  packages/tokens/src/stack-item.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (#1451)
  .changeset/mode-set-ops.md
  .changeset/stack-item-down-gray-200.md
  docs/s2-tokens-viewer/CHANGELOG.md
  docs/s2-tokens-viewer/package.json
  packages/component-schemas/CHANGELOG.md
  packages/component-schemas/package.json
  packages/design-data-spec/CHANGELOG.md
  packages/design-data-spec/package.json
  packages/design-data/CHANGELOG.md
  packages/design-data/package.json
  packages/design-system-registry/CHANGELOG.md
  packages/design-system-registry/package.json
  packages/token-names/CHANGELOG.md
  packages/token-names/package.json
  packages/tokens/CHANGELOG.md
  packages/tokens/package.json
  tools/component-options-editor/CHANGELOG.md
  tools/component-options-editor/package.json
  tools/design-data-agent-mcp/CHANGELOG.md
  tools/design-data-agent-mcp/package.json
  tools/design-data-agent-mcp/skills/design-data/SKILL.md
  tools/design-data-mcp/CHANGELOG.md
  tools/design-data-mcp/package.json
  tools/design-data-skill/skills/design-data/SKILL.md
  tools/markdown-generator/CHANGELOG.md
  tools/markdown-generator/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
  tools/token-corpus-migrate/CHANGELOG.md
  tools/token-corpus-migrate/package.json
  tools/token-mapping-analyzer/CHANGELOG.md
  tools/token-mapping-analyzer/package.json
  tools/token-naming-audit/CHANGELOG.md
  tools/token-naming-audit/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,yml,yaml}
  remark --use remark-frontmatter --use remark-gfm --use remark-github --output: any of: **/*.md
  pnpm changeset-lint check-file: any of: .changeset/*.md
