Repository adobe/spectrum-design-data: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(sdk): reject WEB in --code-syntax-manifest, honor excludeFromLegacyKey in conceptOrder (#1480)
  sdk/cli/src/main.rs
  sdk/cli/tests/cli_figma_export.rs
  sdk/core/src/naming.rs
Due: none

feat(design-data-spec): add component implementation metadata (#1479)
  .changeset/silly-impalas-sleep.md
  packages/design-data-spec/schemas/component.schema.json
  packages/design-data-spec/spec/component-format.md
  packages/design-data/components/action-button.json
  packages/design-data/components/button.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(tools): add Figma Code Connect generator
  .moon/workspace.yml
  tools/figma-code-connect/README.md
  tools/figma-code-connect/ava.config.js
  tools/figma-code-connect/moon.yml
  tools/figma-code-connect/package.json
  tools/figma-code-connect/src/cli.js
  tools/figma-code-connect/src/mcp.js
  tools/figma-code-connect/src/plan.js
  tools/figma-code-connect/test/plan.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

gitblobstore: checkandput manifest
  manifest
  nv6uiqnklddvvk14lsngj6jmpd1kidho.darc
Due: none

gitblobstore: checkandput manifest
  b8mg7bpdqks14c6352ekrddne9rn88lk
  manifest
Due: none

dolt remote info
  DOLT_REMOTE.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(tools): harden Code Connect mapping transport
  pnpm-lock.yaml
  tools/figma-code-connect/README.md
  tools/figma-code-connect/package.json
  tools/figma-code-connect/src/cli.js
  tools/figma-code-connect/src/mcp.js
  tools/figma-code-connect/src/plan.js
  tools/figma-code-connect/test/plan.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

docs: clarify Scout MCP deferred-tool discovery per harness
  AGENTS.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(ci): add figma-code-connect tasks to CI targets guard allowlist
  .github/ci-targets.json
Due: prettier --write

feat(design-data-spec): add componentOptions to platform-extension.json
  packages/design-data-spec/conformance/manifest-extensions/README.md
  packages/design-data-spec/conformance/manifest-extensions/invalid/component-option-extension-missing-component/expected-errors.json
  packages/design-data-spec/conformance/manifest-extensions/invalid/component-option-extension-missing-component/extensions/platform-extensions/broken.json
  packages/design-data-spec/conformance/manifest-extensions/invalid/component-option-extension-missing-component/manifest.json
  packages/design-data-spec/conformance/manifest-extensions/valid/injects-component-option-extension/expected.json
  packages/design-data-spec/conformance/manifest-extensions/valid/injects-component-option-extension/extensions/platform-extensions/web-components-button.json
  packages/design-data-spec/conformance/manifest-extensions/valid/injects-component-option-extension/manifest.json
  packages/design-data-spec/schemas/platform-extension.json
  packages/design-data/registry/platform-extensions/react-spectrum-button.json
  packages/design-data/registry/platform-extensions/web-components-button.json
  sdk/core/src/graph.rs
  sdk/core/src/lib.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix: address review findings on componentOptions platform extension
  packages/design-data-spec/conformance/manifest-extensions/README.md
  packages/design-data-spec/conformance/manifest-extensions/invalid/component-option-extension-unknown-component/expected-errors.json
  packages/design-data-spec/conformance/manifest-extensions/invalid/component-option-extension-unknown-component/extensions/platform-extensions/broken.json
  packages/design-data-spec/conformance/manifest-extensions/invalid/component-option-extension-unknown-component/manifest.json
  packages/design-data-spec/conformance/manifest-extensions/invalid/component-option-extension-unknown-option/expected-errors.json
  packages/design-data-spec/conformance/manifest-extensions/invalid/component-option-extension-unknown-option/extensions/components/button.json
  packages/design-data-spec/conformance/manifest-extensions/invalid/component-option-extension-unknown-option/extensions/platform-extensions/broken.json
  packages/design-data-spec/conformance/manifest-extensions/invalid/component-option-extension-unknown-option/manifest.json
  packages/design-data-spec/conformance/manifest-extensions/valid/injects-component-option-extension/extensions/components/button.json
  sdk/core/src/graph.rs
  sdk/core/src/primer.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

chore: updating version in serena
  .serena/project.yml
Due: prettier --write

chore(figma-code-connect): ignore generator output directory
  .gitignore
Due: none

fix(core): simplify boolean expression to satisfy clippy nonminimal_bool
  sdk/core/src/graph.rs
Due: none

gitblobstore: checkandput manifest
  3okukv4fm3qg6nf5lep7iodau7g81mgj.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  l8utcsv8uudhmp44qhlqhv0pdmrk5kq0
  manifest
Due: none

gitblobstore: checkandput manifest
  manifest
  oqsrcod9ds43js80acnshdo3tj7v8ok9.darc
Due: none

gitblobstore: checkandput manifest
  manifest
  qjjmpv2nfhvt7t0v1r1e4g5ktsshkvmv
Due: none

refactor(sdk): extract figma and dtcg into plugin crates
  sdk/Cargo.lock
  sdk/Cargo.toml
  sdk/cli/Cargo.toml
  sdk/cli/src/main.rs
  sdk/core/Cargo.toml
  sdk/core/src/figma/import.rs
  sdk/core/src/figma/mapping.rs
  sdk/core/src/graph.rs
  sdk/core/src/lib.rs
  sdk/core/src/suggest.rs
  sdk/plugins/dtcg/Cargo.toml
  sdk/plugins/dtcg/src/lib.rs
  sdk/plugins/figma/Cargo.toml
  sdk/plugins/figma/src/api.rs
  sdk/plugins/figma/src/audit.rs
  sdk/plugins/figma/src/color.rs
  sdk/plugins/figma/src/import.rs
  sdk/plugins/figma/src/import/diff.rs
  sdk/plugins/figma/src/import/naming.rs
  sdk/plugins/figma/src/import/overrides.rs
  sdk/plugins/figma/src/import/pair.rs
  sdk/plugins/figma/src/import/resolve.rs
  sdk/plugins/figma/src/import/tests.rs
  sdk/plugins/figma/src/lib.rs
  sdk/plugins/figma/src/mapping.rs
  sdk/plugins/figma/src/mapping/convert.rs
  sdk/plugins/figma/src/mapping/payload.rs
  sdk/plugins/figma/src/mapping/routing.rs
  sdk/plugins/figma/src/mapping/tests.rs
  sdk/plugins/figma/src/types.rs
  sdk/plugins/figma/tests/fixtures/figma/README.md
  sdk/plugins/figma/tests/fixtures/figma/name-mapping.audit.json
  sdk/plugins/figma/tests/fixtures/figma/s2-color-theme.mapping.json
  sdk/plugins/figma/tests/fixtures/figma/s2-typography.mapping.json
  sdk/plugins/figma/tests/fixtures/figma/s2-web-variables.baseline.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(sdk): add TokenExporter trait and third-party plugin protocol spec
  sdk/cli/src/main.rs
  sdk/core/src/export.rs
  sdk/core/src/lib.rs
  sdk/plugins/PLUGINS.md
  sdk/plugins/dtcg/src/lib.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(sdk): restore winners_to_dtcg_doc doc comment, add missing changeset
  .changeset/plugin-crates-token-exporter.md
  sdk/cli/src/main.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

docs(sdk): correct subprocess plugin protocol spec
  sdk/plugins/PLUGINS.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

docs(site): add Decisions article on Figma/DTCG plugin extraction
  docs/site/src/articles/extracting-figma-and-dtcg-into-plugins.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

docs: added new article and diagrams to existing articles
  docs/site/src/articles/exporting-tokens-to-dtcg.md
  docs/site/src/articles/extracting-figma-and-dtcg-into-plugins.md
  docs/site/src/articles/understanding-spectrum-tokens.md
  docs/site/src/assets/css/components/figures.css
  docs/site/src/assets/images/exporting-tokens-to-dtcg-alias-resolution.png
  docs/site/src/assets/images/exporting-tokens-to-dtcg-scopes.png
  docs/site/src/assets/images/extracting-figma-and-dtcg-into-plugins-ownership.png
  docs/site/src/assets/images/extracting-figma-and-dtcg-into-plugins-pipeline.png
  docs/site/src/assets/images/understanding-spectrum-tokens-platform-cascade.png
  docs/site/src/assets/images/understanding-spectrum-tokens-structures.png
  docs/site/src/assets/images/understanding-spectrum-tokens-tiers.png
  docs/site/src/tools.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(sdk): figma pair consults CTR resolution before value-matching (closes #11k.10.13)
  .changeset/figma-pair-ctr-resolution.md
  sdk/core/src/figma/import.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(sdk): figma pair consults CTR resolution before value-matching (#1485)
  .changeset/figma-pair-ctr-resolution.md
  sdk/core/src/figma/import.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(sdk): figma pair consults CTR resolution before value-matching (closes #11k.10.13)
  .changeset/figma-pair-ctr-resolution-plugin.md
  sdk/plugins/figma/src/import/pair.rs
  sdk/plugins/figma/src/import/tests.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(site): render list bullets inline for block-level li content
  docs/site/src/assets/css/base/reset.css
Due: none

Version Packages (#1481)
  .changeset/figma-pair-ctr-resolution-plugin.md
  .changeset/plugin-crates-token-exporter.md
  .changeset/silly-impalas-sleep.md
  packages/component-schemas/CHANGELOG.md
  packages/component-schemas/package.json
  packages/design-data-spec/CHANGELOG.md
  packages/design-data-spec/package.json
  packages/design-data/CHANGELOG.md
  packages/design-data/package.json
  packages/design-system-registry/CHANGELOG.md
  packages/design-system-registry/package.json
  sdk/Cargo.lock
  sdk/tui/CHANGELOG.md
  sdk/tui/Cargo.toml
  sdk/tui/package.json
  tools/component-options-editor/CHANGELOG.md
  tools/component-options-editor/package.json
  tools/design-data-agent-mcp/CHANGELOG.md
  tools/design-data-agent-mcp/package.json
  tools/design-data-agent-mcp/skills/design-data/SKILL.md
  tools/design-data-mcp/CHANGELOG.md
  tools/design-data-mcp/package.json
  tools/design-data-skill/skills/design-data/SKILL.md
  tools/markdown-generator/CHANGELOG.md
  tools/markdown-generator/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
  tools/token-corpus-migrate/CHANGELOG.md
  tools/token-corpus-migrate/package.json
  tools/token-naming-audit/CHANGELOG.md
  tools/token-naming-audit/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(site): redesign DTCG scopes diagram around real command shapes
  docs/site/src/articles/exporting-tokens-to-dtcg.md
  docs/site/src/assets/images/exporting-tokens-to-dtcg-scopes.png
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

docs(site): convert diagrams to SVG and clarify scopes diagram text
  docs/site/src/articles/exporting-tokens-to-dtcg.md
  docs/site/src/articles/extracting-figma-and-dtcg-into-plugins.md
  docs/site/src/articles/understanding-spectrum-tokens.md
  docs/site/src/assets/images/exporting-tokens-to-dtcg-alias-resolution.png
  docs/site/src/assets/images/exporting-tokens-to-dtcg-alias-resolution.svg
  docs/site/src/assets/images/exporting-tokens-to-dtcg-scopes.png
  docs/site/src/assets/images/exporting-tokens-to-dtcg-scopes.svg
  docs/site/src/assets/images/extracting-figma-and-dtcg-into-plugins-ownership.png
  docs/site/src/assets/images/extracting-figma-and-dtcg-into-plugins-ownership.svg
  docs/site/src/assets/images/extracting-figma-and-dtcg-into-plugins-pipeline.png
  docs/site/src/assets/images/extracting-figma-and-dtcg-into-plugins-pipeline.svg
  docs/site/src/assets/images/understanding-spectrum-tokens-platform-cascade.png
  docs/site/src/assets/images/understanding-spectrum-tokens-platform-cascade.svg
  docs/site/src/assets/images/understanding-spectrum-tokens-structures.png
  docs/site/src/assets/images/understanding-spectrum-tokens-structures.svg
  docs/site/src/assets/images/understanding-spectrum-tokens-tiers.png
  docs/site/src/assets/images/understanding-spectrum-tokens-tiers.svg
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

docs(site): convert diagrams to SVG and clarify scopes diagram (#1486)
  docs/site/src/articles/exporting-tokens-to-dtcg.md
  docs/site/src/articles/extracting-figma-and-dtcg-into-plugins.md
  docs/site/src/articles/understanding-spectrum-tokens.md
  docs/site/src/assets/images/exporting-tokens-to-dtcg-alias-resolution.png
  docs/site/src/assets/images/exporting-tokens-to-dtcg-alias-resolution.svg
  docs/site/src/assets/images/exporting-tokens-to-dtcg-scopes.png
  docs/site/src/assets/images/exporting-tokens-to-dtcg-scopes.svg
  docs/site/src/assets/images/extracting-figma-and-dtcg-into-plugins-ownership.png
  docs/site/src/assets/images/extracting-figma-and-dtcg-into-plugins-ownership.svg
  docs/site/src/assets/images/extracting-figma-and-dtcg-into-plugins-pipeline.png
  docs/site/src/assets/images/extracting-figma-and-dtcg-into-plugins-pipeline.svg
  docs/site/src/assets/images/understanding-spectrum-tokens-platform-cascade.png
  docs/site/src/assets/images/understanding-spectrum-tokens-platform-cascade.svg
  docs/site/src/assets/images/understanding-spectrum-tokens-structures.png
  docs/site/src/assets/images/understanding-spectrum-tokens-structures.svg
  docs/site/src/assets/images/understanding-spectrum-tokens-tiers.png
  docs/site/src/assets/images/understanding-spectrum-tokens-tiers.svg
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(sdk): resolve clippy warnings under --all-targets
  sdk/cli/tests/cli_validate.rs
  sdk/moon.yml
  sdk/tui/src/wizard/build.rs
  sdk/tui/tests/budget.rs
  sdk/tui/tests/find.rs
  sdk/tui/tests/replay.rs
  sdk/tui/tests/subscription.rs
  sdk/tui/tests/validate.rs
  sdk/tui/tests/write.rs
  sdk/wasm/src/types.rs
Due: prettier --write

fix(sdk): resolve clippy warnings under --all-targets (#1487)
  sdk/cli/tests/cli_validate.rs
  sdk/moon.yml
  sdk/tui/src/wizard/build.rs
  sdk/tui/tests/budget.rs
  sdk/tui/tests/find.rs
  sdk/tui/tests/replay.rs
  sdk/tui/tests/subscription.rs
  sdk/tui/tests/validate.rs
  sdk/tui/tests/write.rs
  sdk/wasm/src/types.rs
Due: prettier --write

gitblobstore: checkandput manifest
  j80fln6i628r9oo03bqmdte4lrn449fg.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  g65c1rqad9j5m2u2o4f1move8olias41
  manifest
Due: none

docs(sdk): correct README workspace layout
  sdk/README.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

docs(sdk): correct README workspace layout (#1488)
  sdk/README.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

gitblobstore: checkandput manifest
  manifest
  qc996m9hr2f9ebjf1716omb26i29ajh0.darc
Due: none

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,yml,yaml}
  remark --use remark-frontmatter --use remark-gfm --use remark-github --output: any of: **/*.md
  pnpm changeset-lint check-file: any of: .changeset/*.md
