Repository adobe/spectrum-design-data: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,yml,yaml}": ["prettier --write"],
  "**/*.md": [
    "remark --use remark-frontmatter --use remark-gfm --use remark-github --output"
  ],
  "!**/.changeset/*.md": [],
  "!**/pnpm-lock.yaml": [],
  "!**/package-lock.json": [],
  "!**/yarn.lock": [],
  ".changeset/*.md": [
    "pnpm changeset-lint check-file"
  ]
}

fix(tokens): new tokens test failures
  .cursor/mcp.json
  .cursor/skills/changeset-prerelease.md
  packages/tokens/src/layout-component.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

test(tokens): add validation for renamed properties and alias references
  packages/tokens/test/checkAliasReferences.test.js
  packages/tokens/test/checkRenamed.test.js
Due: prettier --write

feat(tools): add markdown-generator for tokens, schemas, and registry
  .moon/workspace.yml
  pnpm-lock.yaml
  tools/markdown-generator/.gitignore
  tools/markdown-generator/moon.yml
  tools/markdown-generator/package.json
  tools/markdown-generator/src/components.js
  tools/markdown-generator/src/index.js
  tools/markdown-generator/src/registry.js
  tools/markdown-generator/src/token-resolver.js
  tools/markdown-generator/src/tokens.js
Due: prettier --write

feat(docs): scaffold 11ty site based on adobe/11ty-starter
  docs/site/.gitignore
  docs/site/components/layout.js
  docs/site/eleventy.config.js
  docs/site/lib/components.js
  docs/site/lib/tokens.js
  docs/site/moon.yml
  docs/site/next.config.js
  docs/site/package.json
  docs/site/pages/_app.js
  docs/site/pages/_document.js
  docs/site/pages/components/[slug].js
  docs/site/pages/index.js
  docs/site/pages/tokens/index.js
  docs/site/src/assets/css/index.css
  docs/site/src/components/components.json
  docs/site/src/data/meta.js
  docs/site/src/data/navigation.js
  docs/site/src/layouts/base.liquid
  docs/site/src/pages/404.md
  docs/site/src/pages/index.md
  docs/site/src/registry/registry.json
  docs/site/src/tokens/tokens.json
  docs/site/styles/global.css
  docs/site/styles/utils.module.css
  pnpm-lock.yaml
  tools/markdown-generator/src/components.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(docs): add custom layouts, collections, and navigation for 11ty site
  docs/site/moon.yml
  docs/site/scripts/copy-content.js
  docs/site/src/components/components.json
  docs/site/src/layouts/component.liquid
  docs/site/src/layouts/registry.liquid
  docs/site/src/layouts/token-group.liquid
  docs/site/src/pages/components/index.md
  docs/site/src/pages/registry/index.md
  docs/site/src/pages/tokens/index.md
  docs/site/src/registry/registry.json
  docs/site/src/tokens/tokens.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

ci(docs): add workflow to publish markdown to docs-markdown orphan branch
  .github/workflows/publish-markdown.yml
  docs/spectrum-glossary/.eleventy.js
  docs/spectrum-glossary/.gitignore
  docs/spectrum-glossary/BUILD_SUMMARY.md
  docs/spectrum-glossary/CHANGELOG.md
  docs/spectrum-glossary/DEPLOYMENT_INTEGRATION.md
  docs/spectrum-glossary/README.md
  docs/spectrum-glossary/moon.yml
  docs/spectrum-glossary/package.json
  docs/spectrum-glossary/scripts/build-api.js
  docs/spectrum-glossary/scripts/build-search-index.js
  docs/spectrum-glossary/scripts/export-to-site.sh
  docs/spectrum-glossary/src/_data/basePath.js
  docs/spectrum-glossary/src/_data/meta.js
  docs/spectrum-glossary/src/_data/navigation.js
  docs/spectrum-glossary/src/_data/registry.js
  docs/spectrum-glossary/src/_includes/components/footer.njk
  docs/spectrum-glossary/src/_includes/components/header.njk
  docs/spectrum-glossary/src/_includes/components/related-terms.njk
  docs/spectrum-glossary/src/_includes/components/search.njk
  docs/spectrum-glossary/src/_includes/components/term-card.njk
  docs/spectrum-glossary/src/_includes/layouts/base.njk
  docs/spectrum-glossary/src/assets/css/index.css
  docs/spectrum-glossary/src/assets/js/filters.js
  docs/spectrum-glossary/src/assets/js/search.js
  docs/spectrum-glossary/src/assets/js/theme.js
  docs/spectrum-glossary/src/categories/categories.njk
  docs/spectrum-glossary/src/index.njk
  docs/spectrum-glossary/src/terms/terms.njk
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

ci(docs): update deploy-docs workflow for 11ty site and remove glossary step
  .github/workflows/deploy-docs.yml
Due: prettier --write

ci(docs): clean site directory before deploy build
  .github/workflows/deploy-docs.yml
Due: prettier --write

chore(docs): verify build output and clean up
  .moon/workspace.yml
  docs/s2-tokens-viewer/moon.yml
  docs/s2-tokens-viewer/scripts/prepare.mjs
  docs/site/eleventy.config.js
Due: prettier --write

fix(docs): use YAML frontmatter (---) on 11ty pages, skip remark for docs/site/src
  .lintstagedrc.js
  docs/site/src/pages/404.md
  docs/site/src/pages/components/index.md
  docs/site/src/pages/index.md
  docs/site/src/pages/registry/index.md
  docs/site/src/pages/tokens/index.md
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(mcp): correct copyright year from 2026 to 2024
  tools/spectrum-design-data-mcp/src/config/intent-mappings.js
  tools/spectrum-design-data-mcp/src/constants.js
  tools/spectrum-design-data-mcp/src/utils/component-helpers.js
  tools/spectrum-design-data-mcp/src/utils/token-helpers.js
  tools/spectrum-design-data-mcp/src/utils/validation.js
  tools/spectrum-design-data-mcp/test/utils/component-helpers.test.js
  tools/spectrum-design-data-mcp/test/utils/token-helpers.test.js
  tools/spectrum-design-data-mcp/test/utils/validation.test.js
Due: prettier --write

docs(mcp): agent-skills folder rename, docs, and error messages
  .changeset/agent-skills-enhancements.md
  tools/spectrum-design-data-mcp/README.md
  tools/spectrum-design-data-mcp/agent-skills/README.md
  tools/spectrum-design-data-mcp/agent-skills/SKILL.md
  tools/spectrum-design-data-mcp/agent-skills/component-builder.md
  tools/spectrum-design-data-mcp/agent-skills/guides/state-management.md
  tools/spectrum-design-data-mcp/agent-skills/token-finder.md
  tools/spectrum-design-data-mcp/src/tools/schemas.js
  tools/spectrum-design-data-mcp/src/tools/tokens.js
  tools/spectrum-design-data-mcp/src/tools/workflows.js
  tools/spectrum-design-data-mcp/src/utils/validation.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix: adjusted lintstaged to not mess up yaml frontmatter
  .lintstagedrc.js
  package.json
  pnpm-lock.yaml
Due: prettier --write

docs: updating instructions for s2-docs Cursor instructions
  docs/s2-docs/README.md
  tools/s2-docs-mcp/README.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

chore: added changeset file
  .changeset/README.md
  .changeset/s2-docs-mcp-initial-release.md
  .lintstagedrc.js
  tools/s2-docs-mcp/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(changeset): wrap long lines in s2-docs-mcp changeset
  .changeset/s2-docs-mcp-initial-release.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (#698)
  .changeset/s2-docs-mcp-initial-release.md
  tools/s2-docs-mcp/CHANGELOG.md
  tools/s2-docs-mcp/package.json
  tools/s2-docs-transformer/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(docs): add workflow to publish s2-docs markdown to orphan branch
  .github/workflows/publish-markdown.yml
Due: prettier --write

feat(docs): add workflow to publish s2-docs markdown to orphan branch (#701)
  .github/workflows/publish-markdown.yml
Due: prettier --write

revert(docs): remove publish-markdown workflow
  .github/workflows/publish-markdown.yml
Due: prettier --write

revert(docs): remove publish-markdown workflow (#702)
  .github/workflows/publish-markdown.yml
Due: prettier --write

docs(markdown-generator, site): add READMEs and test suite
  docs/site/README.md
  tools/markdown-generator/README.md
  tools/markdown-generator/ava.config.js
  tools/markdown-generator/test/components.test.js
  tools/markdown-generator/test/registry.test.js
  tools/markdown-generator/test/token-resolver.test.js
  tools/markdown-generator/test/tokens.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(site): add CSS build step and fix pathPrefix duplication
  docs/site/.gitignore
  docs/site/package.json
  docs/site/postcss.config.js
  docs/site/src/assets/css/index.css
  docs/site/src/layouts/base.liquid
  docs/site/src/pages/404.md
  docs/site/src/pages/components/index.md
  docs/site/src/pages/index.md
  docs/site/src/pages/registry/index.md
  docs/site/src/pages/tokens/index.md
  pnpm-lock.yaml
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(site): correct markdown source path in copy-content script
  docs/site/scripts/copy-content.js
Due: prettier --write

fix(site): hard-code navigation to avoid Liquid loop bug
  docs/site/src/data/navigation.js
  docs/site/src/layouts/base.liquid
Due: prettier --write

docs(site): add Using with AI page and nav link
  docs/site/src/includes/layout/footer.liquid
  docs/site/src/includes/layout/header.liquid
  docs/site/src/includes/nav/menu.liquid
  docs/site/src/pages/ai.md
  docs/site/src/pages/index.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

docs(site): 11ty config, layouts, CSS structure, and page updates
  .cursor/mcp.json
  docs/site/.gitignore
  docs/site/config/plugins/css-config.js
  docs/site/eleventy.config.js
  docs/site/package.json
  docs/site/src/assets/css/base/index.css
  docs/site/src/assets/css/base/reset.css
  docs/site/src/assets/css/base/vars.css
  docs/site/src/assets/css/global/global.css
  docs/site/src/layouts/base.liquid
  docs/site/src/layouts/component.liquid
  docs/site/src/layouts/registry.liquid
  docs/site/src/layouts/token-group.liquid
  docs/site/src/pages/404.md
  docs/site/src/pages/components/index.md
  docs/site/src/pages/registry/index.md
  docs/site/src/pages/tokens/index.md
  package.json
  pnpm-lock.yaml
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

docs(site): 11ty config, layouts, CSS structure, and page updates
  .cursor/mcp.json
  docs/markdown/README.md
  docs/markdown/pages/404.md
  docs/markdown/pages/ai.md
  docs/markdown/pages/components/index.md
  docs/markdown/pages/index.md
  docs/markdown/pages/registry/index.md
  docs/markdown/pages/tokens/index.md
  docs/site/.gitignore
  docs/site/config/plugins/css-config.js
  docs/site/eleventy.config.js
  docs/site/package.json
  docs/site/src/assets/css/base/index.css
  docs/site/src/assets/css/base/reset.css
  docs/site/src/assets/css/base/vars.css
  docs/site/src/assets/css/global/global.css
  docs/site/src/layouts/base.liquid
  docs/site/src/layouts/component.liquid
  docs/site/src/layouts/registry.liquid
  docs/site/src/layouts/token-group.liquid
  package.json
  pnpm-lock.yaml
  tools/markdown-generator/src/index.js
  tools/markdown-generator/src/pages.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(site): reorganize navigation and add dedicated Tools page
  docs/markdown/pages/components/index.md
  docs/markdown/pages/index.md
  docs/markdown/pages/tokens/index.md
  docs/markdown/tokens/color-aliases.md
  docs/markdown/tokens/color-component.md
  docs/markdown/tokens/color-palette.md
  docs/markdown/tokens/icons.md
  docs/markdown/tokens/layout-component.md
  docs/markdown/tokens/layout.md
  docs/markdown/tokens/semantic-color-palette.md
  docs/markdown/tokens/typography.md
  docs/site/eleventy.config.js
  docs/site/moon.yml
  docs/site/package.json
  docs/site/public/adobe_logo.svg
  docs/site/scripts/generate-tools-page.js
  docs/site/src/assets/css/base/index.css
  docs/site/src/data/navigation.js
  docs/site/src/includes/layout/footer.liquid
  docs/site/src/includes/layout/header.liquid
  docs/site/src/layouts/base.liquid
  docs/site/src/pages/components/index.md
  docs/site/src/pages/index.md
  docs/site/src/pages/tokens/index.md
  docs/site/src/tools.md
  tools/component-options-editor/package.json
  tools/markdown-generator/src/tokens.js
  tools/release-analyzer/package.json
  tools/s2-docs-transformer/package.json
  tools/token-changeset-generator/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(site): reorganize navigation and add dedicated Tools page (#703)
  docs/markdown/pages/components/index.md
  docs/markdown/pages/index.md
  docs/markdown/pages/tokens/index.md
  docs/markdown/tokens/color-aliases.md
  docs/markdown/tokens/color-component.md
  docs/markdown/tokens/color-palette.md
  docs/markdown/tokens/icons.md
  docs/markdown/tokens/layout-component.md
  docs/markdown/tokens/layout.md
  docs/markdown/tokens/semantic-color-palette.md
  docs/markdown/tokens/typography.md
  docs/site/eleventy.config.js
  docs/site/moon.yml
  docs/site/package.json
  docs/site/public/adobe_logo.svg
  docs/site/scripts/generate-tools-page.js
  docs/site/src/assets/css/base/index.css
  docs/site/src/data/navigation.js
  docs/site/src/includes/layout/footer.liquid
  docs/site/src/includes/layout/header.liquid
  docs/site/src/layouts/base.liquid
  docs/site/src/pages/components/index.md
  docs/site/src/pages/index.md
  docs/site/src/pages/tokens/index.md
  docs/site/src/tools.md
  tools/component-options-editor/package.json
  tools/markdown-generator/src/tokens.js
  tools/release-analyzer/package.json
  tools/s2-docs-transformer/package.json
  tools/token-changeset-generator/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

chore(site): switch to Typekit CSS kit (flz1ovt)
  docs/site/src/layouts/base.liquid
Due: none

feat(site): add Adobe Clean Spectrum VF to font stack
  docs/site/src/assets/css/base/reset.css
Due: none
