Repository adobe/spectrum-design-data: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,yml,yaml}": ["prettier --write"],
  "**/*.md": [
    "remark --use remark-frontmatter --use remark-gfm --use remark-github --output"
  ],
  "!**/.changeset/*.md": [],
  "!**/pnpm-lock.yaml": [],
  "!**/package-lock.json": [],
  "!**/yarn.lock": [],
  ".changeset/*.md": [
    "pnpm changeset-lint check-file"
  ]
}

feat(spec): add accessibility declarations to navigation components
  packages/design-data-spec/components/avatar.json
  packages/design-data-spec/components/bottom-navigation-android.json
  packages/design-data-spec/components/breadcrumbs.json
  packages/design-data-spec/components/list-view.json
  packages/design-data-spec/components/scroll-zoom-bar.json
  packages/design-data-spec/components/segmented-control.json
  packages/design-data-spec/components/side-navigation.json
  packages/design-data-spec/components/steplist.json
  packages/design-data-spec/components/tab-bar-ios.json
  packages/design-data-spec/components/tabs.json
  packages/design-data-spec/components/tag.json
  packages/design-data-spec/components/thumbnail.json
  packages/design-data-spec/components/tree-view.json
Due: prettier --write

feat(spec): add accessibility declarations to feedback, containers, data-viz components
  packages/design-data-spec/components/alert-banner.json
  packages/design-data-spec/components/alert-dialog.json
  packages/design-data-spec/components/cards.json
  packages/design-data-spec/components/coach-indicator.json
  packages/design-data-spec/components/coach-mark.json
  packages/design-data-spec/components/color-loupe.json
  packages/design-data-spec/components/contextual-help.json
  packages/design-data-spec/components/divider.json
  packages/design-data-spec/components/illustrated-message.json
  packages/design-data-spec/components/in-field-progress-circle.json
  packages/design-data-spec/components/in-line-alert.json
  packages/design-data-spec/components/popover.json
  packages/design-data-spec/components/standard-dialog.json
  packages/design-data-spec/components/standard-panel.json
  packages/design-data-spec/components/table.json
  packages/design-data-spec/components/takeover-dialog.json
  packages/design-data-spec/components/toast.json
  packages/design-data-spec/components/tooltip.json
  packages/design-data-spec/components/tray.json
Due: prettier --write

feat(spec): add accessibility declarations to status and typography components
  .changeset/phase-7-component-accessibility.md
  packages/design-data-spec/components/badge.json
  packages/design-data-spec/components/body.json
  packages/design-data-spec/components/code.json
  packages/design-data-spec/components/detail.json
  packages/design-data-spec/components/heading.json
  packages/design-data-spec/components/meter.json
  packages/design-data-spec/components/opacity-checkerboard.json
  packages/design-data-spec/components/progress-bar.json
  packages/design-data-spec/components/progress-circle.json
  packages/design-data-spec/components/status-light.json
  packages/design-data-spec/components/title.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(spec): add missing keyboardIntents and remove empty a11y arrays
  packages/design-data-spec/components/cards.json
  packages/design-data-spec/components/coach-mark.json
  packages/design-data-spec/components/color-handle.json
  packages/design-data-spec/components/contextual-help.json
  packages/design-data-spec/components/drop-zone.json
  packages/design-data-spec/components/scroll-zoom-bar.json
  packages/design-data-spec/components/search-field.json
  packages/design-data-spec/components/swatch.json
  packages/design-data-spec/components/tag-field.json
  packages/design-data-spec/components/tag-group.json
  packages/design-data-spec/components/tag.json
  packages/design-data-spec/components/text-area.json
  packages/design-data-spec/components/text-field.json
  packages/design-data-spec/components/toast.json
  packages/design-data-spec/components/tooltip.json
Due: prettier --write

fix(spec): normalize accessibility field ordering and remove tooltip empty array
  packages/design-data-spec/components/cards.json
  packages/design-data-spec/components/coach-mark.json
  packages/design-data-spec/components/color-handle.json
  packages/design-data-spec/components/contextual-help.json
  packages/design-data-spec/components/drop-zone.json
  packages/design-data-spec/components/scroll-zoom-bar.json
  packages/design-data-spec/components/swatch.json
  packages/design-data-spec/components/tag-field.json
  packages/design-data-spec/components/tag-group.json
  packages/design-data-spec/components/tag.json
  packages/design-data-spec/components/toast.json
  packages/design-data-spec/components/tooltip.json
Due: prettier --write

docs: add scenarios doc and demo materials for director review
  docs/scenarios.md
  tools/demo/README.md
  tools/demo/agent-questions.md
  tools/demo/broken-token-example.tokens.json
  tools/demo/clean-component-example.json
  tools/demo/demo-commands.sh
  tools/demo/scenarios.md
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

docs(sdk): add README covering CLI usage, validation model, and development workflow
  sdk/README.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

docs(sdk): add README (#896)
  sdk/README.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(spec,sdk): conformance fixtures for SPEC-007/009/010–013/017/024–031 and Rust rules (#894)
  packages/design-data-spec/conformance/invalid/SPEC-007/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-007/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-009/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-009/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-010/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-011/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-012/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-013/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-017/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-024/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-025/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-025/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-026/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-026/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-028/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-028/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-029/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-029/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-030/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-030/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-031/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-031/expected-errors.json
  packages/design-data-spec/src/validate.js
  packages/design-data-spec/test/validate.test.js
  sdk/core/src/validate/rules/mod.rs
  sdk/core/src/validate/rules/spec025.rs
  sdk/core/src/validate/rules/spec026.rs
Due: prettier --write

feat(sdk): rust validation conformance harness using dataset.json fixtures (#897)
  sdk/Cargo.lock
  sdk/core/Cargo.toml
  sdk/core/src/lib.rs
Due: none

fix(spec,sdk): correct hasEmbeddedState off-by-one and add valid conformance fixtures
  packages/design-data-spec/conformance/valid/SPEC-025/dataset.json
  packages/design-data-spec/conformance/valid/SPEC-026/dataset.json
  packages/design-data-spec/conformance/valid/SPEC-028/dataset.json
  packages/design-data-spec/conformance/valid/SPEC-029/dataset.json
  packages/design-data-spec/conformance/valid/SPEC-030/dataset.json
  packages/design-data-spec/conformance/valid/SPEC-031/dataset.json
  packages/design-data-spec/src/validate.js
  sdk/core/src/lib.rs
  sdk/core/src/naming.rs
Due: prettier --write

fix(spec): add button component to SPEC-025 valid fixture to survive SPEC-018 port
  packages/design-data-spec/conformance/valid/SPEC-025/dataset.json
Due: prettier --write

feat(sdk): implement SPEC-018–024 and SPEC-027 component cross-reference rules in Rust
  sdk/core/src/validate/rules/mod.rs
  sdk/core/src/validate/rules/spec018.rs
  sdk/core/src/validate/rules/spec019.rs
  sdk/core/src/validate/rules/spec020.rs
  sdk/core/src/validate/rules/spec021.rs
  sdk/core/src/validate/rules/spec022.rs
  sdk/core/src/validate/rules/spec023.rs
  sdk/core/src/validate/rules/spec024.rs
  sdk/core/src/validate/rules/spec027.rs
Due: none

fix(sdk): use HashSet for variant enum lookup in SPEC-019
  sdk/core/src/validate/rules/spec019.rs
Due: none

feat(sdk): implement SPEC-018–024 and SPEC-027 component cross-reference rules in Rust (#905)
  sdk/core/src/validate/rules/mod.rs
  sdk/core/src/validate/rules/spec018.rs
  sdk/core/src/validate/rules/spec019.rs
  sdk/core/src/validate/rules/spec020.rs
  sdk/core/src/validate/rules/spec021.rs
  sdk/core/src/validate/rules/spec022.rs
  sdk/core/src/validate/rules/spec023.rs
  sdk/core/src/validate/rules/spec024.rs
  sdk/core/src/validate/rules/spec027.rs
Due: none

feat(sdk): register SPEC-014 and implement SPEC-016 value-type-match rule
  packages/design-data-spec/conformance/invalid/SPEC-014/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-016/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-016/expected-errors.json
  sdk/Cargo.lock
  sdk/core/Cargo.toml
  sdk/core/src/validate/rules/mod.rs
  sdk/core/src/validate/rules/spec016.rs
Due: prettier --write

fix(sdk,spec): add valid fixtures for SPEC-014 and SPEC-016, document SPEC-015 gap
  packages/design-data-spec/conformance/valid/SPEC-014/dataset.json
  packages/design-data-spec/conformance/valid/SPEC-016/dataset.json
  sdk/core/src/validate/rules/mod.rs
Due: prettier --write

fix(spec): filter JS conformance runner to layer 2 fixtures only
  packages/design-data-spec/conformance/invalid/SPEC-014/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-016/expected-errors.json
  packages/design-data-spec/test/conformance.test.js
Due: prettier --write

feat(sdk): register SPEC-014 and implement SPEC-016 value-type-match rule (#906)
  packages/design-data-spec/conformance/invalid/SPEC-014/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-014/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-016/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-016/expected-errors.json
  packages/design-data-spec/conformance/valid/SPEC-014/dataset.json
  packages/design-data-spec/conformance/valid/SPEC-016/dataset.json
  packages/design-data-spec/test/conformance.test.js
  sdk/Cargo.lock
  sdk/core/Cargo.toml
  sdk/core/src/validate/rules/mod.rs
  sdk/core/src/validate/rules/spec016.rs
Due: prettier --write

feat(spec): migrate legacy SPEC-001–006 and SPEC-008 fixtures to dataset.json (Phase 4)
  packages/design-data-spec/conformance/invalid/SPEC-001/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-001/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-002/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-002/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-003/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-003/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-004/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-004/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-005/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-005/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-006/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-006/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-008/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-008/expected-errors.json
Due: prettier --write

refactor(spec): retire JS validator and conformance runner in favor of Rust harness
  packages/design-data-spec/ava.config.js
  packages/design-data-spec/moon.yml
  packages/design-data-spec/package.json
  packages/design-data-spec/src/canonical.js
  packages/design-data-spec/src/validate.js
  packages/design-data-spec/test/conformance.test.js
  packages/design-data-spec/test/validate.test.js
  pnpm-lock.yaml
Due: prettier --write

chore(spec): add major changeset and remove empty scripts key
  .changeset/retire-js-validator.md
  packages/design-data-spec/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

chore(spec): remove changeset — package is internal draft
  .changeset/retire-js-validator.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

refactor(spec): retire JS validator and conformance runner in favor of Rust harness (#908)
  packages/design-data-spec/ava.config.js
  packages/design-data-spec/moon.yml
  packages/design-data-spec/package.json
  packages/design-data-spec/src/canonical.js
  packages/design-data-spec/src/validate.js
  packages/design-data-spec/test/conformance.test.js
  packages/design-data-spec/test/validate.test.js
  pnpm-lock.yaml
Due: prettier --write

ci: declare workflow-level contents: read on 5 workflows
  .github/workflows/changeset-lint.yml
  .github/workflows/ci.yml
  .github/workflows/tdiff-spectrum-foundations.yml
  .github/workflows/tdiff-spectrum1.yml
  .github/workflows/tdiff-spectrum2.yml
Due: prettier --write

feat(spec,sdk): implement SPEC-015 composite inline alias type compatibility
  packages/design-data-spec/conformance/invalid/SPEC-015/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-015/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-015/tokens.tokens.json
  packages/design-data-spec/schemas/value-types/README.md
  packages/design-data-spec/schemas/value-types/drop-shadow.schema.json
  packages/design-data-spec/schemas/value-types/typography-scale.schema.json
  packages/design-data-spec/schemas/value-types/typography.schema.json
  sdk/core/src/validate/rules/mod.rs
  sdk/core/src/validate/rules/spec015.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

refactor(sdk): address review feedback on SPEC-015 rule
  sdk/core/src/validate/rules/spec015.rs
Due: none

docs(spec): document component-refs valid fixture purpose
  packages/design-data-spec/conformance/valid/component-refs/README.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(sdk,spec): implement SPEC-032 product-layer cascade enforcement (#911)
  packages/design-data-spec/conformance/invalid/SPEC-032/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-032/expected-errors.json
  packages/design-data-spec/conformance/resolution/product-layer-wins/expected.json
  packages/design-data-spec/conformance/resolution/product-layer-wins/input/tokens.tokens.json
  packages/design-data-spec/conformance/resolution/product-layer-wins/product-context.json
  packages/design-data-spec/conformance/resolution/product-layer-wins/query.json
  packages/design-data-spec/conformance/valid/SPEC-032/dataset.json
  packages/design-data-spec/rules/rules.yaml
  sdk/core/src/cascade.rs
  sdk/core/src/graph.rs
  sdk/core/src/lib.rs
  sdk/core/src/validate/rules/mod.rs
  sdk/core/src/validate/rules/spec015.rs
  sdk/core/src/validate/rules/spec016.rs
  sdk/core/src/validate/rules/spec018.rs
  sdk/core/src/validate/rules/spec019.rs
  sdk/core/src/validate/rules/spec020.rs
  sdk/core/src/validate/rules/spec022.rs
  sdk/core/src/validate/rules/spec027.rs
  sdk/core/src/validate/rules/spec028.rs
  sdk/core/src/validate/rules/spec029.rs
  sdk/core/src/validate/rules/spec032.rs
Due: prettier --write

fix(sdk): implement FromStr for Layer to satisfy clippy::should_implement_trait
  sdk/core/src/graph.rs
  sdk/core/src/lib.rs
Due: none

fix(sdk): address review issues in SPEC-032 and related code
  packages/design-data-spec/conformance/invalid/SPEC-032/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-032/expected-errors.json
  packages/design-data-spec/conformance/valid/SPEC-032/dataset.json
  sdk/core/src/graph.rs
  sdk/core/src/validate/rules/spec004.rs
  sdk/core/src/validate/rules/spec016.rs
  sdk/core/src/validate/rules/spec019.rs
  sdk/core/src/validate/rules/spec020.rs
  sdk/core/src/validate/rules/spec022.rs
  sdk/core/src/validate/rules/spec028.rs
  sdk/core/src/validate/rules/spec029.rs
  sdk/core/src/validate/rules/spec032.rs
Due: prettier --write

docs(sdk): note SPEC-004 precondition for spec032 foundation_value_types map
  sdk/core/src/validate/rules/spec032.rs
Due: none

feat(sdk,spec): implement SPEC-032 product-layer cascade enforcement (#914)
  packages/design-data-spec/conformance/invalid/SPEC-032/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-032/expected-errors.json
  packages/design-data-spec/conformance/resolution/product-layer-wins/expected.json
  packages/design-data-spec/conformance/resolution/product-layer-wins/input/tokens.tokens.json
  packages/design-data-spec/conformance/resolution/product-layer-wins/product-context.json
  packages/design-data-spec/conformance/resolution/product-layer-wins/query.json
  packages/design-data-spec/conformance/valid/SPEC-032/dataset.json
  packages/design-data-spec/rules/rules.yaml
  sdk/core/src/cascade.rs
  sdk/core/src/graph.rs
  sdk/core/src/lib.rs
  sdk/core/src/validate/rules/mod.rs
  sdk/core/src/validate/rules/spec004.rs
  sdk/core/src/validate/rules/spec015.rs
  sdk/core/src/validate/rules/spec016.rs
  sdk/core/src/validate/rules/spec018.rs
  sdk/core/src/validate/rules/spec019.rs
  sdk/core/src/validate/rules/spec020.rs
  sdk/core/src/validate/rules/spec022.rs
  sdk/core/src/validate/rules/spec027.rs
  sdk/core/src/validate/rules/spec028.rs
  sdk/core/src/validate/rules/spec029.rs
  sdk/core/src/validate/rules/spec032.rs
Due: prettier --write

feat(registry): expand anatomy-terms from 43 to 119 terms via S2 docs audit (#912)
  packages/design-system-registry/registry/anatomy-terms.json
Due: prettier --write

Version Packages (#916)
  .changeset/phase-7-3-accessibility-schema.md
  .changeset/phase-7-4-accessibility-rules.md
  .changeset/phase-7-component-accessibility.md
  packages/component-schemas/CHANGELOG.md
  packages/component-schemas/package.json
  packages/design-data-spec/CHANGELOG.md
  packages/design-data-spec/package.json
  tools/component-options-editor/CHANGELOG.md
  tools/component-options-editor/package.json
  tools/markdown-generator/CHANGELOG.md
  tools/markdown-generator/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(registry): address review issues for anatomy-terms audit PR
  .changeset/anatomy-terms-audit.md
  packages/design-system-registry/registry/anatomy-terms.json
  packages/design-system-registry/test/registry.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

chore(sdk): regenerate registry_data.rs after anatomy-terms expansion
  sdk/core/src/registry_data.rs
Due: none
