Repository adobe/spectrum-design-data: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,yml,yaml}": ["prettier --write"],
  "**/*.md": [
    "remark --use remark-frontmatter --use remark-gfm --use remark-github --output"
  ],
  "!**/.changeset/*.md": [],
  "!**/pnpm-lock.yaml": [],
  "!**/package-lock.json": [],
  "!**/yarn.lock": [],
  ".changeset/*.md": [
    "pnpm changeset-lint check-file"
  ]
}

test(tui): seal Command ALL drift via macro-generated table
  sdk/tui/src/command.rs
Due: none

refactor(tui): make Command::parse allocation-free; document autocomplete
  sdk/tui/src/command.rs
  sdk/tui/src/update.rs
Due: none

test(tui): close COMMANDS <-> dispatch loop with Command enum (#1127)
  .changeset/tui-command-enum-sync.md
  sdk/tui/src/app_views.rs
  sdk/tui/src/command.rs
  sdk/tui/src/help.rs
  sdk/tui/src/lib.rs
  sdk/tui/src/logo.rs
  sdk/tui/src/update.rs
  sdk/tui/src/update_command.rs
  sdk/tui/tests/snapshots/snapshots__home_view_80x24.snap
  sdk/tui/tests/snapshots/snapshots__palette_open_80x24.snap
  sdk/tui/tests/snapshots/snapshots__wizard_screen1_80x24.snap
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

test(tui): fix dead_code warnings in tests/common helpers
  sdk/tui/tests/common/mod.rs
  sdk/tui/tests/m5.rs
  sdk/tui/tests/snapshots.rs
Due: none

test(tui): tighten buffer_to_string doc comment in snapshots.rs
  sdk/tui/tests/snapshots.rs
Due: none

fix(changesets): correct package name to @adobe/design-data-tui; drop non-npm design-data-core
  .changeset/sdk-testing-improvements.md
  .changeset/tui-command-enum-sync.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(changeset-linter): validate frontmatter package names against workspace
  .changeset/changeset-linter-package-name-validation.md
  tools/changeset-linter/src/cli.js
  tools/changeset-linter/src/index.js
  tools/changeset-linter/test/changeset-linter.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

refactor(changeset-linter): static glob import; forward-slash paths; warn on errors
  tools/changeset-linter/src/index.js
Due: prettier --write

feat(changeset-linter): validate frontmatter package names against workspace (#1131)
  tools/changeset-linter/src/index.js
Due: prettier --write

feat(wasm): add @adobe/design-data-wasm internal package (#1115)
  .github/workflows/ci.yml
  .gitignore
  .moon/toolchain.yml
  .moon/workspace.yml
  pnpm-lock.yaml
  pnpm-workspace.yaml
  sdk/.cargo/config.toml
  sdk/Cargo.lock
  sdk/Cargo.toml
  sdk/core/Cargo.toml
  sdk/core/src/data_source/embedded.rs
  sdk/rust-toolchain.toml
  sdk/wasm/Cargo.toml
  sdk/wasm/LICENSE
  sdk/wasm/README.md
  sdk/wasm/ava.config.js
  sdk/wasm/moon.yml
  sdk/wasm/package.json
  sdk/wasm/scripts/build.mjs
  sdk/wasm/src/dataset.rs
  sdk/wasm/src/error.rs
  sdk/wasm/src/lib.rs
  sdk/wasm/src/registry.rs
  sdk/wasm/src/types.rs
  sdk/wasm/test/parity.test.js
  tools/token-naming-audit/package.json
  tools/token-naming-audit/src/scan-property-values.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(wasm): wire embedded .redb blob + enable Dataset.embedded()
  sdk/wasm/README.md
  sdk/wasm/moon.yml
  sdk/wasm/scripts/build.mjs
  sdk/wasm/test/parity.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(design-data-js): add @adobe/design-data-js Node.js glue package
  tools/design-data-js/ava.config.js
  tools/design-data-js/moon.yml
  tools/design-data-js/package.json
  tools/design-data-js/src/index.js
  tools/design-data-js/src/load.js
  tools/design-data-js/src/session.js
  tools/design-data-js/src/write.js
  tools/design-data-js/test/load.test.js
  tools/design-data-js/test/session.test.js
  tools/design-data-js/test/write.test.js
Due: prettier --write

fix(wasm): mark cache-build task as local to skip CI
  .changeset/wasm-cache-build-local.md
  sdk/wasm/moon.yml
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(wasm): apply post-review cleanups to design-data-wasm
  .changeset/wasm-cache-build-local.md
  .github/workflows/ci.yml
  sdk/wasm/README.md
  sdk/wasm/src/dataset.rs
  sdk/wasm/src/registry.rs
  sdk/wasm/src/types.rs
  sdk/wasm/test/parity.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(wasm): correct LICENSE appendix copyright to Adobe 2026
  sdk/wasm/LICENSE
Due: none

fix(wasm): align LICENSE appendix copyright with repo convention
  sdk/wasm/LICENSE
Due: none

docs: correct LICENSE appendix copyright to "Copyright 2026 Adobe"
  .changeset/wasm-cache-build-local.md
  LICENSE
  packages/tokens/LICENSE
  sdk/wasm/LICENSE
  tools/design-data-agent-mcp/LICENSE
  tools/design-data-mcp/LICENSE
  tools/design-data-skill/LICENSE
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(ci): pre-install clippy before moon ci to prevent parallel rustup race
  .github/workflows/ci.yml
Due: prettier --write

fix(token-naming-audit): add sdk-wasm:build dep to test task
  tools/token-naming-audit/moon.yml
Due: prettier --write

fix(ci): update TUI snapshots for v0.2.0 and throw proper JS Errors from wasm
  sdk/tui/tests/snapshots/snapshots__home_view_80x24.snap
  sdk/tui/tests/snapshots/snapshots__palette_open_80x24.snap
  sdk/tui/tests/snapshots/snapshots__wizard_screen1_80x24.snap
  sdk/wasm/src/error.rs
Due: none

feat(wasm): add @adobe/design-data-wasm internal package (#1115) (#1132)
  .changeset/wasm-cache-build-local.md
  .github/workflows/ci.yml
  .gitignore
  .moon/toolchain.yml
  .moon/workspace.yml
  packages/tokens/LICENSE
  pnpm-lock.yaml
  pnpm-workspace.yaml
  sdk/.cargo/config.toml
  sdk/Cargo.lock
  sdk/Cargo.toml
  sdk/core/Cargo.toml
  sdk/core/src/data_source/embedded.rs
  sdk/rust-toolchain.toml
  sdk/tui/tests/snapshots/snapshots__home_view_80x24.snap
  sdk/tui/tests/snapshots/snapshots__palette_open_80x24.snap
  sdk/tui/tests/snapshots/snapshots__wizard_screen1_80x24.snap
  sdk/wasm/Cargo.toml
  sdk/wasm/LICENSE
  sdk/wasm/README.md
  sdk/wasm/ava.config.js
  sdk/wasm/moon.yml
  sdk/wasm/package.json
  sdk/wasm/scripts/build.mjs
  sdk/wasm/src/dataset.rs
  sdk/wasm/src/error.rs
  sdk/wasm/src/lib.rs
  sdk/wasm/src/registry.rs
  sdk/wasm/src/types.rs
  sdk/wasm/test/parity.test.js
  tools/design-data-agent-mcp/LICENSE
  tools/design-data-mcp/LICENSE
  tools/design-data-skill/LICENSE
  tools/token-naming-audit/moon.yml
  tools/token-naming-audit/package.json
  tools/token-naming-audit/src/scan-property-values.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(wasm): wire embedded .redb blob + enable Dataset.embedded()
  sdk/wasm/README.md
  sdk/wasm/moon.yml
  sdk/wasm/scripts/build.mjs
  sdk/wasm/src/dataset.rs
  sdk/wasm/test/parity.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

test(wasm): tighten embedded() parity tests per review feedback
  sdk/wasm/test/parity.test.js
Due: prettier --write

fix(wasm): revert incorrect raw type assertion — raw is not a plain string
  sdk/wasm/test/parity.test.js
Due: prettier --write

feat(wasm): wire embedded .redb blob + enable Dataset.embedded() (#1133)
  sdk/wasm/README.md
  sdk/wasm/moon.yml
  sdk/wasm/scripts/build.mjs
  sdk/wasm/src/dataset.rs
  sdk/wasm/test/parity.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(design-data-js): register moon project + adapt test to wasm API shape
  .moon/workspace.yml
  pnpm-lock.yaml
  tools/design-data-js/test/load.test.js
Due: prettier --write

fix(sdk-wasm): prepend ~/.cargo/bin in build task to fix Homebrew/rustup PATH conflict
  sdk/wasm/moon.yml
Due: prettier --write

feat(mcp): migrate MCP servers and skills to in-process wasm
  tools/design-data-agent-mcp/package.json
  tools/design-data-agent-mcp/skills/design-data/SKILL.md
  tools/design-data-agent-mcp/src/tools/authoring.js
  tools/design-data-agent-mcp/src/tools/diff.js
  tools/design-data-agent-mcp/src/tools/read.js
  tools/design-data-agent-mcp/src/tools/validate.js
  tools/design-data-agent-mcp/src/tools/write.js
  tools/design-data-mcp/package.json
  tools/design-data-mcp/src/tools/design-data.js
  tools/design-data-skill/skills/design-data/SKILL.md
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(mcp): address Phase C review findings
  .changeset/fix-review-mcp-wasm-phase-c.md
  pnpm-lock.yaml
  sdk/core/src/query.rs
  sdk/wasm/src/registry.rs
  sdk/wasm/test/parity.test.js
  tools/design-data-agent-mcp/skills/design-data/SKILL.md
  tools/design-data-agent-mcp/src/tools/authoring.js
  tools/design-data-agent-mcp/src/tools/diff.js
  tools/design-data-agent-mcp/src/tools/validate.js
  tools/design-data-agent-mcp/test/diff.test.js
  tools/design-data-js/package.json
  tools/design-data-js/src/index.js
  tools/design-data-js/src/load.js
  tools/design-data-js/src/session.js
  tools/design-data-js/src/validate.js
  tools/design-data-js/test/validate.test.js
  tools/design-data-mcp/src/tools/design-data.js
  tools/design-data-mcp/test/design-data.test.js
  tools/design-data-skill/skills/design-data/SKILL.md
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(mcp): address second-pass review findings
  tools/design-data-agent-mcp/src/tools/diff.js
  tools/design-data-agent-mcp/test/diff.test.js
  tools/design-data-js/src/validate.js
  tools/design-data-mcp/src/tools/design-data.js
Due: prettier --write

feat(mcp): migrate MCP servers and SKILL.md to in-process wasm (Phase C) (#1135)
  .changeset/fix-review-mcp-wasm-phase-c.md
  pnpm-lock.yaml
  sdk/core/src/query.rs
  sdk/wasm/src/registry.rs
  sdk/wasm/test/parity.test.js
  tools/design-data-agent-mcp/package.json
  tools/design-data-agent-mcp/skills/design-data/SKILL.md
  tools/design-data-agent-mcp/src/tools/authoring.js
  tools/design-data-agent-mcp/src/tools/diff.js
  tools/design-data-agent-mcp/src/tools/read.js
  tools/design-data-agent-mcp/src/tools/validate.js
  tools/design-data-agent-mcp/src/tools/write.js
  tools/design-data-agent-mcp/test/diff.test.js
  tools/design-data-js/package.json
  tools/design-data-js/src/index.js
  tools/design-data-js/src/load.js
  tools/design-data-js/src/session.js
  tools/design-data-js/src/validate.js
  tools/design-data-js/test/validate.test.js
  tools/design-data-mcp/package.json
  tools/design-data-mcp/src/tools/design-data.js
  tools/design-data-mcp/test/design-data.test.js
  tools/design-data-skill/skills/design-data/SKILL.md
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(core): address PR #1138 review — content hash, changeset, pkg rename
  .changeset/config.json
  .changeset/phase4-deprecate-npm-binary.md
  .github/workflows/release.yml
  .moon/workspace.yml
  pnpm-lock.yaml
  pnpm-workspace.yaml
  sdk/README.md
  sdk/core/src/authoring/draft.rs
  sdk/core/src/authoring/session.rs
  sdk/core/src/cache/mod.rs
  sdk/core/src/write.rs
  sdk/moon.yml
  sdk/scripts/sync-cargo-version.mjs
  sdk/tui/src/wizard_common/classification.rs
  tools/design-data-agent-mcp/package.json
  tools/design-data-agent-mcp/src/tools/authoring.js
  tools/design-data-agent-mcp/src/tools/diff.js
  tools/design-data-agent-mcp/src/tools/read.js
  tools/design-data-agent-mcp/src/tools/validate.js
  tools/design-data-agent-mcp/src/tools/write.js
  tools/design-data/CHANGELOG.md
  tools/design-data/package.json
  tools/design-data/src/index.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(wasm): pass --features to cargo via -- separator in wasm-pack build
  sdk/wasm/scripts/build.mjs
Due: none

feat(agent-mcp): migrate primer + describe_component to in-process wasm
  .changeset/agent-mcp-read-tools-in-process.md
  tools/design-data-agent-mcp/README.md
  tools/design-data-agent-mcp/package.json
  tools/design-data-agent-mcp/src/tools/read.js
  tools/design-data-agent-mcp/test/read.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(agent-mcp): address PR review — primer shape comment, missing tests, bump to minor
  .changeset/agent-mcp-read-tools-in-process.md
  tools/design-data-agent-mcp/src/tools/read.js
  tools/design-data-agent-mcp/test/read.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(agent-mcp): add sdk-wasm:build dep to test task in moon.yml
  tools/design-data-agent-mcp/moon.yml
Due: prettier --write

perf(design-data): single-pass token read in validateDataset
  .changeset/perf-validate-single-pass.md
  tools/design-data/src/load.js
  tools/design-data/src/validate.js
  tools/design-data/test/validate.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file
