Repository adobe/spectrum-design-data: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

docs(design-data-spec): address phase 6.2 review — add SPEC-024/025, fix schema and index
  packages/design-data-spec/rules/rules.yaml
  packages/design-data-spec/schemas/anatomy-part.schema.json
  packages/design-data-spec/spec/anatomy-format.md
  packages/design-data-spec/spec/index.md
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

docs(design-data-spec): update anatomy format reference to include SPEC-024/025
  packages/design-data-spec/spec/index.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

docs(design-data-spec): phase 6.2 anatomy declarations spec and schema (#851)
  packages/design-data-spec/rules/rules.yaml
  packages/design-data-spec/schemas/anatomy-part.schema.json
  packages/design-data-spec/spec/anatomy-format.md
  packages/design-data-spec/spec/index.md
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

docs(design-data-spec): phase 6.3 state model spec and schema
  packages/design-data-spec/rules/rules.yaml
  packages/design-data-spec/schemas/state-declaration.schema.json
  packages/design-data-spec/spec/index.md
  packages/design-data-spec/spec/state-model.md
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(design-data-spec): add description field to stateDeclaration inline def
  packages/design-data-spec/schemas/component.schema.json
Due: prettier --write

docs(design-data-spec): phase 6.3 state model spec and schema (#852)
  packages/design-data-spec/rules/rules.yaml
  packages/design-data-spec/schemas/component.schema.json
  packages/design-data-spec/schemas/state-declaration.schema.json
  packages/design-data-spec/spec/index.md
  packages/design-data-spec/spec/state-model.md
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(design-data-spec): phase 6.4 cross-reference validator and conformance fixtures
  packages/design-data-spec/ava.config.js
  packages/design-data-spec/components/button.json
  packages/design-data-spec/conformance/invalid/SPEC-018/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-018/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-019/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-019/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-020/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-020/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-021/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-021/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-022/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-022/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-023/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-023/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-024/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-024/expected-errors.json
  packages/design-data-spec/conformance/valid/component-refs/dataset.json
  packages/design-data-spec/moon.yml
  packages/design-data-spec/package.json
  packages/design-data-spec/src/canonical.js
  packages/design-data-spec/src/validate.js
  packages/design-data-spec/test/conformance.test.js
  packages/design-data-spec/test/validate.test.js
  pnpm-lock.yaml
Due: prettier --write

chore: add changeset for design-data-spec 0.3.0
  .changeset/smooth-ravens-dance.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

chore: fix changeset line length
  .changeset/smooth-ravens-dance.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data-spec): remove unused glob dep and add null-name test
  packages/design-data-spec/package.json
  packages/design-data-spec/test/validate.test.js
  pnpm-lock.yaml
Due: prettier --write

feat(design-data-spec): phase 6.4 cross-reference validator and conformance fixtures (#853)
  .changeset/smooth-ravens-dance.md
  packages/design-data-spec/ava.config.js
  packages/design-data-spec/components/button.json
  packages/design-data-spec/conformance/invalid/SPEC-018/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-018/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-019/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-019/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-020/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-020/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-021/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-021/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-022/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-022/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-023/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-023/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-024/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-024/expected-errors.json
  packages/design-data-spec/conformance/valid/component-refs/dataset.json
  packages/design-data-spec/moon.yml
  packages/design-data-spec/package.json
  packages/design-data-spec/src/canonical.js
  packages/design-data-spec/src/validate.js
  packages/design-data-spec/test/conformance.test.js
  packages/design-data-spec/test/validate.test.js
  pnpm-lock.yaml
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (#854)
  .changeset/smooth-ravens-dance.md
  packages/design-data-spec/CHANGELOG.md
  packages/design-data-spec/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(component-diff-generator): update schema paths and node engine for design-data-spec migration
  tools/component-diff-generator/package.json
  tools/component-diff-generator/src/cli.js
  tools/component-diff-generator/src/lib/component-file-import.js
Due: prettier --write

fix(spectrum-design-data-mcp): update schema loader to use design-data-spec components
  tools/spectrum-design-data-mcp/src/data/schemas.js
Due: prettier --write

Version Packages (#856)
  .changeset/phase-6-5-component-schema-adapter.md
  packages/component-schemas/CHANGELOG.md
  packages/component-schemas/package.json
  packages/design-data-spec/CHANGELOG.md
  packages/design-data-spec/package.json
  tools/component-options-editor/CHANGELOG.md
  tools/component-options-editor/package.json
  tools/markdown-generator/CHANGELOG.md
  tools/markdown-generator/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

docs(rfc): phase 6.6 — mark 6.0-6.5 complete in rfc-coordination.md
  docs/rfc-coordination.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

docs(rfc): phase 6.6 — mark Phase 6 complete in RFC-A and rfc-coordination.md (#857)
  docs/rfc-coordination.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

chore(design-data-spec): re-seed tokenBindings from updated spec-snoop data
  packages/design-data-spec/components/accordion.json
  packages/design-data-spec/components/action-bar.json
  packages/design-data-spec/components/avatar.json
  packages/design-data-spec/components/button.json
  packages/design-data-spec/components/combo-box.json
  packages/design-data-spec/components/contextual-help.json
  packages/design-data-spec/components/list-view.json
  packages/design-data-spec/components/number-field.json
  packages/design-data-spec/components/picker.json
  packages/design-data-spec/components/search-field.json
  packages/design-data-spec/components/select-box.json
  packages/design-data-spec/components/side-navigation.json
  packages/design-data-spec/components/table.json
  packages/design-data-spec/components/tag-field.json
  packages/design-data-spec/components/text-area.json
  packages/design-data-spec/components/text-field.json
  packages/design-data-spec/components/tree-view.json
Due: prettier --write

chore(design-data-spec): manually align skipped figma components to existing files
  packages/design-data-spec/components/cards.json
  packages/design-data-spec/components/checkbox-group.json
  packages/design-data-spec/components/checkbox.json
  packages/design-data-spec/components/date-picker.json
  packages/design-data-spec/components/radio-button.json
  packages/design-data-spec/components/radio-group.json
  packages/design-data-spec/components/swatch-group.json
  packages/design-data-spec/components/swatch.json
  packages/design-data-spec/components/title.json
Due: prettier --write

test(design-data-spec): add SPEC-027 validator and unit tests
  packages/design-data-spec/scripts/seed-token-bindings.mjs
  packages/design-data-spec/src/validate.js
  packages/design-data-spec/test/validate.test.js
Due: prettier --write

chore(changeset): wrap long lines in phase-6-7 changeset to satisfy lint
  .changeset/phase-6-7-token-binding-declarations.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (#859)
  .changeset/phase-6-7-token-binding-declarations.md
  packages/component-schemas/CHANGELOG.md
  packages/component-schemas/package.json
  packages/design-data-spec/CHANGELOG.md
  packages/design-data-spec/package.json
  tools/component-options-editor/CHANGELOG.md
  tools/component-options-editor/package.json
  tools/markdown-generator/CHANGELOG.md
  tools/markdown-generator/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(component-schemas): raise memory threshold to 20MB after tokenBindings data growth
  packages/component-schemas/test/performance.test.js
Due: prettier --write

Version Packages (#861)
  .changeset/phase-6-7-token-binding-declarations.md
  packages/component-schemas/CHANGELOG.md
  packages/component-schemas/package.json
  packages/design-data-spec/CHANGELOG.md
  packages/design-data-spec/package.json
  tools/component-options-editor/CHANGELOG.md
  tools/component-options-editor/package.json
  tools/markdown-generator/CHANGELOG.md
  tools/markdown-generator/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(design-data-spec): add optional rationale field to token schema (#848)
  .changeset/phase-1x-rationale-field.md
  packages/design-data-spec/schemas/token.schema.json
  packages/design-data-spec/spec/token-format.md
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(design-data-spec): add product context document and design-data write CLI (#847)
  .changeset/phase-8x-product-context.md
  packages/design-data-spec/schemas/product-context.schema.json
  packages/design-data-spec/spec/agent-surface.md
  packages/design-data-spec/spec/cascade.md
  packages/design-data-spec/spec/index.md
  packages/design-data-spec/spec/manifest.md
  packages/design-data-spec/spec/product-context.md
  sdk/Cargo.lock
  sdk/cli/Cargo.toml
  sdk/cli/src/main.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(tokens): add missing outer uuid to stack-item-minimum-padding-vertical; update snapshot
  packages/tokens/snapshots/validation-snapshot.json
  packages/tokens/src/layout-component.json
Due: prettier --write

fix(tokens): regenerate validation snapshot with correct relative paths
  packages/tokens/snapshots/validation-snapshot.json
Due: prettier --write

fix(design-data-spec): address PR #863 review — key order, parent dirs, tests, spec clarity
  packages/design-data-spec/spec/agent-surface.md
  packages/design-data-spec/spec/product-context.md
  sdk/Cargo.lock
  sdk/cli/Cargo.toml
  sdk/cli/src/main.rs
  sdk/cli/tests/cli_validate.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(tokens): add missing component fields and move vertical-align-items to layout.json
  packages/tokens/src/layout-component.json
  packages/tokens/src/layout.json
Due: prettier --write

feat(cli): add design-data primer subcommand for agent session start
  .changeset/phase-8-1-primer.md
  sdk/cli/src/main.rs
  sdk/cli/tests/cli_validate.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,yml,yaml}
  remark --use remark-frontmatter --use remark-gfm --use remark-github --output: any of: **/*.md
  pnpm changeset-lint check-file: any of: .changeset/*.md
