Repository adobe/spectrum-design-data: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

docs(spec): resolve Wave 0 decisions for Phase 2 cascade work
  packages/design-data-spec/rules/rules.yaml
  packages/design-data-spec/spec/cascade.md
  packages/design-data-spec/spec/token-format.md
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(spec): cascade file schema, dimension declarations, document shape
  packages/design-data-spec/dimensions/color-scheme.json
  packages/design-data-spec/dimensions/contrast.json
  packages/design-data-spec/dimensions/scale.json
  packages/design-data-spec/schemas/cascade-file.schema.json
  packages/design-data-spec/spec/dimensions.md
  packages/design-data-spec/spec/token-format.md
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(sdk): cascade resolution engine, dimension loader, CLI resolve command
  sdk/cli/src/main.rs
  sdk/core/src/cascade.rs
  sdk/core/src/graph.rs
  sdk/core/src/lib.rs
Due: none

feat(sdk): set-to-cascade migration converter and CLI convert command
  sdk/cli/src/main.rs
  sdk/core/src/lib.rs
  sdk/core/src/migrate.rs
  sdk/core/src/validate/structural.rs
Due: none

feat(sdk): add SPEC-008 cascade-completeness and SPEC-009 name-field-enum-sync rules
  packages/design-data-spec/rules/rules.yaml
  sdk/core/src/validate/rules/mod.rs
  sdk/core/src/validate/rules/spec008.rs
  sdk/core/src/validate/rules/spec009.rs
Due: prettier --write

feat(sdk,spec): resolution conformance and migration roundtrip test suites
  packages/design-data-spec/conformance/README.md
  packages/design-data-spec/conformance/resolution/alias-resolved-after-cascade/dimensions/color-scheme.json
  packages/design-data-spec/conformance/resolution/alias-resolved-after-cascade/expected.json
  packages/design-data-spec/conformance/resolution/alias-resolved-after-cascade/input/tokens.tokens.json
  packages/design-data-spec/conformance/resolution/alias-resolved-after-cascade/query.json
  packages/design-data-spec/conformance/resolution/base-fallback/dimensions/color-scheme.json
  packages/design-data-spec/conformance/resolution/base-fallback/expected.json
  packages/design-data-spec/conformance/resolution/base-fallback/input/tokens.tokens.json
  packages/design-data-spec/conformance/resolution/base-fallback/query.json
  packages/design-data-spec/conformance/resolution/specificity-wins/dimensions/color-scheme.json
  packages/design-data-spec/conformance/resolution/specificity-wins/expected.json
  packages/design-data-spec/conformance/resolution/specificity-wins/input/tokens.tokens.json
  packages/design-data-spec/conformance/resolution/specificity-wins/query.json
  sdk/core/src/lib.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(sdk,spec): dimensions in validate pipeline, SPEC-008 fixture, legacy output generator
  packages/design-data-spec/conformance/README.md
  packages/design-data-spec/conformance/invalid/SPEC-008/dimension.json
  packages/design-data-spec/conformance/invalid/SPEC-008/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-008/tokens.tokens.json
  sdk/cli/src/main.rs
  sdk/core/src/legacy.rs
  sdk/core/src/lib.rs
  sdk/core/src/validate/mod.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(sdk): p1 cascade duplicate uuid/name dropped before validation, multi-dim lossy output
  sdk/core/Cargo.toml
  sdk/core/src/graph.rs
  sdk/core/src/legacy.rs
  sdk/core/src/lib.rs
Due: none

feat(spec): add diff and query notation spec documents
  packages/design-data-spec/spec/diff.md
  packages/design-data-spec/spec/index.md
  packages/design-data-spec/spec/query.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(spec): correct three P1 spec bugs in diff and query documents
  packages/design-data-spec/spec/diff.md
  packages/design-data-spec/spec/query.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(spec): Phase 3 diff and query notation spec documents (#789)
  packages/design-data-spec/spec/diff.md
  packages/design-data-spec/spec/index.md
  packages/design-data-spec/spec/query.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(sdk): Phase 3 Wave 1 diff and query engines
  sdk/core/src/diff.rs
  sdk/core/src/lib.rs
  sdk/core/src/query.rs
Due: none

fix(sdk): remove needless question mark in serialize_name_obj
  sdk/core/src/diff.rs
  sdk/core/src/query.rs
Due: none

fix(sdk): handle legacy token pairing, renames, and display names
  sdk/core/src/diff.rs
Due: none

feat(sdk): Phase 3 Wave 1 diff and query engines (#790)
  sdk/core/src/diff.rs
  sdk/core/src/lib.rs
  sdk/core/src/query.rs
Due: none

feat(cli): add diff and query subcommands with formatters
  sdk/cli/src/format.rs
  sdk/cli/src/main.rs
Due: none

fix(cli): separate DiffFormat enum and use display_name in query output
  sdk/cli/src/main.rs
  sdk/core/src/diff.rs
Due: none

feat(cli): Phase 3 Wave 2 diff and query CLI commands with formatters (#791)
  sdk/cli/src/format.rs
  sdk/cli/src/main.rs
  sdk/core/src/diff.rs
Due: none

feat(spec,sdk): token lifecycle model with replaced_by, version-tagged deprecation, and evolution policy
  packages/design-data-spec/conformance/diff/replaced-by-pairing/expected.json
  packages/design-data-spec/conformance/diff/replaced-by-pairing/new/tokens.tokens.json
  packages/design-data-spec/conformance/diff/replaced-by-pairing/old/tokens.tokens.json
  packages/design-data-spec/conformance/invalid/SPEC-010/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-010/tokens.tokens.json
  packages/design-data-spec/conformance/invalid/SPEC-011/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-011/tokens.tokens.json
  packages/design-data-spec/conformance/invalid/SPEC-012/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-012/tokens.tokens.json
  packages/design-data-spec/conformance/invalid/SPEC-013/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-013/tokens.tokens.json
  packages/design-data-spec/rules/rules.yaml
  packages/design-data-spec/schemas/token.schema.json
  packages/design-data-spec/spec/diff.md
  packages/design-data-spec/spec/evolution.md
  packages/design-data-spec/spec/index.md
  packages/design-data-spec/spec/token-format.md
  packages/tokens/schemas/token-types/token.json
  sdk/core/src/diff.rs
  sdk/core/src/legacy.rs
  sdk/core/src/lib.rs
  sdk/core/src/migrate.rs
  sdk/core/src/validate/rules/mod.rs
  sdk/core/src/validate/rules/spec010.rs
  sdk/core/src/validate/rules/spec011.rs
  sdk/core/src/validate/rules/spec012.rs
  sdk/core/src/validate/rules/spec013.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(sdk): implement lifecycle field conversion in legacy output and migrate
  sdk/core/src/legacy.rs
  sdk/core/src/lib.rs
  sdk/core/src/migrate.rs
  sdk/core/src/validate/rules/spec013.rs
Due: none

fix(sdk): implement renamed→replaced_by migration and semver-safe version comparison
  sdk/core/src/lib.rs
  sdk/core/src/migrate.rs
  sdk/core/src/validate/rules/spec013.rs
Due: none

fix(sdk): cross-file renamed→replaced_by resolution in migrate
  sdk/core/src/migrate.rs
Due: none

test(sdk): add cross-file renamed→replaced_by integration test
  sdk/core/src/migrate.rs
Due: none

chore(sdk,spec): test hygiene and migration scope clarification
  packages/design-data-spec/spec/token-format.md
  sdk/core/src/migrate.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(spec,sdk): token lifecycle model and evolution policy (#793)
  packages/design-data-spec/conformance/diff/replaced-by-pairing/expected.json
  packages/design-data-spec/conformance/diff/replaced-by-pairing/new/tokens.tokens.json
  packages/design-data-spec/conformance/diff/replaced-by-pairing/old/tokens.tokens.json
  packages/design-data-spec/conformance/invalid/SPEC-010/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-010/tokens.tokens.json
  packages/design-data-spec/conformance/invalid/SPEC-011/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-011/tokens.tokens.json
  packages/design-data-spec/conformance/invalid/SPEC-012/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-012/tokens.tokens.json
  packages/design-data-spec/conformance/invalid/SPEC-013/expected-errors.json
  packages/design-data-spec/conformance/invalid/SPEC-013/tokens.tokens.json
  packages/design-data-spec/rules/rules.yaml
  packages/design-data-spec/schemas/token.schema.json
  packages/design-data-spec/spec/diff.md
  packages/design-data-spec/spec/evolution.md
  packages/design-data-spec/spec/index.md
  packages/design-data-spec/spec/token-format.md
  packages/tokens/schemas/token-types/token.json
  sdk/core/src/diff.rs
  sdk/core/src/legacy.rs
  sdk/core/src/lib.rs
  sdk/core/src/migrate.rs
  sdk/core/src/validate/rules/mod.rs
  sdk/core/src/validate/rules/spec010.rs
  sdk/core/src/validate/rules/spec011.rs
  sdk/core/src/validate/rules/spec012.rs
  sdk/core/src/validate/rules/spec013.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(sdk,tokens): add outer UUIDs to set tokens and migrate add-uuids command (#799)
  .changeset/add-set-token-outer-uuids.md
  packages/tokens/schemas/token-types/color-set.json
  packages/tokens/schemas/token-types/scale-set.json
  packages/tokens/src/color-aliases.json
  packages/tokens/src/color-component.json
  packages/tokens/src/color-palette.json
  packages/tokens/src/icons.json
  packages/tokens/src/layout-component.json
  packages/tokens/src/layout.json
  packages/tokens/src/semantic-color-palette.json
  packages/tokens/src/typography.json
  sdk/Cargo.lock
  sdk/cli/src/main.rs
  sdk/core/Cargo.toml
  sdk/core/src/legacy.rs
  sdk/core/src/migrate.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

chore(changeset): wrap long lines in add-set-token-outer-uuids changeset
  .changeset/add-set-token-outer-uuids.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(sdk,tokens): add outer UUIDs to set tokens and migrate add-uuids command (#799) (#800)
  .changeset/add-set-token-outer-uuids.md
  packages/tokens/schemas/token-types/color-set.json
  packages/tokens/schemas/token-types/scale-set.json
  packages/tokens/src/color-aliases.json
  packages/tokens/src/color-component.json
  packages/tokens/src/color-palette.json
  packages/tokens/src/icons.json
  packages/tokens/src/layout-component.json
  packages/tokens/src/layout.json
  packages/tokens/src/semantic-color-palette.json
  packages/tokens/src/typography.json
  sdk/Cargo.lock
  sdk/cli/src/main.rs
  sdk/core/Cargo.toml
  sdk/core/src/legacy.rs
  sdk/core/src/migrate.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(sdk): carry outer set UUID through cascade roundtrip via set_uuid field
  sdk/core/src/legacy.rs
  sdk/core/src/migrate.rs
Due: none

fix(sdk): index set_uuid in uuid-to-name map so renamed resolves for set targets
  sdk/core/src/legacy.rs
  sdk/core/src/migrate.rs
Due: none

fix(sdk): carry outer set UUID through cascade roundtrip via set_uuid field (#802)
  sdk/core/src/legacy.rs
  sdk/core/src/migrate.rs
Due: none

feat(sdk,tokens): roundtrip-verify command and CI task (#794)
  packages/tokens/moon.yml
  sdk/cli/src/main.rs
  sdk/core/src/legacy.rs
Due: prettier --write

fix(sdk): address roundtrip-verify review findings (P1 + P2)
  sdk/core/src/legacy.rs
  sdk/core/src/lib.rs
Due: none

feat(sdk,tokens): roundtrip-verify command and CI task (#803)
  packages/tokens/moon.yml
  sdk/cli/src/main.rs
  sdk/core/src/legacy.rs
  sdk/core/src/lib.rs
Due: prettier --write

feat(sdk): Figma Variables export — figma read + export commands (#795)
  sdk/Cargo.lock
  sdk/cli/Cargo.toml
  sdk/cli/src/main.rs
  sdk/core/Cargo.toml
  sdk/core/src/figma/api.rs
  sdk/core/src/figma/color.rs
  sdk/core/src/figma/mapping.rs
  sdk/core/src/figma/mod.rs
  sdk/core/src/figma/types.rs
  sdk/core/src/lib.rs
Due: none

fix(sdk): deterministic mode, set-backed alias resolution, dp suffix
  sdk/core/src/figma/mapping.rs
Due: none

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,yml,yaml}
  remark --use remark-frontmatter --use remark-gfm --use remark-github --output: any of: **/*.md
  pnpm changeset-lint check-file: any of: .changeset/*.md
