Repository adobe/spectrum-design-data: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,yml,yaml}": ["prettier --write"],
  "**/*.md": [
    "remark --use remark-frontmatter --use remark-gfm --use remark-github --output"
  ],
  "!**/.changeset/*.md": [],
  "!**/pnpm-lock.yaml": [],
  "!**/package-lock.json": [],
  "!**/yarn.lock": [],
  ".changeset/*.md": [
    "pnpm changeset-lint check-file"
  ]
}

feat(tui): add horizontal scroll to describe view
  sdk/tui/src/model/views.rs
  sdk/tui/src/update.rs
  sdk/tui/src/update/command.rs
  sdk/tui/src/view/results.rs
  sdk/tui/tests/describe.rs
  sdk/tui/tests/m5.rs
  sdk/tui/tests/render.rs
Due: none

refactor(tui): harden horizontal scroll in describe view
  sdk/tui/src/model/views.rs
  sdk/tui/src/update.rs
  sdk/tui/tests/describe.rs
Due: none

fix(tui): use saturating_add for h_scroll to prevent u16 overflow
  sdk/tui/src/update.rs
  sdk/tui/tests/describe.rs
Due: none

feat(tui): modal consolidation + auto-dismissing toast overlay
  .changeset/tui-modal-toast.md
  sdk/Cargo.lock
  sdk/tui/Cargo.toml
  sdk/tui/src/message.rs
  sdk/tui/src/model.rs
  sdk/tui/src/model/views.rs
  sdk/tui/src/subscription.rs
  sdk/tui/src/update.rs
  sdk/tui/src/view.rs
  sdk/tui/tests/naming.rs
  sdk/tui/tests/subscription.rs
  sdk/tui/tests/toast.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(tui): address review feedback on toast subscription doc and dead code
  sdk/tui/src/model/views.rs
  sdk/tui/src/subscription.rs
Due: none

feat(tui): fuzzy autocomplete with matched-char highlights for command palette
  .changeset/tui-fuzzy-palette.md
  sdk/core/src/query.rs
  sdk/tui/src/command.rs
  sdk/tui/src/view/home.rs
  sdk/tui/tests/autocomplete.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(tui): address review feedback on fuzzy palette
  sdk/tui/src/command.rs
  sdk/tui/src/view/home.rs
  sdk/tui/tests/autocomplete.rs
Due: none

feat(tui): context-sensitive help + wizard step indicator (#1169)
  .changeset/tui-context-help-step-indicator.md
  sdk/tui/src/help.rs
  sdk/tui/src/logo.rs
  sdk/tui/src/view.rs
  sdk/tui/src/view/find.rs
  sdk/tui/src/view/naming.rs
  sdk/tui/src/view/wizard.rs
  sdk/tui/tests/render.rs
  sdk/tui/tests/snapshots/snapshots__wizard_screen1_80x24.snap
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

refactor(tui): address PR review — explicit section ordering and coverage
  sdk/tui/src/help.rs
  sdk/tui/tests/render.rs
Due: none

feat(tui): describe view row selection + yank (#9dv)
  .changeset/tui-describe-row-selection.md
  sdk/tui/src/model/views.rs
  sdk/tui/src/update.rs
  sdk/tui/src/update/command.rs
  sdk/tui/src/view.rs
  sdk/tui/src/view/results.rs
  sdk/tui/tests/describe.rs
  sdk/tui/tests/m5.rs
  sdk/tui/tests/render.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

refactor(tui): address PR review on describe row selection
  sdk/tui/src/help.rs
  sdk/tui/src/model/views.rs
  sdk/tui/src/update.rs
  sdk/tui/tests/describe.rs
Due: none

fix(tui): remove unused len binding in describe Up handler
  sdk/tui/src/update.rs
Due: none

feat(tui): trial ratatui-interact ClickRegionRegistry for hit-regions (#1171)
  .changeset/tui-ratatui-interact-hit-registry.md
  sdk/Cargo.lock
  sdk/tui/Cargo.toml
  sdk/tui/src/app.rs
  sdk/tui/src/model.rs
  sdk/tui/src/model/views.rs
  sdk/tui/src/runtime.rs
  sdk/tui/src/update/mouse.rs
  sdk/tui/src/view.rs
  sdk/tui/src/view/results.rs
  sdk/tui/tests/m5.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(tui): correct scroll-offset hit-region geometry
  sdk/tui/src/runtime.rs
  sdk/tui/src/view/results.rs
Due: none

feat(tui): wizard help overlay, Esc back-stack, did-you-mean, [SEL] badge, readline
  .changeset/tui-ux-review-f1-f5.md
  sdk/tui/src/find.rs
  sdk/tui/src/help.rs
  sdk/tui/src/model.rs
  sdk/tui/src/naming.rs
  sdk/tui/src/update.rs
  sdk/tui/src/update/command.rs
  sdk/tui/src/update/mouse.rs
  sdk/tui/src/view.rs
  sdk/tui/src/wizard.rs
  sdk/tui/tests/find.rs
  sdk/tui/tests/naming.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(tui): clear wizard_help_scroll on modal close; add did-you-mean test
  sdk/tui/src/model.rs
  sdk/tui/tests/query.rs
Due: none

feat(tui): wizard help overlay, Esc back-stack, did-you-mean, [SEL] badge, readline (#1172)
  .changeset/tui-ux-review-f1-f5.md
  sdk/tui/src/find.rs
  sdk/tui/src/help.rs
  sdk/tui/src/model.rs
  sdk/tui/src/naming.rs
  sdk/tui/src/update.rs
  sdk/tui/src/update/command.rs
  sdk/tui/src/update/mouse.rs
  sdk/tui/src/view.rs
  sdk/tui/src/wizard.rs
  sdk/tui/tests/find.rs
  sdk/tui/tests/naming.rs
  sdk/tui/tests/query.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(tui/find): faceted option filtering — narrow dropdowns by current selections with count badges
  sdk/core/src/query.rs
  sdk/tui/src/find.rs
  sdk/tui/src/update/command.rs
  sdk/tui/src/view/find.rs
  sdk/tui/tests/find.rs
Due: none

fix(tui/find): address review feedback on faceted suggestion PR
  sdk/tui/src/find.rs
  sdk/tui/src/view/find.rs
Due: none

feat(tui): find wizard Preview button as last Tab stop, fixes Enter overload
  .changeset/tui-find-preview-button.md
  sdk/tui/src/find.rs
  sdk/tui/src/view/find.rs
  sdk/tui/tests/find.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

docs(tui): rewrite 0.3.0 CHANGELOG as four thematic sections
  sdk/tui/CHANGELOG.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

Version Packages (#1163)
  .changeset/tui-context-help-step-indicator.md
  .changeset/tui-describe-row-selection.md
  .changeset/tui-find-preview-button.md
  .changeset/tui-fuzzy-palette.md
  .changeset/tui-modal-toast.md
  .changeset/tui-ratatui-interact-hit-registry.md
  .changeset/tui-result-view-polish.md
  .changeset/tui-truncation-ellipsis.md
  .changeset/tui-ux-review-f1-f5.md
  .changeset/tui-validate-group-expand.md
  .changeset/tui-validate-json-token-refs.md
  .changeset/wizard-esc-back-navigation.md
  sdk/tui/CHANGELOG.md
  sdk/tui/Cargo.toml
  sdk/tui/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(swift): add design-data-swift crate — UniFFI bindings + XCFramework for native macOS apps
  sdk/Cargo.lock
  sdk/Cargo.toml
  sdk/swift/Cargo.toml
  sdk/swift/README.md
  sdk/swift/moon.yml
  sdk/swift/scripts/build-swift.mjs
  sdk/swift/src/bin/uniffi-bindgen.rs
  sdk/swift/src/lib.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

docs(demo): refresh demo materials for TUI feature drift (#1157–#1173)
  sdk/tui/DEMO.md
  sdk/tui/README.md
  tools/demo/auto/beats/A.beats.sh
  tools/demo/auto/beats/B.beats.sh
  tools/demo/presentation/RECORDING.md
  tools/demo/presentation/slides.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(ai): add version metadata to agent skills and surface designDataVersion in MCP primer
  .changeset/version-metadata-ai-tools.md
  .moon/workspace.yml
  pnpm-lock.yaml
  sdk/Cargo.lock
  sdk/cli/src/main.rs
  sdk/core/src/primer.rs
  sdk/wasm/src/dataset.rs
  sdk/wasm/test/parity.test.js
  tools/design-data-agent-mcp/skills/design-data/SKILL.md
  tools/design-data-agent-mcp/src/tools/read.js
  tools/design-data-agent-mcp/test/read.test.js
  tools/design-data-agent-mcp/test/skill-version.test.js
  tools/design-data-mcp/src/tools/design-data.js
  tools/design-data-mcp/test/design-data.test.js
  tools/design-data-skill/ava.config.js
  tools/design-data-skill/moon.yml
  tools/design-data-skill/package.json
  tools/design-data-skill/skills/design-data/SKILL.md
  tools/design-data-skill/test/skill-version.test.js
  tools/s2-docs-mcp/ava.config.js
  tools/s2-docs-mcp/moon.yml
  tools/s2-docs-mcp/package.json
  tools/s2-docs-mcp/skills/s2-docs/SKILL.md
  tools/s2-docs-mcp/test/skill-version.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

ci: add design-data-skill:test and s2-docs-mcp:test to CI targets
  .github/ci-targets.json
Due: prettier --write

refactor(ai): address code review feedback on skill-version tests and dual source field
  tools/design-data-agent-mcp/src/tools/read.js
  tools/design-data-agent-mcp/test/skill-version.test.js
  tools/design-data-mcp/src/tools/design-data.js
  tools/s2-docs-mcp/test/skill-version.test.js
Due: prettier --write

test(tui): update insta snapshots for v0.3.0 version header
  sdk/tui/tests/snapshots/snapshots__home_view_80x24.snap
  sdk/tui/tests/snapshots/snapshots__palette_open_80x24.snap
  sdk/tui/tests/snapshots/snapshots__wizard_screen1_80x24.snap
Due: none

feat(ai): add version metadata to agent skills and surface designDataVersion in MCP primer (#1175)
  .changeset/version-metadata-ai-tools.md
  .github/ci-targets.json
  .moon/workspace.yml
  pnpm-lock.yaml
  sdk/Cargo.lock
  sdk/cli/src/main.rs
  sdk/core/src/primer.rs
  sdk/tui/tests/snapshots/snapshots__home_view_80x24.snap
  sdk/tui/tests/snapshots/snapshots__palette_open_80x24.snap
  sdk/tui/tests/snapshots/snapshots__wizard_screen1_80x24.snap
  sdk/wasm/src/dataset.rs
  sdk/wasm/test/parity.test.js
  tools/design-data-agent-mcp/skills/design-data/SKILL.md
  tools/design-data-agent-mcp/src/tools/read.js
  tools/design-data-agent-mcp/test/read.test.js
  tools/design-data-agent-mcp/test/skill-version.test.js
  tools/design-data-mcp/src/tools/design-data.js
  tools/design-data-mcp/test/design-data.test.js
  tools/design-data-skill/ava.config.js
  tools/design-data-skill/moon.yml
  tools/design-data-skill/package.json
  tools/design-data-skill/skills/design-data/SKILL.md
  tools/design-data-skill/test/skill-version.test.js
  tools/s2-docs-mcp/ava.config.js
  tools/s2-docs-mcp/moon.yml
  tools/s2-docs-mcp/package.json
  tools/s2-docs-mcp/skills/s2-docs/SKILL.md
  tools/s2-docs-mcp/test/skill-version.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(release): auto-sync SKILL.md metadata.version via moon version task
  .changeset/auto-sync-skill-versions.md
  .github/ci-targets.json
  scripts/sync-skill-version.mjs
  tools/design-data-agent-mcp/moon.yml
  tools/design-data-skill/moon.yml
  tools/s2-docs-mcp/moon.yml
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

chore(release): sync SKILL.md metadata.version to match bumped package versions
  tools/design-data-agent-mcp/skills/design-data/SKILL.md
  tools/design-data-skill/skills/design-data/SKILL.md
  tools/s2-docs-mcp/skills/s2-docs/SKILL.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

chore(build): upgrade moon to 2.3.3
  .moon/toolchain.yml
  .moon/toolchains.yml
  .moon/workspace.yml
  .prototools
  docs/release-timeline/moon.yml
  docs/s2-tokens-viewer/moon.yml
  docs/s2-visualizer/moon.yml
  docs/site/moon.yml
  docs/visualizer/moon.yml
  moon.yml
  packages/component-schemas/moon.yml
  packages/design-data-spec/moon.yml
  packages/design-data/moon.yml
  packages/token-names/moon.yml
  packages/tokens/moon.yml
  sdk/moon.yml
  sdk/wasm/moon.yml
  tools/changeset-linter/moon.yml
  tools/component-diff-generator/moon.yml
  tools/component-options-editor/moon.yml
  tools/design-data-agent-mcp/moon.yml
  tools/design-data-mcp/moon.yml
  tools/design-data-skill/moon.yml
  tools/design-data/moon.yml
  tools/diff-generator/moon.yml
  tools/markdown-generator/moon.yml
  tools/optimized-diff/moon.yml
  tools/release-analyzer/moon.yml
  tools/s2-docs-mcp/moon.yml
  tools/s2-docs-to-document-blocks/moon.yml
  tools/s2-docs-transformer/moon.yml
  tools/spectrum-design-data-mcp/moon.yml
  tools/spectrum-diff-core/moon.yml
  tools/token-changeset-generator/moon.yml
  tools/token-corpus-migrate/moon.yml
  tools/token-mapping-analyzer/moon.yml
  tools/token-naming-audit/moon.yml
  tools/transform-tokens-json/moon.yml
Due: prettier --write

chore(build): manage wasm-pack via proto
  .github/workflows/ci.yml
  .moon/wasm-pack.toml
  .prototools
Due: prettier --write

chore(demo): migrate moon.yml to 2.3.3 schema (layer/preset)
  tools/demo/moon.yml
Due: prettier --write

docs(ai): scope CLAUDE.md context for Claude Code token efficiency
  CLAUDE.md
  packages/design-data-spec/CLAUDE.md
  packages/design-data/CLAUDE.md
  sdk/CLAUDE.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

chore(build): regenerate docs and token data after moon upgrade
  docs/markdown/components/select-box.md
  docs/markdown/pages/ai.md
  docs/markdown/registry/scale-values.md
  docs/markdown/tokens/color-aliases.md
  docs/markdown/tokens/color-component.md
  docs/markdown/tokens/color-palette.md
  docs/markdown/tokens/icons.md
  docs/markdown/tokens/layout-component.md
  docs/markdown/tokens/layout.md
  docs/markdown/tokens/semantic-color-palette.md
  docs/markdown/tokens/typography.md
  docs/release-timeline/public/data/releases.json
  docs/s2-docs/index.json
  docs/site/src/tools.md
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output
