Repository adobe/spectrum-design-data: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(design-data): add SPEC-007 name-roundtrip rule and naming exceptions
  .changeset/naming-exceptions-spec007.md
  packages/design-data-spec/rules/rules.yaml
  packages/tokens/moon.yml
  packages/tokens/naming-exceptions.json
  packages/tokens/snapshots/validation-snapshot.json
  sdk/cli/src/main.rs
  sdk/core/src/lib.rs
  sdk/core/src/naming.rs
  sdk/core/src/validate/mod.rs
  sdk/core/src/validate/relational.rs
  sdk/core/src/validate/rule.rs
  sdk/core/src/validate/rules/mod.rs
  sdk/core/src/validate/rules/spec007.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(design-data): SPEC-007 name-roundtrip rule and naming exceptions (#741)
  .changeset/naming-exceptions-spec007.md
  packages/design-data-spec/rules/rules.yaml
  packages/tokens/moon.yml
  packages/tokens/naming-exceptions.json
  packages/tokens/snapshots/validation-snapshot.json
  sdk/cli/src/main.rs
  sdk/core/src/lib.rs
  sdk/core/src/naming.rs
  sdk/core/src/validate/mod.rs
  sdk/core/src/validate/relational.rs
  sdk/core/src/validate/rule.rs
  sdk/core/src/validate/rules/mod.rs
  sdk/core/src/validate/rules/spec007.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(tokens): restore dist exports and run design-data via sdk:build
  packages/tokens/moon.yml
  packages/tokens/package.json
  packages/tokens/test/packageExports.test.js
Due: prettier --write

chore(changeset): add patch changeset for spectrum-tokens exports fix
  .changeset/restore-dist-exports.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(tokens): restore dist exports and run design-data via sdk:build (#747)
  .changeset/restore-dist-exports.md
  packages/tokens/moon.yml
  packages/tokens/package.json
  packages/tokens/test/packageExports.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (#748)
  .changeset/restore-dist-exports.md
  docs/s2-tokens-viewer/CHANGELOG.md
  docs/s2-tokens-viewer/package.json
  packages/tokens/CHANGELOG.md
  packages/tokens/package.json
  tools/markdown-generator/CHANGELOG.md
  tools/markdown-generator/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
  tools/token-csv-generator/CHANGELOG.md
  tools/token-csv-generator/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

[create-pull-request] automated change
  packages/tokens/src/layout-component.json
  packages/tokens/src/layout.json
Due: prettier --write

feat(tooling): enhance sync PR workflow and token-changeset-generator
  .github/actions/extract-source-pr-info/action.yml
  .github/workflows/enhance-sync-pr.yml
  pnpm-lock.yaml
  tools/token-changeset-generator/src/changeset-generator.js
  tools/token-changeset-generator/src/cli.js
  tools/token-changeset-generator/src/index.js
  tools/token-changeset-generator/src/tdiff-runner.js
  tools/token-changeset-generator/test/changeset-generator.test.js
Due: prettier --write

fix(tokens): flatten help-text-top-to-workflow-icon aliases from scale-set
  packages/tokens/src/layout-component.json
Due: prettier --write

fix(componentSchemas): increase performance test thresholds for CI stability
  packages/component-schemas/test/performance.test.js
Due: prettier --write

fix(mcp): align with MCP spec for strict clients (closes #705)
  .cursor/skills/enhance-sync-pr/SKILL.md
  pnpm-lock.yaml
  tools/s2-docs-mcp/package.json
  tools/s2-docs-mcp/src/index.js
  tools/spectrum-design-data-mcp/package.json
  tools/spectrum-design-data-mcp/src/index.js
  tools/spectrum-design-data-mcp/src/tools/schemas.js
  tools/spectrum-design-data-mcp/src/tools/tokens.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

chore: add changeset for MCP spec compatibility fix
  .changeset/fix-mcp-spec-compatibility.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix: wrap long line in changeset to pass lint
  .changeset/fix-mcp-spec-compatibility.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

docs: fix stale tool names, clone paths, and npx args in MCP docs
  docs/markdown/pages/ai.md
  docs/site/src/pages/ai.md
  tools/spectrum-design-data-mcp/README.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(mcp): align with MCP spec for strict clients (closes #705) (#751)
  .changeset/fix-mcp-spec-compatibility.md
  .cursor/skills/enhance-sync-pr/SKILL.md
  docs/markdown/pages/ai.md
  docs/site/src/pages/ai.md
  pnpm-lock.yaml
  tools/s2-docs-mcp/package.json
  tools/s2-docs-mcp/src/index.js
  tools/spectrum-design-data-mcp/README.md
  tools/spectrum-design-data-mcp/package.json
  tools/spectrum-design-data-mcp/src/index.js
  tools/spectrum-design-data-mcp/src/tools/schemas.js
  tools/spectrum-design-data-mcp/src/tools/tokens.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (#752)
  .changeset/fix-mcp-spec-compatibility.md
  tools/s2-docs-mcp/CHANGELOG.md
  tools/s2-docs-mcp/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(tokens): add gist fallback for oversized token diff comments
  .github/actions/diff-pr-comment/action.yml
  .github/actions/generate-diff/action.yml
  .github/workflows/token-diff-pr-comment.yml
Due: prettier --write

fix(tokens): use job summary instead of gist for full diff report
  .github/actions/diff-pr-comment/action.yml
Due: prettier --write

chore(tokens): remove debug instrumentation from diff comment action
  .github/actions/diff-pr-comment/action.yml
Due: prettier --write

fix(diff-generator): normalize set-level deprecation before diffing
  tools/diff-generator/src/lib/index.js
  tools/diff-generator/src/lib/normalize-deprecation.js
  tools/diff-generator/test/deprecatedToken.test.js
  tools/diff-generator/test/normalizeDeprecation.test.js
  tools/diff-generator/test/test-schemas/deprecation-set-level-original.json
  tools/diff-generator/test/test-schemas/deprecation-top-level-updated.json
Due: prettier --write

docs(changeset): update release notes to match diff report
  .changeset/20260324-5de7c01e.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

chore(changeset): add patch changeset for diff-generator deprecation fix
  .changeset/20260325-normalize-deprecation.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(registry): add token taxonomy terms for layout tokens
  packages/design-system-registry/registry/token-terminology.json
Due: prettier --write

fix(changeset): wrap long line to pass changeset linter
  .changeset/20260325-normalize-deprecation.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

chore(changeset): fix details formatting and trim branch refs for release
  .changeset/20260324-5de7c01e.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (#754)
  .changeset/20260324-5de7c01e.md
  .changeset/20260325-normalize-deprecation.md
  docs/s2-tokens-viewer/CHANGELOG.md
  docs/s2-tokens-viewer/package.json
  packages/tokens/CHANGELOG.md
  packages/tokens/package.json
  tools/diff-generator/CHANGELOG.md
  tools/diff-generator/package.json
  tools/markdown-generator/CHANGELOG.md
  tools/markdown-generator/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
  tools/token-changeset-generator/CHANGELOG.md
  tools/token-changeset-generator/package.json
  tools/token-csv-generator/CHANGELOG.md
  tools/token-csv-generator/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(tooling): review fixes for enhance-sync-pr PR
  .cursorrules
  docs/site/README.md
  tools/markdown-generator/README.md
  tools/token-changeset-generator/src/tdiff-runner.js
  tools/token-changeset-generator/test/pr-parser.test.js
  tools/token-changeset-generator/test/tdiff-runner.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(tooling): enhance sync PR workflow and token-changeset-generator (#750)
  .cursorrules
  .github/actions/extract-source-pr-info/action.yml
  .github/workflows/enhance-sync-pr.yml
  docs/site/README.md
  tools/markdown-generator/README.md
  tools/token-changeset-generator/src/changeset-generator.js
  tools/token-changeset-generator/src/cli.js
  tools/token-changeset-generator/src/index.js
  tools/token-changeset-generator/src/tdiff-runner.js
  tools/token-changeset-generator/test/changeset-generator.test.js
  tools/token-changeset-generator/test/pr-parser.test.js
  tools/token-changeset-generator/test/tdiff-runner.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(ci): pin node 20.17.0 in .prototools and update ai.md for agent skills
  .prototools
  docs/site/src/pages/ai.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(ci): add pnpm 10.17.1 to .prototools
  .prototools
Due: none

fix(changeset): wrap long line in agent-skills-enhancements.md
  .changeset/agent-skills-enhancements.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(changeset): rewrap lines to stay under 100 chars
  .changeset/agent-skills-enhancements.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

chore: migrate from Cursor to Claude Code configuration
  .claude/plans/size-property-analysis.md
  .claude/plans/token-options-mapping-analysis.md
  .claude/skills/enhance-sync-pr/SKILL.md
  .cursor/mcp.json
  .cursor/rules
  .cursor/skills/enhance-sync-pr/SKILL.md
  .cursorrules
  .gitignore
  CLAUDE.md
  tools/component-options-editor/.cursorrules
  tools/component-options-editor/CLAUDE.md
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

chore: migrate cursor config to claude code
  .claude/plans/size-property-analysis.md
  .claude/plans/token-options-mapping-analysis.md
  .claude/skills/enhance-sync-pr/SKILL.md
  .cursor/mcp.json
  .cursor/rules
  .cursor/skills/enhance-sync-pr/SKILL.md
  .cursorrules
  .gitignore
  CLAUDE.md
  tools/component-options-editor/.cursorrules
  tools/component-options-editor/CLAUDE.md
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

chore: add gh cli and pr template instructions to CLAUDE.md
  CLAUDE.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

chore: migrate cursor config to claude code (#755)
  .claude/plans/size-property-analysis.md
  .claude/plans/token-options-mapping-analysis.md
  .claude/skills/enhance-sync-pr/SKILL.md
  .cursor/mcp.json
  .cursor/rules
  .cursor/skills/enhance-sync-pr/SKILL.md
  .cursorrules
  .gitignore
  CLAUDE.md
  tools/component-options-editor/.cursorrules
  tools/component-options-editor/CLAUDE.md
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,yml,yaml}
  remark --use remark-frontmatter --use remark-gfm --use remark-github --output: any of: **/*.md
  pnpm changeset-lint check-file: any of: .changeset/*.md
