Repository adobe/spectrum-design-data: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,yml,yaml}": ["prettier --write"],
  "**/*.md": [
    "remark --use remark-frontmatter --use remark-gfm --use remark-github --output"
  ],
  "!**/.changeset/*.md": [],
  "!**/pnpm-lock.yaml": [],
  "!**/package-lock.json": [],
  "!**/yarn.lock": [],
  ".changeset/*.md": [
    "pnpm changeset-lint check-file"
  ]
}

feat(ios-override-importer): import elevated override rows
  tools/ios-override-importer/src/categorize.js
  tools/ios-override-importer/src/emit-manifest.js
  tools/ios-override-importer/src/gaps-report.js
  tools/ios-override-importer/src/parse-colorset.js
  tools/ios-override-importer/test/categorize.test.js
  tools/ios-override-importer/test/emit-manifest.test.js
  tools/ios-override-importer/test/parse-colorset.test.js
Due: prettier --write

feat(sdk): manifest support for extensions.components and extensions.platformExtensions
  .changeset/manifest-components-platform-extensions.md
  packages/design-data-spec/schemas/manifest.schema.json
  sdk/core/src/graph.rs
  sdk/core/src/manifest.rs
  sdk/core/src/schema.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(ios-override-importer): thread variant through legacy-key lookup
  tools/ios-override-importer/src/find-token-uuid.js
  tools/ios-override-importer/test/emit-manifest.test.js
  tools/ios-override-importer/test/find-token-uuid.test.js
Due: prettier --write

fix(sdk): resolve extends by exact registry name, type platform-injected component layer
  sdk/core/src/cache/mod.rs
  sdk/core/src/graph.rs
  sdk/core/src/lib.rs
  sdk/core/src/manifest.rs
  sdk/core/src/registry.rs
  sdk/core/src/registry_data.rs
  sdk/core/src/validate/rules/spec018.rs
  sdk/core/src/validate/rules/spec019.rs
  sdk/core/src/validate/rules/spec020.rs
  sdk/core/src/validate/rules/spec021.rs
  sdk/core/src/validate/rules/spec022.rs
  sdk/core/src/validate/rules/spec023.rs
  sdk/core/src/validate/rules/spec024.rs
  sdk/core/src/validate/rules/spec026.rs
  sdk/core/src/validate/rules/spec027.rs
  sdk/core/src/validate/rules/spec028.rs
  sdk/core/src/validate/rules/spec029.rs
  sdk/core/src/validate/rules/spec030.rs
  sdk/core/src/validate/rules/spec031.rs
  sdk/core/src/validate/rules/spec034.rs
  sdk/core/src/validate/rules/spec035.rs
  sdk/core/src/validate/rules/spec036.rs
  sdk/core/src/validate/rules/spec037.rs
  sdk/core/src/validate/rules/spec038.rs
  sdk/core/src/validate/rules/spec040.rs
  sdk/core/src/validate/rules/spec046.rs
  sdk/core/src/validate/rules/spec047.rs
  sdk/core/src/validate/rules/spec048.rs
  sdk/core/src/validate/rules/spec051.rs
  sdk/core/src/validate/rules/spec052.rs
  sdk/core/src/validate/rules/spec053.rs
  sdk/core/src/validate/rules/spec054.rs
  sdk/scripts/generate-registry-data.js
Due: prettier --write

feat(ios-override-importer): import elevated override rows (#1379)
  tools/ios-override-importer/src/categorize.js
  tools/ios-override-importer/src/emit-manifest.js
  tools/ios-override-importer/src/find-token-uuid.js
  tools/ios-override-importer/src/gaps-report.js
  tools/ios-override-importer/src/parse-colorset.js
  tools/ios-override-importer/test/categorize.test.js
  tools/ios-override-importer/test/emit-manifest.test.js
  tools/ios-override-importer/test/find-token-uuid.test.js
  tools/ios-override-importer/test/parse-colorset.test.js
Due: prettier --write

fix(sdk): add missing layer field to ComponentRecord test fixture
  sdk/core/src/lib.rs
  sdk/tui/tests/describe.rs
Due: none

feat(sdk): manifest support for extensions.components and extensions.platformExtensions (#1380)
  .changeset/manifest-components-platform-extensions.md
  packages/design-data-spec/schemas/manifest.schema.json
  sdk/core/src/cache/mod.rs
  sdk/core/src/graph.rs
  sdk/core/src/lib.rs
  sdk/core/src/manifest.rs
  sdk/core/src/registry.rs
  sdk/core/src/registry_data.rs
  sdk/core/src/schema.rs
  sdk/core/src/validate/rules/spec018.rs
  sdk/core/src/validate/rules/spec019.rs
  sdk/core/src/validate/rules/spec020.rs
  sdk/core/src/validate/rules/spec021.rs
  sdk/core/src/validate/rules/spec022.rs
  sdk/core/src/validate/rules/spec023.rs
  sdk/core/src/validate/rules/spec024.rs
  sdk/core/src/validate/rules/spec026.rs
  sdk/core/src/validate/rules/spec027.rs
  sdk/core/src/validate/rules/spec028.rs
  sdk/core/src/validate/rules/spec029.rs
  sdk/core/src/validate/rules/spec030.rs
  sdk/core/src/validate/rules/spec031.rs
  sdk/core/src/validate/rules/spec034.rs
  sdk/core/src/validate/rules/spec035.rs
  sdk/core/src/validate/rules/spec036.rs
  sdk/core/src/validate/rules/spec037.rs
  sdk/core/src/validate/rules/spec038.rs
  sdk/core/src/validate/rules/spec040.rs
  sdk/core/src/validate/rules/spec046.rs
  sdk/core/src/validate/rules/spec047.rs
  sdk/core/src/validate/rules/spec048.rs
  sdk/core/src/validate/rules/spec051.rs
  sdk/core/src/validate/rules/spec052.rs
  sdk/core/src/validate/rules/spec053.rs
  sdk/core/src/validate/rules/spec054.rs
  sdk/scripts/generate-registry-data.js
  sdk/tui/tests/describe.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Version Packages (#1377)
  .changeset/manifest-components-platform-extensions.md
  .changeset/manifest-extensions-tokens-schema.md
  docs/s2-tokens-viewer/CHANGELOG.md
  docs/s2-tokens-viewer/package.json
  packages/design-data-spec/CHANGELOG.md
  packages/design-data-spec/package.json
  sdk/Cargo.lock
  sdk/tui/CHANGELOG.md
  sdk/tui/Cargo.toml
  sdk/tui/package.json
  sdk/wasm/CHANGELOG.md
  sdk/wasm/package.json
  tools/design-data-agent-mcp/CHANGELOG.md
  tools/design-data-agent-mcp/package.json
  tools/design-data-agent-mcp/skills/design-data/SKILL.md
  tools/design-data-mcp/CHANGELOG.md
  tools/design-data-mcp/package.json
  tools/design-data/CHANGELOG.md
  tools/design-data/package.json
  tools/token-naming-audit/CHANGELOG.md
  tools/token-naming-audit/package.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(sdk): surface manifest-injected platform-extensions in primer/graph
  sdk/cli/src/main.rs
  sdk/core/src/graph.rs
  sdk/core/src/primer.rs
Due: none

fix(sdk): remove dead platform_extensions() getter
  sdk/core/src/graph.rs
Due: none

feat(sdk): surface manifest-injected platform-extensions in primer/graph (#1381)
  sdk/cli/src/main.rs
  sdk/core/src/primer.rs
Due: none

gitblobstore: checkandput manifest
  manifest
  v9rb05m4e06tiriiv0fg9m4tvc5p96h9.darc
Due: none

gitblobstore: checkandput manifest
  0p9bfsck8m1antjoe7ad581vlla9nr6c
  manifest
Due: none

dolt remote info
  DOLT_REMOTE.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(sdk): apply configured manifest cascade in primer
  .changeset/primer-applies-configured-manifest.md
  sdk/cli/src/main.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(tokens): add static + theme-aware transparency tokens, deprecate legacy (#1345-#1347)
  .changeset/transparency-tokens.md
  packages/design-data/registry/color-families.json
  packages/design-data/tokens/color-palette.tokens.json
  packages/tokens/src/color-palette.json
  sdk/core/src/registry_data.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(mcp): honor .design-data.toml manifest cascade in read/validate tools
  .changeset/mcp-honors-cascade.md
  tools/design-data-agent-mcp/README.md
  tools/design-data-agent-mcp/src/cascade-bootstrap.js
  tools/design-data-agent-mcp/src/cli.js
  tools/design-data-agent-mcp/src/config.js
  tools/design-data-agent-mcp/src/index.js
  tools/design-data-agent-mcp/src/tools/read.js
  tools/design-data-agent-mcp/test/cascade-bootstrap.test.js
  tools/design-data-agent-mcp/test/read-cascade.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(mcp): keep cascade resolution off dataPath/dataRoot
  .changeset/mcp-honors-cascade.md
  tools/design-data-agent-mcp/src/cascade-bootstrap.js
  tools/design-data-agent-mcp/src/config.js
  tools/design-data-agent-mcp/src/tools/read.js
  tools/design-data-agent-mcp/src/tools/validate.js
  tools/design-data-agent-mcp/test/cascade-bootstrap.test.js
  tools/design-data-agent-mcp/test/read-cascade.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(mcp): honor .design-data.toml manifest cascade in read/validate tools (#1383)
  .changeset/mcp-honors-cascade.md
  tools/design-data-agent-mcp/README.md
  tools/design-data-agent-mcp/src/cascade-bootstrap.js
  tools/design-data-agent-mcp/src/cli.js
  tools/design-data-agent-mcp/src/config.js
  tools/design-data-agent-mcp/src/index.js
  tools/design-data-agent-mcp/src/tools/read.js
  tools/design-data-agent-mcp/src/tools/validate.js
  tools/design-data-agent-mcp/test/cascade-bootstrap.test.js
  tools/design-data-agent-mcp/test/read-cascade.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

docs(design-data-spec): add platform manifest capability matrix
  .changeset/manifest-capability-matrix.md
  packages/design-data-spec/spec/manifest.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

docs(design-data-spec): add platform manifest capability matrix (#1386)
  .changeset/manifest-capability-matrix.md
  packages/design-data-spec/spec/manifest.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(design-data): remove tab-bar-ios and ios-states from monorepo
  .changeset/remove-ios-design-data.md
  docs/markdown/components/tab-bar-ios.md
  docs/site/public/schemas/components/tab-bar-ios.json
  packages/design-data/PLATFORM_EXTENSIONS.md
  packages/design-data/components/tab-bar-ios.json
  packages/design-data/registry/platform-extensions/ios-states.json
  packages/design-system-registry/README.md
  sdk/core/src/data_source/embedded.rs
  tools/component-diff-generator/src/lib/component-file-import.js
  tools/markdown-generator/output/components/tab-bar-ios.md
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): repoint remaining iOS states example in PLATFORM_EXTENSIONS.md
  packages/design-data/PLATFORM_EXTENSIONS.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(sdk): manifest support for extensions.guidelines (h890.23.1)
  .changeset/manifest-extensions-guidelines.md
  packages/design-data-spec/schemas/manifest.schema.json
  packages/design-data-spec/spec/manifest.md
  sdk/core/src/graph.rs
  sdk/core/src/manifest.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

docs(design-data-spec): list guidelines in extensions field description
  packages/design-data-spec/spec/manifest.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(design-data): remove tab-bar-ios and ios-states from monorepo (#1385)
  .changeset/remove-ios-design-data.md
  docs/markdown/components/tab-bar-ios.md
  docs/site/public/schemas/components/tab-bar-ios.json
  packages/design-data/PLATFORM_EXTENSIONS.md
  packages/design-data/components/tab-bar-ios.json
  packages/design-data/registry/platform-extensions/ios-states.json
  packages/design-system-registry/README.md
  sdk/core/src/data_source/embedded.rs
  tools/component-diff-generator/src/lib/component-file-import.js
  tools/markdown-generator/output/components/tab-bar-ios.md
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(sdk): manifest support for extensions.fields
  .changeset/manifest-extensions-fields.md
  packages/design-data-spec/schemas/manifest.schema.json
  packages/design-data-spec/spec/manifest.md
  sdk/core/src/graph.rs
  sdk/core/src/manifest.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(sdk): manifest support for extensions.guidelines (#1387)
  .changeset/manifest-extensions-guidelines.md
  packages/design-data-spec/schemas/manifest.schema.json
  packages/design-data-spec/spec/manifest.md
  sdk/core/src/graph.rs
  sdk/core/src/manifest.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(sdk): manifest support for extensions.namingExceptions
  .changeset/manifest-extensions-naming-exceptions.md
  packages/design-data-spec/schemas/manifest.schema.json
  packages/design-data-spec/spec/manifest.md
  sdk/core/src/naming.rs
  sdk/core/src/validate/mod.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

docs(design-data-spec): decide against manifest schema overrides (spike)
  .changeset/manifest-schema-override-spike.md
  packages/design-data-spec/spec/manifest-schema-override-spike.md
  packages/design-data-spec/spec/manifest.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(sdk): manifest support for extensions.fields (#1388)
  .changeset/manifest-extensions-fields.md
  packages/design-data-spec/schemas/manifest.schema.json
  packages/design-data-spec/spec/manifest.md
  sdk/core/src/graph.rs
  sdk/core/src/manifest.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(sdk): manifest support for extensions.relationships
  .changeset/manifest-extensions-relationships.md
  packages/design-data-spec/schemas/manifest.schema.json
  packages/design-data-spec/spec/manifest.md
  sdk/core/src/graph.rs
  sdk/core/src/manifest.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(sdk): plain-add relationship entries append, never overwrite on uuid collision
  .changeset/manifest-extensions-relationships.md
  sdk/core/src/graph.rs
  sdk/core/src/manifest.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(sdk): manifest support for extensions.relationships (#1389)
  .changeset/manifest-extensions-relationships.md
  packages/design-data-spec/schemas/manifest.schema.json
  packages/design-data-spec/spec/manifest.md
  sdk/core/src/graph.rs
  sdk/core/src/manifest.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(sdk): manifest support for extensions.namingExceptions (#1390)
  .changeset/manifest-extensions-naming-exceptions.md
  packages/design-data-spec/schemas/manifest.schema.json
  packages/design-data-spec/spec/manifest.md
  sdk/core/src/naming.rs
  sdk/core/src/validate/mod.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

docs(design-data-spec): decide against manifest schema overrides (spike) (#1391)
  .changeset/manifest-schema-override-spike.md
  packages/design-data-spec/spec/manifest-schema-override-spike.md
  packages/design-data-spec/spec/manifest.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

docs(design-data-spec): clarify override cascade semantics and foundation version floor
  .changeset/manifest-spec-clarifications.md
  packages/design-data-spec/spec/manifest.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(ci): allow skipping validate-dataset for manifest-only repos
  .github/actions/validate/README.md
  .github/actions/validate/action.yml
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(ci): normalize foundationVersion before drift comparison
  .github/actions/validate/action.yml
Due: prettier --write
