Repository adobe/spectrum-design-data: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,yml,yaml}": ["prettier --write"],
  "**/*.md": [
    "remark --use remark-frontmatter --use remark-gfm --use remark-github --output"
  ],
  "!**/.changeset/*.md": [],
  "!**/pnpm-lock.yaml": [],
  "!**/package-lock.json": [],
  "!**/yarn.lock": [],
  ".changeset/*.md": [
    "pnpm changeset-lint check-file"
  ]
}

feat(design-data): defer SPEC-047 anatomy check without catalog; migrate final gap endpoints (04c.8) (#1222)
  .changeset/04c8-gap-endpoint-validate-dataset-gap.md
  docs/proposals/012-space-between-decompose.md
  packages/design-data/tokens/layout-component.tokens.json
  sdk/cli/src/main.rs
  sdk/core/src/validate/rules/spec047.rs
  tools/token-mapping-analyzer/src/decomposer.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(design-data): model nested sub-anatomy via contains, add SPEC-048 (5us)
  .changeset/5us-nested-anatomy-contains.md
  packages/design-data-spec/conformance/invalid/SPEC-048/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-048/expected-errors.json
  packages/design-data-spec/conformance/valid/SPEC-048/dataset.json
  packages/design-data-spec/rules/rules.yaml
  packages/design-data-spec/schemas/anatomy-part.schema.json
  packages/design-data-spec/schemas/component.schema.json
  packages/design-data-spec/spec/anatomy-format.md
  packages/design-data/components/list-view.json
  packages/design-data/components/menu.json
  packages/design-data/components/table.json
  sdk/core/src/validate/rules/mod.rs
  sdk/core/src/validate/rules/spec048.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): reject self-referencing anatomy contains in SPEC-048
  sdk/core/src/validate/rules/spec048.rs
Due: none

feat(design-data): model nested sub-anatomy via contains, add SPEC-048 (5us) (#1223)
  .changeset/5us-nested-anatomy-contains.md
  packages/design-data-spec/conformance/invalid/SPEC-048/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-048/expected-errors.json
  packages/design-data-spec/conformance/valid/SPEC-048/dataset.json
  packages/design-data-spec/rules/rules.yaml
  packages/design-data-spec/schemas/anatomy-part.schema.json
  packages/design-data-spec/schemas/component.schema.json
  packages/design-data-spec/spec/anatomy-format.md
  packages/design-data/components/list-view.json
  packages/design-data/components/menu.json
  packages/design-data/components/table.json
  sdk/core/src/validate/rules/mod.rs
  sdk/core/src/validate/rules/spec048.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): decompose icon inverse-variant and color-wheel margin tokens
  .changeset/fix-icon-inverse-variant-decomposition.md
  packages/design-data/tokens/icons.tokens.json
  packages/design-data/tokens/layout-component.tokens.json
  packages/tokens/src/icons.json
  sdk/core/src/migrate.rs
  sdk/core/src/naming.rs
  sdk/core/tests/prop_naming.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): add legacyKey escape hatch to avoid breaking spectrum-tokens
  .changeset/fix-icon-inverse-variant-decomposition.md
  packages/design-data-spec/schemas/token.schema.json
  packages/design-data/tokens/icons.tokens.json
  packages/tokens/src/icons.json
  sdk/core/src/naming.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

test(design-data): add direct roundtrip test for leading-variant keys
  sdk/core/tests/prop_naming.rs
Due: none

feat(design-data): add typography emphasis field, decompose overloaded property values
  .changeset/pur-typography-emphasis-decomposition.md
  docs/proposals/001-typography-taxonomy.md
  packages/design-data/fields/alignment.json
  packages/design-data/fields/color-scheme.json
  packages/design-data/fields/colorFamily.json
  packages/design-data/fields/colorRole.json
  packages/design-data/fields/contrast.json
  packages/design-data/fields/density.json
  packages/design-data/fields/easing.json
  packages/design-data/fields/emphasis.json
  packages/design-data/fields/family.json
  packages/design-data/fields/from.json
  packages/design-data/fields/motionRole.json
  packages/design-data/fields/orientation.json
  packages/design-data/fields/position.json
  packages/design-data/fields/property.json
  packages/design-data/fields/scale.json
  packages/design-data/fields/shape.json
  packages/design-data/fields/size.json
  packages/design-data/fields/state.json
  packages/design-data/fields/style.json
  packages/design-data/fields/to.json
  packages/design-data/fields/weight.json
  packages/design-data/registry/property-terms.json
  packages/design-data/registry/typography-emphasis.json
  packages/design-data/tokens/layout-component.tokens.json
  packages/design-data/tokens/typography.tokens.json
  sdk/core/src/naming.rs
  sdk/core/src/registry_data.rs
  tools/token-mapping-analyzer/src/apply.js
  tools/token-mapping-analyzer/src/decomposer.js
  tools/token-mapping-analyzer/test/apply.test.js
  tools/token-mapping-analyzer/test/decomposer.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

chore(design-data): fix stale SPEC-009 docstring, add warning triage report
  packages/design-data/moon.yml
  packages/design-data/scripts/spec009-report.js
  sdk/core/src/validate/rules/spec009.rs
Due: prettier --write

fix(design-data): use valid runInCI option on spec009-report task
  packages/design-data/moon.yml
Due: prettier --write

fix(design-data): sync component registry, decompose drop-shadow emphasized (SPEC-009)
  .changeset/spec009-component-registry-sync.md
  packages/design-data/registry/components.json
  packages/design-data/registry/variants.json
  packages/design-data/tokens/color-aliases.tokens.json
  sdk/core/src/registry_data.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

gitblobstore: checkandput manifest
  5dd01ie645tm00i1srphj7o8ccs3063t
  manifest
Due: none

fix(design-data): pin legacy key for drop-shadow emphasized token, correct changeset counts
  .changeset/spec009-component-registry-sync.md
  packages/design-data/tokens/color-aliases.tokens.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): route anatomy sub-parts to real parent component (SPEC-009) (uep)
  .changeset/spec009-anatomy-subparts-tab-menu-stepper.md
  packages/design-data/registry/anatomy-terms.json
  packages/design-data/tokens/color-component.tokens.json
  packages/design-data/tokens/layout-component.tokens.json
  packages/tokens/naming-exceptions.json
  packages/tokens/snapshots/validation-snapshot.json
  packages/tokens/src/color-component.json
  packages/tokens/src/layout-component.json
  packages/tokens/test/checkComponentProps.js
  sdk/core/src/migrate.rs
  sdk/core/src/registry_data.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): tighten anatomy exemption, add migrate.rs unit test
  packages/tokens/test/checkComponentProps.js
  sdk/core/src/migrate.rs
Due: prettier --write

feat(design-data): add Articles section to Spectrum Design Data site
  docs/markdown/pages/articles/index.md
  docs/site/eleventy.config.js
  docs/site/src/articles/articles.11tydata.js
  docs/site/src/articles/understanding-spectrum-tokens.md
  docs/site/src/assets/js/article-filter.js
  docs/site/src/includes/layout/header.liquid
  docs/site/src/layouts/article.liquid
  docs/site/src/pages/articles/index.md
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(design-data): finish SPEC-009 epic — icon field + anatomy sub-part components
  .changeset/spec009-anatomy-subparts-register-components.md
  .changeset/spec009-icon-name-field.md
  .changeset/spec009-icon-token-rekey.md
  packages/design-data/fields/icon.json
  packages/design-data/registry/components.json
  packages/design-data/registry/icon-terms.json
  packages/design-data/tokens/icons.tokens.json
  packages/design-data/tokens/layout-component.tokens.json
  sdk/core/src/legacy.rs
  sdk/core/src/naming.rs
  sdk/core/src/registry_data.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

docs(design-data): clarify icon owner-resolution duplication in naming.rs
  sdk/core/src/naming.rs
Due: none

feat(design-data): finish SPEC-009 epic — icon field + anatomy sub-part components (#1231)
  .changeset/spec009-anatomy-subparts-register-components.md
  .changeset/spec009-icon-name-field.md
  .changeset/spec009-icon-token-rekey.md
  packages/design-data/fields/icon.json
  packages/design-data/registry/components.json
  packages/design-data/registry/icon-terms.json
  packages/design-data/tokens/icons.tokens.json
  packages/design-data/tokens/layout-component.tokens.json
  sdk/core/src/legacy.rs
  sdk/core/src/naming.rs
  sdk/core/src/registry_data.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(token-mapping-analyzer): reject fabricated component from SPEC-025 guard
  .github/ci-targets.json
  .moon/workspace.yml
  tools/token-mapping-analyzer/src/apply.js
Due: prettier --write

fix(ci): exclude token-mapping-analyzer:analyze from CI targets guard
  .github/ci-targets.json
Due: prettier --write

feat(design-data): decompose density-compound property values (closes spectrum-design-data-7zs)
  .changeset/7zs-density-compound-decomposition.md
  packages/design-data/tokens/layout-component.tokens.json
  packages/design-data/tokens/layout.tokens.json
  tools/token-mapping-analyzer/src/generate-exceptions.js
  tools/token-mapping-analyzer/test/apply.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): revert bogus weight extraction from table row -regular tokens
  packages/design-data/tokens/layout-component.tokens.json
  packages/tokens/src/layout-component.json
  packages/tokens/src/layout.json
Due: prettier --write

fix(design-data): pin legacyKey on 52 layout.json qualifier tokens broken by 7zs decomposition
  .changeset/7zs-density-compound-decomposition.md
  packages/design-data/tokens/layout.tokens.json
  packages/tokens/src/layout-component.json
  packages/tokens/src/layout.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

chore: trivial token-diff retrigger (step 1/2)
  packages/tokens/src/layout.json
Due: prettier --write

chore: trivial token-diff retrigger (step 2/2, revert)
  packages/tokens/src/layout.json
Due: prettier --write

feat(design-data): decompose density-compound property values (#1232)
  .changeset/7zs-density-compound-decomposition.md
  packages/design-data/tokens/layout-component.tokens.json
  packages/design-data/tokens/layout.tokens.json
  tools/token-mapping-analyzer/src/generate-exceptions.js
  tools/token-mapping-analyzer/test/apply.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(token-mapping-analyzer): source structured token tree, not legacy flat keys
  tools/token-mapping-analyzer/src/index.js
Due: prettier --write

fix(token-mapping-analyzer): warn when a token's legacy key can't be reconstructed
  tools/token-mapping-analyzer/src/index.js
Due: prettier --write

gitblobstore: checkandput manifest
  khjiircjbmlci6nujr36dujj744qikkd.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  5ghrrvu1da4jei9rtcu4eccrnuq7n0tr
  manifest
Due: none

fix(ci): remove paths filter causing stale PR diff comments (closes spectrum-design-data-ub6)
  .github/workflows/component-diff-pr-comment.yml
  .github/workflows/token-diff-pr-comment.yml
Due: prettier --write

feat(design-data): decompose drop-shadow/context-modifier residual (dsi.1)
  .changeset/dsi1-drop-shadow-context-decomposition.md
  docs/proposals/004-drop-shadow-classification.md
  packages/design-data/registry/property-terms.json
  packages/design-data/registry/structures.json
  packages/design-data/registry/variants.json
  packages/design-data/tokens/color-aliases.tokens.json
  packages/design-data/tokens/color-component.tokens.json
  packages/design-data/tokens/layout-component.tokens.json
  packages/design-data/tokens/layout.tokens.json
  sdk/core/src/registry_data.rs
  tools/token-mapping-analyzer/src/decomposer.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): correct emphasized drop-shadow legacyKey/property regressions
  packages/design-data/tokens/color-aliases.tokens.json
  tools/token-mapping-analyzer/src/generate-exceptions.js
Due: prettier --write

fix(design-data): pin legacyKey on ordering-mismatch residual tokens (dsi.3)
  .changeset/dsi3-ordering-mismatch-legacykey.md
  packages/design-data/tokens/color-aliases.tokens.json
  packages/design-data/tokens/color-component.tokens.json
  packages/design-data/tokens/icons.tokens.json
  packages/design-data/tokens/layout-component.tokens.json
  packages/design-data/tokens/layout.tokens.json
  packages/design-data/tokens/semantic-color-palette.tokens.json
  packages/design-data/tokens/typography.tokens.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): correct 77 mismatched legacyKey pins from dsi.3
  packages/design-data/tokens/color-component.tokens.json
  packages/design-data/tokens/icons.tokens.json
  packages/design-data/tokens/layout-component.tokens.json
  packages/design-data/tokens/typography.tokens.json
Due: prettier --write

feat(design-data): register color/layout/qualifier vocab (dsi.2.5)
  .changeset/dsi25-color-layout-qualifier-vocab.md
  docs/proposals/006-vocabulary-gaps.md
  packages/design-data-spec/schemas/token.schema.json
  packages/design-data/fields/qualifier.json
  packages/design-data/registry/anatomy-terms.json
  packages/design-data/registry/color-roles.json
  packages/design-data/registry/positions.json
  packages/design-data/registry/property-terms.json
  packages/design-data/registry/qualifiers.json
  packages/design-data/registry/shapes.json
  packages/design-data/registry/sizes.json
  packages/design-data/registry/structures.json
  packages/design-data/tokens/color-aliases.tokens.json
  packages/design-data/tokens/color-component.tokens.json
  packages/design-data/tokens/layout-component.tokens.json
  packages/design-data/tokens/layout.tokens.json
  packages/design-data/tokens/semantic-color-palette.tokens.json
  packages/design-data/tokens/typography.tokens.json
  sdk/core/src/registry_data.rs
  tools/token-mapping-analyzer/src/decomposer.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): resolve CI roundtrip failures in dsi.2.5 vocab batch
  .changeset/dsi25-color-layout-qualifier-vocab.md
  docs/proposals/006-vocabulary-gaps.md
  packages/design-data/registry/anatomy-terms.json
  packages/design-data/registry/components.json
  packages/design-data/tokens/color-aliases.tokens.json
  packages/design-data/tokens/layout-component.tokens.json
  packages/design-data/tokens/typography.tokens.json
  packages/tokens/src/layout.json
  sdk/core/src/registry_data.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file
