Repository adobe/spectrum-design-data: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(tokens): review fixes for #1203 — test independence, SKIP comment clarity
  sdk/core/src/naming.rs
  tools/token-mapping-analyzer/test/apply.test.js
Due: prettier --write

feat(tokens): phase D — taxonomy field serializer + size decomposition
  .changeset/d1-taxonomy-serializer.md
  packages/design-data/tokens/layout-component.tokens.json
  packages/design-data/tokens/layout.tokens.json
  packages/tokens/src/layout.json
  sdk/core/src/naming.rs
  sdk/core/src/registry.rs
  sdk/core/src/registry_data.rs
  sdk/scripts/generate-registry-data.js
  tools/token-mapping-analyzer/test/apply.test.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(tooling): review fixes — revert token data, glob cascade files, pass component hint
  .changeset/d1-size-decomposition.md
  packages/design-data/tokens/layout-component.tokens.json
  packages/design-data/tokens/layout.tokens.json
  packages/tokens/src/layout-component.json
  packages/tokens/src/layout.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(tokens): phase D — opt-in excludeFromLegacyKey catalog flag replaces SKIP const (ye1.9)
  .changeset/ye1-9-exclude-from-legacy-key.md
  packages/design-data-spec/schemas/field.schema.json
  packages/design-data/fields/color-scheme.json
  packages/design-data/fields/colorFamily.json
  packages/design-data/fields/contrast.json
  packages/design-data/fields/family.json
  packages/design-data/fields/scale.json
  packages/design-data/fields/scaleIndex.json
  packages/design-data/fields/structure.json
  packages/design-data/fields/style.json
  packages/design-data/fields/weight.json
  sdk/core/src/naming.rs
  sdk/core/src/registry.rs
  sdk/core/src/registry_data.rs
  sdk/scripts/generate-registry-data.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

test(sdk): add exclusion test for legacy-annotation fields + trim changeset
  .changeset/ye1-9-exclude-from-legacy-key.md
  sdk/core/src/naming.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(tokens): phase D — decompose density field (ye1.2)
  .changeset/ye1-2-density-decompose.md
  packages/design-data/tokens/layout-component.tokens.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(tokens): phase D — decompose variant field (ye1.4)
  .changeset/ye1-4-variant-decompose.md
  packages/design-data/tokens/color-aliases.tokens.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(tokens): phase D — decompose alignment field (ye1.6)
  .changeset/ye1-6-alignment-decompose.md
  packages/design-data/tokens/typography.tokens.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(tokens): phase D — decompose anatomy + object fields (ye1.7)
  .changeset/ye1-7-anatomy-object-decompose.md
  packages/design-data/tokens/color-aliases.tokens.json
  packages/design-data/tokens/color-component.tokens.json
  packages/design-data/tokens/layout-component.tokens.json
  packages/design-data/tokens/layout.tokens.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

refactor(diff-core): collapse processResultForTemplate 9-arm mapping (mcq)
  .changeset/mcq-collapse-processresult.md
  tools/spectrum-diff-core/src/formatters/handlebars-formatter.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(tokens): phase D — decompose variant, alignment, anatomy, object fields
  .changeset/ye1-decompose-remaining-fields.md
  packages/design-data/tokens/color-aliases.tokens.json
  packages/design-data/tokens/color-component.tokens.json
  packages/design-data/tokens/layout-component.tokens.json
  packages/design-data/tokens/typography.tokens.json
  tools/token-mapping-analyzer/src/apply.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(tokens): phase D — decompose variant, alignment, anatomy, object fields
  .changeset/ye1-decompose-remaining-fields.md
  packages/design-data/tokens/layout-component.tokens.json
  tools/token-mapping-analyzer/src/apply.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(tokens): phase D — decompose variant, alignment, anatomy, object fields (#1210)
  .changeset/ye1-decompose-remaining-fields.md
  packages/design-data/tokens/color-aliases.tokens.json
  packages/design-data/tokens/color-component.tokens.json
  packages/design-data/tokens/layout-component.tokens.json
  packages/design-data/tokens/typography.tokens.json
  tools/token-mapping-analyzer/src/apply.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

refactor(diff-generator): slim HandlebarsFormatter to subclass of spectrum-diff-core
  .changeset/fa6-formatter-adapter.md
  tools/diff-generator/src/lib/formatterHandlebars.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(diff-generator): default loadTemplate arg to this.template
  tools/diff-generator/src/lib/formatterHandlebars.js
Due: prettier --write

refactor(diff-generator): slim HandlebarsFormatter to subclass of @adobe/spectrum-diff-core (#1211)
  .changeset/fa6-formatter-adapter.md
  tools/diff-generator/src/lib/formatterHandlebars.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(tokens): phase D — register atomic property terms (ye1.3)
  .changeset/ye1-3-atomic-property-terms.md
  packages/design-data/registry/property-terms.json
  sdk/core/src/registry_data.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

docs(sdk): fix stale tokens/src refs in moon.yml, CLAUDE.md, README (phase E)
  packages/design-data/CLAUDE.md
  sdk/CLAUDE.md
  sdk/README.md
  sdk/moon.yml
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(tokens): phase D — register atomic property terms + phase E stale-ref cleanup (#1212)
  .changeset/ye1-3-atomic-property-terms.md
  packages/design-data/CLAUDE.md
  packages/design-data/registry/property-terms.json
  sdk/CLAUDE.md
  sdk/README.md
  sdk/core/src/registry_data.rs
  sdk/moon.yml
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(tokens): phase D — decompose component color props into colorFamily + colorRole (#72c)
  .changeset/ye1-color-family-role-decompose.md
  packages/design-data/fields/colorRole.json
  packages/design-data/registry/color-roles.json
  packages/design-data/tokens/icons.tokens.json
  sdk/core/src/naming.rs
  sdk/core/src/registry_data.rs
  tools/token-mapping-analyzer/src/decomposer.js
  tools/token-mapping-analyzer/src/migrate-color-role.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(tokens): address code review — colorRole priority, serialize guard, spec042, test fixtures
  sdk/core/src/validate/rules/spec042.rs
  tools/token-mapping-analyzer/src/decomposer.js
  tools/token-mapping-analyzer/test/decomposer.test.js
Due: prettier --write

test(token-mapping-analyzer): add AVA regression tests for colorFamily/colorRole Phase 4.5 promotion
  tools/token-mapping-analyzer/src/decomposer.js
  tools/token-mapping-analyzer/test/decomposer.test.js
Due: prettier --write

feat(design-data): register color-handle/color-loupe components + color-area anatomy term
  .changeset/e1-color-component-registry.md
  .gitignore
  packages/design-data/registry/anatomy-terms.json
  packages/design-data/registry/components.json
  sdk/core/src/registry_data.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): alphabetize color-handle/color-loupe before color-slider in components registry
  packages/design-data/registry/components.json
  sdk/core/src/registry_data.rs
Due: prettier --write

feat(design-data): register color-handle/color-loupe components + color-area anatomy term (#1214)
  .changeset/e1-color-component-registry.md
  .gitignore
  packages/design-data/registry/anatomy-terms.json
  packages/design-data/registry/components.json
  sdk/core/src/registry_data.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(tokens): phase D — decompose size-* property values → size field
  .changeset/2wr-size-decompose.md
  packages/design-data/tokens/layout-component.tokens.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(tokens): phase D — decompose size-* property values → size field (#1215)
  .changeset/2wr-size-decompose.md
  packages/design-data/tokens/layout-component.tokens.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(design-data): register space-between property term + from/to endpoint fields
  .changeset/04c1-space-between-endpoint-fields.md
  packages/design-data-spec/rules/rules.yaml
  packages/design-data-spec/schemas/token.schema.json
  packages/design-data/fields/from.json
  packages/design-data/fields/to.json
  packages/design-data/registry/property-terms.json
  sdk/core/src/registry_data.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

fix(design-data): implement SPEC-047 and document space-between endpoints
  packages/design-data-spec/conformance/invalid/SPEC-047/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-047/expected-errors.json
  packages/design-data-spec/conformance/valid/SPEC-047/dataset.json
  packages/design-data-spec/rules/rules.yaml
  packages/design-data-spec/spec/token-format.md
  sdk/core/src/validate/rules/mod.rs
  sdk/core/src/validate/rules/spec047.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(design-data): register space-between property term + from/to endpoint fields (#1216)
  .changeset/04c1-space-between-endpoint-fields.md
  packages/design-data-spec/conformance/invalid/SPEC-047/dataset.json
  packages/design-data-spec/conformance/invalid/SPEC-047/expected-errors.json
  packages/design-data-spec/conformance/valid/SPEC-047/dataset.json
  packages/design-data-spec/rules/rules.yaml
  packages/design-data-spec/schemas/token.schema.json
  packages/design-data-spec/spec/token-format.md
  packages/design-data/fields/from.json
  packages/design-data/fields/to.json
  packages/design-data/registry/property-terms.json
  sdk/core/src/registry_data.rs
  sdk/core/src/validate/rules/mod.rs
  sdk/core/src/validate/rules/spec047.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(design-data): serialize space-between endpoint fields in naming.rs (04c.2)
  .changeset/04c2-gap-endpoint-serializer.md
  sdk/core/src/naming.rs
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

docs(design-data): triage classify {a}-to-{b} gap endpoint terms (04c.4)
  docs/proposals/012-space-between-decompose.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

fix(design-data): use inlined format args to satisfy clippy (04c.2)
  sdk/core/src/naming.rs
Due: none

docs(design-data): triage classify {a}-to-{b} gap endpoint terms (04c.4) (#1217)
  docs/proposals/012-space-between-decompose.md
Due: remark --use remark-frontmatter --use remark-gfm --use remark-github --output

feat(design-data): register gap-endpoint vocabulary for space-between decomposition (04c.3)
  .changeset/04c3-gap-endpoint-registry.md
  docs/proposals/012-space-between-decompose.md
  packages/design-data/components/action-bar.json
  packages/design-data/components/alert-banner.json
  packages/design-data/components/breadcrumbs.json
  packages/design-data/components/coach-mark.json
  packages/design-data/components/field-label.json
  packages/design-data/components/menu.json
  packages/design-data/components/number-field.json
  packages/design-data/components/side-navigation.json
  packages/design-data/components/slider.json
  packages/design-data/components/status-light.json
  packages/design-data/components/steplist.json
  packages/design-data/components/table.json
  packages/design-data/components/tag.json
  packages/design-data/components/tree-view.json
  packages/design-data/registry/anatomy-terms.json
  packages/design-data/registry/positions.json
  sdk/core/src/registry_data.rs
  sdk/core/src/validate/rules/spec047.rs
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(design-data): teach token decomposer to emit space-between endpoints (04c.7)
  tools/token-mapping-analyzer/src/apply.js
  tools/token-mapping-analyzer/src/decomposer.js
  tools/token-mapping-analyzer/src/registry-index.js
  tools/token-mapping-analyzer/test/apply.test.js
  tools/token-mapping-analyzer/test/decomposer.test.js
Due: prettier --write

fix(design-data): shrink space-between from-window from the left (04c.7)
  tools/token-mapping-analyzer/src/decomposer.js
  tools/token-mapping-analyzer/test/decomposer.test.js
Due: prettier --write

feat(design-data): apply gap endpoint decomposition migration (04c.6)
  .changeset/04c6-gap-endpoint-apply.md
  packages/design-data/tokens/layout-component.tokens.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(design-data): apply gap endpoint decomposition migration (04c.6) (#1221)
  .changeset/04c6-gap-endpoint-apply.md
  packages/design-data/tokens/layout-component.tokens.json
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

feat(design-data): defer SPEC-047 anatomy check without catalog; migrate 19 gaps (04c.8)
  .changeset/04c8-gap-endpoint-validate-dataset-gap.md
  docs/proposals/012-space-between-decompose.md
  packages/design-data/tokens/layout-component.tokens.json
  sdk/cli/src/main.rs
  sdk/core/src/validate/rules/spec047.rs
  tools/token-mapping-analyzer/src/decomposer.js
Due: prettier --write, remark --use remark-frontmatter --use remark-gfm --use remark-github --output, pnpm changeset-lint check-file

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,yml,yaml}
  remark --use remark-frontmatter --use remark-gfm --use remark-github --output: any of: **/*.md
  pnpm changeset-lint check-file: any of: .changeset/*.md
